<!-- BEGIN TCPSingleShipmentOrderTotalsSummary.jsp -->

<script type="text/javascript">
	dojo.addOnLoad(initDiscountDetails);
	
	function initDiscountDetails(){	
		
		if(document.getElementById("discountDetailsSection")!=null )  {
			document.getElementById("discountDetailsSection").style.display = "block";
		}
	}
</script>


	<div id="promotions" class="coupon-code">
		<!-- BEGIN TCPPromotionCodeDisplay.jsp -->

<script type="text/javascript">
       dojo.addOnLoad(function() {
              
              MessageHelper.setMessage("PROMOTION_CODE_EMPTY", "Please enter the promotional code");
              MessageHelper.setMessage("PROMOTION_UNAPPLICABLE_MESSAGE", "This code is not applicable"); 
		ServicesDeclarationJS.setCommonParameters('-1','10152','10552');
       });
</script>

 

<script type="text/javascript">
       dojo.addOnLoad(initPromotionAssets); 
       
       function initPromotionAssets(){
                     
       }

</script>

 <form name="PromotionCodeForm" id="PromotionCodeForm" method="post" action="https://tcp-perf.childrensplace.com/shop/PromotionCodeManage?catalogId=10552&amp;langId=-1&amp;storeId=10152" onsubmit="javascript: return false;">
        

       <input type="hidden" name="orderId" value="634267724" id="WC_PromotionCodeDisplay_FormInput_orderId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="taskType" value="A" id="WC_PromotionCodeDisplay_FormInput_page_In_PromotionCodeForm_1"/>
       <input type="hidden" name="URL" value="" id="WC_PromotionCodeDisplay_FormInput_URL_In_PromotionCodeForm_1"/>
       <input type="hidden" name="storeId" value="10152" id="WC_PromotionCodeDisplay_FormInput_storeId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="catalogId" value="10552" id="WC_PromotionCodeDisplay_FormInput_catalogId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="langId" value="-1" id="WC_PromotionCodeDisplay_FormInput_langId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="finalView" value="AjaxOrderItemDisplayView" id="WC_PromotionCodeDisplay_FormInput_finalView_In_PromotionCodeForm_1"/>
       <input type="hidden" name="fromPage" value="shippingPage"/>
       
       
		       <div class="coupon-code">
		         <span class="bag-title">have a coupon code?</span> 
		         <span>
		         	<!-- BEGIN ContentAreaESpot.jsp --><!-- ###############  Espot name: Coupon_Help_Espot ######################-->

<span class="genericESpot" id="WC_ContentAreaESpot_div_1_20651">

            <span class="ad" id="ad_20651">
          <a title="coupon help" class="openModal" href="/wcsstore/GlobalSAS/images/tcp/html/shopping_bag_couponHelp.html">need help?</a> 

            </span>
        


</span>

<!-- END ContentAreaESpot.jsp -->
				</span>
		         
		         <div class="coupon-input" id="WC_PromotionCodeDisplay_div_2">
		         <input type="text" class="input" size="6" name="promoCode" id="promoCode" onkeypress="if(event.keyCode==13) JavaScript:CheckoutHelperJS.applyPromotionCode('PromotionCodeForm','')"/>
		          <a class="button-orange" href="#" onclick="JavaScript:setCurrentId('WC_PromotionCodeDisplay_links_1'); CheckoutHelperJS.applyPromotionCode('PromotionCodeForm','');return false;" class="button_text" id="WC_PromotionCodeDisplay_links_1">
		                   <font color='#FFFFFF'>Apply Code</font>
		           </a>	
		         </div>
		         			<div class="clear"></div>
		                              <label for="promoCodeErrorLabel" id="promoCodeErrorLabel" class="label-error" style="display:none"></label>
		        
		        </div>
       		
       
       <br clear="left" />

</form>
<!-- END TCPPromotionCodeDisplay.jsp -->
	</div>
<!--				<div id="ktestoutdisplayLevel" style="display:none">OrderItem, Flash_Sale_30%-10087949</div>-->
					<!--				<div id="ktestoutdisplayLevel" style="display:none">OrderItem, Flash_Sale_30%-10087949</div>-->
					<!--				<div id="ktestoutdisplayLevel" style="display:none">Order, 20% Off Sample-10057340</div>-->
					<!--						<div id="ktestoutpromotionCodes" style="display:none">promotionCodes: {10057340=[TESTCODE20]}</div>-->
						<!--						<div id="ktestoutContain" style="display:none">fn:contains(20% Off Sample-10057340, 10057340)</div>-->
								<!-- Hyphen stands for DMS code, make some filter on it  --><!--												<div id="ktestoutUserCode" style="display:none">TESTCODE20</div>-->
							        			<!--												<div id="ktestoutContains2" style="display:none">fn:contains([TESTCODE20] ,TESTCODE20)&& true</div>-->
												<!--												<div id="ktestoutUsage" style="display:none">Discount != 'Shipping Adjustment'</div>-->
												  
															<div class="discount-applied">
																<span class="bag-title discount-applied-title">discounts applied</span>
														         <span>
														         	<!-- BEGIN ContentAreaESpot.jsp --><!-- ###############  Espot name: Coupon_Help_Espot ######################-->

<span class="genericESpot" id="WC_ContentAreaESpot_div_1_20651">

            <span class="ad" id="ad_20651">
          <a title="coupon help" class="openModal" href="/wcsstore/GlobalSAS/images/tcp/html/shopping_bag_couponHelp.html">need help?</a> 

            </span>
        


</span>

<!-- END ContentAreaESpot.jsp -->
																</span>
															    <!--discount-->
																<div class="bag-total">
																
														<div class="total-row discount">
															20% off
																(TESTCODE20)
															
																<span class="remove-link">
																	<a id="promotion_" href="#" onclick='JavaScript:setCurrentId("promotion_");CheckoutHelperJS.removePromotionCode("PromotionCodeForm","TESTCODE20","");return false;'>
																	remove</a>
																</span>
															
															<div class="clear"></div>
														</div>
													
				</div> <!-- end of bag-total --><!--			<div style="display:none" id="ktestoutPromotion">used code:TESTCODE20, / promotionCode: TESTCODE20,</div>-->
			
			<input type="hidden" id="omniturePromoCodes_270" value="TESTCODE20,"/>
			
				</div> <!-- end of discount-applied -->


<div id="total_breakdown" class="order-summary">
	
        	<span class="bag-title order-summary-title">order summary</span>
		
	<div class="bag-total" id="order_total" cellpadding="0" cellspacing="0" border="0" summary="This table contains order summary information about your order. It contains order subtotal, total discount applied to the order, tax, shipping, shipping tax, and order total information of your order.">
		
		
		
		
		<div class="total-row"> 
			<span class="label-left" id="WC_SingleShipmentOrderTotalsSummary_td_1">subtotal:</span>
			<span class="label-right" id="WC_SingleShipmentOrderTotalsSummary_td_2">$58.42</span>
			<div class="clear"></div>
		</div>
		
	
			<div class="total-row">
				
						<span class="label-left" id="WC_SingleShipmentOrderTotalsSummary_td_7">estimated shipping:</span>
					
				<span class="label-right" id="WC_SingleShipmentOrderTotalsSummary_td_8">$0.00</span>
				<div class="clear"></div>
			</div>	
		
			<div class="total-row">
				<span class="label-left">shipping tax: </span> <span class="label-right">$0.00</span> <div class="clear"></div>  
				  
			</div>
			
		<div class="total-row estimate">
			
					<span class="label-left" id="WC_SingleShipmentOrderTotalsSummary_td_9">estimated total:</span>
				
					<span class="label-right-estimate" id="WC_SingleShipmentOrderTotalsSummary_td_10">$58.42</span>
				
			<div class="clear"></div>
		</div>
		
 			<div class="tax-message">(Actual tax will be calculated when your order is processed)</div>
		
	</div>
	<!-- start reward points display--><!--BEGIN TCPTotalRewardPoints.jspf--><!--END TCPTotalRewardPoints.jspf--><!-- end reward points display-->
</div>

<input type="hidden" value="TESTCODE20" id="tealiumPromoCode"/>


<script>
(function(){
		try {
			var theURL        = document.location.href;
			
			var omniturePage = '';
			if (theURL.indexOf("TCPOrderShippingView") > 0) {
				utag_data.page_department = "shipping";
				
				if(omniturePage != null && '' != omniturePage){
					utag_data.event_name = 'user_login';
				}
			} else {
				if (theURL.indexOf("OrderBillingView") > 0) {
					utag_data.page_department = "payment";		
				} else {
					if (theURL.indexOf("TCPSingleShipmentOrderSummaryView") > 0) {
						utag_data.page_department = "review";			
					}
				}
			}
			
			utag_data.page_type = 'checkout';
			utag_data.sc_page_type = 'checkout';
			
		} catch (err) {
			console.error(err.message);
		}	
})();
</script><!-- END TCPSingleShipmentOrderTotalsSummary.jsp -->