<!-- BEGIN TCPOrderItemDetails.jsp -->

<script type="text/javascript">
	categoryDisplayJS.setCommonParameters('-1','10152','10552','R');
</script>

	<!-- Get order Details using the ORDER SOI --> 


<input type="hidden" name="OrderTotalAmount" value="45.87000" id="OrderTotalAmount" />
<input type="hidden" name="currentPageNumber" value="1" id="currentPageNumber"/>




<!-- Nidhish: orderItemId: 814579001, totalDiscount: 0, shipadjustment: 0, itemOrderMinusShipAdjust:  0 --><!-- Nidhish: orderItemId: 814579003, totalDiscount: -1.20000, shipadjustment: 0, itemOrderMinusShipAdjust:  -1.20000 --><!-- Nidhish: orderItemId: 814579004, totalDiscount: 0, shipadjustment: 0, itemOrderMinusShipAdjust:  0 -->

 <div id="order_details" cellpadding="0" cellspacing="0" border="0" width="100%" summary="This table contains details about your current order. It contains product details, requested shipping date, availability, quantity, unit price and total price of each item in the current order. ">

 <script>
var productObj = {
	'product_id' : [],
	'product_sku' : [],
	'product_upc' : [],
	'product_name' : [],
	'product_price' : [],
	'product_quantity' : [],
	'product_image_url' : [],
	'product_discount_amount' : [],
	'product_url' : []
};
</script><!-- use this catalog services to get catalog entry attributes -->
		<input type="hidden" value='814579001' name='orderItem_1' id='orderItem_1'/>
		<input type="hidden" value='482400' name='catalogId_1' id='catalogId_1'/>
		
				
		
		
		<div class="bag-row" id="00428972626842" abbr="for undershirts 2-pack"> 
			<div class="product-image" id="WC_OrderItemDetails_div_1_1">
				<!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/undershirts-2-pack-1123373-he" id="catalogEntry_img482400">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/1123373_HE.jpg" alt="1123373_HE" title="undershirts 2-pack" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->   
			</div>
			<div class="sku-info" id="WC_OrderItemDetails_div_2_1">
				<span class="sku-name" style="text-align: left;">undershirts 2-pack</span>
				
				 
				<span class="sku-size" style="text-align: left;">size:
				XL (14)
				</span>
				
				
				
				<span class="sku-color" style="text-align: left;">
					<!-- mp_trans_schedule_disable_start -->H/T GREY<!-- mp_trans_schedule_disable_end -->
				</span>
				 
				
				<span class="sku-quantity" style="text-align: left;">quantity: 1</span>
				
				
				<br />
			</div>
			<div class="sku-price" id="WC_OrderItemDetails_td_4_1" headers="SingleShipment_tableCell_totalPrice SingleShipment_rowHeader_product1">
					
								
			<span class='price'> $12.95 </span>
				
				<br>
			<script>
	
	// Moved initialization to InitializeProductTealium.jspf
	
	productObj.product_id.push("447051");
	
	productObj.product_upc.push("00428972626842");
	productObj.product_sku.push("1123373_HE");
	
	productObj.product_name.push("undershirts 2-pack");
	productObj.product_price.push('12.95');
	productObj.product_quantity.push("1");
	
	
	productObj.product_image_url.push("//"+window.location.host+"/wcsstore/GlobalSAS/images/tcp/products/900/1123373_HE.jpg");
	
	var product_discount_amount = '0.00';
	if (product_discount_amount !== null && product_discount_amount !== undefined) {
		if (product_discount_amount.indexOf('-') !== -1) {
			product_discount_amount = product_discount_amount.split('-')[1]; 
		}
	}
	var discount_amount_float = (product_discount_amount / 1);
	productObj.product_discount_amount.push(discount_amount_float.toFixed(6).toString());
	
	
	var product_url = "http://tcp-perf.childrensplace.com/shop/ca/p/undershirts-2-pack-1123373-he";
	if (product_url.indexOf('http:') !== -1){
    	product_url = product_url.substring(5, product_url.length);
    } else if (product_url.indexOf('https:') !== -1){
    	product_url = product_url.substring(6, product_url.length);
    }
	productObj.product_url.push(product_url);
	
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(productObj));
	
</script>
			</div>
		</div>
		<!-- use this catalog services to get catalog entry attributes -->
		<input type="hidden" value='814579003' name='orderItem_2' id='orderItem_2'/>
		<input type="hidden" value='415820' name='catalogId_2' id='catalogId_2'/>
		
				
		
		
		<div class="bag-row" id="00424461722361" abbr="for princess crown graphic tee"> 
			<div class="product-image" id="WC_OrderItemDetails_div_1_2">
				<!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/princess-crown-graphic-tee-2023329-365" id="catalogEntry_img415820">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2023329_365.jpg" alt="2023329_365" title="princess crown graphic tee" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->   
			</div>
			<div class="sku-info" id="WC_OrderItemDetails_div_2_2">
				<span class="sku-name" style="text-align: left;">princess crown graphic tee</span>
				
				 
				<span class="sku-size" style="text-align: left;">size:
				XS (4)
				</span>
				
				
				
				<span class="sku-color" style="text-align: left;">
					<!-- mp_trans_schedule_disable_start -->CARIB BLUE<!-- mp_trans_schedule_disable_end -->
				</span>
				 
				
				<span class="sku-quantity" style="text-align: left;">quantity: 2</span>
				
				
				<br />
			</div>
			<div class="sku-price" id="WC_OrderItemDetails_td_4_2" headers="SingleShipment_tableCell_totalPrice SingleShipment_rowHeader_product2">
					
								
			<span class='former-price'> $4.00 </span>
				
				<br>
			 
				<span class="sale-price">$2.80</span>
				<script>
	
	// Moved initialization to InitializeProductTealium.jspf
	
	productObj.product_id.push("415819");
	
	productObj.product_upc.push("00424461722361");
	productObj.product_sku.push("2023329_365");
	
	productObj.product_name.push("princess crown graphic tee");
	productObj.product_price.push('2.00');
	productObj.product_quantity.push("2");
	
	
	productObj.product_image_url.push("//"+window.location.host+"/wcsstore/GlobalSAS/images/tcp/products/900/2023329_365.jpg");
	
	var product_discount_amount = '-1.20';
	if (product_discount_amount !== null && product_discount_amount !== undefined) {
		if (product_discount_amount.indexOf('-') !== -1) {
			product_discount_amount = product_discount_amount.split('-')[1]; 
		}
	}
	var discount_amount_float = (product_discount_amount / 2);
	productObj.product_discount_amount.push(discount_amount_float.toFixed(6).toString());
	
	
	var product_url = "http://tcp-perf.childrensplace.com/shop/ca/p/princess-crown-graphic-tee-2023329-365";
	if (product_url.indexOf('http:') !== -1){
    	product_url = product_url.substring(5, product_url.length);
    } else if (product_url.indexOf('https:') !== -1){
    	product_url = product_url.substring(6, product_url.length);
    }
	productObj.product_url.push(product_url);
	
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(productObj));
	
</script>
			</div>
		</div>
		<!-- use this catalog services to get catalog entry attributes -->
		<input type="hidden" value='814579004' name='orderItem_3' id='orderItem_3'/>
		<input type="hidden" value='468332' name='catalogId_3' id='catalogId_3'/>
		
				
		
		
		<div class="bag-row" id="00428188720235" abbr="for leopard jeggings"> 
			<div class="product-image" id="WC_OrderItemDetails_div_1_3">
				<!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/leopard-jeggings-2025596-583" id="catalogEntry_img468332">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2025596_583.jpg" alt="2025596_583" title="leopard jeggings" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->   
			</div>
			<div class="sku-info" id="WC_OrderItemDetails_div_2_3">
				<span class="sku-name" style="text-align: left;">leopard jeggings</span>
				
				 
				<span class="sku-size" style="text-align: left;">size:
				4T
				</span>
				
				
				
				<span class="sku-color" style="text-align: left;">
					<!-- mp_trans_schedule_disable_start -->LEOPARDFUR<!-- mp_trans_schedule_disable_end -->
				</span>
				 
				
				<span class="sku-quantity" style="text-align: left;">quantity: 2</span>
				
				
				<br />
			</div>
			<div class="sku-price" id="WC_OrderItemDetails_td_4_3" headers="SingleShipment_tableCell_totalPrice SingleShipment_rowHeader_product3">
					
								
			<span class='price'> $27.94 </span>
				
				<br>
			<script>
	
	// Moved initialization to InitializeProductTealium.jspf
	
	productObj.product_id.push("447954");
	
	productObj.product_upc.push("00428188720235");
	productObj.product_sku.push("2025596_583");
	
	productObj.product_name.push("leopard jeggings");
	productObj.product_price.push('13.97');
	productObj.product_quantity.push("2");
	
	
	productObj.product_image_url.push("//"+window.location.host+"/wcsstore/GlobalSAS/images/tcp/products/900/2025596_583.jpg");
	
	var product_discount_amount = '0.00';
	if (product_discount_amount !== null && product_discount_amount !== undefined) {
		if (product_discount_amount.indexOf('-') !== -1) {
			product_discount_amount = product_discount_amount.split('-')[1]; 
		}
	}
	var discount_amount_float = (product_discount_amount / 2);
	productObj.product_discount_amount.push(discount_amount_float.toFixed(6).toString());
	
	
	var product_url = "http://tcp-perf.childrensplace.com/shop/ca/p/leopard-jeggings-2025596-583";
	if (product_url.indexOf('http:') !== -1){
    	product_url = product_url.substring(5, product_url.length);
    } else if (product_url.indexOf('https:') !== -1){
    	product_url = product_url.substring(6, product_url.length);
    }
	productObj.product_url.push(product_url);
	
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(productObj));
	
</script>
			</div>
		</div>
		
	<input type="hidden" id = "totalNumberOfItems" name="totalNumberOfItems" value='3'/>
	
	<input type="hidden" value="11355262" id="addressId_all" name="addressId_all"/>
	<input type="hidden" value="900101" id="shipModeId_all" name="shipModeId_all"/>

 </div>
<!-- END TCPOrderItemDetails.jsp -->