<!-- BEGIN TCPBillingAddressDropDownDisplay.jsp -->


<script type="text/javascript">
	dojo.addOnLoad(function() { 
		ServicesDeclarationJS.setCommonParameters('-1','10152','10552');
		CheckoutPayments.setCommonParameters('-1','10152','10552');
	});
</script>




<div class="section-title">billing address  </div> 
<form name="BillingAddressForm" id="BillingAddressForm" method="post" action="" onsubmit="javascript: return false;">
	
			<div class="address-book" id="WC_BillingAddressDropDownDisplay_div">
		
		<select class="drop_down" name="billing_address_id" id="billing_address_id" onchange="JavaScript:MessageHelper.hideAndClearMessage();CheckoutPayments.displayTCPBillingAddressDetails(this.form,'Billing');">
			
					<option value="-1">New Address</option>
				
					<option selected="selected" value="11355262">46 Oakhaven Dr.</option>
					
		</select>
	</div>
	<div class="row">
		
				<input id="billingCheckBox" type="checkbox" checked="checked" name="shipAddress" value="11355262" onclick="JavaScript:MessageHelper.hideAndClearMessage();CheckoutPayments.displayTCPShippingAddressDetails(this); "/>
			
 		Same as Shipping Address
 	</div>
</form>


<!-- END TCPBillingAddressDropDownDisplay.jsp -->