<!-- TCPDOMMyOrderHistoryContent.jsp start -->

<script type="text/javascript">

	function callShowHistory(linkObj) {
		try {
			var companyId = $("#findOrders").val();
			if (companyId == 1 || companyId == 2) {
				 url = 'https://tcp-perf.childrensplace.com/shop/TCPDOMMyOrderHistoryDisplayContent?catalogId=10552&langId=-1&storeId=10152' + "&companyId="+companyId;
				 javascript:tcpShowOrderHistoryTab(url,linkObj);
			} else {
				if (companyId == 3) {
					javascript:window.open("https://services.fiftyone.com/tracking.srv");
					url = 'https://tcp-perf.childrensplace.com/shop/TCPDOMMyOrderHistoryDisplayContent?catalogId=10552&langId=-1&storeId=10152' + "&companyId="+companyId;
					javascript:tcpShowOrderHistoryTab(url,linkObj);
				}
			} 
		} catch(error) {
		}
	}	

</script>
	

<div class="label-error">
	<br>
	<center><b>
	We are sorry, your order history is not available at this time. Please try again later. 
	</b></center>
	<br>
</div>
<!--<div class="more-orders"><a class="button-blue">See More Orders</a></div>-->
<div class="clearfix">&nbsp;</div>    
<!-- TCPDOMMyOrderHistoryContent.jsp end -->