/* Add Item to Bag Modal */

table.add-bag-data
{ 
 border-collapse: collapse;
    color: #666666;
    float: left;
    margin: 0;
    padding: 0;
	width:675px;
}

.table-scroller
{
	overflow-y: auto;
	max-height: 250px;
}

table.add-bag-data h1
{
color:#00a4e4;
font-weight:normal;
font-size:14px;
}

table.add-bag-data h2, table.add-bag-data h3 
{
font-weight:normal;
line-height:1.5em;
font-size:12px;
color: #666666;
text-align: left;
}

table.add-bag-data h3 {margin-bottom:.5em;}

.top-row
{width:675px;}

.bag-columns-header
{border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
text-align:left;
text-transform:capitalize;
}

.bag-columns-header th
{color:#333;
padding: 0.5em; /*8px / 16px*/
margin-bottom: 1em;
font-weight:normal;
font-size:14px;}

table.add-bag-data tr
{border-bottom:1px solid #ccc;}

table.add-bag-data tr.noBorder
{border-bottom:0}


table.add-bag-data tr td
{padding: 1em 0.5em;}


table.add-bag-data .item-descript .item-pic, table.add-bag-data .item-descript .item-desc{
	display:inline-block;
	vertical-align : top;
	padding-right : 1em;
}

.item-pic
{width:65px;
text-align:center;}

.item-pic img
{width:65px;
}

.item-pic a {outline:none;}

.item-desc {
	width: 283px;
}

.item-descript
{
text-align:left;
width:260px;
text-transform:capitalize;}

.item-size
{
	width:65px;
text-align:center;}

.item-quantity{
width:65px;
text-align:center;}


.item-price, .total-price
{
	width:32px;
text-align:right;
line-height:1.5em;}

.former-price {
    color: #999999;
    display: inline;
    font-size: 12px;}

.strike {text-decoration:line-through;}

.sale-price {
    color: #990000;
}

.deals {color:#F39319;
margin-top:20px;
    font-weight: normal;
	font-size:14px;}
	
.deals a
{display:block;
font-size:11px;
text-decoration:underline;}	
	
.bottom-buttons
{margin:10px 0;}

.bottom-buttons .button-blue
{margin: 0 0 0 10px;
float:right;}

.buttons-btm
{margin:10px 0;
float:right;}

.buttons-btm .button-blue
{margin: 0 0 0 10px;
float:right;}

.fGift{
color:#F39319;
font-weight: bolder;
font-size: 1.2em;
}
.fGiftPopUp{

color:#01A1D2;
font-weight: bolder;
font-size: 1.2em;

}
/*CQ recommnedations*/
#WC_CQ_Container_ShoppingBagModal {
 margin: 20px 0 0 0;
  border-top: 1px solid #ccc;
  padding-top: 15px;}