<!-- BEGIN TCPShopCartDisplay.jsp -->

<link rel="stylesheet" type="text/css" href="/wcsstore/GlobalSAS//css/tcp/errors.css" />

<script language="javascript" src="/wcsstore/GlobalSAS/javascript/tcp/cheetahmail/sc_cart.js"> </script>		


<!-- Get order Details using the ORDER SOI -->
<script type="text/javascript">
dojo.addOnLoad(
	function(){
		CommonControllersDeclarationJS.setControllerURL('ShopCartPaginationDisplayController','https://tcp-perf.childrensplace.com/shop/ShopCartPageView?catalogId=10552&amp;langId=-1&amp;storeId=10152');
		ShipmodeSelectionExtJS.setOrderItemId('814578751');
		CheckoutHelperJS.setOrderId('');
		
		//cookie based code for prohibited skus module
		//var probskus = '';
		//var probskus = getCookie('probskus');
		//CheckoutHelperJS.setProhibitedSkus(probskus);
	}
);
//function to get cookie value with name
function getCookie(name) {
  var value = "; " + document.cookie;
  var parts = value.split("; " + name + "=");
  if (parts.length == 2) return parts.pop().split(";").shift();
}
</script>
    
		
<div class="bag-wrapper template-bg">
<div class="page-error" style="display:none" id="ErrorArea"><img src="/wcsstore/GlobalSAS/images/tcp/myPlace/login_error.png" /><span id="ErrorMessageText"></span></div>
<section class="bag-content">
<div id="content759">
		<div id="box" class="shopping_cart_box">
		
			<div class="contentgrad_header" id="shopping_cart_product_table_tall">
			<div class="left_corner" id="WC_ShopCartDisplay_div_2"></div>
			<div class="left" id="WC_ShopCartDisplay_div_3"></div>
			<div class="right_corner" id="WC_ShopCartDisplay_div_4"></div>	
	
		
		</div>
		   		
				<div class="body759" id="WC_ShopCartDisplay_div_5">
					<input type="hidden" id="OrderFirstItemId" value="814578751"/>
					
					<div id="bag-left">
						<div dojoType="wc.widget.RefreshArea" widgetId="ShopCartPagingDisplay" id="ShopCartPagingDisplay" controllerId="ShopCartPaginationDisplayController" waiRole="region" waistate:live="polite" waistate:atomic="false" waistate:relevant="all">
						<div class="bag-title"><h1>shopping bag</h1> <span class="bag-count">&nbsp;item(s)</span></div>
						<!-- BEGIN TCPOrderItemDetail.jsp -->

<script type="text/javascript">
	var baseHREF = '???constant.baseHREF???';
	var stylesHREF = '???constant.stylesHREF???';
	var homeHREF  = '???constant.hostName???';
	var PATH_TO_ENVOY = '???E4X_ENVOY_URL???';
	var isIntlShipping = 'false';
	var curCode = 'USD';
	var margin = '1.0';
	var exRate = '1.0';
	var roundMethod = '2';
	

</script>

<!-- Nidhish: orderItemId: 814578751, totalDiscount: -1.25000, shipadjustment: 0, itemOrderMinusShipAdjust:  -1.25000 --><!-- Nidhish: orderItemId: 814578770, totalDiscount: -1.25000, shipadjustment: 0, itemOrderMinusShipAdjust:  -1.25000 --><!-- Nidhish: orderItemId: 814578996, totalDiscount: -2.45000, shipadjustment: 0, itemOrderMinusShipAdjust:  -2.45000 --><!-- Nidhish: orderItemId: 814578997, totalDiscount: -4.19000, shipadjustment: 0, itemOrderMinusShipAdjust:  -4.19000 --><!-- Nidhish: orderItemId: 814578998, totalDiscount: -1.87000, shipadjustment: 0, itemOrderMinusShipAdjust:  -1.87000 --><!-- Nidhish: orderItemId: 814578999, totalDiscount: -1.54000, shipadjustment: 0, itemOrderMinusShipAdjust:  -1.54000 --><!-- Nidhish: orderItemId: 814579000, totalDiscount: -4.38000, shipadjustment: 0, itemOrderMinusShipAdjust:  -4.38000 -->
<table id="order_details" cellpadding="0" cellspacing="0" border="0" width="100%"
	summary="This table contains details about your current order. It contains product details, availability, quantity, unit price and total price of each item in the current order. You can change quantity or remove the item from current order by navigating through this table." class="bag-data">
	<thead class="bag-columns-header">
		<tr>
			<th class="item-pic">&nbsp;</th>
			<th class="item-descript">item name</th>
			<th class="item-size">size</th>
			<th class="item-quantity">quantity</th>
			<th class="item-price">item price</th>
			<th class="total-price">total price</th>
			<th></th>
		</tr>
	</thead>


 
 
	
		<input type="hidden" value='814578751' name='orderItem_1'
			id='orderItem_1' />
		<input type="hidden" value='472731' name='catalogId_1'
			id='catalogId_1' />
			
		<tr id="00429330622360" data-item-id="814578751">

						
			
						
			<td class="item-pic" id="shoppingCart_rowHeader_product1"
				abbr="forE MULTI BFF">
				
				
			
				
				<div class="img" id="WC_OrderItemDetailsf_div_1_1"><!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/b-f-f--graphic-tee-2032008-10" id="catalogEntry_img472731">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2032008_10.jpg" alt="2032008_10" title="b.f.f. graphic tee" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->
				</div>
			</td>

			<td class="item-descript">

			
			
			
			<h1>
				
				
			
					<a href="http://tcp-perf.childrensplace.com/shop/ca/p/b-f-f--graphic-tee-2032008-10">b.f.f. graphic tee</a>
							
			</h1>
			
			<h2>color:WHITE</h2>
			
			<h3>UPC # - 00429330622360</h3>
			
				<!--		begin Deals&Bogo--><!-- begin bogo --><!-- end Bogo promotion --><!--		begin Deals&Bogo--><!--			End Deals&Bogo--><!-- BEGIN TCPWebOnlyIndicatorPageDisplay.jspf-->



		<input type="hidden" name="webonly_debug1" value="TCPWebOnlyFlag=||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>

					
		
		<input type="hidden" name="webonly_debug2" value="TCPWebOnlyFlag=0||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>
		
		                             
		
			<input type="hidden" name="webonly_debug3" value="do not generate DIV with web-only indicator message."/>
			<!-- END TCPWebOnlyIndicatorPageDisplay.jspf-->
			
			
			
			
			
			
			
			</td>
			<td class="item-size">
		
			XS (4)
			</td>
			
		
<script type="text/javascript">
dojo.addOnLoad(
	function(){
		CheckoutHelperJS.setOrderId('');
		if('' != ''){
			//CheckoutHelperJS.setItemId('00429330622360');
			CheckoutHelperJS.setShippingState('');
			//CheckoutHelperJS.checkProhibitedSkus();
		}
		CheckoutHelperJS.checkShoppingCartItemsInventory();
		
	}
);
</script>	
			
			<td id="WC_OrderItemDetailsf_td_2_1" class="item-quantity"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product1">
			<!-- ======quantity selector====== -->
						<div class="selector" id="uniform-undefined"><span style="-moz-user-select: none;">1</span>
						<select id='quantity_1'
							name='quantity_1' onchange="JavaScript:setCurrentId('quantity_1'); CheckoutHelperJS.setRequiredQuan(this.value);CheckoutHelperJS.setItemId('814578751');CheckoutHelperJS.updateCartWait(this, '814578751',event);TCP.Tealium.View.fireCartUpdate(1);" style="opacity: 0;">
							<option value="1" selected>1</option>
							<option value="2" >2</option>
							<option value="3" >3</option>
							<option value="4" >4</option>
							<option value="5" >5</option>
							<option value="6" >6</option>
							<option value="7" >7</option>
							<option value="8" >8</option>
							<option value="9" >9</option>
							<option value="10" >10</option>
							<option value="11" >11</option>
							<option value="12" >12</option>
							<option value="13" >13</option>
							<option value="14" >14</option>
							<option value="15" >15</option>
						</select></div>
						<img id="productPageSwatch" style="display: none; " src="/wcsstore/GlobalSAS/images/colors/color1/loading.gif">
						<!-- end quantity selector -->
			</td>
			
			
			
			
			
			<td  id="WC_OrderItemDetailsf_td_3_1" class="item-price"
				headers="shoppingCart_tableCell_each shoppingCart_rowHeader_product1"> <span class="former-price"> 
			$6.25  </span>
				
					<br>
					<span class="sale-price">
						$5.00  
					</span>
				
				
				</td>
			<td id="WC_OrderItemDetailsf_td_4_1" class="total-price"
				headers="shoppingCart_tableCell_total shoppingCart_rowHeader_product1">
				
					<span
						class='former-price'>
					$6.25 </span>
					<br>
				
				
					
						<span class="sale-price">
						$5.00 </span>
					
			</td>
			<td id="WC_OrderItemDetailsf_td_5_1" class="item_remove"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product1">
				
			
						<p><a id="WC_OrderItemDetailsf_linkss_2_1"
						href="JavaScript:setCurrentId('WC_OrderItemDetailsf_linkss_2_1');CheckoutHelperJS.deleteFromCart('814578751');CheckoutHelperJS.disableButtonClick('WC_OrderItemDetailsf_linkss_2_1');TCP.Tealium.Link.fireCartRemove(1);">
						remove</a></p>
				
			</td>
		</tr>
		
<!-- redEye Tag --><!-- End of redEye Tag -->
		 <input type="hidden" id="sc_item1" value="1.0" />
		 <input type="hidden" id="sc_productId1" value="451812" />
		 <input type="hidden" id="sc_productName1" value="b.f.f. graphic tee" />
		 	
		 	
		<input type="hidden" value='814578770' name='orderItem_2'
			id='orderItem_2' />
		<input type="hidden" value='475700' name='catalogId_2'
			id='catalogId_2' />
			
		<tr id="00429330723364" data-item-id="814578770">

						
			
						
			<td class="item-pic" id="shoppingCart_rowHeader_product2"
				abbr="forE MULTI BFF">
				
				
			
				
				<div class="img" id="WC_OrderItemDetailsf_div_1_2"><!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/b-f-f--graphic-tee-2032008-10" id="catalogEntry_img475700">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2032008_10.jpg" alt="2032008_10" title="b.f.f. graphic tee" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->
				</div>
			</td>

			<td class="item-descript">

			
			
			
			<h1>
				
				
			
					<a href="http://tcp-perf.childrensplace.com/shop/ca/p/b-f-f--graphic-tee-2032008-10">b.f.f. graphic tee</a>
							
			</h1>
			
			<h2>color:WHITE</h2>
			
			<h3>UPC # - 00429330723364</h3>
			
				<!--		begin Deals&Bogo--><!-- begin bogo --><!-- end Bogo promotion --><!--		begin Deals&Bogo--><!--			End Deals&Bogo--><!-- BEGIN TCPWebOnlyIndicatorPageDisplay.jspf-->



		<input type="hidden" name="webonly_debug1" value="TCPWebOnlyFlag=||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>

					
		
		<input type="hidden" name="webonly_debug2" value="TCPWebOnlyFlag=0||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>
		
		                             
		
			<input type="hidden" name="webonly_debug3" value="do not generate DIV with web-only indicator message."/>
			<!-- END TCPWebOnlyIndicatorPageDisplay.jspf-->
			
			
			
			
			
			
			
			</td>
			<td class="item-size">
		
			S (5/6)
			</td>
			
		
<script type="text/javascript">
dojo.addOnLoad(
	function(){
		CheckoutHelperJS.setOrderId('');
		if('' != ''){
			//CheckoutHelperJS.setItemId('00429330723364');
			CheckoutHelperJS.setShippingState('');
			//CheckoutHelperJS.checkProhibitedSkus();
		}
		CheckoutHelperJS.checkShoppingCartItemsInventory();
		
	}
);
</script>	
			
			<td id="WC_OrderItemDetailsf_td_2_2" class="item-quantity"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product2">
			<!-- ======quantity selector====== -->
						<div class="selector" id="uniform-undefined"><span style="-moz-user-select: none;">1</span>
						<select id='quantity_2'
							name='quantity_2' onchange="JavaScript:setCurrentId('quantity_2'); CheckoutHelperJS.setRequiredQuan(this.value);CheckoutHelperJS.setItemId('814578770');CheckoutHelperJS.updateCartWait(this, '814578770',event);TCP.Tealium.View.fireCartUpdate(2);" style="opacity: 0;">
							<option value="1" selected>1</option>
							<option value="2" >2</option>
							<option value="3" >3</option>
							<option value="4" >4</option>
							<option value="5" >5</option>
							<option value="6" >6</option>
							<option value="7" >7</option>
							<option value="8" >8</option>
							<option value="9" >9</option>
							<option value="10" >10</option>
							<option value="11" >11</option>
							<option value="12" >12</option>
							<option value="13" >13</option>
							<option value="14" >14</option>
							<option value="15" >15</option>
						</select></div>
						<img id="productPageSwatch" style="display: none; " src="/wcsstore/GlobalSAS/images/colors/color1/loading.gif">
						<!-- end quantity selector -->
			</td>
			
			
			
			
			
			<td  id="WC_OrderItemDetailsf_td_3_2" class="item-price"
				headers="shoppingCart_tableCell_each shoppingCart_rowHeader_product2"> <span class="former-price"> 
			$6.25  </span>
				
					<br>
					<span class="sale-price">
						$5.00  
					</span>
				
				
				</td>
			<td id="WC_OrderItemDetailsf_td_4_2" class="total-price"
				headers="shoppingCart_tableCell_total shoppingCart_rowHeader_product2">
				
					<span
						class='former-price'>
					$6.25 </span>
					<br>
				
				
					
						<span class="sale-price">
						$5.00 </span>
					
			</td>
			<td id="WC_OrderItemDetailsf_td_5_2" class="item_remove"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product2">
				
			
						<p><a id="WC_OrderItemDetailsf_linkss_2_2"
						href="JavaScript:setCurrentId('WC_OrderItemDetailsf_linkss_2_2');CheckoutHelperJS.deleteFromCart('814578770');CheckoutHelperJS.disableButtonClick('WC_OrderItemDetailsf_linkss_2_2');TCP.Tealium.Link.fireCartRemove(2);">
						remove</a></p>
				
			</td>
		</tr>
		
<!-- redEye Tag --><!-- End of redEye Tag -->
		 <input type="hidden" id="sc_item2" value="1.0" />
		 <input type="hidden" id="sc_productId2" value="451812" />
		 <input type="hidden" id="sc_productName2" value="b.f.f. graphic tee" />
		 	
		 	
		<input type="hidden" value='814578996' name='orderItem_3'
			id='orderItem_3' />
		<input type="hidden" value='420039' name='catalogId_3'
			id='catalogId_3' />
			
		<tr id="00426928734276" data-item-id="814578996">

						
			
						
			<td class="item-pic" id="shoppingCart_rowHeader_product3"
				abbr="forSTR MEDCLASWSH">
				
				
			
				
				<div class="img" id="WC_OrderItemDetailsf_div_1_3"><!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/straight-jeans---medium-classic-2025798-758" id="catalogEntry_img420039">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2025798_758.jpg" alt="2025798_758" title="straight jeans - medium classic" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->
				</div>
			</td>

			<td class="item-descript">

			
			
			
			<h1>
				
				
			
					<a href="http://tcp-perf.childrensplace.com/shop/ca/p/straight-jeans---medium-classic-2025798-758">straight jeans - medium classic</a>
							
			</h1>
			
			<h2>color:MEDCLASWSH</h2>
			
			<h3>UPC # - 00426928734276</h3>
			
				<!--		begin Deals&Bogo--><!-- begin bogo --><!-- end Bogo promotion --><!--		begin Deals&Bogo--><!--			End Deals&Bogo--><!-- BEGIN TCPWebOnlyIndicatorPageDisplay.jspf-->



		<input type="hidden" name="webonly_debug1" value="TCPWebOnlyFlag=||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>

					
		
		<input type="hidden" name="webonly_debug2" value="TCPWebOnlyFlag=0||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>
		
		                             
		
			<input type="hidden" name="webonly_debug3" value="do not generate DIV with web-only indicator message."/>
			<!-- END TCPWebOnlyIndicatorPageDisplay.jspf-->
			
			
			
			
			
			
			
			</td>
			<td class="item-size">
		
			regular,8
			</td>
			
		
<script type="text/javascript">
dojo.addOnLoad(
	function(){
		CheckoutHelperJS.setOrderId('');
		if('' != ''){
			//CheckoutHelperJS.setItemId('00426928734276');
			CheckoutHelperJS.setShippingState('');
			//CheckoutHelperJS.checkProhibitedSkus();
		}
		CheckoutHelperJS.checkShoppingCartItemsInventory();
		
	}
);
</script>	
			
			<td id="WC_OrderItemDetailsf_td_2_3" class="item-quantity"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product3">
			<!-- ======quantity selector====== -->
						<div class="selector" id="uniform-undefined"><span style="-moz-user-select: none;">1</span>
						<select id='quantity_3'
							name='quantity_3' onchange="JavaScript:setCurrentId('quantity_3'); CheckoutHelperJS.setRequiredQuan(this.value);CheckoutHelperJS.setItemId('814578996');CheckoutHelperJS.updateCartWait(this, '814578996',event);TCP.Tealium.View.fireCartUpdate(3);" style="opacity: 0;">
							<option value="1" selected>1</option>
							<option value="2" >2</option>
							<option value="3" >3</option>
							<option value="4" >4</option>
							<option value="5" >5</option>
							<option value="6" >6</option>
							<option value="7" >7</option>
							<option value="8" >8</option>
							<option value="9" >9</option>
							<option value="10" >10</option>
							<option value="11" >11</option>
							<option value="12" >12</option>
							<option value="13" >13</option>
							<option value="14" >14</option>
							<option value="15" >15</option>
						</select></div>
						<img id="productPageSwatch" style="display: none; " src="/wcsstore/GlobalSAS/images/colors/color1/loading.gif">
						<!-- end quantity selector -->
			</td>
			
			
			
			
			
			<td  id="WC_OrderItemDetailsf_td_3_3" class="item-price"
				headers="shoppingCart_tableCell_each shoppingCart_rowHeader_product3"> <span class="former-price"> 
			$12.25  </span>
				
					<br>
					<span class="sale-price">
						$9.80  
					</span>
				
				
				</td>
			<td id="WC_OrderItemDetailsf_td_4_3" class="total-price"
				headers="shoppingCart_tableCell_total shoppingCart_rowHeader_product3">
				
					<span
						class='former-price'>
					$12.25 </span>
					<br>
				
				
					
						<span class="sale-price">
						$9.80 </span>
					
			</td>
			<td id="WC_OrderItemDetailsf_td_5_3" class="item_remove"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product3">
				
			
						<p><a id="WC_OrderItemDetailsf_linkss_2_3"
						href="JavaScript:setCurrentId('WC_OrderItemDetailsf_linkss_2_3');CheckoutHelperJS.deleteFromCart('814578996');CheckoutHelperJS.disableButtonClick('WC_OrderItemDetailsf_linkss_2_3');TCP.Tealium.Link.fireCartRemove(3);">
						remove</a></p>
				
			</td>
		</tr>
		
<!-- redEye Tag --><!-- End of redEye Tag -->
		 <input type="hidden" id="sc_item3" value="1.0" />
		 <input type="hidden" id="sc_productId3" value="420034" />
		 <input type="hidden" id="sc_productName3" value="straight jeans - medium classic" />
		 	
		 	
		<input type="hidden" value='814578997' name='orderItem_4'
			id='orderItem_4' />
		<input type="hidden" value='427752' name='catalogId_4'
			id='catalogId_4' />
			
		<tr id="00429226985210" data-item-id="814578997">

						
			
						
			<td class="item-pic" id="shoppingCart_rowHeader_product4"
				abbr="forDENIM JACKET">
				
				
			
				
				<div class="img" id="WC_OrderItemDetailsf_div_1_4"><!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/denim-jacket-2007791-214" id="catalogEntry_img427752">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2007791_214.jpg" alt="2007791_214" title="denim jacket" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->
				</div>
			</td>

			<td class="item-descript">

			
			
			
			<h1>
				
				
			
					<a href="http://tcp-perf.childrensplace.com/shop/ca/p/denim-jacket-2007791-214">denim jacket</a>
							
			</h1>
			
			<h2>color:STREAMWASH</h2>
			
			<h3>UPC # - 00429226985210</h3>
			
				<!--		begin Deals&Bogo--><!-- begin bogo --><!-- end Bogo promotion --><!--		begin Deals&Bogo--><!--			End Deals&Bogo--><!-- BEGIN TCPWebOnlyIndicatorPageDisplay.jspf-->



		<input type="hidden" name="webonly_debug1" value="TCPWebOnlyFlag=||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>

					
		
		<input type="hidden" name="webonly_debug2" value="TCPWebOnlyFlag=0||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>
		
		                             
		
			<input type="hidden" name="webonly_debug3" value="do not generate DIV with web-only indicator message."/>
			<!-- END TCPWebOnlyIndicatorPageDisplay.jspf-->
			
			
			
			
			
			
			
			</td>
			<td class="item-size">
		
			12-18 MOS
			</td>
			
		
<script type="text/javascript">
dojo.addOnLoad(
	function(){
		CheckoutHelperJS.setOrderId('');
		if('' != ''){
			//CheckoutHelperJS.setItemId('00429226985210');
			CheckoutHelperJS.setShippingState('');
			//CheckoutHelperJS.checkProhibitedSkus();
		}
		CheckoutHelperJS.checkShoppingCartItemsInventory();
		
	}
);
</script>	
			
			<td id="WC_OrderItemDetailsf_td_2_4" class="item-quantity"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product4">
			<!-- ======quantity selector====== -->
						<div class="selector" id="uniform-undefined"><span style="-moz-user-select: none;">1</span>
						<select id='quantity_4'
							name='quantity_4' onchange="JavaScript:setCurrentId('quantity_4'); CheckoutHelperJS.setRequiredQuan(this.value);CheckoutHelperJS.setItemId('814578997');CheckoutHelperJS.updateCartWait(this, '814578997',event);TCP.Tealium.View.fireCartUpdate(4);" style="opacity: 0;">
							<option value="1" selected>1</option>
							<option value="2" >2</option>
							<option value="3" >3</option>
							<option value="4" >4</option>
							<option value="5" >5</option>
							<option value="6" >6</option>
							<option value="7" >7</option>
							<option value="8" >8</option>
							<option value="9" >9</option>
							<option value="10" >10</option>
							<option value="11" >11</option>
							<option value="12" >12</option>
							<option value="13" >13</option>
							<option value="14" >14</option>
							<option value="15" >15</option>
						</select></div>
						<img id="productPageSwatch" style="display: none; " src="/wcsstore/GlobalSAS/images/colors/color1/loading.gif">
						<!-- end quantity selector -->
			</td>
			
			
			
			
			
			<td  id="WC_OrderItemDetailsf_td_3_4" class="item-price"
				headers="shoppingCart_tableCell_each shoppingCart_rowHeader_product4"> <span class="former-price"> 
			$20.97  </span>
				
					<br>
					<span class="sale-price">
						$16.78  
					</span>
				
				
				</td>
			<td id="WC_OrderItemDetailsf_td_4_4" class="total-price"
				headers="shoppingCart_tableCell_total shoppingCart_rowHeader_product4">
				
					<span
						class='former-price'>
					$20.97 </span>
					<br>
				
				
					
						<span class="sale-price">
						$16.78 </span>
					
			</td>
			<td id="WC_OrderItemDetailsf_td_5_4" class="item_remove"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product4">
				
			
						<p><a id="WC_OrderItemDetailsf_linkss_2_4"
						href="JavaScript:setCurrentId('WC_OrderItemDetailsf_linkss_2_4');CheckoutHelperJS.deleteFromCart('814578997');CheckoutHelperJS.disableButtonClick('WC_OrderItemDetailsf_linkss_2_4');TCP.Tealium.Link.fireCartRemove(4);">
						remove</a></p>
				
			</td>
		</tr>
		
<!-- redEye Tag --><!-- End of redEye Tag -->
		 <input type="hidden" id="sc_item4" value="1.0" />
		 <input type="hidden" id="sc_productId4" value="282902" />
		 <input type="hidden" id="sc_productName4" value="denim jacket" />
		 	
		 	
		<input type="hidden" value='814578998' name='orderItem_5'
			id='orderItem_5' />
		<input type="hidden" value='454330' name='catalogId_5'
			id='catalogId_5' />
			
		<tr id="00431685807903" data-item-id="814578998">

						
			
						
			<td class="item-pic" id="shoppingCart_rowHeader_product5"
				abbr="forBB BROCKTON BTIE">
				
				
			
				
				<div class="img" id="WC_OrderItemDetailsf_div_1_5"><!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/plaid-bowtie-2030758-751" id="catalogEntry_img454330">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2030758_751.jpg" alt="2030758_751" title="plaid bowtie" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->
				</div>
			</td>

			<td class="item-descript">

			
			
			
			<h1>
				
				
			
					<a href="http://tcp-perf.childrensplace.com/shop/ca/p/plaid-bowtie-2030758-751">plaid bowtie</a>
							
			</h1>
			
			<h2>color:VINTAGERED</h2>
			
			<h3>UPC # - 00431685807903</h3>
			
				<!--		begin Deals&Bogo--><!-- begin bogo --><!-- end Bogo promotion --><!--		begin Deals&Bogo--><!--			End Deals&Bogo--><!-- BEGIN TCPWebOnlyIndicatorPageDisplay.jspf-->



		<input type="hidden" name="webonly_debug1" value="TCPWebOnlyFlag=||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>

					
		
		<input type="hidden" name="webonly_debug2" value="TCPWebOnlyFlag=0||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>
		
		                             
		
			<input type="hidden" name="webonly_debug3" value="do not generate DIV with web-only indicator message."/>
			<!-- END TCPWebOnlyIndicatorPageDisplay.jspf-->
			
			
			
			
			
			
			
			</td>
			<td class="item-size">
		
			4-7
			</td>
			
		
<script type="text/javascript">
dojo.addOnLoad(
	function(){
		CheckoutHelperJS.setOrderId('');
		if('' != ''){
			//CheckoutHelperJS.setItemId('00431685807903');
			CheckoutHelperJS.setShippingState('');
			//CheckoutHelperJS.checkProhibitedSkus();
		}
		CheckoutHelperJS.checkShoppingCartItemsInventory();
		
	}
);
</script>	
			
			<td id="WC_OrderItemDetailsf_td_2_5" class="item-quantity"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product5">
			<!-- ======quantity selector====== -->
						<div class="selector" id="uniform-undefined"><span style="-moz-user-select: none;">1</span>
						<select id='quantity_5'
							name='quantity_5' onchange="JavaScript:setCurrentId('quantity_5'); CheckoutHelperJS.setRequiredQuan(this.value);CheckoutHelperJS.setItemId('814578998');CheckoutHelperJS.updateCartWait(this, '814578998',event);TCP.Tealium.View.fireCartUpdate(5);" style="opacity: 0;">
							<option value="1" selected>1</option>
							<option value="2" >2</option>
							<option value="3" >3</option>
							<option value="4" >4</option>
							<option value="5" >5</option>
							<option value="6" >6</option>
							<option value="7" >7</option>
							<option value="8" >8</option>
							<option value="9" >9</option>
							<option value="10" >10</option>
							<option value="11" >11</option>
							<option value="12" >12</option>
							<option value="13" >13</option>
							<option value="14" >14</option>
							<option value="15" >15</option>
						</select></div>
						<img id="productPageSwatch" style="display: none; " src="/wcsstore/GlobalSAS/images/colors/color1/loading.gif">
						<!-- end quantity selector -->
			</td>
			
			
			
			
			
			<td  id="WC_OrderItemDetailsf_td_3_5" class="item-price"
				headers="shoppingCart_tableCell_each shoppingCart_rowHeader_product5"> <span class="former-price"> 
			$4.24  </span>
				
					<br>
					<span class="sale-price">
						$2.37  
					</span>
				
				
				</td>
			<td id="WC_OrderItemDetailsf_td_4_5" class="total-price"
				headers="shoppingCart_tableCell_total shoppingCart_rowHeader_product5">
				
					<span
						class='former-price'>
					$4.24 </span>
					<br>
				
				
					
						<span class="sale-price">
						$2.37 </span>
					
			</td>
			<td id="WC_OrderItemDetailsf_td_5_5" class="item_remove"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product5">
				
			
						<p><a id="WC_OrderItemDetailsf_linkss_2_5"
						href="JavaScript:setCurrentId('WC_OrderItemDetailsf_linkss_2_5');CheckoutHelperJS.deleteFromCart('814578998');CheckoutHelperJS.disableButtonClick('WC_OrderItemDetailsf_linkss_2_5');TCP.Tealium.Link.fireCartRemove(5);">
						remove</a></p>
				
			</td>
		</tr>
		
<!-- redEye Tag --><!-- End of redEye Tag -->
		 <input type="hidden" id="sc_item5" value="1.0" />
		 <input type="hidden" id="sc_productId5" value="450962" />
		 <input type="hidden" id="sc_productName5" value="plaid bowtie" />
		 	
		 	
		<input type="hidden" value='814578999' name='orderItem_6'
			id='orderItem_6' />
		<input type="hidden" value='476124' name='catalogId_6'
			id='catalogId_6' />
			
		<tr id="00429467623360" data-item-id="814578999">

						
			
						
			<td class="item-pic" id="shoppingCart_rowHeader_product6"
				abbr="forLS GRLS LUV PCE">
				
				
			
				
				<div class="img" id="WC_OrderItemDetailsf_div_1_6"><!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/girls-love-peace-graphic-tee-2033213-01" id="catalogEntry_img476124">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2033213_01.jpg" alt="2033213_01" title="girls love peace graphic tee" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->
				</div>
			</td>

			<td class="item-descript">

			
			
			
			<h1>
				
				
			
					<a href="http://tcp-perf.childrensplace.com/shop/ca/p/girls-love-peace-graphic-tee-2033213-01">girls love peace graphic tee</a>
							
			</h1>
			
			<h2>color:BLACK</h2>
			
			<h3>UPC # - 00429467623360</h3>
			
				<!--		begin Deals&Bogo--><!-- begin bogo --><!-- end Bogo promotion --><!--		begin Deals&Bogo--><!--			End Deals&Bogo--><!-- BEGIN TCPWebOnlyIndicatorPageDisplay.jspf-->



		<input type="hidden" name="webonly_debug1" value="TCPWebOnlyFlag=||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>

					
		
		<input type="hidden" name="webonly_debug2" value="TCPWebOnlyFlag=0||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>
		
		                             
		
			<input type="hidden" name="webonly_debug3" value="do not generate DIV with web-only indicator message."/>
			<!-- END TCPWebOnlyIndicatorPageDisplay.jspf-->
			
			
			
			
			
			
			
			</td>
			<td class="item-size">
		
			S (5/6)
			</td>
			
		
<script type="text/javascript">
dojo.addOnLoad(
	function(){
		CheckoutHelperJS.setOrderId('');
		if('' != ''){
			//CheckoutHelperJS.setItemId('00429467623360');
			CheckoutHelperJS.setShippingState('');
			//CheckoutHelperJS.checkProhibitedSkus();
		}
		CheckoutHelperJS.checkShoppingCartItemsInventory();
		
	}
);
</script>	
			
			<td id="WC_OrderItemDetailsf_td_2_6" class="item-quantity"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product6">
			<!-- ======quantity selector====== -->
						<div class="selector" id="uniform-undefined"><span style="-moz-user-select: none;">1</span>
						<select id='quantity_6'
							name='quantity_6' onchange="JavaScript:setCurrentId('quantity_6'); CheckoutHelperJS.setRequiredQuan(this.value);CheckoutHelperJS.setItemId('814578999');CheckoutHelperJS.updateCartWait(this, '814578999',event);TCP.Tealium.View.fireCartUpdate(6);" style="opacity: 0;">
							<option value="1" selected>1</option>
							<option value="2" >2</option>
							<option value="3" >3</option>
							<option value="4" >4</option>
							<option value="5" >5</option>
							<option value="6" >6</option>
							<option value="7" >7</option>
							<option value="8" >8</option>
							<option value="9" >9</option>
							<option value="10" >10</option>
							<option value="11" >11</option>
							<option value="12" >12</option>
							<option value="13" >13</option>
							<option value="14" >14</option>
							<option value="15" >15</option>
						</select></div>
						<img id="productPageSwatch" style="display: none; " src="/wcsstore/GlobalSAS/images/colors/color1/loading.gif">
						<!-- end quantity selector -->
			</td>
			
			
			
			
			
			<td  id="WC_OrderItemDetailsf_td_3_6" class="item-price"
				headers="shoppingCart_tableCell_each shoppingCart_rowHeader_product6"> <span class="former-price"> 
			$3.49  </span>
				
					<br>
					<span class="sale-price">
						$1.95  
					</span>
				
				
				</td>
			<td id="WC_OrderItemDetailsf_td_4_6" class="total-price"
				headers="shoppingCart_tableCell_total shoppingCart_rowHeader_product6">
				
					<span
						class='former-price'>
					$3.49 </span>
					<br>
				
				
					
						<span class="sale-price">
						$1.95 </span>
					
			</td>
			<td id="WC_OrderItemDetailsf_td_5_6" class="item_remove"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product6">
				
			
						<p><a id="WC_OrderItemDetailsf_linkss_2_6"
						href="JavaScript:setCurrentId('WC_OrderItemDetailsf_linkss_2_6');CheckoutHelperJS.deleteFromCart('814578999');CheckoutHelperJS.disableButtonClick('WC_OrderItemDetailsf_linkss_2_6');TCP.Tealium.Link.fireCartRemove(6);">
						remove</a></p>
				
			</td>
		</tr>
		
<!-- redEye Tag --><!-- End of redEye Tag -->
		 <input type="hidden" id="sc_item6" value="1.0" />
		 <input type="hidden" id="sc_productId6" value="452731" />
		 <input type="hidden" id="sc_productName6" value="girls love peace graphic tee" />
		 	
		 	
		<input type="hidden" value='814579000' name='orderItem_7'
			id='orderItem_7' />
		<input type="hidden" value='292505' name='catalogId_7'
			id='catalogId_7' />
			
		<tr id="00408802821845" data-item-id="814579000">

						
			
						
			<td class="item-pic" id="shoppingCart_rowHeader_product7"
				abbr="forWHITE 3PK PANTIES O8">
				
				
			
				
				<div class="img" id="WC_OrderItemDetailsf_div_1_7"><!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/briefs-3-pack-1069515-O8" id="catalogEntry_img292505">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/1069515_O8.jpg" alt="1069515_O8" title="briefs 3-pack" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->
				</div>
			</td>

			<td class="item-descript">

			
			
			
			<h1>
				
				
			
					<a href="http://tcp-perf.childrensplace.com/shop/ca/p/briefs-3-pack-1069515-O8">briefs 3-pack</a>
							
			</h1>
			
			<h2>color:OPTIC WHT</h2>
			
			<h3>UPC # - 00408802821845</h3>
			
				<!--		begin Deals&Bogo--><!-- begin bogo --><!-- end Bogo promotion --><!--		begin Deals&Bogo--><!--			End Deals&Bogo--><!-- BEGIN TCPWebOnlyIndicatorPageDisplay.jspf-->



		<input type="hidden" name="webonly_debug1" value="TCPWebOnlyFlag=||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>

					
		
		<input type="hidden" name="webonly_debug2" value="TCPWebOnlyFlag=0||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>
		
		                             
		
			<input type="hidden" name="webonly_debug3" value="do not generate DIV with web-only indicator message."/>
			<!-- END TCPWebOnlyIndicatorPageDisplay.jspf-->
			
			
			
			
			
			
			
			</td>
			<td class="item-size">
		
			XXS (2/3)
			</td>
			
		
<script type="text/javascript">
dojo.addOnLoad(
	function(){
		CheckoutHelperJS.setOrderId('');
		if('' != ''){
			//CheckoutHelperJS.setItemId('00408802821845');
			CheckoutHelperJS.setShippingState('');
			//CheckoutHelperJS.checkProhibitedSkus();
		}
		CheckoutHelperJS.checkShoppingCartItemsInventory();
		
	}
);
</script>	
			
			<td id="WC_OrderItemDetailsf_td_2_7" class="item-quantity"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product7">
			<!-- ======quantity selector====== -->
						<div class="selector" id="uniform-undefined"><span style="-moz-user-select: none;">2</span>
						<select id='quantity_7'
							name='quantity_7' onchange="JavaScript:setCurrentId('quantity_7'); CheckoutHelperJS.setRequiredQuan(this.value);CheckoutHelperJS.setItemId('814579000');CheckoutHelperJS.updateCartWait(this, '814579000',event);TCP.Tealium.View.fireCartUpdate(7);" style="opacity: 0;">
							<option value="1" >1</option>
							<option value="2" selected>2</option>
							<option value="3" >3</option>
							<option value="4" >4</option>
							<option value="5" >5</option>
							<option value="6" >6</option>
							<option value="7" >7</option>
							<option value="8" >8</option>
							<option value="9" >9</option>
							<option value="10" >10</option>
							<option value="11" >11</option>
							<option value="12" >12</option>
							<option value="13" >13</option>
							<option value="14" >14</option>
							<option value="15" >15</option>
						</select></div>
						<img id="productPageSwatch" style="display: none; " src="/wcsstore/GlobalSAS/images/colors/color1/loading.gif">
						<!-- end quantity selector -->
			</td>
			
			
			
			
			
			<td  id="WC_OrderItemDetailsf_td_3_7" class="item-price"
				headers="shoppingCart_tableCell_each shoppingCart_rowHeader_product7"> <span class="former-price"> 
			$10.95  </span>
				
					<br>
					<span class="sale-price">
						$8.76  
					</span>
				
				
				</td>
			<td id="WC_OrderItemDetailsf_td_4_7" class="total-price"
				headers="shoppingCart_tableCell_total shoppingCart_rowHeader_product7">
				
					<span
						class='former-price'>
					$21.90 </span>
					<br>
				
				
					
						<span class="sale-price">
						$17.52 </span>
					
			</td>
			<td id="WC_OrderItemDetailsf_td_5_7" class="item_remove"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product7">
				
			
						<p><a id="WC_OrderItemDetailsf_linkss_2_7"
						href="JavaScript:setCurrentId('WC_OrderItemDetailsf_linkss_2_7');CheckoutHelperJS.deleteFromCart('814579000');CheckoutHelperJS.disableButtonClick('WC_OrderItemDetailsf_linkss_2_7');TCP.Tealium.Link.fireCartRemove(7);">
						remove</a></p>
				
			</td>
		</tr>
		
<!-- redEye Tag --><!-- End of redEye Tag -->
		 <input type="hidden" id="sc_item7" value="2.0" />
		 <input type="hidden" id="sc_productId7" value="28695" />
		 <input type="hidden" id="sc_productName7" value="briefs 3-pack" />
		 	
		 	
	<input type="hidden" id="totalNumberOfItems" name="totalNumberOfItems" value='7' />

	
	<input type="hidden" name="existingPaymentInstructionId" value="" id="existingPaymentInstructionId" />

	

	<input type="hidden" name="currentOrderId" value="634267724" id="currentOrderId" />
	<input type="hidden" name="numOrderItemsInOrder" value="7" id="numOrderItemsInOrder" />
	<input type="hidden" name="nonRecurringOrderItems" value="" id="nonRecurringOrderItems" />
	<input type="hidden" name="nonRecurringOrderItemsCount" value="0" id="nonRecurringOrderItemsCount" />
</table>
<!-- END TCPOrderItemDetail.jsp -->
						</div>
					</div>
					<script type="text/javascript">
						dojo.addOnLoad(function() { 
							parseWidget("ShopCartPagingDisplay");
							
						});            
					</script>
					
					<!---------------- START placecash ---------------------><!-- BEGIN TCPVoucherEarnPlaceCashShoppingBag.jsp -->

<script type="text/javascript">
	var baseHREF = '???constant.baseHREF???';
	var stylesHREF = '???constant.stylesHREF???';
	var homeHREF  = '???constant.hostName???';
	var PATH_TO_ENVOY = '???E4X_ENVOY_URL???';
	var isIntlShipping = 'false';
	var curCode = 'USD';
	var margin = '1.0';
	var exRate = '1.0';
	var roundMethod = '2';
	

</script>


	<div class="bag-placecash-wrapper">
		<img src="/wcsstore/GlobalSAS/images/tcp/shopping_bag/placecash_logo.gif"/> 
		<!-- CurrencySymbolToFormat-totalVoucherValue = $25 | xorderBean.voucherEarned = 1 --><!-- BEGIN ContentAreaESpot.jsp --><!-- ###############  Espot name: PC_Total_Earned_Shop_Bag_ESpot ######################--><!-- BEGIN ESpotInfoPopupDisplay.jspf-->
	<script type="text/Javascript">
		function toggleActivityTable(tableId) {
			var arrowElement = document.getElementById("activityArrowId_" + tableId);
			var rowElement = document.getElementById("activityTableExpandId_" + tableId);
			if(arrowElement.className == "opened") {
				arrowElement.className = "unopened";
				rowElement.style.display = "none";
			}
			else {
				arrowElement.className = "opened";
				rowElement.style.display = "block";
			}
		}
	</script>


	<div id="ESpotInfo_popup_main_div_PC_Total_Earned_Shop_Bag_ESpot" class="ESpotInfo_popup_main_div">
		<div id="ESpotInfo_popup_PC_Total_Earned_Shop_Bag_ESpot" class="ESpotInfo_popup" dojoType="dijit.Dialog" >
			<div class="top_left" id="WC_ESpotInfo_div_1_PC_Total_Earned_Shop_Bag_ESpot"><img alt="" src="/wcsstore/GlobalSAS/images/trasparent.gif" /></div> 
			<div class="top_right" id="WC_ESpotInfo_div_2_PC_Total_Earned_Shop_Bag_ESpot"><img alt="" src="/wcsstore/GlobalSAS/images/trasparent.gif" /></div>

			<div class="header" id="ESpotInfo_popupHeader_PC_Total_Earned_Shop_Bag_ESpot">
				<div class="close" id="WC_ESpotInfo_div_3_PC_Total_Earned_Shop_Bag_ESpot">
					<span class="title">
						PC_Total_Earned_Shop_Bag_ESpot
					</span>
					<a id="ESpotInfo_closeLink2_PC_Total_Earned_Shop_Bag_ESpot" href="javascript:hideESpotInfoPopup('ESpotInfo_popup_PC_Total_Earned_Shop_Bag_ESpot');" onkeydown="javaScript:setbackFocus(event);" onmousedown="javaScript:setbackFocus(event);">
						<span class="icon "></span>
					</a>
				</div>
			</div>
			<div id="WC_ESpotInfo_div_5_PC_Total_Earned_Shop_Bag_ESpot" class="whitespace_background">
				<div class="content_container scrollbar" id="WC_ESpotInfo_div_6_PC_Total_Earned_Shop_Bag_ESpot"> 
					
 				</div>
				<div class="pagination_container">
					<div class="pagination">						
					</div>
				</div>
			</div>
			<div class="footer" id="WC_ESpotInfo_div_7_PC_Total_Earned_Shop_Bag_ESpot">
				<div class="bot_right" id="WC_ESpotInfo_div_9_PC_Total_Earned_Shop_Bag_ESpot"></div>
				<div class="bot_left" id="WC_ESpotInfo_div_8_PC_Total_Earned_Shop_Bag_ESpot"></div>
			</div>
		</div>
	</div>

	<script type="text/javascript"> dojo.addOnLoad(function() {  parseWidget("ESpotInfo_popup_PC_Total_Earned_Shop_Bag_ESpot"); } );</script>


<!-- END ESpotInfoPopupDisplay.jspf-->

<div class="genericESpot" id="WC_ContentAreaESpot_div_1_">
    <div class="caption" style="display:none" id="WC_ContentAreaESpot_div_2_">[PC_Total_Earned_Shop_Bag_ESpot]</div>
    <div class="ESpotInfo" id="WC_ContentAreaESpotInfo_"><a href="#" onclick="showESpotInfoPopup('ESpotInfo_popup_PC_Total_Earned_Shop_Bag_ESpot'); return false;"><div class="ESpotInfoIcon"></div></a></div>



</div>

<!-- END ContentAreaESpot.jsp --><!-- BEGIN TCPHomePageContentAreaESpot.jsp --><!-- ###############  Espot name: PC_Shop_Bag_ESpot ######################--><div class="placeclearfix"></div><div class="bag-placecash-txt"><p>Redeem one $25 PLACE cash coupon for every $50 you spend online or in-store from September 16 - September 29, 2014. Up to three PLACE cash coupons can be redeemed per transaction.<br/>						<a href="/wcsstore/GlobalSAS/images/tcp/html/modals/placecash_details_modal_CA.html" class="openModal" title="PLACE cash details">see details</a></p>	</div><!-- END TCPHomePageContentAreaESpot.jsp -->
	
	</div>
<!-- END TCPVoucherEarnPlaceCashShoppingBag.jsp --><!---------------- END placecash ---------------------><!---------------- START Gift With Purchase ----------><!-- BEGIN TCPGWPShoppingBag.jsp -->

<script type="text/javascript">
	var baseHREF = '???constant.baseHREF???';
	var stylesHREF = '???constant.stylesHREF???';
	var homeHREF  = '???constant.hostName???';
	var PATH_TO_ENVOY = '???E4X_ENVOY_URL???';
	var isIntlShipping = 'false';
	var curCode = 'USD';
	var margin = '1.0';
	var exRate = '1.0';
	var roundMethod = '2';
	

</script>


<script type="text/javascript">
	dojo.addOnLoad(function(){
		CommonControllersDeclarationJS.setControllerURL('PromotionFreeGifts_Controller','https://tcp-perf.childrensplace.com/shop/PromotionFreeGiftChoicesView?catalogId=10552&amp;langId=-1&amp;storeId=10152');
		MessageHelper.setMessage("ShopCartDisplayViewURL", "https://tcp-perf.childrensplace.com/shop/ShopCartDisplayView?shipmentType=single&catalogId=10552&langId=-1&storeId=10152");	
	});
</script>	


		
		<script type="text/javascript">
					

		
		function noThanksCheck(rewardOptionId){
			if($('#PickYourFreeGift').length > 0){
			var text = $.trim($('#PickYourFreeGift').html());			
			if(text == MessageHelper.messages["PROMOTION_PICK_FREE_GIFTS"] || text == MessageHelper.messages["PROMOTION_PICK_FREE_GIFT"]){
				//$('#noThanks').removeClass();
				//$('#noThanks').addClass('button-dark-grey');
				if($("#"+rewardOptionId).length > 0) {
					$("#"+rewardOptionId).hide();
				}
				
				
			}else{
			var params = [];
			params.orderId = ".";		
			params["rewardOptionId"] = rewardOptionId;	
			params["calculationUsage"] = "-1,-2,-5,-6,-7";
			params["allocate"] = "***";
			params["backorder"] = "***";
			if(!submitRequest()){
				return;
			}
			$('#FromNoThanks').val('true'); 
			CommonControllersDeclarationJS.setControllerURL('ShopCartDisplayController','https://tcp-perf.childrensplace.com/shop/ShopCartDisplayView?shipmentType=single&amp;catalogId=10552&amp;langId=-1&amp;storeId=10152&fromNoThanks=1');          
			cursor_wait();
			wc.service.invoke("AjaxUpdateRewardOption", params);	
			}
			}
		
		}

		
		</script>
<!-- END TCPGWPShoppingBag.jsp --><!---------------- END Gift With Purchase ------------><!-- BEGIN TCPOrderTotals.jsp -->

<script type="text/javascript">
	var baseHREF = '???constant.baseHREF???';
	var stylesHREF = '???constant.stylesHREF???';
	var homeHREF  = '???constant.hostName???';
	var PATH_TO_ENVOY = '???E4X_ENVOY_URL???';
	var isIntlShipping = 'false';
	var curCode = 'USD';
	var margin = '1.0';
	var exRate = '1.0';
	var roundMethod = '2';
	

</script>

 
<script type="text/javascript">
	dojo.addOnLoad(initDiscountDetails);
	
	function initDiscountDetails(){	
		
		if(document.getElementById("discountDetailsSection")!=null )  {
			document.getElementById("discountDetailsSection").style.display = "block";
		}
	}
</script>




					<div id="subtotal-row">
<div id="total_breakdown">

	
		<div id="promotions" class="coupon-code">
			<!-- BEGIN TCPPromotionCodeDisplay.jsp -->

<script type="text/javascript">
       dojo.addOnLoad(function() {
              
              MessageHelper.setMessage("PROMOTION_CODE_EMPTY", "Please enter the promotional code");
              MessageHelper.setMessage("PROMOTION_UNAPPLICABLE_MESSAGE", "This code is not applicable"); 
		ServicesDeclarationJS.setCommonParameters('-1','10152','10552');
       });
</script>

 

<script type="text/javascript">
       dojo.addOnLoad(initPromotionAssets); 
       
       function initPromotionAssets(){
                     
       }

</script>

 <form name="PromotionCodeForm" id="PromotionCodeForm" method="post" action="https://tcp-perf.childrensplace.com/shop/PromotionCodeManage?catalogId=10552&amp;langId=-1&amp;storeId=10152" onsubmit="javascript: return false;">
        

       <input type="hidden" name="orderId" value="634267724" id="WC_PromotionCodeDisplay_FormInput_orderId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="taskType" value="A" id="WC_PromotionCodeDisplay_FormInput_page_In_PromotionCodeForm_1"/>
       <input type="hidden" name="URL" value="" id="WC_PromotionCodeDisplay_FormInput_URL_In_PromotionCodeForm_1"/>
       <input type="hidden" name="storeId" value="10152" id="WC_PromotionCodeDisplay_FormInput_storeId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="catalogId" value="10552" id="WC_PromotionCodeDisplay_FormInput_catalogId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="langId" value="-1" id="WC_PromotionCodeDisplay_FormInput_langId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="finalView" value="AjaxOrderItemDisplayView" id="WC_PromotionCodeDisplay_FormInput_finalView_In_PromotionCodeForm_1"/>
       <input type="hidden" name="fromPage" value="shoppingCartDisplay"/>
       
       
		       <div id="WC_PromotionCodeDisplay_div_1">
		              <h1>have a coupon code?
		              	<span>
		              		<!-- BEGIN ContentAreaESpot.jsp --><!-- ###############  Espot name: Coupon_Help_Espot2 ######################-->

<span class="genericESpot" id="WC_ContentAreaESpot_div_1_21651">

            <span class="ad" id="ad_21651">
          <a title="coupon help" class="openModal" href="/wcsstore/GlobalSAS/images/tcp/html/shopping_bag_couponHelp.html">need help?</a> 

            </span>
        


</span>

<!-- END ContentAreaESpot.jsp -->
						</span>
					  </h1>
		       </div>
	       		<div class="coupon-input" id="WC_PromotionCodeDisplay_div_2">
	              		<input type="text" class="input" size="6" name="promoCode" id="promoCode" onkeypress="if(event.keyCode==13) JavaScript:CheckoutHelperJS.applyPromotionCode('PromotionCodeForm','AjaxOrderItemDisplayView')"/>
	              
				       <div class="apply-code" id="WC_PromotionCodeDisplay_div_3">
				              <div id="WC_PromotionCodeDisplay_div_4">
				                       
				                                                 <a class="button-orange" href="#" onclick="JavaScript:setCurrentId('WC_PromotionCodeDisplay_links_1'); CheckoutHelperJS.applyPromotionCode('PromotionCodeForm','AjaxOrderItemDisplayView');return false;" class="button_text" id="WC_PromotionCodeDisplay_links_1">
				                                                         <font color='#FFFFFF'>Apply Code</font>
				                                                 </a>	                                         
				              </div>       
				                
				              
				       </div>
				       <label for="promoCodeErrorLabel" id="promoCodeErrorLabel" class="label-error" style="display:none"></label>
			                             
	       		</div>
	       		
       
       <br clear="left" />

</form>
<!-- END TCPPromotionCodeDisplay.jsp -->
		</div>
	<!--discount--><!-- promotionCodes.promACode:{10001551=[JIJI]}, adjustment.code:5 amount off-10001551 --><!-- match id like 10057340 --><!-- TESTCODE20: ABCD, JIJI --><!-- Hyphen stands for DMS code, make some filter on it  --><!-- match code like ABCD, or JIJI -->
													<div class="discount-bubble" >
													<h1>discounts applied</h1>
														
												<p>
													20% off 
													<span class="label-right" id="WC_SingleShipmentOrderTotalsSummary_td_4">
															
													</span>

													
															(TESTCODE20)
													
													<span class="remove-link">
														<a id="promotion_" href="#" onclick='JavaScript:setCurrentId("promotion_");CheckoutHelperJS.removePromotionCode("PromotionCodeForm","TESTCODE20","");return false;'>
														remove</a>
													</span>
												</p>
											
			</div>
		

	
	<div class="bag-total" id="order_total" cellpadding="0" cellspacing="0" border="0" summary="This table contains order summary information about your order. It contains order subtotal, total discount applied to the order, tax, shipping, shipping tax, and order total information of your order.">
	
		
			
		<div class="total-row"> 
			<span class="label-left" id="WC_SingleShipmentOrderTotalsSummary_td_1">subtotal:</span>
			<span class="label-right" id="WC_SingleShipmentOrderTotalsSummary_td_2">
			$58.42
			
			</span>
			<div class="clear"></div>
		</div>
		
		<div class="total-row discount" style="display:none">
			
						<span class="label-left" id="WC_SingleShipmentOrderTotalsSummary_td_11">Product Discounts::</span>
			
				<span class="label-right" id="WC_SingleShipmentOrderTotalsSummary_td_12">($1.27)</span>
			
			<div class="clear"></div>
		</div>
		
		
		
		
		<div class="total-row estimate">
			<span class="label-left" id="WC_SingleShipmentOrderTotalsSummary_td_9">estimated total:</span>
		
				
					<span class="label-right" id="WC_SingleShipmentOrderTotalsSummary_td_13">
					$58.42
					
					</span>
				
			
			<div class="clear"></div>
		</div>
		
		<!-- start reward points display--><!-- end reward points display-->

		<div>
			
				<span>
					<!-- BEGIN ContentAreaESpot.jsp --><!-- ###############  Espot name: Shopping_Cart_Total_Espot ######################-->

<div class="genericESpot" id="WC_ContentAreaESpot_div_1_42673">

            <div class="ad" id="ad_42673">
         <div class="shipping-calculator"> <span class="free-ship">$8 flat rate shipping on any size order</span>&nbsp;<a title="offer details" class="openModal" href="/wcsstore/GlobalSAS/images/tcp/html/freeShipping_homepage.html">details</a></div>
            </div>
        


</div>

<!-- END ContentAreaESpot.jsp -->
				</span>
				<div class="clear"></div>
			
			
		</div>
	</div>
</div>
	
	
<input type="hidden" name="OrderTotalAmount" value="58.42000" id="OrderTotalAmount" />
	
	
</div>
<!-- END TCPOrderTotals.jsp -->
						
						<div id="payment-row">
							<!-- BEGIN TCPCheckoutLogon.jsp --><!-- Start - JSP File Name:  CheckoutLogon.jsp -->

<script>
CheckoutHelperJS.setshippingUrl('TCPCheckoutCmd?langId=-1&storeId=10152&catalogId=10552&orderId=634267724&URL=LogonForm');
ShipmodeSelectionExtJS.setshippingUrl('TCPCheckoutCmd?langId=-1&storeId=10152&catalogId=10552&orderId=634267724&URL=LogonForm');
</script>



<div id="WC_CheckoutLogonf_div_9">
	<!-- BEGIN ContentAreaESpot.jsp --><!-- ###############  Espot name: Payment_Accept_Espot ######################-->

<div class="genericESpot" id="WC_ContentAreaESpot_div_1_30651">

            <div class="ad" id="ad_30651">
        <div class="payment-methods-CA">&nbsp;</div>
            </div>
        


</div>

<!-- END ContentAreaESpot.jsp -->
<div class="payment-buttons">
 <div class="button">
 

	<div id="shopcartCheckoutButton">		
				<span id="WC_CheckoutLogonf_div_10" >
								
										<a class="button-blue" href="javascript:if(!FreeGiftCheck()){alert(MessageHelper.messages['PROMOTION_FREE_GIFTS_ALERT']);} else {CheckoutHelperJS.Icheckout('https://tcp-perf.childrensplace.com/shop/LogonForm?catalogId=10552&amp;myAcctMain=1&amp;langId=-1&amp;storeId=10152&amp;URL=https%3A%2F%2Ftcp-perf.childrensplace.com%2Fshop%2FTCPOrderShippingView%3FshipmentType%3Dsingle%26catalogId%3D10552%26langId%3D-1%26storeId%3D10152');}"  onclick="javascript:if(!FreeGiftCheck()){return;}if(CheckoutHelperJS.canCheckoutContinue('G') && CheckoutHelperJS.updateShoppingCart(document.ShopCartForm,true)){return true;}return false;" id="guestShopperContinue">									
											<font color="#FFFFFF">Proceed to Checkout</font>
										</a>
									
		</span>
	</div>

</div>

		
	<div class="button" >
	<a href="javascript:PayPalCheckout()"><img title="Check out with PayPal" alt="Check out with PayPal" src="/wcsstore/GlobalSAS/images/tcp/checkout/btn_xo_142x27.gif"/></a>
	<span class="paypal">or</span>
	</div>
	
	


<div class="button"><a class="button-grey" id="WC_BreadCrumbTrailDisplay_links_2a" href="http://tcp-perf.childrensplace.com/shop/ca/home"><font color="#FFFFFF">Continue Shopping</font></a></div>
</div>
<br/><br/>



<script type="text/javascript">

	
dojo.addOnLoad(function() { 
		
		MessageHelper.setMessage("PROMOTION_CHANGE_FREE_GIFT", "Change your free gift");
		MessageHelper.setMessage("PROMOTION_CHANGE_FREE_GIFTS", "Change your free gifts");
		MessageHelper.setMessage("PROMOTION_PICK_FREE_GIFT", "CHOOSE YOUR GIFT");
		MessageHelper.setMessage("PROMOTION_PICK_FREE_GIFTS", "CHOOSE YOUR GIFT");
		MessageHelper.setMessage("PROMOTION_FREE_GIFTS_ALERT", "Please choose your free gift or click \"No Thanks\", if you don't want to receive your free gift.");
});	
	
function FreeGiftCheck(){
			/*if($('#PickYourFreeGift').length > 0 && $('#PickYourFreeGift').is(':visible')){
			var text = $.trim($('#PickYourFreeGift').html());
			if((text == MessageHelper.messages["PROMOTION_PICK_FREE_GIFTS"] || text == MessageHelper.messages["PROMOTION_PICK_FREE_GIFT"]) && $('#noThanks').attr('class') == 'button-grey'){
				
				return false;
			}
			}*/
			return true;
}

	function PayPalCheckout()
	{
				
			if(!FreeGiftCheck()){
			alert(MessageHelper.messages["PROMOTION_FREE_GIFTS_ALERT"]);
			return;
			}	
		try {
			var newURL = "https://tcp-perf.childrensplace.com/webapp/wcs/stores/servlet/TCPPayPalCCLookUpCmd?storeId=10152&catalogId=10552&langId=-1&orderId=634267724&callingPage=AjaxOrderItemDisplayView";
			document.location.href = newURL;
		} catch(error) {
			alert("error detected while redirecting to PayPal : " + error.message);
		}
	}
	
	
	
</script>

<!-- END TCPCheckoutLogon.jsp -->
						</div>
					 
				</div>	
		
		<div class="footer" id="WC_ShopCartDisplay_div_7">
			<div class="left_corner" id="WC_ShopCartDisplay_div_8"></div>
			<div class="left" id="WC_ShopCartDisplay_div_9"></div>
			<div class="right_corner" id="WC_ShopCartDisplay_div_10"></div>
		</div>		
	</div>
</div>  					


</section>
</div>			
			<script>
	var pageTypeObj = {
		'page_type' : 'cart',
		'sc_page_type' : 'shopping bag',
		'page_name' : '',
		'page_department' : '',
		'page_category' : '',
		'page_subcategory' : '',
		'event_name' : ''
	};
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(pageTypeObj));
</script><!-- Defect #1017 Begin - Tealium Tag Snippet - CART Tag --><!-- Begin - Tealium Data Population - Cart Tag -->

<script type="text/javascript"> 

(function(){
  console.log("Tealium Cart Tag : ");
  var cartItemsObj = {};
  try{
	cartItemsObj.product_id			    =	['451812','451812','420034','282902','450962','452731','28695'];
	cartItemsObj.product_upc			=	['00429330622360','00429330723364','00426928734276','00429226985210','00431685807903','00429467623360','00408802821845'];
	cartItemsObj.product_sku			=	['2032008_10','2032008_10','2025798_758','2007791_214','2030758_751','2033213_01','1069515_O8'];
	cartItemsObj.product_name			=	['b.f.f. graphic tee','b.f.f. graphic tee','straight jeans - medium classic','denim jacket','plaid bowtie','girls love peace graphic tee','briefs 3-pack'];
	cartItemsObj.product_price			=	['6.25','6.25','12.25','20.97','4.24','3.49','10.95'];
	cartItemsObj.product_quantity		=	['1','1','1','1','1','1','2'];
	
	cartItemsObj.cart_product_id		=	['451812','451812','420034','282902','450962','452731','28695'];
	cartItemsObj.cart_product_upc		=	['00429330622360','00429330723364','00426928734276','00429226985210','00431685807903','00429467623360','00408802821845'];
	cartItemsObj.cart_product_sku		=	['2032008_10','2032008_10','2025798_758','2007791_214','2030758_751','2033213_01','1069515_O8'];
	cartItemsObj.cart_product_quantity	=	['1','1','1','1','1','1','2'];
	cartItemsObj.cart_product_price	    =	['6.25','6.25','12.25','20.97','4.24','3.49','10.95'];
	var cart_total_items = 0;
	for (var i in cartItemsObj.cart_product_quantity) {
  		cart_total_items+= parseInt(cartItemsObj.cart_product_quantity[i]);
	}
	cartItemsObj.cart_total_items		=	cart_total_items.toString();
	cartItemsObj.cart_total_value		=	'58.42';
	
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(cartItemsObj));
	
	TCP.Tealium.CartCookie.createCart();
	
  }catch(err){
	console.error(err.message);
  }
  
  
  if(utag_data.product_id === undefined || utag_data.product_id.length <= 0){
		setTimeout(function(){
			TCP.Tealium.Link.fireEmptyCart();
		},3000);
  }
  
})();

</script>

<!-- End - Tealium Data Population - Cart Tag --><!-- End - Tealium Tag Snippet - CART Tag --><div class="my-wishlist">
	<div class="component shopping-bag"  data-component="ShoppingBag"></div>
</div>
<script type="text/javascript">
	if (window.$) {
		window.$legacyjQuery = $.noConflict(); 
	} 
</script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/wcsstore/GlobalSAS/javascript/tcp/Restjsapi/lib.js" type="text/javascript"></script>
<script src="/wcsstore/GlobalSAS/javascript/tcp/Restjsapi/app.js" type="text/javascript"></script>
<script src="/wcsstore/GlobalSAS/javascript/tcp/Restjsapi/templates.js" type="text/javascript"></script>
<script>
	if (window.$legacyjQuery) {
		window.$ = window.jQuery = window.$legacyjQuery; 
	}
</script>
<script type="text/javascript">
	if ($(document).find("head > link [href='/wcsstore/GlobalSAS/css/tcp/page-pdp.css']").length === 0) {
		$(document).find("head").append("<link rel=\"stylesheet\" href=\"/wcsstore/GlobalSAS/css/tcp/page-shopping-bag.css\" />");
	}
</script><!-- END TCPShopCartDisplay.jsp -->