<!-- BEGIN TCPOrderItemDetails.jsp -->

<script type="text/javascript">
	categoryDisplayJS.setCommonParameters('-1','10152','10552','G');
</script>

	<!-- Get order Details using the ORDER SOI --> 


<input type="hidden" name="OrderTotalAmount" value="58.42000" id="OrderTotalAmount" />
<input type="hidden" name="currentPageNumber" value="1" id="currentPageNumber"/>




<!-- Nidhish: orderItemId: 814578751, totalDiscount: -1.25000, shipadjustment: 0, itemOrderMinusShipAdjust:  -1.25000 --><!-- Nidhish: orderItemId: 814578770, totalDiscount: -1.25000, shipadjustment: 0, itemOrderMinusShipAdjust:  -1.25000 --><!-- Nidhish: orderItemId: 814578996, totalDiscount: -2.45000, shipadjustment: 0, itemOrderMinusShipAdjust:  -2.45000 --><!-- Nidhish: orderItemId: 814578997, totalDiscount: -4.19000, shipadjustment: 0, itemOrderMinusShipAdjust:  -4.19000 --><!-- Nidhish: orderItemId: 814578998, totalDiscount: -1.87000, shipadjustment: 0, itemOrderMinusShipAdjust:  -1.87000 --><!-- Nidhish: orderItemId: 814578999, totalDiscount: -1.54000, shipadjustment: 0, itemOrderMinusShipAdjust:  -1.54000 --><!-- Nidhish: orderItemId: 814579000, totalDiscount: -4.38000, shipadjustment: 0, itemOrderMinusShipAdjust:  -4.38000 -->

 <div id="order_details" cellpadding="0" cellspacing="0" border="0" width="100%" summary="This table contains details about your current order. It contains product details, requested shipping date, availability, quantity, unit price and total price of each item in the current order. ">

 <script>
var productObj = {
	'product_id' : [],
	'product_sku' : [],
	'product_upc' : [],
	'product_name' : [],
	'product_price' : [],
	'product_quantity' : [],
	'product_image_url' : [],
	'product_discount_amount' : [],
	'product_url' : []
};
</script><!-- use this catalog services to get catalog entry attributes -->
		<input type="hidden" value='814578751' name='orderItem_1' id='orderItem_1'/>
		<input type="hidden" value='472731' name='catalogId_1' id='catalogId_1'/>
		
				
		
		
		<div class="bag-row" id="00429330622360" abbr="for b.f.f. graphic tee"> 
			<div class="product-image" id="WC_OrderItemDetails_div_1_1">
				<!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/b-f-f--graphic-tee-2032008-10" id="catalogEntry_img472731">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2032008_10.jpg" alt="2032008_10" title="b.f.f. graphic tee" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->   
			</div>
			<div class="sku-info" id="WC_OrderItemDetails_div_2_1">
				<span class="sku-name" style="text-align: left;">b.f.f. graphic tee</span>
				
				 
				<span class="sku-size" style="text-align: left;">size:
				XS (4)
				</span>
				
				
				
				<span class="sku-color" style="text-align: left;">
					<!-- mp_trans_schedule_disable_start -->WHITE<!-- mp_trans_schedule_disable_end -->
				</span>
				 
				
				<span class="sku-quantity" style="text-align: left;">quantity: 1</span>
				
				
				<br />
			</div>
			<div class="sku-price" id="WC_OrderItemDetails_td_4_1" headers="SingleShipment_tableCell_totalPrice SingleShipment_rowHeader_product1">
					
								
			<span class='former-price'> $6.25 </span>
				
				<br>
			 
				<span class="sale-price">$5.00</span>
				<script>
	
	// Moved initialization to InitializeProductTealium.jspf
	
	productObj.product_id.push("451812");
	
	productObj.product_upc.push("00429330622360");
	productObj.product_sku.push("2032008_10");
	
	productObj.product_name.push("b.f.f. graphic tee");
	productObj.product_price.push('6.25');
	productObj.product_quantity.push("1");
	
	
	productObj.product_image_url.push("//"+window.location.host+"/wcsstore/GlobalSAS/images/tcp/products/900/2032008_10.jpg");
	
	var product_discount_amount = '-1.25';
	if (product_discount_amount !== null && product_discount_amount !== undefined) {
		if (product_discount_amount.indexOf('-') !== -1) {
			product_discount_amount = product_discount_amount.split('-')[1]; 
		}
	}
	var discount_amount_float = (product_discount_amount / 1);
	productObj.product_discount_amount.push(discount_amount_float.toFixed(6).toString());
	
	
	var product_url = "http://tcp-perf.childrensplace.com/shop/ca/p/b-f-f--graphic-tee-2032008-10";
	if (product_url.indexOf('http:') !== -1){
    	product_url = product_url.substring(5, product_url.length);
    } else if (product_url.indexOf('https:') !== -1){
    	product_url = product_url.substring(6, product_url.length);
    }
	productObj.product_url.push(product_url);
	
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(productObj));
	
</script>
			</div>
		</div>
		<!-- use this catalog services to get catalog entry attributes -->
		<input type="hidden" value='814578770' name='orderItem_2' id='orderItem_2'/>
		<input type="hidden" value='475700' name='catalogId_2' id='catalogId_2'/>
		
				
		
		
		<div class="bag-row" id="00429330723364" abbr="for b.f.f. graphic tee"> 
			<div class="product-image" id="WC_OrderItemDetails_div_1_2">
				<!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/b-f-f--graphic-tee-2032008-10" id="catalogEntry_img475700">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2032008_10.jpg" alt="2032008_10" title="b.f.f. graphic tee" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->   
			</div>
			<div class="sku-info" id="WC_OrderItemDetails_div_2_2">
				<span class="sku-name" style="text-align: left;">b.f.f. graphic tee</span>
				
				 
				<span class="sku-size" style="text-align: left;">size:
				S (5/6)
				</span>
				
				
				
				<span class="sku-color" style="text-align: left;">
					<!-- mp_trans_schedule_disable_start -->WHITE<!-- mp_trans_schedule_disable_end -->
				</span>
				 
				
				<span class="sku-quantity" style="text-align: left;">quantity: 1</span>
				
				
				<br />
			</div>
			<div class="sku-price" id="WC_OrderItemDetails_td_4_2" headers="SingleShipment_tableCell_totalPrice SingleShipment_rowHeader_product2">
					
								
			<span class='former-price'> $6.25 </span>
				
				<br>
			 
				<span class="sale-price">$5.00</span>
				<script>
	
	// Moved initialization to InitializeProductTealium.jspf
	
	productObj.product_id.push("451812");
	
	productObj.product_upc.push("00429330723364");
	productObj.product_sku.push("2032008_10");
	
	productObj.product_name.push("b.f.f. graphic tee");
	productObj.product_price.push('6.25');
	productObj.product_quantity.push("1");
	
	
	productObj.product_image_url.push("//"+window.location.host+"/wcsstore/GlobalSAS/images/tcp/products/900/2032008_10.jpg");
	
	var product_discount_amount = '-1.25';
	if (product_discount_amount !== null && product_discount_amount !== undefined) {
		if (product_discount_amount.indexOf('-') !== -1) {
			product_discount_amount = product_discount_amount.split('-')[1]; 
		}
	}
	var discount_amount_float = (product_discount_amount / 1);
	productObj.product_discount_amount.push(discount_amount_float.toFixed(6).toString());
	
	
	var product_url = "http://tcp-perf.childrensplace.com/shop/ca/p/b-f-f--graphic-tee-2032008-10";
	if (product_url.indexOf('http:') !== -1){
    	product_url = product_url.substring(5, product_url.length);
    } else if (product_url.indexOf('https:') !== -1){
    	product_url = product_url.substring(6, product_url.length);
    }
	productObj.product_url.push(product_url);
	
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(productObj));
	
</script>
			</div>
		</div>
		<!-- use this catalog services to get catalog entry attributes -->
		<input type="hidden" value='814578996' name='orderItem_3' id='orderItem_3'/>
		<input type="hidden" value='420039' name='catalogId_3' id='catalogId_3'/>
		
				
		
		
		<div class="bag-row" id="00426928734276" abbr="for straight jeans - medium classic"> 
			<div class="product-image" id="WC_OrderItemDetails_div_1_3">
				<!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/straight-jeans---medium-classic-2025798-758" id="catalogEntry_img420039">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2025798_758.jpg" alt="2025798_758" title="straight jeans - medium classic" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->   
			</div>
			<div class="sku-info" id="WC_OrderItemDetails_div_2_3">
				<span class="sku-name" style="text-align: left;">straight jeans - medium classic</span>
				
				 
				<span class="sku-size" style="text-align: left;">size:
				regular,8
				</span>
				
				
				
				<span class="sku-color" style="text-align: left;">
					<!-- mp_trans_schedule_disable_start -->MEDCLASWSH<!-- mp_trans_schedule_disable_end -->
				</span>
				 
				
				<span class="sku-quantity" style="text-align: left;">quantity: 1</span>
				
				
				<br />
			</div>
			<div class="sku-price" id="WC_OrderItemDetails_td_4_3" headers="SingleShipment_tableCell_totalPrice SingleShipment_rowHeader_product3">
					
								
			<span class='former-price'> $12.25 </span>
				
				<br>
			 
				<span class="sale-price">$9.80</span>
				<script>
	
	// Moved initialization to InitializeProductTealium.jspf
	
	productObj.product_id.push("420034");
	
	productObj.product_upc.push("00426928734276");
	productObj.product_sku.push("2025798_758");
	
	productObj.product_name.push("straight jeans - medium classic");
	productObj.product_price.push('12.25');
	productObj.product_quantity.push("1");
	
	
	productObj.product_image_url.push("//"+window.location.host+"/wcsstore/GlobalSAS/images/tcp/products/900/2025798_758.jpg");
	
	var product_discount_amount = '-2.45';
	if (product_discount_amount !== null && product_discount_amount !== undefined) {
		if (product_discount_amount.indexOf('-') !== -1) {
			product_discount_amount = product_discount_amount.split('-')[1]; 
		}
	}
	var discount_amount_float = (product_discount_amount / 1);
	productObj.product_discount_amount.push(discount_amount_float.toFixed(6).toString());
	
	
	var product_url = "http://tcp-perf.childrensplace.com/shop/ca/p/straight-jeans---medium-classic-2025798-758";
	if (product_url.indexOf('http:') !== -1){
    	product_url = product_url.substring(5, product_url.length);
    } else if (product_url.indexOf('https:') !== -1){
    	product_url = product_url.substring(6, product_url.length);
    }
	productObj.product_url.push(product_url);
	
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(productObj));
	
</script>
			</div>
		</div>
		<!-- use this catalog services to get catalog entry attributes -->
		<input type="hidden" value='814578997' name='orderItem_4' id='orderItem_4'/>
		<input type="hidden" value='427752' name='catalogId_4' id='catalogId_4'/>
		
				
		
		
		<div class="bag-row" id="00429226985210" abbr="for denim jacket"> 
			<div class="product-image" id="WC_OrderItemDetails_div_1_4">
				<!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/denim-jacket-2007791-214" id="catalogEntry_img427752">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2007791_214.jpg" alt="2007791_214" title="denim jacket" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->   
			</div>
			<div class="sku-info" id="WC_OrderItemDetails_div_2_4">
				<span class="sku-name" style="text-align: left;">denim jacket</span>
				
				 
				<span class="sku-size" style="text-align: left;">size:
				12-18 MOS
				</span>
				
				
				
				<span class="sku-color" style="text-align: left;">
					<!-- mp_trans_schedule_disable_start -->STREAMWASH<!-- mp_trans_schedule_disable_end -->
				</span>
				 
				
				<span class="sku-quantity" style="text-align: left;">quantity: 1</span>
				
				
				<br />
			</div>
			<div class="sku-price" id="WC_OrderItemDetails_td_4_4" headers="SingleShipment_tableCell_totalPrice SingleShipment_rowHeader_product4">
					
								
			<span class='former-price'> $20.97 </span>
				
				<br>
			 
				<span class="sale-price">$16.78</span>
				<script>
	
	// Moved initialization to InitializeProductTealium.jspf
	
	productObj.product_id.push("282902");
	
	productObj.product_upc.push("00429226985210");
	productObj.product_sku.push("2007791_214");
	
	productObj.product_name.push("denim jacket");
	productObj.product_price.push('20.97');
	productObj.product_quantity.push("1");
	
	
	productObj.product_image_url.push("//"+window.location.host+"/wcsstore/GlobalSAS/images/tcp/products/900/2007791_214.jpg");
	
	var product_discount_amount = '-4.19';
	if (product_discount_amount !== null && product_discount_amount !== undefined) {
		if (product_discount_amount.indexOf('-') !== -1) {
			product_discount_amount = product_discount_amount.split('-')[1]; 
		}
	}
	var discount_amount_float = (product_discount_amount / 1);
	productObj.product_discount_amount.push(discount_amount_float.toFixed(6).toString());
	
	
	var product_url = "http://tcp-perf.childrensplace.com/shop/ca/p/denim-jacket-2007791-214";
	if (product_url.indexOf('http:') !== -1){
    	product_url = product_url.substring(5, product_url.length);
    } else if (product_url.indexOf('https:') !== -1){
    	product_url = product_url.substring(6, product_url.length);
    }
	productObj.product_url.push(product_url);
	
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(productObj));
	
</script>
			</div>
		</div>
		<!-- use this catalog services to get catalog entry attributes -->
		<input type="hidden" value='814578998' name='orderItem_5' id='orderItem_5'/>
		<input type="hidden" value='454330' name='catalogId_5' id='catalogId_5'/>
		
				
		
		
		<div class="bag-row" id="00431685807903" abbr="for plaid bowtie"> 
			<div class="product-image" id="WC_OrderItemDetails_div_1_5">
				<!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/plaid-bowtie-2030758-751" id="catalogEntry_img454330">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2030758_751.jpg" alt="2030758_751" title="plaid bowtie" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->   
			</div>
			<div class="sku-info" id="WC_OrderItemDetails_div_2_5">
				<span class="sku-name" style="text-align: left;">plaid bowtie</span>
				
				 
				<span class="sku-size" style="text-align: left;">size:
				4-7
				</span>
				
				
				
				<span class="sku-color" style="text-align: left;">
					<!-- mp_trans_schedule_disable_start -->VINTAGERED<!-- mp_trans_schedule_disable_end -->
				</span>
				 
				
				<span class="sku-quantity" style="text-align: left;">quantity: 1</span>
				
				
				<br />
			</div>
			<div class="sku-price" id="WC_OrderItemDetails_td_4_5" headers="SingleShipment_tableCell_totalPrice SingleShipment_rowHeader_product5">
					
								
			<span class='former-price'> $4.24 </span>
				
				<br>
			 
				<span class="sale-price">$2.37</span>
				<script>
	
	// Moved initialization to InitializeProductTealium.jspf
	
	productObj.product_id.push("450962");
	
	productObj.product_upc.push("00431685807903");
	productObj.product_sku.push("2030758_751");
	
	productObj.product_name.push("plaid bowtie");
	productObj.product_price.push('4.24');
	productObj.product_quantity.push("1");
	
	
	productObj.product_image_url.push("//"+window.location.host+"/wcsstore/GlobalSAS/images/tcp/products/900/2030758_751.jpg");
	
	var product_discount_amount = '-1.87';
	if (product_discount_amount !== null && product_discount_amount !== undefined) {
		if (product_discount_amount.indexOf('-') !== -1) {
			product_discount_amount = product_discount_amount.split('-')[1]; 
		}
	}
	var discount_amount_float = (product_discount_amount / 1);
	productObj.product_discount_amount.push(discount_amount_float.toFixed(6).toString());
	
	
	var product_url = "http://tcp-perf.childrensplace.com/shop/ca/p/plaid-bowtie-2030758-751";
	if (product_url.indexOf('http:') !== -1){
    	product_url = product_url.substring(5, product_url.length);
    } else if (product_url.indexOf('https:') !== -1){
    	product_url = product_url.substring(6, product_url.length);
    }
	productObj.product_url.push(product_url);
	
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(productObj));
	
</script>
			</div>
		</div>
		<!-- use this catalog services to get catalog entry attributes -->
		<input type="hidden" value='814578999' name='orderItem_6' id='orderItem_6'/>
		<input type="hidden" value='476124' name='catalogId_6' id='catalogId_6'/>
		
				
		
		
		<div class="bag-row" id="00429467623360" abbr="for girls love peace graphic tee"> 
			<div class="product-image" id="WC_OrderItemDetails_div_1_6">
				<!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/girls-love-peace-graphic-tee-2033213-01" id="catalogEntry_img476124">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2033213_01.jpg" alt="2033213_01" title="girls love peace graphic tee" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->   
			</div>
			<div class="sku-info" id="WC_OrderItemDetails_div_2_6">
				<span class="sku-name" style="text-align: left;">girls love peace graphic tee</span>
				
				 
				<span class="sku-size" style="text-align: left;">size:
				S (5/6)
				</span>
				
				
				
				<span class="sku-color" style="text-align: left;">
					<!-- mp_trans_schedule_disable_start -->BLACK<!-- mp_trans_schedule_disable_end -->
				</span>
				 
				
				<span class="sku-quantity" style="text-align: left;">quantity: 1</span>
				
				
				<br />
			</div>
			<div class="sku-price" id="WC_OrderItemDetails_td_4_6" headers="SingleShipment_tableCell_totalPrice SingleShipment_rowHeader_product6">
					
								
			<span class='former-price'> $3.49 </span>
				
				<br>
			 
				<span class="sale-price">$1.95</span>
				<script>
	
	// Moved initialization to InitializeProductTealium.jspf
	
	productObj.product_id.push("452731");
	
	productObj.product_upc.push("00429467623360");
	productObj.product_sku.push("2033213_01");
	
	productObj.product_name.push("girls love peace graphic tee");
	productObj.product_price.push('3.49');
	productObj.product_quantity.push("1");
	
	
	productObj.product_image_url.push("//"+window.location.host+"/wcsstore/GlobalSAS/images/tcp/products/900/2033213_01.jpg");
	
	var product_discount_amount = '-1.54';
	if (product_discount_amount !== null && product_discount_amount !== undefined) {
		if (product_discount_amount.indexOf('-') !== -1) {
			product_discount_amount = product_discount_amount.split('-')[1]; 
		}
	}
	var discount_amount_float = (product_discount_amount / 1);
	productObj.product_discount_amount.push(discount_amount_float.toFixed(6).toString());
	
	
	var product_url = "http://tcp-perf.childrensplace.com/shop/ca/p/girls-love-peace-graphic-tee-2033213-01";
	if (product_url.indexOf('http:') !== -1){
    	product_url = product_url.substring(5, product_url.length);
    } else if (product_url.indexOf('https:') !== -1){
    	product_url = product_url.substring(6, product_url.length);
    }
	productObj.product_url.push(product_url);
	
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(productObj));
	
</script>
			</div>
		</div>
		<!-- use this catalog services to get catalog entry attributes -->
		<input type="hidden" value='814579000' name='orderItem_7' id='orderItem_7'/>
		<input type="hidden" value='292505' name='catalogId_7' id='catalogId_7'/>
		
				
		
		
		<div class="bag-row" id="00408802821845" abbr="for briefs 3-pack"> 
			<div class="product-image" id="WC_OrderItemDetails_div_1_7">
				<!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/briefs-3-pack-1069515-O8" id="catalogEntry_img292505">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/1069515_O8.jpg" alt="1069515_O8" title="briefs 3-pack" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->   
			</div>
			<div class="sku-info" id="WC_OrderItemDetails_div_2_7">
				<span class="sku-name" style="text-align: left;">briefs 3-pack</span>
				
				 
				<span class="sku-size" style="text-align: left;">size:
				XXS (2/3)
				</span>
				
				
				
				<span class="sku-color" style="text-align: left;">
					<!-- mp_trans_schedule_disable_start -->OPTIC WHT<!-- mp_trans_schedule_disable_end -->
				</span>
				 
				
				<span class="sku-quantity" style="text-align: left;">quantity: 2</span>
				
				
				<br />
			</div>
			<div class="sku-price" id="WC_OrderItemDetails_td_4_7" headers="SingleShipment_tableCell_totalPrice SingleShipment_rowHeader_product7">
					
								
			<span class='former-price'> $21.90 </span>
				
				<br>
			 
				<span class="sale-price">$17.52</span>
				<script>
	
	// Moved initialization to InitializeProductTealium.jspf
	
	productObj.product_id.push("28695");
	
	productObj.product_upc.push("00408802821845");
	productObj.product_sku.push("1069515_O8");
	
	productObj.product_name.push("briefs 3-pack");
	productObj.product_price.push('10.95');
	productObj.product_quantity.push("2");
	
	
	productObj.product_image_url.push("//"+window.location.host+"/wcsstore/GlobalSAS/images/tcp/products/900/1069515_O8.jpg");
	
	var product_discount_amount = '-4.38';
	if (product_discount_amount !== null && product_discount_amount !== undefined) {
		if (product_discount_amount.indexOf('-') !== -1) {
			product_discount_amount = product_discount_amount.split('-')[1]; 
		}
	}
	var discount_amount_float = (product_discount_amount / 2);
	productObj.product_discount_amount.push(discount_amount_float.toFixed(6).toString());
	
	
	var product_url = "http://tcp-perf.childrensplace.com/shop/ca/p/briefs-3-pack-1069515-O8";
	if (product_url.indexOf('http:') !== -1){
    	product_url = product_url.substring(5, product_url.length);
    } else if (product_url.indexOf('https:') !== -1){
    	product_url = product_url.substring(6, product_url.length);
    }
	productObj.product_url.push(product_url);
	
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(productObj));
	
</script>
			</div>
		</div>
		
	<input type="hidden" id = "totalNumberOfItems" name="totalNumberOfItems" value='7'/>
	
	<input type="hidden" value="" id="addressId_all" name="addressId_all"/>
	<input type="hidden" value="900101" id="shipModeId_all" name="shipModeId_all"/>

 </div>
<!-- END TCPOrderItemDetails.jsp -->