<!-- BEGIN TCPSKUSelection.jsp -->
<input type="hidden" name="comment" value="450962"/>


<script type="text/javascript">
 
 //in for

//in fif 1
var entitledItem_450962 =

								[
									
//CatalogNavigationViewType is needed to get item level SKU. 
/* This is commented to address perf issue
*/

										{
											"catentry_id" : "454330",
											"item_sku" : "00431685807903",
											"qty" : "999469",
											"Attributes" :	{
												
														"Size_4-7":"1"
														
												}
											},	
//CatalogNavigationViewType is needed to get item level SKU. 
/* This is commented to address perf issue
*/
	
//CatalogNavigationViewType is needed to get item level SKU. 
/* This is commented to address perf issue
*/
	
//CatalogNavigationViewType is needed to get item level SKU. 
/* This is commented to address perf issue
*/

								]
					
		//done here					
</script>


















 			
														
														<div class="sizes section-block">
														<!--<form >	
													<select class="uniformItems" name="select_TCPSize" id="select_TCPSize"  onChange='JavaScript:'>
													-->
													<ul name="select_TCPSize" id="select_TCPSize" >
													<!-- Quickview check : TCPSize -->
														<p>
															Select a Size:
												  				<span id="error_Size" class="product-selection-error" style="display:none"><span class="off-screen">Error: </span>Error: Please select a size.</span>
												  				<span id="error_outofstock" class="product-selection-error" style="display:none"><span class="off-screen">Error: </span>Error: We're sorry, this item is out of stock.</span>
												  				
															
														</p>
													<!-- Quickview check : TCPSize --><!-- </select>
												  	</form>
												  -->	
												  	
													
														<p class="size-chart">
															<a href="#" onclick="javascript:void window.open('http://tcp-perf.childrensplace.com/wcsstore/GlobalSAS/html/size-charts.html','size','width=725,height=500,toolbar=0,menubar=0,location=0,status=0,scrollbars=1,resizable=1,left=0,top=0');return false;">
															Size Chart</a>
														</p>
													
													</div>											
												
				 
				 <div class="quantity section-block">
				 	 
				 	 <label class="off-screen" for="quantity">Quantity:</label>
                 	 <select name="quantity" id="quantity">
		                  <option value="1">Quantity: 1</option>
		                  <option value="2">Quantity: 2</option>
		                  <option value="3">Quantity: 3</option>
		                  <option value="4">Quantity: 4</option>
		                  <option value="5">Quantity: 5</option>
		                  <option value="6">Quantity: 6</option>
		                  <option value="7">Quantity: 7</option>
		                  <option value="8">Quantity: 8</option>
		                  <option value="9">Quantity: 9</option>
		                  <option value="10">Quantity: 10</option>
		                  <option value="11">Quantity: 11</option>
		                  <option value="12">Quantity: 12</option>
		                  <option value="13">Quantity: 13</option>
		                  <option value="14">Quantity: 14</option>
		                  <option value="15">Quantity: 15</option> 
	                  </select>
	                  <button  id="add_to_bag" class="product-page" onclick="javascript:setCurrentIdCustom('add_to_bag');" >
	                  	ADD TO BAG
	                  </button>
					                     
                 </div>
            
            	 <div id="error_outOfStock" class="product-selection-error" style="display:none"><span class="off-screen">Error: </span>Item out of stock</div>                                  
                                              
                 <!-- style the select box --> 
<script type="text/javascript">

$(document).on("keydown", "#quantity", function(e) {
	if(e.keyCode === 9)
	{ 
		$("#add_to_bag").focus(); 
	}

});

isQuickView = $('#product-quickview').length;
isProductPage = $('#product-detail-wrapper').length;
if( isQuickView > 0 && isProductPage > 0){ 
	hierarchy = "#product-quickview "; }
else{ 
	hierarchy = ''; }
var outOfStock='N';
var array = [];
var array_size = [];
//this function for remove all the fit attribute without inventory
function TCPFitFilter(){
	var entitled_items = entitledItem_450962;
	var array = [];
	for(x in entitled_items){
			var Attributes = entitled_items[x].Attributes;
			var qty = entitled_items[x].qty;			
			if(qty  > 0){
				for(y in Attributes){
					if(y.indexOf('')== 0){
						var flag = false;
						for(z in array){
							if(array[z] == y){
								flag = true;
							}							
						}
						if(!flag){
						// collect all the fit attribute value which are with inventory
						var value = y.substring(y.indexOf('_')+1,y.length);
						array.push(value);
						}
					}
				}
				
			}
	}
	
	       $('#select_TCPFit option').each(function() {
	       // remove the options which are without inventory
         var flag = false;
          for(i in array){
          	if(array[i] == $(this).val()){
          		flag = true;
          	}
          }
          if(!flag){
          	$(this).remove();
          }
        }); 
	
	
	
 } 

function setSelectSize(id){
	
	if($('#'+id).parent('li').attr('class') == 'out-of-stock')
		return;
	
}

function fetchSizeList(qty,y){

	// y is size attribute value
	var sizeflag = false;
	var flag = false;
	//build array for all sizes available for a fit.
	for(j in array_size){
		if(array_size[j] == y){
			sizeflag = true;
		}							
	}
	if(!sizeflag){
		
		array_size.push(y);
	}	 
	//build array for item sizes which has qty >0 
	if( qty > 0 ){
		
		size = y.substring(y.indexOf('_')+1);
		
		for(i in array){
			if(array[i] == y){
				flag = true;
			}							
		}
		if(!flag){
			
			array.push(y);
		}
	}
	
	

}

function setSelectOptions(attrName,value){
	
	array = [];
	array_size = [];
	
	$('#error_outofstock').hide();
	
	
 		$(hierarchy+'#select_TCPSize').find('li').each(function(){
			$(this).remove();
 		});
		
	
	if(attrName == 'Size')
	{
		$(hierarchy+'#select_TCPSize').find('li').each(function(){
			$(this).addClass('out-of-stock');
 		});

	}		
	var attrString = attrName+'_'+value;
	var entitled_items = entitledItem_450962;
  	
  	var removesizes = true;
	for(x in entitled_items){
			var catentry_id = entitled_items[x].catentry_id;
			var Attributes = entitled_items[x].Attributes;
			var qty = entitled_items[x].qty;
			 if(attrName == ''){
			 	
			 		
				if(attrString in Attributes){
					for(y in Attributes){
						if(attrString!=y){
							
							fetchSizeList(qty,y);
							
						}
					}
				}
			 }else if (attrName == 'Size'){
 				if(qty >= 0){
 					for(y in Attributes){
						if(y.indexOf(attrString) >= 0){
							fetchSizeList(qty,y);
						}
					}
 				}
 
 			}
 					
   		}


    	var sizeVal= $('#previous_size').attr('value'); 
  		
  		//array_size is a list of valid sizes without inventory consideration
  		for(z in array_size){
  			size = array_size[z].substring(array_size[z].indexOf('_')+1);
  			
  			if($(hierarchy+'#select_TCPSize p').siblings('li').length > 0)
  				$(hierarchy+'#select_TCPSize').find('li').last().after("<li class='out-of-stock'><a id='"+array_size[z]+"'" +"onclick='JavaScript:;'>"+size+"</a></li>");	
  			else	
  				$(hierarchy+'#select_TCPSize p:first-child').after("<li class='out-of-stock'><a id='"+array_size[z]+"'" +"onclick='JavaScript:;'>"+size+"</a></li>");
  		
  		}
  		
		//array variable contains a list of sizes with inventory									
       	for(z in array){
       		var selected = '';
    		var attr_array =  array[z].split('_');
    		if(sizeVal == array[z] || (array.length ==1&& $.trim((array[0].split('_'))[1]).toUpperCase()=='NO SIZE')){
    			//selected = " selected='selected' ";
    			if(hierarchy == ''){
	    			$("[id='"+array[z]+"']").parent('li').addClass('selected');
	    			$("[id='"+array[z]+"']").parent('li').removeClass('out-of-stock');
	    			$("[id='"+array[z]+"']").parent('li').attr('tabindex','0');
	    		}
	    		else{
	    			$('#product-quickview').find("a[id='"+array[z]+"']").parent('li').addClass('selected');
	    			$('#product-quickview').find("a[id='"+array[z]+"']").parent('li').removeClass('out-of-stock');
	    			$('#product-quickview').find("a[id='"+array[z]+"']").parent('li').attr('tabindex','0');
	    		}
    		}
    		else{
    			
    			//$('#'+sizeVal).parent('li').removeClass('selected');
	    		if(array.length >0){
	   				//outOfStock='Y';
	   				//$('.sizes').children('ul').children('li').each(function(){$(this).attr('class','out-of-stock')});
		    		if(hierarchy == ''){	
		    			$("[id='"+array[z]+"']").parent('li').removeClass('out-of-stock');
		    			$("[id='"+array[z]+"']").parent('li').attr('tabindex','0');
		    		}
		    		else{
		    			$('#product-quickview').find("a[id='"+array[z]+"']").parent('li').removeClass('out-of-stock');
		    			$('#product-quickview').find("a[id='"+array[z]+"']").parent('li').attr('tabindex','0');
		    		}
		    				    		
	    		}
    		}
    		
   		}
   		//no sizes with inventory show the message
   		if(array.length == 0)
   			$('#error_outofstock').show();
   		
   		attachSizeHandlers();
   		
   
}
</script>


<script type="text/javascript" charset="utf-8">
    
	isQuickView = $('#product-quickview').length;
	isProductPage = $('#product-detail-wrapper').length;
	if( isQuickView > 0 && isProductPage > 0){ 
		hierarchy = "#product-quickview "; }
	else{ 
		hierarchy = ''; }
	function attachSizeHandlers(){
	    $('.sizes ul li').on('click', function(e){ 
	    	
	    	e.preventDefault(); 
	    	if($(this).closest('li').attr('class') == 'out-of-stock'){
	    		return;
			}
	    	$(this).closest('li').addClass('selected').siblings().removeClass('selected');
	    	$('#previous_size').attr('value',$(this).closest('li').find('a').attr('id')); 
	    		
	    });
	    $('.sizes ul li').on('keypress', function(e){ 
	    	if(e.keyCode == 13 || e.keyCode==32){
		    	e.preventDefault(); 
		    	if($(this).closest('li').attr('class') == 'out-of-stock')
					return;
		    	$(this).closest('li').addClass('selected').siblings().removeClass('selected'); 
	    	}
	    });
	
	    $('.product-thumbnails').find('a').on('click', function(e){
	    
	    	e.preventDefault(); 
	   		$(this).siblings().children('img').removeClass('selected');
	   		$(this).children('img').addClass('selected'); 
	    });
     }    
    
    
    $('.fit ul li').on('click', function(e){ e.preventDefault(); 
		
    	$(this).closest('li').addClass('selected').siblings().removeClass('selected');
    	var selectedfit = $('#select_TCPFit').find('.selected').children('a').attr('id') || '';
    	$('#previous_fit').attr('value',$(this).closest('li').find('a').attr('id')); 
    	setSelectOptions('',selectedfit);
    	//attachSizeHandlers(); 
    	
     }); 
	$('.fit ul li').on('keypress', function(e){ 
		if(e.keyCode == 13 || e.keyCode==32){
			e.preventDefault(); 
	    	$(this).closest('li').addClass('selected').siblings().removeClass('selected');
	    	var selectedfit = $('#select_TCPFit').find('.selected').children('a').attr('id') || '';
	    	setSelectOptions('',selectedfit);
	    	attachSizeHandlers(); 
    	}
     }); 
    
	$(function(){
		
		
		 if($('.social').length == 0){
		 	$('.size-chart').remove();		 
		 }        		
		
		 		 var selectedsize = $(hierarchy+'#select_TCPSize').find('.selected').children('a').attr('id') || '';
		 		 setSelectOptions('Size',selectedsize);
		        
       //errorMessageHandler();
    });
      
    
    </script>
	<script type="text/javascript">
			isQuickView = $('#product-quickview').length;
			isProductPage = $('#product-detail-wrapper').length;
			if( isQuickView > 0 && isProductPage > 0){ 
				hierarchy = "#product-quickview "; }
			else{ 
				hierarchy = ''; }
			attachInventoryFlag('product_450962');				 
			
			function setCurrentIdCustom(id){
				var elementOutOfStock = document.getElementById('error_outOfStock');
				if(outOfStock == 'Y'){
					elementOutOfStock.style.display = 'block';
			  	}
			  	else{
					//element.style.display = 'none';
			  		setCurrentId(id);
				 	
				 	 var size = $(hierarchy+'#select_TCPSize').find('.selected').children('a').html();
				 	 if(size != '' && size != null )
				 	 	size = size.trim();
				     categoryDisplayJS.setSelectedAttribute('Size',size);
				                                           
				    webOnly = productDetails['product_450962'].TCPWebOnlyFlag || 0;
			  		categoryDisplayJS.Add2ShopCartAjax(entitledItem_450962,document.getElementById('quantity').value, false, TCP.Tealium.Legacy.doGetCustomParams() , 450962,webOnly);
			  	}	
			  	
			}			
	</script>
				 
				 
				<!-- END TCPSKUSelection.jsp -->