.page-error {
  line-height: 1.5em;
}

.myplace-wrapper {
  font-size:.75em;
  padding:1em;
}

#loyalty-wrapper {
  margin: 2% auto;
  overflow: hidden;
  position: relative;
}

.dj_ie #loyalty-wrapper {
  
  max-height:1000px;
  max-width:1000px;
} 

@media screen and (max-width: 1399px) {#loyalty-wrapper {width: 800px;};
}

@media screen and (min-width: 1400px) {#loyalty-wrapper {width: 1000px;};
}

.login-container, .create-account-container{
  margin-bottom: 20px;
}

.login-title, .create-account-title{
  font-family: "AvenirHeavy";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  color: black;
  margin: 0 0 1%;
}

.login-subtitle, .create-account-subtitle{
  font-size: 14px;
  margin-bottom: 5px;
  color: black;
}

/*.login-subtitle:after{
  content: ".";
  color: black;
}*/

.login-subtitle span, .create-account-subtitle span{
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-family: "AvenirHeavy";
}

.left-col-loyalty {
  float: left;
  width: 47%;
  border-right: 1px solid #ccc;
  padding-right: 2%;
  color:#666666;
}

.right-col-loyalty {
  width: 50%;
  float: right;
  text-align:center;
  position: relative;
  left: 8px;
}

#WC_ContentAreaESpot_div_1_67654, #WC_ContentAreaESpot_div_1_67657{
  display: none;
}

#email_terms_mobile_capture{
  text-align:center;
  overflow: hidden;
}

.disclaimer_container {
  padding-left: 34px;
  display: block;
  margin: 0 0 20px 0;
}

.disclaimer_container p {
	font-weight:bold;
	display:block;
}

.signup-optin input[type="checkbox"] {
    width: 18px;
    height: 18px;
    position: relative;
    margin: 0;
    top: 0;
    float: left;
}

.left-col-loyalty img  {
  width: 80%;
}

.right-col-loyalty img {max-width: 100%;}

.no-border {border:none;}
.add-border-left {border-left: 1px solid #ccc;}
.add-border-right {border-right: 1px solid #ccc;}

/* #Tabs (activate in tabs.js) 
================================================== */
ul {
  list-style-type: none;
}

.login-tabs {
  float: left;
  width: 99%;
  margin: 1.25em 0 0 0;
}

ul.tabs {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #ddd;
}

ul.tabs li {
  display: block;
  width: auto;
  height: 40px;
  padding: 0;
  float: left;
  margin-bottom: 0;
}
ul.tabs .ui-state-default { border: none; }
#loyalty-wrapper ul.tabs li a {
  display: block;
  text-decoration: none;
  width: auto;
  height: 39px;
  line-height: 40px;
  border: solid 1px #ddd;
  border-width: 1px 1px 0 0;
  margin: 0;
  background: #f1f1f1;
  font-size: 1.25em;
  color: #0066A4;
  outline:none;
}

@media screen and (max-width: 1399px) {
  ul.tabs li a {
    padding: 0px 15px;
  };
}

@media screen and (min-width: 1400px) {
  ul.tabs li a {
    padding: 0px 25px;
  };
}

.lt-ie9 ul.tabs li a {
  padding: 0px 15px;
  
}

#loyalty-wrapper ul.tabs li.ui-state-active a {
  background: #fff;
  width: auto;
  height: 45px;
  position: relative;
  top: -9px;
  padding: 4px 25px 0;
  border-left-width: 1px;
  margin: 0 0 0 -1px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

.lt-ie9 #loyalty-wrapper ul.tabs li a.active {
  background: #fff;
  width: auto;
  height: 45px;
  position: relative;
  top: -9px;
  padding: 4px 20px 0;
  border-left-width: 1px;
  margin: 0 0 0 -1px;
  color: #00a4e4;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

#loyalty-wrapper ul.tabs li.ui-state-active:first-child a {
  margin-left: 0;
}

#loyalty-wrapper ul.tabs li:first-child a {
  border-width: 1px 1px 0 1px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  
}

#loyalty-wrapper ul.tabs-content > li.ui-tabs-hide { position: absolute; left: -99999px; }
#loyalty-wrapper ul.tabs li:last-child a {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

ul.tabs-content {
  margin: 0;
  padding: 1em 1.5em;
  display: block;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  background-color: #fff;
}

ul.tabs-content > li {
  padding: 10px 5px 15px;
  
}

ul.tabs-content > li.active {
  display: block;
}

.tabs-content img{
  margin: 1em 0;
}

/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

ul.tabs:after {
  clear: both;
}

ul.tabs {
  zoom: 1;
}

.tabs-content > a:link, .tabs-content > a:visited, .tabs-content > a:active {
  text-decoration: underline;
  color: #00A4E4;
}

.tabs-content > a:hover {
  text-decoration: underline;
}

/* Login Tab
================================================== */
#login-page {
  font-size: 0.75em;
  margin: 2em auto 5em auto;
  overflow: hidden;
  position: relative;
}

.login-tabs .login {
  float: left;
  width: 80%;
}

.login-no-account {
  clear: both;
  margin-top: 1.75em;
  border-top: 1px solid #ccc;
  padding-top: 1.75em;
  float: left;
  width: 100%;
}

.login-no-account span {
  color: #E8098C;
  display: block;
  font-weight: bold;
  margin-bottom: 0.25em;
  font-size: 1.25em;
}

.login-no-account div.activate-account-left, .login-no-account div.activate-account-right {
  float: left;
  width: 100%;
}

.login-no-account div.activate-account-left {
  margin-bottom: 1.5em;
}

@media screen and (max-width: 1399px) {
  .right-col-loyalty img.enroll-mpr-banner {width:85%;}
}

@media screen and (min-width: 1400px) {
.right-col-loyalty img.enroll-mpr-banner {width:70%;}
}


@media screen and (max-width: 768px) {
.myplace-wrapper .right-col-login{display: none;}
.myplace-wrapper .left-col-login{width: 50%; padding-right: 3%;}
.myplace-wrapper .center-col-login{width: 40%; padding: 0 3% 0; border-right: none;}
.right-col-loyalty img.enroll-mpr-banner {width:85%;}
}

/* Account Creation Success page
================================================== */
#loyalty-wrapper h1, .myplace-wrapper h1, .left-col-loyalty h1 {
	font-size: 2em;
	font-family: Arial,sans-serif;
	margin: 1em 0 .5em 0;
	font-weight: normal;
}

.left-col-loyalty p {
	line-height:1.5em;
	margin:0 0 1.5em 0;
}

.margin-left {
	margin:0 0 0 .75em;
}

ul.mpr-benefits {margin:2em 0; font-size:1.25em;}
ul.mpr-benefits li {list-style-type:disc; margin:1em .25em 1em .25em;}

.canada p {font-size:1.2em; margin-bottom:1em;color:#666666;}

@media screen and (max-width: 1399px) {
.right-col-loyalty img.mpr-logo-US {width:225px;}
.right-col-loyalty img.air-miles {width:250px;}
}

@media screen and (min-width: 1400px) {
.right-col-loyalty img.mpr-logo-US {width:250px;}
.right-col-loyalty img.air-miles {width:300px;}
}

@media screen and (max-width: 768px) {
.right-col-loyalty img.mpr-logo-US {width:175px;}
.right-col-loyalty img.air-miles {width:250px;}
}

#verify-account {
	margin: 1em auto;
	overflow: hidden;
	width: 95%;}
	
#verify-account .left-col-loyalty {
  width: 55%;}

#verify-account .right-col-loyalty {
  width: 42%;}
	
/* Forgot and Reset Password pages
================================================== */
#center-content {
	font-size: .75em;
	margin: 2em auto 4em auto;
	overflow: hidden;
	position: relative;
	width:40%;
}

@media screen and (max-width: 768px) {
#center-content {
	width:51%;
}
}

#reset-password {
	text-align:left;}

#reset-password p {
	line-height:1.5em;
	margin:0 0 1.5em 0;
	font-size:1.2em;
}

#reset-password input {
	max-width: 100%;
	outline: 0 none;
	width: 65%;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	height: 20px;
	margin: 0 1em 0 0;
	padding: 5px 3px;
	border-radius: 5px 5px 5px 5px;
	float: left;
}

#reset-password label {
	width:100%;
	margin: 5px 0;
}

.forgot-pwd {margin:1em 0;}
.forgot-pwd a {text-decoration:underline;}

/* Log In page for checkout flow
================================================== */
#loyalty-wrapper-login {
  margin: 2% auto;
  overflow: hidden;
  position: relative;
  display: table;
}

.dj_ie #loyalty-wrapper-login {
  
  max-height:1000px;
  max-width:1000px;
} 

.left-col-login, .center-col-login, .right-col-login {
  float:left;
  vertical-align: top;
  width:30%;
}

.center-col-login img, .right-col-login img {
  width: 100%;
}

@media screen and (max-width: 1399px) {
  .left-col-login {
    padding: 0 1% 0 0;
  }

  .center-col-login {
    padding: 0 2em 0 2em;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
  }

  .right-col-login {
    padding-left: 3%;
  };
}

@media screen and (min-width: 1400px) {
  .left-col-login {
    padding: 0 2em 0 0;
  }

  .center-col-login {
    padding: 0 2em 0 2.75em;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
  }

  .right-col-login {
    padding-left: 2.75em;
  };
}

.lt-ie9 .left-col-login, .lt-ie8 .left-col-login {
  padding: 2em 3% 0 0;
  width: 30%;
}

.lt-ie9 .center-col-login, .lt-ie8 .center-col-login {
  padding: 0 3% 0;
  width: 37%;
}

.lt-ie9 .center-col-login form, .lt-ie8 .center-col-login form {
  width: 83%;
}

.lt-ie9 .right-col-login, .lt-ie8 .right-col-login {
  width: 92%;
  text-align: right;
}

.right-col-login {
  min-height: 184px;
}

.center-col-login p {
  line-height: 18px;
}

 .center-col-login h2, .forgot-password h2 {
  font-family: "AvenirMedium", arial,sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 2%;
  text-transform: capitalize;
}
.left-col-login h2 {
	font-family: "AvenirHeavy";
	font-size: 1.50em;
    margin: 0 0 1%;
	text-transform: uppercase;
	font-weight: bolder;
}

.tabs-content input, .login input#logonId1, input#logonPassword1 {
  max-width: 100%;
  outline: 0 none;
  width: 95%;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  height: 18px;
  margin: 5px 0 5px 0;
  padding: 5px 3px;
}

input.error-message, #reset-password input.error-message {
  border: 1px solid #cc0000;
}

input[type="checkbox"] {
  width: auto;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.login .password-info {
	font-size: 12px;
    display: inline-block;
    margin: 10px 0;
    line-height: 16px;
}
	
.password-info input[type="checkbox"] {
	width: 18px;
	height:18px;
	margin: 0 5px 0 0;
	padding: 0;
	max-width:none;
	border:0;
	outline:0;
}

.fieldset {
  display: block;
  width: 100%;
}

.fieldset, .login .fieldset, .login-page-noaccount, .activate-account {
  margin: 0 3% 2% 0;
  clear: both;
  float: left;
}

.login-submit {
  clear: both;
  float: left;
}

.login-submit.create-account-button{
 float: right;
}

.signup-optin {
  margin: 0 0 .9375em 0;
  line-height: 1.5em;
  width: 93%;
  float: left;
}

.login .row  {
  overflow: hidden;
  width: 100%;
  clear: both;
  margin: 1.75em 0 1em 0;
}

.tabs-content .row {
	overflow: hidden;
	width: 100%;
	clear: both;
	margin: 0 0 1em 0;
}
.login .row {
  margin-top: -5px;
}

.login .row p {
  font-size: 14px;
  margin-bottom: 5px;
}

.login .row p:first-child{
  margin-top: 12px;
}

.login .row p span {
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-family: "AvenirHeavy";
}

.top {
  margin-top: 15px;
}

.fieldset-twoCol {
  display: block;
  width: 45%;
  float: left;
  margin: 0 3% 0 0;
}

.fieldset-threeCol {
  display: block;
  width: 30%;
  float: left;
  margin: 0 3% 2% 0;
}

.field {
  font-weight: bold;
  height: 15px;
  line-height: 15px;
  margin: 0;
  display: block;
  float: left;
}

.label-error {
  color: #C00;
  padding: 2px 0;
  display: block;
}

.label-right {
  display: inline;
  float: right;
  font-weight: normal;
  height: 15px;
  line-height: 15px;
  text-align: right;
  margin-right: 3%;
}

.label-right a, .login-noaccount a, #espot-tab-link {text-decoration: underline;}

.secondary-link {
  float: left;
  height: 25px;
  line-height: 25px;
  text-decoration: underline;
  vertical-align: middle;
  display: table-cell;
}

.login-page-noaccount {
  line-height: 16px;
  text-align: left;
}

.additional-info {
  clear: both;
  float: left;
  font-size: 11px;
  margin: .5em 0 0 .25em;
  padding: 0;
  width: 95%;
}

.tcp-address {
  clear: both;
  margin: 2em 0 1.5em 0;
}

.register-mobile-banner {display:none;}

#termsCheck{ 	  	 	
  padding: 0px;	
  border: none; 
  float:left;
} 

.password-wrapper{
  font-size: 1em;
}

/* 2 column login page */
.login-2col {
  	margin: 50px auto 0;
    overflow: hidden;
    position: relative;
    display: table;
}

@media screen and (max-width: 1399px) {
.login-2col {width:85%;}
}

@media screen and (min-width: 1400px) {
.login-2col {width:75%;}
}

@media screen and (max-width: 768px) {
.login-2col {width:95%;}
}

.left-col-login-2col,  .right-col-login-2col {
	float:left;
	vertical-align:top;}

.left-col-login-2col {
	float: left;
    width: 40%;
    margin-right: 5%;}

.right-col-login-2col {width:47%;}

.left-col-login-2col img, .right-col-login-2col img {
  width: 100%;
}

.forgot-password {
	clear: both;
    float: left;
	margin-top:10px;
	font-weight:bold;
	font-size:13px;}
	
#demographicField3{ 	  	 	
  padding: 0px;	
  border: none; 
float:left;
 
} 
#rememberMe{  
 padding: 0px;	
  border: none; 
float:left;
}

.login-submit .button-blue {
  padding: 9px 10px 10px 10px;
  background-color: #333;
  box-sizing:border-box;
}

.login-submit .button-blue:hover {
  padding: 9px 10px 10px 10px;
  background-color: #666;
}

#loyalty-wrapper ul.tabs li:last-child a,
#loyalty-wrapper ul.tabs li:first-child a {
  color: #333;
}

/*mobile specific */
.skTcpPageWrap .mpr-info-banner {display:none;} 
.skTcpPageWrap .account-access {display:none;}
.skTcpPageWrap .left-col-login .row {display:none;}  
/*.sk_tcpLoginPage .password-info {display:none!important;}*/  
.skTcpPageWrap .left-col-login h2, .myPlace  {font: normal 18px "AvenirMedium", arial,sans-serif!important; color:#333!important;}
.sk_tcpLoginPage .row .fieldset .field {
    color: #333!important;
    text-transform: uppercase;
    font: 14px "AvenirBook", arial, sans-serif!important;
}
.sk_tcpLoginPage #loyalty-wrapper-login .left-col-login .login {padding-bottom: 25px!important;}
.sk_tcpLoginPage .login-submit a, .sk_tcpLoginPage #loyalty-wrapper .left-col-loyalty .login-no-account .ad a {
	background-color: #333!important;
    height: 50px!important;
    font: normal 16px/50px "AvenirMedium", arial, sans-serif!important;
	padding: 0!important;
}

.sk_tcpLoginPage .label-right a {color: #333!important;}
.skTcpPageWrap p, .skTcpPageWrap a  {font-family: "AvenirMedium", arial, sans-serif!important;}
.skTcpPageWrap p {font-size:14px!important;}
.sk_tcpLoginPage .login-no-account .ad span {font: normal 18px "AvenirMedium", arial,sans-serif!important;}
