/*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
/*
  Icon Font: fontcustom
*/
@font-face {
  font-family: "font-icons";
  src: url("icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.eot");
  src: url("icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.eot?#iefix") format("embedded-opentype"), url("icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.woff") format("woff"), url("icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.ttf") format("truetype"), url("icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "font-icons";
    src: url("icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.svg#fontcustom") format("svg");
  }
}
[data-icon]:before {
  content: attr(data-icon);
}

[data-icon]:before,
.icon-checkbox-checked:before,
.icon-checkbox-unchecked:before,
.icon-checkmark:before,
.my-wishlist .transaction-messaging.success:before,
.root-product-quick-view .product-quick-view .my-wishlist .transaction-messaging.success:before,
.icon-close:before,
.icon-close-round:before,
.my-wishlist .modal a.close:before,
.root-product-quick-view .product-quick-view .my-wishlist .modal a.close:before,
.icon-cog:before,
.icon-confused:before,
.icon-envelop:before,
.icon-facebook:before,
.icon-heart:before,
.my-wishlist .add-to-wishlist .add-to-default-wishlist:before,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist:before,
.icon-info:before,
.icon-link:before,
.icon-map-pin:before,
.icon-marker:before,
.icon-pencil:before {
  display: inline-block;
  font-family: "font-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-checkbox-checked:before {
  content: "\f100";
}

.icon-checkbox-unchecked:before {
  content: "\f101";
}

.icon-checkmark:before, .my-wishlist .transaction-messaging.success:before,
.root-product-quick-view .product-quick-view .my-wishlist .transaction-messaging.success:before {
  content: "\f102";
}

.icon-close:before {
  content: "\f103";
}

.icon-close-round:before, .my-wishlist .modal a.close:before,
.root-product-quick-view .product-quick-view .my-wishlist .modal a.close:before {
  content: "\f10c";
}

.icon-cog:before {
  content: "\f104";
}

.icon-confused:before {
  content: "\f105";
}

.icon-envelop:before {
  content: "\f106";
}

.icon-facebook:before {
  content: "\f107";
}

.icon-heart:before, .my-wishlist .add-to-wishlist .add-to-default-wishlist:before,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist:before {
  content: "\f108";
}

.icon-info:before {
  content: "\f109";
}

.icon-link:before {
  content: "\f10a";
}

.icon-map-pin:before {
  content: "\f10e";
}

.icon-marker:before {
  content: "\f10b";
}

.icon-pencil:before {
  content: "\f10d";
}

/* Avenir */
@font-face {
  font-family: 'AvenirBook';
  src: url("fonts/AvenirLTStd-Book.eot");
  src: url("fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Book.woff") format("woff"), url("fonts/AvenirLTStd-Book.ttf") format("truetype"), url("fonts/AvenirLTStd-Book.svg#AvenirBook") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirMedium';
  src: url("fonts/AvenirLTStd-Medium.eot");
  src: url("fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Medium.woff") format("woff"), url("fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("fonts/AvenirLTStd-Medium.svg#AvenirMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirHeavy';
  src: url("fonts/AvenirLTStd-Heavy.eot");
  src: url("fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Heavy.woff") format("woff"), url("fonts/AvenirLTStd-Heavy.ttf") format("truetype"), url("fonts/AvenirLTStd-Heavy.svg#AvenirHeavy") format("svg");
  font-weight: normal;
  font-style: normal;
}
div.error.wl {
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #C60E0E;
  display: none;
  width: 100%;
  height: 25px;
  margin: auto;
  padding: 5px;
  color: #FFF;
  text-align: center;
  text-transform: initial;
}

.transaction-messaging.error,
.result.inline-error,
div.inline-error {
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  display: none;
  min-height: 25px;
  margin: 5px 0;
  color: #C60E0E;
  text-align: left;
  text-transform: initial;
  font-size: 12px;
  background-color: #FFF;
  padding-bottom: 5px;
}

.my-wishlist,
.root-product-quick-view .product-quick-view .my-wishlist {
  /*  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
  /*
  .focus,
  a:focus, 
  input:focus, 
  [tabindex]:focus {
    outline: #0000FF dotted 1px;
  }
  */
  /*
    Icon Font: fontcustom
  */
  /* Avenir */
  /* esto deberia ser un mixing para relajar cierta funcionalidad */
  display: none;
  margin-top: -41px;
}
.my-wishlist input[type=number],
.root-product-quick-view .product-quick-view .my-wishlist input[type=number] {
  -moz-appearance: textfield;
}
.my-wishlist input[type=number]::-webkit-inner-spin-button,
.my-wishlist input[type=number]::-webkit-outer-spin-button,
.root-product-quick-view .product-quick-view .my-wishlist input[type=number]::-webkit-inner-spin-button,
.root-product-quick-view .product-quick-view .my-wishlist input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.my-wishlist input::-ms-clear,
.root-product-quick-view .product-quick-view .my-wishlist input::-ms-clear {
  display: none;
}
.my-wishlist input:-webkit-autofill,
.my-wishlist textarea:-webkit-autofill,
.root-product-quick-view .product-quick-view .my-wishlist input:-webkit-autofill,
.root-product-quick-view .product-quick-view .my-wishlist textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.my-wishlist form,
.root-product-quick-view .product-quick-view .my-wishlist form {
  padding-bottom: 10px;
}
.my-wishlist form legend,
.root-product-quick-view .product-quick-view .my-wishlist form legend {
  font-family: "AvenirBook";
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  color: #666;
  text-transform: uppercase;
}
.my-wishlist form label,
.root-product-quick-view .product-quick-view .my-wishlist form label {
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  color: #666;
}
.my-wishlist form fieldset,
.root-product-quick-view .product-quick-view .my-wishlist form fieldset {
  padding-top: 5px;
}
.my-wishlist form .input,
.my-wishlist form .textarea,
.my-wishlist form input[type=text],
.my-wishlist form input[type=number],
.my-wishlist form input[type=tel],
.my-wishlist form input[type=password],
.my-wishlist form input[type=color],
.my-wishlist form input[type=date],
.my-wishlist form input[type=datetime],
.my-wishlist form input[type=email],
.my-wishlist form input[type=file],
.my-wishlist form input[type=search],
.my-wishlist form input[type=time],
.my-wishlist form input[type=url],
.my-wishlist form input[type=week],
.my-wishlist form textarea,
.root-product-quick-view .product-quick-view .my-wishlist form .input,
.root-product-quick-view .product-quick-view .my-wishlist form .textarea,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=text],
.root-product-quick-view .product-quick-view .my-wishlist form input[type=number],
.root-product-quick-view .product-quick-view .my-wishlist form input[type=tel],
.root-product-quick-view .product-quick-view .my-wishlist form input[type=password],
.root-product-quick-view .product-quick-view .my-wishlist form input[type=color],
.root-product-quick-view .product-quick-view .my-wishlist form input[type=date],
.root-product-quick-view .product-quick-view .my-wishlist form input[type=datetime],
.root-product-quick-view .product-quick-view .my-wishlist form input[type=email],
.root-product-quick-view .product-quick-view .my-wishlist form input[type=file],
.root-product-quick-view .product-quick-view .my-wishlist form input[type=search],
.root-product-quick-view .product-quick-view .my-wishlist form input[type=time],
.root-product-quick-view .product-quick-view .my-wishlist form input[type=url],
.root-product-quick-view .product-quick-view .my-wishlist form input[type=week],
.root-product-quick-view .product-quick-view .my-wishlist form textarea {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  margin: 0;
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #666;
  border: 1px solid #d6d6d6;
  -webkit-appearance: none;
  -webkit-user-select: auto;
}
.my-wishlist form .input:focus, .my-wishlist form .input.focus,
.my-wishlist form .textarea:focus,
.my-wishlist form .textarea.focus,
.my-wishlist form input[type=text]:focus,
.my-wishlist form input[type=text].focus,
.my-wishlist form input[type=number]:focus,
.my-wishlist form input[type=number].focus,
.my-wishlist form input[type=tel]:focus,
.my-wishlist form input[type=tel].focus,
.my-wishlist form input[type=password]:focus,
.my-wishlist form input[type=password].focus,
.my-wishlist form input[type=color]:focus,
.my-wishlist form input[type=color].focus,
.my-wishlist form input[type=date]:focus,
.my-wishlist form input[type=date].focus,
.my-wishlist form input[type=datetime]:focus,
.my-wishlist form input[type=datetime].focus,
.my-wishlist form input[type=email]:focus,
.my-wishlist form input[type=email].focus,
.my-wishlist form input[type=file]:focus,
.my-wishlist form input[type=file].focus,
.my-wishlist form input[type=search]:focus,
.my-wishlist form input[type=search].focus,
.my-wishlist form input[type=time]:focus,
.my-wishlist form input[type=time].focus,
.my-wishlist form input[type=url]:focus,
.my-wishlist form input[type=url].focus,
.my-wishlist form input[type=week]:focus,
.my-wishlist form input[type=week].focus,
.my-wishlist form textarea:focus,
.my-wishlist form textarea.focus,
.root-product-quick-view .product-quick-view .my-wishlist form .input:focus,
.root-product-quick-view .product-quick-view .my-wishlist form .input.focus,
.root-product-quick-view .product-quick-view .my-wishlist form .textarea:focus,
.root-product-quick-view .product-quick-view .my-wishlist form .textarea.focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=text]:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=text].focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=number]:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=number].focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=tel]:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=tel].focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=password]:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=password].focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=color]:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=color].focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=date]:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=date].focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=datetime]:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=datetime].focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=email]:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=email].focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=file]:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=file].focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=search]:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=search].focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=time]:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=time].focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=url]:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=url].focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=week]:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=week].focus,
.root-product-quick-view .product-quick-view .my-wishlist form textarea:focus,
.root-product-quick-view .product-quick-view .my-wishlist form textarea.focus {
  border-color: #333;
  color: #333;
}
.my-wishlist form .input.error, .my-wishlist form .input.focused-error:focus,
.my-wishlist form .textarea.error,
.my-wishlist form .textarea.focused-error:focus,
.my-wishlist form input[type=text].error,
.my-wishlist form input[type=text].focused-error:focus,
.my-wishlist form input[type=number].error,
.my-wishlist form input[type=number].focused-error:focus,
.my-wishlist form input[type=tel].error,
.my-wishlist form input[type=tel].focused-error:focus,
.my-wishlist form input[type=password].error,
.my-wishlist form input[type=password].focused-error:focus,
.my-wishlist form input[type=color].error,
.my-wishlist form input[type=color].focused-error:focus,
.my-wishlist form input[type=date].error,
.my-wishlist form input[type=date].focused-error:focus,
.my-wishlist form input[type=datetime].error,
.my-wishlist form input[type=datetime].focused-error:focus,
.my-wishlist form input[type=email].error,
.my-wishlist form input[type=email].focused-error:focus,
.my-wishlist form input[type=file].error,
.my-wishlist form input[type=file].focused-error:focus,
.my-wishlist form input[type=search].error,
.my-wishlist form input[type=search].focused-error:focus,
.my-wishlist form input[type=time].error,
.my-wishlist form input[type=time].focused-error:focus,
.my-wishlist form input[type=url].error,
.my-wishlist form input[type=url].focused-error:focus,
.my-wishlist form input[type=week].error,
.my-wishlist form input[type=week].focused-error:focus,
.my-wishlist form textarea.error,
.my-wishlist form textarea.focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form .input.error,
.root-product-quick-view .product-quick-view .my-wishlist form .input.focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form .textarea.error,
.root-product-quick-view .product-quick-view .my-wishlist form .textarea.focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=text].error,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=text].focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=number].error,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=number].focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=tel].error,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=tel].focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=password].error,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=password].focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=color].error,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=color].focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=date].error,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=date].focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=datetime].error,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=datetime].focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=email].error,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=email].focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=file].error,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=file].focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=search].error,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=search].focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=time].error,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=time].focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=url].error,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=url].focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=week].error,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=week].focused-error:focus,
.root-product-quick-view .product-quick-view .my-wishlist form textarea.error,
.root-product-quick-view .product-quick-view .my-wishlist form textarea.focused-error:focus {
  border-color: #C60E0E;
}
.my-wishlist form .input:disabled, .my-wishlist form .input.disabled,
.my-wishlist form .textarea:disabled,
.my-wishlist form .textarea.disabled,
.my-wishlist form input[type=text]:disabled,
.my-wishlist form input[type=text].disabled,
.my-wishlist form input[type=number]:disabled,
.my-wishlist form input[type=number].disabled,
.my-wishlist form input[type=tel]:disabled,
.my-wishlist form input[type=tel].disabled,
.my-wishlist form input[type=password]:disabled,
.my-wishlist form input[type=password].disabled,
.my-wishlist form input[type=color]:disabled,
.my-wishlist form input[type=color].disabled,
.my-wishlist form input[type=date]:disabled,
.my-wishlist form input[type=date].disabled,
.my-wishlist form input[type=datetime]:disabled,
.my-wishlist form input[type=datetime].disabled,
.my-wishlist form input[type=email]:disabled,
.my-wishlist form input[type=email].disabled,
.my-wishlist form input[type=file]:disabled,
.my-wishlist form input[type=file].disabled,
.my-wishlist form input[type=search]:disabled,
.my-wishlist form input[type=search].disabled,
.my-wishlist form input[type=time]:disabled,
.my-wishlist form input[type=time].disabled,
.my-wishlist form input[type=url]:disabled,
.my-wishlist form input[type=url].disabled,
.my-wishlist form input[type=week]:disabled,
.my-wishlist form input[type=week].disabled,
.my-wishlist form textarea:disabled,
.my-wishlist form textarea.disabled,
.root-product-quick-view .product-quick-view .my-wishlist form .input:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form .input.disabled,
.root-product-quick-view .product-quick-view .my-wishlist form .textarea:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form .textarea.disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=text]:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=text].disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=number]:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=number].disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=tel]:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=tel].disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=password]:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=password].disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=color]:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=color].disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=date]:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=date].disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=datetime]:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=datetime].disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=email]:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=email].disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=file]:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=file].disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=search]:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=search].disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=time]:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=time].disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=url]:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=url].disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=week]:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=week].disabled,
.root-product-quick-view .product-quick-view .my-wishlist form textarea:disabled,
.root-product-quick-view .product-quick-view .my-wishlist form textarea.disabled {
  border-color: #eee;
  background: #eee;
  color: #999;
  font-style: italic;
}
.my-wishlist form textarea,
.my-wishlist form .textarea,
.root-product-quick-view .product-quick-view .my-wishlist form textarea,
.root-product-quick-view .product-quick-view .my-wishlist form .textarea {
  height: 105px;
  padding: 5px;
  resize: none;
}
.my-wishlist form .submit,
.root-product-quick-view .product-quick-view .my-wishlist form .submit {
  position: relative;
}
.my-wishlist form .submit.loading:before,
.root-product-quick-view .product-quick-view .my-wishlist form .submit.loading:before {
  width: 20px;
  height: 20px;
  background-size: 100% auto;
}
.my-wishlist form input[type=submit],
.root-product-quick-view .product-quick-view .my-wishlist form input[type=submit] {
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  width: 190px;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
  height: 36px;
  padding: 10px 0;
  color: #fff;
  background: #333;
  text-decoration: none;
  text-align: center;
}
.my-wishlist form input[type=submit]:hover,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=submit]:hover {
  background-color: #666;
}
.my-wishlist form input[type=reset],
.root-product-quick-view .product-quick-view .my-wishlist form input[type=reset] {
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
  width: 190px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  background-color: #F1F1F1;
  height: 36px;
  padding: 10px 0;
  color: #333;
  text-decoration: none;
  text-align: center;
}
.my-wishlist form input[type=reset]:hover,
.root-product-quick-view .product-quick-view .my-wishlist form input[type=reset]:hover {
  background-color: #FFF;
}
.my-wishlist html, .my-wishlist body, .my-wishlist div, .my-wishlist span, .my-wishlist applet, .my-wishlist object, .my-wishlist iframe,
.my-wishlist h1, .my-wishlist h2, .my-wishlist h3, .my-wishlist h4, .my-wishlist h5, .my-wishlist h6, .my-wishlist p, .my-wishlist blockquote, .my-wishlist pre,
.my-wishlist a, .my-wishlist abbr, .my-wishlist acronym, .my-wishlist address, .my-wishlist big, .my-wishlist cite, .my-wishlist code,
.my-wishlist del, .my-wishlist dfn, .my-wishlist em, .my-wishlist img, .my-wishlist ins, .my-wishlist kbd, .my-wishlist q, .my-wishlist s, .my-wishlist samp,
.my-wishlist small, .my-wishlist strike, .my-wishlist strong, .my-wishlist sub, .my-wishlist sup, .my-wishlist tt, .my-wishlist var,
.my-wishlist b, .my-wishlist u, .my-wishlist i, .my-wishlist center,
.my-wishlist dl, .my-wishlist dt, .my-wishlist dd, .my-wishlist ol, .my-wishlist ul, .my-wishlist li,
.my-wishlist fieldset, .my-wishlist form, .my-wishlist label, .my-wishlist legend,
.my-wishlist table, .my-wishlist caption, .my-wishlist tbody, .my-wishlist tfoot, .my-wishlist thead, .my-wishlist tr, .my-wishlist th, .my-wishlist td,
.my-wishlist article, .my-wishlist aside, .my-wishlist canvas, .my-wishlist details, .my-wishlist embed,
.my-wishlist figure, .my-wishlist figcaption, .my-wishlist footer, .my-wishlist header, .my-wishlist hgroup,
.my-wishlist menu, .my-wishlist nav, .my-wishlist output, .my-wishlist ruby, .my-wishlist section, .my-wishlist summary,
.my-wishlist time, .my-wishlist mark, .my-wishlist audio, .my-wishlist video,
.root-product-quick-view .product-quick-view .my-wishlist html,
.root-product-quick-view .product-quick-view .my-wishlist body,
.root-product-quick-view .product-quick-view .my-wishlist div,
.root-product-quick-view .product-quick-view .my-wishlist span,
.root-product-quick-view .product-quick-view .my-wishlist applet,
.root-product-quick-view .product-quick-view .my-wishlist object,
.root-product-quick-view .product-quick-view .my-wishlist iframe,
.root-product-quick-view .product-quick-view .my-wishlist h1,
.root-product-quick-view .product-quick-view .my-wishlist h2,
.root-product-quick-view .product-quick-view .my-wishlist h3,
.root-product-quick-view .product-quick-view .my-wishlist h4,
.root-product-quick-view .product-quick-view .my-wishlist h5,
.root-product-quick-view .product-quick-view .my-wishlist h6,
.root-product-quick-view .product-quick-view .my-wishlist p,
.root-product-quick-view .product-quick-view .my-wishlist blockquote,
.root-product-quick-view .product-quick-view .my-wishlist pre,
.root-product-quick-view .product-quick-view .my-wishlist a,
.root-product-quick-view .product-quick-view .my-wishlist abbr,
.root-product-quick-view .product-quick-view .my-wishlist acronym,
.root-product-quick-view .product-quick-view .my-wishlist address,
.root-product-quick-view .product-quick-view .my-wishlist big,
.root-product-quick-view .product-quick-view .my-wishlist cite,
.root-product-quick-view .product-quick-view .my-wishlist code,
.root-product-quick-view .product-quick-view .my-wishlist del,
.root-product-quick-view .product-quick-view .my-wishlist dfn,
.root-product-quick-view .product-quick-view .my-wishlist em,
.root-product-quick-view .product-quick-view .my-wishlist img,
.root-product-quick-view .product-quick-view .my-wishlist ins,
.root-product-quick-view .product-quick-view .my-wishlist kbd,
.root-product-quick-view .product-quick-view .my-wishlist q,
.root-product-quick-view .product-quick-view .my-wishlist s,
.root-product-quick-view .product-quick-view .my-wishlist samp,
.root-product-quick-view .product-quick-view .my-wishlist small,
.root-product-quick-view .product-quick-view .my-wishlist strike,
.root-product-quick-view .product-quick-view .my-wishlist strong,
.root-product-quick-view .product-quick-view .my-wishlist sub,
.root-product-quick-view .product-quick-view .my-wishlist sup,
.root-product-quick-view .product-quick-view .my-wishlist tt,
.root-product-quick-view .product-quick-view .my-wishlist var,
.root-product-quick-view .product-quick-view .my-wishlist b,
.root-product-quick-view .product-quick-view .my-wishlist u,
.root-product-quick-view .product-quick-view .my-wishlist i,
.root-product-quick-view .product-quick-view .my-wishlist center,
.root-product-quick-view .product-quick-view .my-wishlist dl,
.root-product-quick-view .product-quick-view .my-wishlist dt,
.root-product-quick-view .product-quick-view .my-wishlist dd,
.root-product-quick-view .product-quick-view .my-wishlist ol,
.root-product-quick-view .product-quick-view .my-wishlist ul,
.root-product-quick-view .product-quick-view .my-wishlist li,
.root-product-quick-view .product-quick-view .my-wishlist fieldset,
.root-product-quick-view .product-quick-view .my-wishlist form,
.root-product-quick-view .product-quick-view .my-wishlist label,
.root-product-quick-view .product-quick-view .my-wishlist legend,
.root-product-quick-view .product-quick-view .my-wishlist table,
.root-product-quick-view .product-quick-view .my-wishlist caption,
.root-product-quick-view .product-quick-view .my-wishlist tbody,
.root-product-quick-view .product-quick-view .my-wishlist tfoot,
.root-product-quick-view .product-quick-view .my-wishlist thead,
.root-product-quick-view .product-quick-view .my-wishlist tr,
.root-product-quick-view .product-quick-view .my-wishlist th,
.root-product-quick-view .product-quick-view .my-wishlist td,
.root-product-quick-view .product-quick-view .my-wishlist article,
.root-product-quick-view .product-quick-view .my-wishlist aside,
.root-product-quick-view .product-quick-view .my-wishlist canvas,
.root-product-quick-view .product-quick-view .my-wishlist details,
.root-product-quick-view .product-quick-view .my-wishlist embed,
.root-product-quick-view .product-quick-view .my-wishlist figure,
.root-product-quick-view .product-quick-view .my-wishlist figcaption,
.root-product-quick-view .product-quick-view .my-wishlist footer,
.root-product-quick-view .product-quick-view .my-wishlist header,
.root-product-quick-view .product-quick-view .my-wishlist hgroup,
.root-product-quick-view .product-quick-view .my-wishlist menu,
.root-product-quick-view .product-quick-view .my-wishlist nav,
.root-product-quick-view .product-quick-view .my-wishlist output,
.root-product-quick-view .product-quick-view .my-wishlist ruby,
.root-product-quick-view .product-quick-view .my-wishlist section,
.root-product-quick-view .product-quick-view .my-wishlist summary,
.root-product-quick-view .product-quick-view .my-wishlist time,
.root-product-quick-view .product-quick-view .my-wishlist mark,
.root-product-quick-view .product-quick-view .my-wishlist audio,
.root-product-quick-view .product-quick-view .my-wishlist video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.my-wishlist html,
.root-product-quick-view .product-quick-view .my-wishlist html {
  line-height: 1;
}
.my-wishlist ol, .my-wishlist ul,
.root-product-quick-view .product-quick-view .my-wishlist ol,
.root-product-quick-view .product-quick-view .my-wishlist ul {
  list-style: none;
}
.my-wishlist table,
.root-product-quick-view .product-quick-view .my-wishlist table {
  border-collapse: collapse;
  border-spacing: 0;
}
.my-wishlist caption, .my-wishlist th, .my-wishlist td,
.root-product-quick-view .product-quick-view .my-wishlist caption,
.root-product-quick-view .product-quick-view .my-wishlist th,
.root-product-quick-view .product-quick-view .my-wishlist td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.my-wishlist q, .my-wishlist blockquote,
.root-product-quick-view .product-quick-view .my-wishlist q,
.root-product-quick-view .product-quick-view .my-wishlist blockquote {
  quotes: none;
}
.my-wishlist q:before, .my-wishlist q:after, .my-wishlist blockquote:before, .my-wishlist blockquote:after,
.root-product-quick-view .product-quick-view .my-wishlist q:before,
.root-product-quick-view .product-quick-view .my-wishlist q:after,
.root-product-quick-view .product-quick-view .my-wishlist blockquote:before,
.root-product-quick-view .product-quick-view .my-wishlist blockquote:after {
  content: "";
  content: none;
}
.my-wishlist a img,
.root-product-quick-view .product-quick-view .my-wishlist a img {
  border: none;
}
.my-wishlist article, .my-wishlist aside, .my-wishlist details, .my-wishlist figcaption, .my-wishlist figure, .my-wishlist footer, .my-wishlist header, .my-wishlist hgroup, .my-wishlist main, .my-wishlist menu, .my-wishlist nav, .my-wishlist section, .my-wishlist summary,
.root-product-quick-view .product-quick-view .my-wishlist article,
.root-product-quick-view .product-quick-view .my-wishlist aside,
.root-product-quick-view .product-quick-view .my-wishlist details,
.root-product-quick-view .product-quick-view .my-wishlist figcaption,
.root-product-quick-view .product-quick-view .my-wishlist figure,
.root-product-quick-view .product-quick-view .my-wishlist footer,
.root-product-quick-view .product-quick-view .my-wishlist header,
.root-product-quick-view .product-quick-view .my-wishlist hgroup,
.root-product-quick-view .product-quick-view .my-wishlist main,
.root-product-quick-view .product-quick-view .my-wishlist menu,
.root-product-quick-view .product-quick-view .my-wishlist nav,
.root-product-quick-view .product-quick-view .my-wishlist section,
.root-product-quick-view .product-quick-view .my-wishlist summary {
  display: block;
}
.my-wishlist html.no-scroll, .my-wishlist body.no-scroll,
.root-product-quick-view .product-quick-view .my-wishlist html.no-scroll,
.root-product-quick-view .product-quick-view .my-wishlist body.no-scroll {
  overflow: hidden;
}
.my-wishlist html.fixed-no-scroll, .my-wishlist body.fixed-no-scroll,
.root-product-quick-view .product-quick-view .my-wishlist html.fixed-no-scroll,
.root-product-quick-view .product-quick-view .my-wishlist body.fixed-no-scroll {
  transition: all 0;
  transition: all 0;
  transition: all 0;
  transition: all 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
.my-wishlist .touch.no-scroll, .my-wishlist .touch body.no-scroll,
.root-product-quick-view .product-quick-view .my-wishlist .touch.no-scroll,
.root-product-quick-view .product-quick-view .my-wishlist .touch body.no-scroll {
  transition: all 0;
  transition: all 0;
  transition: all 0;
  transition: all 0;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}
.my-wishlist body,
.root-product-quick-view .product-quick-view .my-wishlist body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
}
.my-wishlist a:active,
.root-product-quick-view .product-quick-view .my-wishlist a:active {
  background-color: inherit;
}
.my-wishlist :focus,
.root-product-quick-view .product-quick-view .my-wishlist :focus {
  outline: none;
}
.my-wishlist ::-moz-focus-inner,
.root-product-quick-view .product-quick-view .my-wishlist ::-moz-focus-inner {
  border: 0;
}
.my-wishlist *,
.root-product-quick-view .product-quick-view .my-wishlist * {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-user-select: none;
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}
.my-wishlist strong, .my-wishlist b,
.root-product-quick-view .product-quick-view .my-wishlist strong,
.root-product-quick-view .product-quick-view .my-wishlist b {
  font-weight: bold;
}
.my-wishlist input,
.root-product-quick-view .product-quick-view .my-wishlist input {
  -webkit-appearance: none;
  border-radius: 0;
}
.my-wishlist .clearfix,
.root-product-quick-view .product-quick-view .my-wishlist .clearfix {
  *zoom: 1;
}
.my-wishlist .clearfix:after,
.root-product-quick-view .product-quick-view .my-wishlist .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.my-wishlist ol li, .my-wishlist ul li,
.root-product-quick-view .product-quick-view .my-wishlist ol li,
.root-product-quick-view .product-quick-view .my-wishlist ul li {
  list-style-type: none;
}
@font-face {
  .my-wishlist,
  .root-product-quick-view .product-quick-view .my-wishlist {
    font-family: "font-icons";
    src: url("icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.eot");
    src: url("icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.eot?#iefix") format("embedded-opentype"), url("icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.woff") format("woff"), url("icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.ttf") format("truetype"), url("icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.svg#fontcustom") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    .my-wishlist,
    .root-product-quick-view .product-quick-view .my-wishlist {
      font-family: "font-icons";
      src: url("icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.svg#fontcustom") format("svg");
    }
  }
}
.my-wishlist [data-icon]:before,
.root-product-quick-view .product-quick-view .my-wishlist [data-icon]:before {
  content: attr(data-icon);
}
.my-wishlist [data-icon]:before,
.my-wishlist .icon-checkbox-checked:before,
.my-wishlist .icon-checkbox-unchecked:before,
.my-wishlist .icon-checkmark:before,
.my-wishlist .transaction-messaging.success:before,
.root-product-quick-view .product-quick-view .my-wishlist .transaction-messaging.success:before,
.my-wishlist .icon-close:before,
.my-wishlist .icon-close-round:before,
.my-wishlist .modal a.close:before,
.root-product-quick-view .product-quick-view .my-wishlist .modal a.close:before,
.my-wishlist .icon-cog:before,
.my-wishlist .icon-confused:before,
.my-wishlist .icon-envelop:before,
.my-wishlist .icon-facebook:before,
.my-wishlist .icon-heart:before,
.my-wishlist .add-to-wishlist .add-to-default-wishlist:before,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist:before,
.my-wishlist .icon-info:before,
.my-wishlist .icon-link:before,
.my-wishlist .icon-map-pin:before,
.my-wishlist .icon-marker:before,
.my-wishlist .icon-pencil:before,
.root-product-quick-view .product-quick-view .my-wishlist [data-icon]:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-checkbox-checked:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-checkbox-unchecked:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-checkmark:before,
.root-product-quick-view .product-quick-view .my-wishlist .transaction-messaging.success:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-close:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-close-round:before,
.root-product-quick-view .product-quick-view .my-wishlist .modal a.close:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-cog:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-confused:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-envelop:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-facebook:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-heart:before,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-info:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-link:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-map-pin:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-marker:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-pencil:before {
  display: inline-block;
  font-family: "font-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.my-wishlist .icon-checkbox-checked:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-checkbox-checked:before {
  content: "\f100";
}
.my-wishlist .icon-checkbox-unchecked:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-checkbox-unchecked:before {
  content: "\f101";
}
.my-wishlist .icon-checkmark:before, .my-wishlist .transaction-messaging.success:before,
.root-product-quick-view .product-quick-view .my-wishlist .transaction-messaging.success:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-checkmark:before,
.root-product-quick-view .product-quick-view .my-wishlist .transaction-messaging.success:before {
  content: "\f102";
}
.my-wishlist .icon-close:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-close:before {
  content: "\f103";
}
.my-wishlist .icon-close-round:before, .my-wishlist .modal a.close:before,
.root-product-quick-view .product-quick-view .my-wishlist .modal a.close:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-close-round:before,
.root-product-quick-view .product-quick-view .my-wishlist .modal a.close:before {
  content: "\f10c";
}
.my-wishlist .icon-cog:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-cog:before {
  content: "\f104";
}
.my-wishlist .icon-confused:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-confused:before {
  content: "\f105";
}
.my-wishlist .icon-envelop:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-envelop:before {
  content: "\f106";
}
.my-wishlist .icon-facebook:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-facebook:before {
  content: "\f107";
}
.my-wishlist .icon-heart:before, .my-wishlist .add-to-wishlist .add-to-default-wishlist:before,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-heart:before,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist:before {
  content: "\f108";
}
.my-wishlist .icon-info:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-info:before {
  content: "\f109";
}
.my-wishlist .icon-link:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-link:before {
  content: "\f10a";
}
.my-wishlist .icon-map-pin:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-map-pin:before {
  content: "\f10e";
}
.my-wishlist .icon-marker:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-marker:before {
  content: "\f10b";
}
.my-wishlist .icon-pencil:before,
.root-product-quick-view .product-quick-view .my-wishlist .icon-pencil:before {
  content: "\f10d";
}
@font-face {
  .my-wishlist,
  .root-product-quick-view .product-quick-view .my-wishlist {
    font-family: 'AvenirBook';
    src: url("fonts/AvenirLTStd-Book.eot");
    src: url("fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Book.woff") format("woff"), url("fonts/AvenirLTStd-Book.ttf") format("truetype"), url("fonts/AvenirLTStd-Book.svg#AvenirBook") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
@font-face {
  .my-wishlist,
  .root-product-quick-view .product-quick-view .my-wishlist {
    font-family: 'AvenirMedium';
    src: url("fonts/AvenirLTStd-Medium.eot");
    src: url("fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Medium.woff") format("woff"), url("fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("fonts/AvenirLTStd-Medium.svg#AvenirMedium") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
@font-face {
  .my-wishlist,
  .root-product-quick-view .product-quick-view .my-wishlist {
    font-family: 'AvenirHeavy';
    src: url("fonts/AvenirLTStd-Heavy.eot");
    src: url("fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Heavy.woff") format("woff"), url("fonts/AvenirLTStd-Heavy.ttf") format("truetype"), url("fonts/AvenirLTStd-Heavy.svg#AvenirHeavy") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
.my-wishlist .modal,
.root-product-quick-view .product-quick-view .my-wishlist .modal {
  *zoom: 1;
  display: none;
  font-size: 1.2em;
  width: 310px;
  z-index: 100000;
  margin: auto 0;
  padding: 0;
  background-color: #FFF;
  position: fixed;
  top: 50%;
  left: 35%;
  border-radius: 2px;
}
.my-wishlist .modal:after,
.root-product-quick-view .product-quick-view .my-wishlist .modal:after {
  content: "";
  display: table;
  clear: both;
}
.my-wishlist .modal::before,
.root-product-quick-view .product-quick-view .my-wishlist .modal::before {
  display: block;
  position: fixed;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.my-wishlist .modal.no-veil::before,
.root-product-quick-view .product-quick-view .my-wishlist .modal.no-veil::before {
  background-color: none;
}
.my-wishlist .add-to-wishlist,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist {
  display: inline-block;
  position: relative;
  margin-left: 212px;
}
.my-wishlist .add-to-wishlist .see-more,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .see-more {
  position: absolute;
  left: 47px;
  width: 30px;
  height: 34px;
  background-color: #f1f1f1;
  display: block;
  top: 1px;
  font-size: 1px;
  line-height: 0;
  color: transparent;
  border: 1px solid #555;
  border-left: 2px solid #555;
}
.my-wishlist .add-to-wishlist .see-more:hover, .my-wishlist .add-to-wishlist .see-more:focus,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .see-more:hover,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .see-more:focus {
  background-color: #fff;
}
.my-wishlist .add-to-wishlist .see-more:after,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .see-more:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -5px;
  border: 1px solid black;
  width: 8px;
  height: 8px;
  border-bottom: 0;
  border-right: 0;
  transform: rotate(-135deg);
  transform: rotate(-135deg);
  transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.my-wishlist .add-to-wishlist .expanded + .see-more,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .expanded + .see-more {
  background-color: #fff;
}
.my-wishlist .add-to-wishlist .no-wishlist + .see-more,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .no-wishlist + .see-more {
  display: none;
}
.my-wishlist .add-to-wishlist.move-to-wishlist,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist.move-to-wishlist {
  position: absolute;
  right: 25px;
  text-align: right;
  min-width: 0;
  width: 145px;
  margin-top: 0;
}
.my-wishlist .add-to-wishlist.move-to-wishlist.disabled,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist.move-to-wishlist.disabled {
  display: none;
}
.my-wishlist .add-to-wishlist.move-to-wishlist a.add-to-default-wishlist,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist.move-to-wishlist a.add-to-default-wishlist {
  width: 145px;
  height: 30px;
  font-size: 12px;
  line-height: 10px;
  display: none;
}
.my-wishlist .add-to-wishlist.move-to-wishlist a.add-to-default-wishlist:before,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist.move-to-wishlist a.add-to-default-wishlist:before {
  display: none;
}
.my-wishlist .add-to-wishlist.move-to-wishlist .see-more,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist.move-to-wishlist .see-more {
  width: 145px;
  font-size: 12px;
  display: inline-block;
  left: -30px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  color: #333;
  text-align: center;
  padding: 0 5px 0 5px;
  font-weight: bold;
  border: 1px solid #333;
}
.my-wishlist .add-to-wishlist.move-to-wishlist .see-more:after,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist.move-to-wishlist .see-more:after {
  right: 10px;
  left: auto;
}
.my-wishlist .add-to-wishlist.move-to-wishlist .no-wishlist + .see-more:after,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist.move-to-wishlist .no-wishlist + .see-more:after {
  border: none;
}
.my-wishlist .add-to-wishlist.move-to-wishlist .move-to-wishlist-options,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist.move-to-wishlist .move-to-wishlist-options {
  top: 30px;
  left: -30px;
  width: 100%;
}
.my-wishlist .add-to-wishlist.move-to-wishlist .move-to-wishlist-options ul,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist.move-to-wishlist .move-to-wishlist-options ul {
  padding-bottom: 14px;
  padding-top: 0;
  text-align: left;
}
.my-wishlist .add-to-wishlist.move-to-wishlist .create-wishlist,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist.move-to-wishlist .create-wishlist {
  display: none;
}
.my-wishlist .add-to-wishlist .add-to-default-wishlist,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist {
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
  width: 190px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  background-color: #F1F1F1;
  height: 36px;
  padding: 10px 0;
  color: #333;
  text-decoration: none;
  text-align: center;
  width: 78px;
  display: block;
  position: relative;
  border: 2px solid #333;
  text-align: left;
  padding: 10px;
}
.my-wishlist .add-to-wishlist .add-to-default-wishlist:hover,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist:hover {
  background-color: #FFF;
}
.my-wishlist .add-to-wishlist .add-to-default-wishlist:hover:before,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist:hover:before {
  color: #ca0088;
}
.my-wishlist .add-to-wishlist .add-to-default-wishlist:before,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist:before {
  padding-right: 10px;
  position: absolute;
  top: 7px;
  left: 11px;
  font-size: 20px;
  padding: 0;
}
.my-wishlist .add-to-wishlist .add-to-default-wishlist.collapsed ~ div,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist.collapsed ~ div {
  display: none;
}
.my-wishlist .add-to-wishlist .add-to-default-wishlist.expanded,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist.expanded {
  color: #333;
  background-color: #FFF;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.my-wishlist .add-to-wishlist .add-to-default-wishlist.expanded:hover:before,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist.expanded:hover:before {
  color: #333;
}
.my-wishlist .add-to-wishlist .add-to-default-wishlist.expanded ~ div,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist.expanded ~ div {
  display: block;
}
.my-wishlist .add-to-wishlist .add-to-default-wishlist.expanded:after,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist.expanded:after {
  top: 0.4em;
  transform: rotate(-45deg);
}
.my-wishlist .add-to-wishlist .add-to-default-wishlist.no-wishlist,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist.no-wishlist {
  text-align: center;
  width: 48px;
}
.my-wishlist .add-to-wishlist .move-to-wishlist-options,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options {
  display: none;
  border: 1px solid #333;
  width: 240px;
  position: absolute;
  top: 45px;
  left: -60px;
  background-color: #FFF;
  z-index: 1;
  text-align: left;
}
.modal-content .my-wishlist .add-to-wishlist .move-to-wishlist-options, .modal-content
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options {
  z-index: initial;
}
.my-wishlist .add-to-wishlist .move-to-wishlist-options.enable-message ul,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options.enable-message ul {
  display: none;
}
.my-wishlist .add-to-wishlist .move-to-wishlist-options:after,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options:after {
  top: -6px;
  left: calc(50% - 4px);
  content: " ";
  border-width: 10px;
  border-top-width: 0;
  display: inline-block;
  position: absolute;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  background: #fff;
}
.my-wishlist .add-to-wishlist .move-to-wishlist-options ul,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options ul {
  padding-top: 14px;
}
.my-wishlist .add-to-wishlist .move-to-wishlist-options ul li,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options ul li {
  min-height: 30px;
  display: block;
  padding-top: 10px;
}
.my-wishlist .add-to-wishlist .move-to-wishlist-options ul li a,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options ul li a {
  padding-left: 15px;
  text-decoration: none;
  font-family: "AvenirBook";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-transform: capitalize;
  color: #333;
}
.my-wishlist .add-to-wishlist .move-to-wishlist-options ul li a:hover, .my-wishlist .add-to-wishlist .move-to-wishlist-options ul li a:focus,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options ul li a:hover,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options ul li a:focus {
  font-family: "AvenirMedium";
  font-weight: normal;
  font-style: normal;
  color: #333;
}
.my-wishlist .add-to-wishlist .move-to-wishlist-options ul li:last-child,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options ul li:last-child {
  margin: auto;
  margin-top: 12px;
  width: 85%;
  border-top: 1px solid #999;
}
.my-wishlist .add-to-wishlist .move-to-wishlist-options ul li:last-child:hover, .my-wishlist .add-to-wishlist .move-to-wishlist-options ul li:last-child:focus,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options ul li:last-child:hover,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options ul li:last-child:focus {
  background-color: #FFF;
}
.my-wishlist .add-to-wishlist .move-to-wishlist-options ul li:last-child a,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options ul li:last-child a {
  font-family: "AvenirBook";
  font-weight: 400;
  font-style: normal;
  color: #333;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 0;
  padding: 2px 0 12px 0;
  display: block;
}
.my-wishlist .add-to-wishlist .add-new-wishlist,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-new-wishlist {
  display: none;
}
.my-wishlist .add-to-wishlist .add-new-wishlist fieldset,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-new-wishlist fieldset {
  text-align: right;
}
.my-wishlist .add-to-wishlist .add-new-wishlist legend,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-new-wishlist legend {
  padding-top: 2px;
  text-align: left;
}
.my-wishlist .add-to-wishlist .add-new-wishlist label,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-new-wishlist label {
  display: inline-block;
  width: auto;
}
.my-wishlist .add-to-wishlist .add-new-wishlist label.wishlist-name,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-new-wishlist label.wishlist-name {
  width: 100%;
  display: block;
}
.my-wishlist .add-to-wishlist .add-new-wishlist label.submit,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-new-wishlist label.submit {
  float: right;
  margin: 0 0 0 10px;
}
.my-wishlist .add-to-wishlist .add-new-wishlist .wishlist-name input,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-new-wishlist .wishlist-name input {
  margin-bottom: 10px;
}
.my-wishlist .add-to-wishlist .add-new-wishlist input.create-new-wishlist-cta,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-new-wishlist input.create-new-wishlist-cta {
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  cursor: pointer;
  height: 26px;
  color: #fff;
  background: #333;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  width: auto;
}
.my-wishlist .add-to-wishlist .add-new-wishlist input.create-new-wishlist-cta:hover,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-new-wishlist input.create-new-wishlist-cta:hover {
  background-color: #666;
  color: #fff;
}
.my-wishlist .add-to-wishlist .add-new-wishlist input.cancel-new-wishlist-cta,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-new-wishlist input.cancel-new-wishlist-cta {
  font-family: "AvenirBook";
  font-weight: 400;
  font-style: normal;
  color: #333;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
  background-color: #FFF;
  padding: 0 10px 10px 0;
}
.my-wishlist .add-to-wishlist .add-new-wishlist .result.active,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-new-wishlist .result.active {
  display: block;
}
.my-wishlist .add-to-wishlist.max-limit div.move-to-wishlist-options .create-wishlist form.result,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist.max-limit div.move-to-wishlist-options .create-wishlist form.result {
  display: block;
}
.my-wishlist .add-to-wishlist.max-limit div.move-to-wishlist-options .create-wishlist form fieldset,
.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist.max-limit div.move-to-wishlist-options .create-wishlist form fieldset {
  display: none;
}
.my-wishlist .transaction-messaging,
.root-product-quick-view .product-quick-view .my-wishlist .transaction-messaging {
  display: none;
  background-color: #FFF;
  font-size: 12px;
  margin: 0 12px;
  padding-top: 5px;
}
.my-wishlist .transaction-messaging.no-wishlist,
.root-product-quick-view .product-quick-view .my-wishlist .transaction-messaging.no-wishlist {
  padding-bottom: 10px;
}
.my-wishlist .transaction-messaging.active,
.root-product-quick-view .product-quick-view .my-wishlist .transaction-messaging.active {
  display: block;
}
.my-wishlist .transaction-messaging.success:before,
.root-product-quick-view .product-quick-view .my-wishlist .transaction-messaging.success:before {
  color: #0d893f;
  margin-right: 7px;
  font-size: 13px;
  margin-left: 0;
}
.my-wishlist .transaction-messaging a,
.root-product-quick-view .product-quick-view .my-wishlist .transaction-messaging a {
  font-family: "AvenirBook";
  font-weight: 400;
  font-style: normal;
  color: #333;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: underline;
  display: block;
  margin-top: 15px;
  padding-bottom: 10px;
}
.my-wishlist .modal,
.root-product-quick-view .product-quick-view .my-wishlist .modal {
  top: 20%;
  width: auto;
  left: calc(50% - 200px);
}
.my-wishlist .modal .transaction-messaging,
.root-product-quick-view .product-quick-view .my-wishlist .modal .transaction-messaging {
  text-align: left;
  padding: 0;
  position: relative;
  width: 345px;
  margin: 5px 0 0 0;
  min-height: 20px;
  display: block;
}
.my-wishlist .modal .transaction-messaging.error,
.root-product-quick-view .product-quick-view .my-wishlist .modal .transaction-messaging.error {
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  min-height: 25px;
  margin: 5px 0;
  color: #C60E0E;
  text-align: left;
  text-transform: initial;
  font-size: 12px;
  background-color: #FFF;
  padding-bottom: 5px;
}
.my-wishlist .modal .transaction-messaging.error > a,
.root-product-quick-view .product-quick-view .my-wishlist .modal .transaction-messaging.error > a {
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #C60E0E;
  font-size: 12px;
  text-align: left;
  display: inline-block;
}
.my-wishlist .modal .login,
.root-product-quick-view .product-quick-view .my-wishlist .modal .login {
  position: relative;
  background-color: #FFF;
  padding: 20px;
  float: left;
  min-height: 290px;
}
.my-wishlist .modal a,
.root-product-quick-view .product-quick-view .my-wishlist .modal a {
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #666;
  font-size: 12px;
  line-height: 1.2em;
  text-decoration: underline;
  text-transform: capitalize;
}
.my-wishlist .modal a.close,
.root-product-quick-view .product-quick-view .my-wishlist .modal a.close {
  width: auto;
  color: #333;
  background-color: transparent;
  text-align: right;
  padding: 0;
  margin: 0;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 5px;
}
.my-wishlist .modal a.close:before,
.root-product-quick-view .product-quick-view .my-wishlist .modal a.close:before {
  font-size: 22px;
}
.my-wishlist .modal form,
.root-product-quick-view .product-quick-view .my-wishlist .modal form {
  text-align: right;
}
.my-wishlist .modal form legend,
.root-product-quick-view .product-quick-view .my-wishlist .modal form legend {
  color: #000;
  font-size: 28px;
  text-align: left;
}
.my-wishlist .modal form fieldset,
.root-product-quick-view .product-quick-view .my-wishlist .modal form fieldset {
  text-align: left;
}
.my-wishlist .modal form input,
.root-product-quick-view .product-quick-view .my-wishlist .modal form input {
  margin-bottom: 20px;
}
.my-wishlist .modal form input[type="submit"],
.root-product-quick-view .product-quick-view .my-wishlist .modal form input[type="submit"] {
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  cursor: pointer;
  height: 26px;
  color: #fff;
  background: #333;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  padding: 0 10px;
  margin: 0;
  width: auto;
}
.my-wishlist .modal form input[type="submit"]:hover,
.root-product-quick-view .product-quick-view .my-wishlist .modal form input[type="submit"]:hover {
  background-color: #666;
  color: #fff;
}
.my-wishlist .modal form a,
.root-product-quick-view .product-quick-view .my-wishlist .modal form a {
  background-color: transparent;
  width: auto;
  text-align: right;
  margin: 0;
  font-size: 11px;
}
.my-wishlist .modal form p,
.root-product-quick-view .product-quick-view .my-wishlist .modal form p {
  font-family: arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  font-size: 11px;
  line-height: 1.3em;
  color: #666;
  width: auto;
  text-align: right;
}
.my-wishlist .modal form p a,
.root-product-quick-view .product-quick-view .my-wishlist .modal form p a {
  font-weight: bold;
  display: inline-block;
}
.my-wishlist .modal .espot,
.root-product-quick-view .product-quick-view .my-wishlist .modal .espot {
  display: none;
  width: 0px;
  float: right;
  min-height: 290px;
  background-color: #FFF;
  text-align: center;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-image: url(/wcsstore/GlobalSAS/images/tcp/wishlist/login-modal.gif);
  background-repeat: no-repeat;
  position: relative;
}
.my-wishlist .read-only,
.root-product-quick-view .product-quick-view .my-wishlist .read-only {
  font-size: 1px;
  line-height: 0;
  color: transparent;
  float: left;
  display: none;
}
.my-wishlist :focus,
.root-product-quick-view .product-quick-view .my-wishlist :focus {
  outline: 1px dotted #333;
}

.root-product-quick-view .product-quick-view .my-wishlist {
  margin-top: -57px;
}
.root-product-quick-view .product-quick-view .my-wishlist .modal .login {
  width: auto;
}

.product-details .quantity select {
  border-radius: 0;
  margin: 0 0 10px 0;
}
.product-details .quantity.section-block {
  margin-bottom: 0;
}
.product-details .quantity #add_to_bag {
  width: 200px;
  margin: 5px 0;
  border-radius: 0;
  display: block;
}

.ui-dialog,
#product-quickview-modal {
  overflow: visible !important;
}

.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist.no-wishlist {
  width: 46px;
}

.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .see-more {
  height: 40px;
  border: 1px solid #555;
  border-right: 2px solid #555;
  transform: rotate(180deg);
}

.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .see-more:after {
  margin-top: -7px;
  margin-left: -6px;
}

.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist {
  height: 42px;
}

.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist:before {
  top: 10px;
  left: 13px;
}

.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist.no-wishlist:before {
  left: 11px;
}

.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options {
  width: 240px;
  left: -162px;
  top: auto;
  bottom: 55px;
}

.root-product-quick-view .product-quick-view .my-wishlist .add-to-wishlist .move-to-wishlist-options:after {
  left: calc(100% - 20px);
  bottom: -6px;
  top: auto;
  transform: rotate(135deg);
}

@media screen and (max-width: 1399px) {
    section.with-complete-the-look.product-quick-view .my-wishlist .add-to-wishlist {
        margin-left: 192px;
    }
/*  section.with-complete-the-look.product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist.no-wishlist {
    width: 26px;
    height: 25px;
    margin-top: 17px;
    margin-left: -70px;
  }

  section.with-complete-the-look.product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist {
    height: 26px;
    width: 50px;
    margin-top: 17px;
  		margin-left: -23px
  }*/

  /**logged in*/
/*  section.with-complete-the-look.product-quick-view .my-wishlist .add-to-wishlist .see-more {
    height: 22px;
    width: 20px;
    border: none;
    border-right: 1px solid #555;
    transform: rotate(180deg);
    margin-top: 18px;
    margin-left: -45px;
  }

  section.with-complete-the-look.product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist.no-wishlist:before {
    left: 4px;
  }

  section.with-complete-the-look.product-quick-view .my-wishlist .add-to-wishlist .add-to-default-wishlist::before {
    top: 4px;
    left: 4px;
    font-size: 15px;
  }*/
}
.item_remove p a {
  color: transparent;
  font-size: 0;
}
.item_remove .my-wishlist {
  margin-top: 0;
}
.item_remove .my-wishlist .add-to-wishlist {
  margin-left: 0;
  margin-top: 15px;
  width: 45px;
  left: -3px;
  top: 10px;
}
.item_remove .my-wishlist .add-to-wishlist .add-to-default-wishlist.expanded ~ div {
  border: 0;
}
.item_remove .my-wishlist .add-to-wishlist .add-to-default-wishlist.expanded ~ div ul {
  display: none;
}
.item_remove .my-wishlist a.forgot-password:before,
.item_remove .my-wishlist a.create-account:before {
  display: none;
}
.item_remove .my-wishlist .add-to-default-wishlist {
  border: 0;
  background: transparent;
  width: 105px;
  padding: 0;
}
.item_remove .my-wishlist .see-more {
  display: none;
}
.item_remove .my-wishlist .move-to-wishlist-options .transaction-messaging.active {
  display: none;
}
.item_remove .my-wishlist .move-to-wishlist-options .transaction-messaging.active.error {
  display: block;
  position: absolute;
  top: -80px;
  left: -120px;
  border: 1px solid #333;
  padding: 5px 10px;
}
.item_remove .my-wishlist .move-to-wishlist-options,
.item_remove .my-wishlist .move-to-wishlist-options.enable-message {
  display: none;
}
