<!-- TCPAddCreditCard.jsp start --><!-- 
<script type="text/javascript" src="/wcsstore/GlobalSAS/javascript/UserArea/QuickCheckoutProfile.js"></script>
 -->
 
<script type="text/javascript">

</script>
 


<!-- Set country  --><!-- For US and other store --><!-- my place landing page - edit a credit card in modal -->
     <div class="modal-content" style="width:500px;">  
     			 <div class="page-error"  style="display:none" id="ErrorArea"><img src="/wcsstore/GlobalSAS/images/tcp/myPlace/login_error.png" /><span id="ErrorMessageText"></span></div>
                 <div class="add-address clearfix">

                      <div class="required-info"><span class="required">*</span>required</div>
                      
                    <form name="AddEditCreditCard" method="post" action="AjaxCreditCardProcess" id="WC_AddEditCreditCardForm">
                    	                       
                    <input type="hidden" name="addressId" value=""/> 
                    <input type="hidden" name="creditCardId" value=""/>                    
                    <input type="hidden" name="storeId" value="10151" id="WC_QuickCheckoutProfileForm_FormInput_storeId_In_QuickCheckout_1"/>
					<input type="hidden" name="langId" value="-1" id="WC_QuickCheckoutProfileForm_FormInput_langId_In_QuickCheckout_1"/>
					<input type="hidden" name="catalogId" value="10551" id="WC_QuickCheckoutProfileForm_FormInput_catalogId_In_QuickCheckout_1"/>
					<input type="hidden" name="page" value="quickcheckout" id="WC_QuickCheckoutProfileForm_FormInput_page_In_QuickCheckout_1"/>
					<input type="hidden" name="returnPage" value="" id="WC_QuickCheckoutProfileForm_FormInput_returnPage_In_QuickCheckout_1"/>
					<input type="hidden" name="authToken" value="263463020%2CCr%2BZnxdxf6PffZpRFeeBXfNVivw%3D" id="WC_AjaxMyAccountQuickCheckoutProfileForm_inputs_authToken_1"/>
					
					<input type="hidden" name="orderId" value="" id="WC_QuickCheckoutProfileForm_FormInput_orderId_In_QuickCheckout_1"/>
					<input type="hidden" name="valueFromProfileOrder" value="Y" id="WC_AjaxMyAccountQuickCheckoutProfileForm_inputs_2"/>
					<input type="hidden" name="URL" value="AjaxLogonForm" id="WC_AjaxMyAccountQuickCheckoutProfileForm_inputs_3"/>					
					<input type="hidden" name="billing_addressType" value="Billing" id="WC_AjaxMyAccountQuickCheckoutProfileForm_inputs_5"/>					
					<input type="hidden" name="billing_nickName" value="Billing_10151_Thu Feb 09 15:45:34 EST 2017" id="WC_QuickCheckoutProfileForm_FormInput_billing_nickName_In_QuickCheckout_2"/>
					<input type=hidden name="pay_payment_method" value="" id="WC_AjaxMyAccountQuickCheckoutProfileForm_inputs_6"/>
					<input type=hidden name="pay_payMethodId" value="" id="WC_AjaxMyAccountQuickCheckoutProfileForm_inputs_7"/>
					<input type=hidden name="pay_cc_brand" value="" id="WC_AjaxMyAccountQuickCheckoutProfileForm_inputs_8"/>
					<input type="hidden" name="billing_addressField3" id="billing_addressField3" >
                    <input type="hidden" name="billing_country" id="billing_country" value="">
                    
                   <input type="hidden" name="logonId" value="TCPPERF_US2_JOE1234@CHILDRENSPLACE.COM" id="1WC_UserRegistrationUpdateForm_FormInput_logonId_In_Register_1_1"/>
						
                <input type="hidden" name="chosenLocale" value="en" id="WC_UserRegistrationUpdateForm_FormInput_chosenLocale_In_Register_1"/>
	
					<input type="hidden" id="AddressForm_FieldsOrderByLocale" value="first_name,LAST_NAME,ADDRESS,CITY,COUNTRY/REGION,STATE/PROVINCE,ZIP,ADDRESS_FIELD_3,phone1"/>
					<div><span id="WC_hidden_1"></span><label class="label-error"></label></div>	
					   <div class="row">
					<div class="fieldset-twoCol">
                        <label for="billing_firstName" class="field">First Name<span class="required">*</span></label>
                  		<input type="text" value="" id="billing_firstName" name="billing_firstName" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'billing_firstName');" onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'billing_firstName');"/>
                        <label class="label-error"></label>
                                  </div>
                        
                        		<div class="fieldset-twoCol">
                        		<label for="billing_lastName" class="field">Last Name<span class="required">*</span></label>
                                  <input type="text" value="" id="billing_lastName" name="billing_lastName" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'billing_lastName');" onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'billing_lastName');" />
                                  <label class="label-error"></label>
                                  </div>
                                  </div>
                                  
                                     <div class="row">
                                  	<div class="fieldset-twoCol">
                        		<label for="billing_address1" class="field">Billing Address Line 1<span class="required">*</span></label>
                                <input type="text" value="" id="billing_address1" name="billing_address1" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'billing_address1');" onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'billing_address1');"/>
                                <label class="label-error"></label>
                                  </div>
                                  
                                  
                               
                                  	<div class="fieldset-twoCol">
                        	<label for="billing_address2" class="field">Billing Address Line 2</label>
                                  <input type="text" name="billing_address2" id="billing_address2" value="" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'billing_address2');" onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'billing_address2');"/>
                                  <label class="label-error"></label>
                                  </div>
                                  </div>
                                  
                            <div class="row">
                                  <div class="fieldset-twoCol">
		                        	<label for="billing_city" class="field">City <span class="required">*</span></label>
		                             <input type="text" value="" id="billing_city" name="billing_city" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'billing_city');" onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'billing_city');"/>
		                             <label class="label-error"></label>
                                  </div>
      
                                    <div class="fieldset-twoCol challenge-select">
			                        			<label for="countryBean" class="field">State / Province <span class="required">*</span></label>
			                                                      
											
														<div id="billing_stateDiv">																						
																<select id="billing_state1" name="billing_state">
																
																	<option value="AL" 
																	
																>
																		Alabama
																	</option>
																
																	<option value="AK" 
																	
																>
																		Alaska
																	</option>
																
																	<option value="AS" 
																	
																>
																		American Samoa
																	</option>
																
																	<option value="AZ" 
																	
																>
																		Arizona
																	</option>
																
																	<option value="AR" 
																	
																>
																		Arkansas
																	</option>
																
																	<option value="AA" 
																	
																>
																		Armed Forces Americas
																	</option>
																
																	<option value="AE" 
																	
																>
																		Armed Forces Europe
																	</option>
																
																	<option value="AP" 
																	
																>
																		Armed Forces Pacific
																	</option>
																
																	<option value="CA" 
																	
																>
																		California
																	</option>
																
																	<option value="CO" 
																	
																>
																		Colorado
																	</option>
																
																	<option value="CT" 
																	
																>
																		Connecticut
																	</option>
																
																	<option value="DE" 
																	
																>
																		Delaware
																	</option>
																
																	<option value="DC" 
																	
																>
																		District of Columbia
																	</option>
																
																	<option value="FM" 
																	
																>
																		Federated States of Micronesia
																	</option>
																
																	<option value="FL" 
																	
																>
																		Florida
																	</option>
																
																	<option value="GA" 
																	
																>
																		Georgia
																	</option>
																
																	<option value="GU" 
																	
																>
																		Guam
																	</option>
																
																	<option value="HI" 
																	
																>
																		Hawaii
																	</option>
																
																	<option value="ID" 
																	
																>
																		Idaho
																	</option>
																
																	<option value="IL" 
																	
																>
																		Illinois
																	</option>
																
																	<option value="IN" 
																	
																>
																		Indiana
																	</option>
																
																	<option value="IA" 
																	
																>
																		Iowa
																	</option>
																
																	<option value="KS" 
																	
																>
																		Kansas
																	</option>
																
																	<option value="KY" 
																	
																>
																		Kentucky
																	</option>
																
																	<option value="LA" 
																	
																>
																		Louisiana
																	</option>
																
																	<option value="ME" 
																	
																>
																		Maine
																	</option>
																
																	<option value="MD" 
																	
																>
																		Maryland
																	</option>
																
																	<option value="MA" 
																	
																>
																		Massachusetts
																	</option>
																
																	<option value="MI" 
																	
																>
																		Michigan
																	</option>
																
																	<option value="MN" 
																	
																>
																		Minnesota
																	</option>
																
																	<option value="MS" 
																	
																>
																		Mississippi
																	</option>
																
																	<option value="MO" 
																	
																>
																		Missouri
																	</option>
																
																	<option value="MT" 
																	
																>
																		Montana
																	</option>
																
																	<option value="NE" 
																	
																>
																		Nebraska
																	</option>
																
																	<option value="NV" 
																	
																>
																		Nevada
																	</option>
																
																	<option value="NH" 
																	
																>
																		New Hampshire
																	</option>
																
																	<option value="NJ" 
																	
																>
																		New Jersey
																	</option>
																
																	<option value="NM" 
																	
																>
																		New Mexico
																	</option>
																
																	<option value="NY" 
																	
																>
																		New York
																	</option>
																
																	<option value="NC" 
																	
																>
																		North Carolina
																	</option>
																
																	<option value="ND" 
																	
																>
																		North Dakota
																	</option>
																
																	<option value="MP" 
																	
																>
																		Northern Mariana Islands
																	</option>
																
																	<option value="OH" 
																	
																>
																		Ohio
																	</option>
																
																	<option value="OK" 
																	
																>
																		Oklahoma
																	</option>
																
																	<option value="OR" 
																	
																>
																		Oregon
																	</option>
																
																	<option value="PW" 
																	
																>
																		Palau
																	</option>
																
																	<option value="PA" 
																	
																>
																		Pennsylvania
																	</option>
																
																	<option value="PR" 
																	
																>
																		Puerto Rico
																	</option>
																
																	<option value="RI" 
																	
																>
																		Rhode Island
																	</option>
																
																	<option value="SC" 
																	
																>
																		South Carolina
																	</option>
																
																	<option value="SD" 
																	
																>
																		South Dakota
																	</option>
																
																	<option value="TN" 
																	
																>
																		Tennessee
																	</option>
																
																	<option value="TX" 
																	
																>
																		Texas
																	</option>
																
																	<option value="VI" 
																	
																>
																		U.S. Virgin Islands
																	</option>
																
																	<option value="UT" 
																	
																>
																		Utah
																	</option>
																
																	<option value="VT" 
																	
																>
																		Vermont
																	</option>
																
																	<option value="VA" 
																	
																>
																		Virginia
																	</option>
																
																	<option value="WA" 
																	
																>
																		Washington
																	</option>
																
																	<option value="WV" 
																	
																>
																		West Virginia
																	</option>
																
																	<option value="WI" 
																	
																>
																		Wisconsin
																	</option>
																
																	<option value="WY" 
																	
																>
																		Wyoming
																	</option>
																
																</select>
																<label id="state-label-error" class="label-error"></label> 
														</div>
																				
                      				  </div>
                                  </div>
                                
                                  <div class="row">
                                        <div class="fieldset-twoCol">
			                        		<label for="billing_zipCode" class="field">ZIP / Postal Code<span class="required">*</span></label>
			                        		<input id="addressField3" name="addressField3" type="text"  value="" onchange="document.getElementById('billing_zipCode').value=zipcodeFormat(this.value);javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'addressField3');" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'addressField3');">
			                                 <input type="hidden" value="" id="billing_zipCode" name="billing_zipCode"/>
			                                 <label class="label-error"></label>
                                 		 </div>                                       
                                        <div class="fieldset-twoCol challenge-select">                                        	                                     
											    									
														 <label for="country" class="field">Country <span class="required">*</span></label>
													
												  	  <select class="drop_down_checkout" id="country" name="country"  onchange="javascript:document.getElementById('billing_country').value=this.value;AddressHelper.loadStatesUI('WC_AddEditCreditCardForm','billing','billing_stateDiv','_state1'); updateCreditCardDropDown();">											  	  

							                            	
																				<option value="CA" 
																					
																			>Canada</option>
																	
																				<option value="US" 
																					
																				selected="selected"
													                            	
																			>United States</option>
																	
														</select>																						
                                 		 </div>
                 				   </div>
                 				   
                 				   <div class="row">
                                        <div class="fieldset-twoCol">
			                        		<label for="billing_phone1" class="field">Phone Number<span class="required">*</span></label>
				                            <input type="text" value="" id="billing_phone1"  name="billing_phone1" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'billing_phone1');" onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'billing_phone1');" />
				                            <label>Used to look up your account in store. Mobile number preferred.</label>
				                            <label class="label-error"></label>
                                 		 </div>                                       
                                        <div class="fieldset-twoCol">
				                        	
                                 		 </div>
                 				   </div>
                             
                            <hr />
                            
                               <div class="row">
                            	<div class="fieldset-twoCol">
                            	
                            	
                       <label for="WC_AjaxMyAccountQuickCheckoutProfileForm_inputs"class="field">Credit Card<span class="required">*</span><br /></label>
                       				<input type=hidden name="curr_year" value="2017" id="WC_AjaxMyAccountQuickCheckoutProfileForm_inputs_9"/>
									<input type=hidden name="curr_month" value="2" id="WC_AjaxMyAccountQuickCheckoutProfileForm_inputs_10"/>
									<input type=hidden name="curr_date" value="9" id="WC_AjaxMyAccountQuickCheckoutProfileForm_inputs_11"/>									
								<select name="payMethodId"   id="payMethodId"  onchange="javascript:TCPMyPaymentInfoPopupJS.setCCBrand(this);TCPMyPaymentInfoPopupJS.clearCardData();MessageHelper.tcpHideErrorHandleClientSpan(event,'pay_temp_account');hideCardExpiry();MessageHelper.tcpHideErrorHandleClientSpan(event,'payMethodId');"  style="width:80%; display:inline;" >
										<option value="">Select a card</option>
										
										
													<option  value="COMPASSAMEX|AMEX"> AMEX</option>
													
													
													<option  value="COMPASSDISCOVER|Discover"> Discover</option>
													
													
													<option  value="COMPASSMASTERCARD|Master Card"> Master Card</option>
													
													
													<option  value="COMPASSVISA|VISA"> VISA</option>
													
													<!-- ads plcc = 1 d-->
											<option 
												
												value="PLACE CARD|My Place Rewards Credit Card">
												My Place Rewards Credit Card
											</option>
										
								 </select>                             
                                <label class="label-error" style='margin-top:56px;width:245px'></label>
                        </div>
                        </div>
                        
                        		 				
                           <div class="row">
                        		<div class="fieldset-twoCol" style="width:50%;">
                        	<label for="pay_temp_account" class="field">Card Number<span class="required">*</span></label>
                        <input type="text" value="" id="pay_temp_account" maxlength="16" size="17" name="pay_temp_account" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'pay_temp_account');" onChange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'pay_temp_account');TCPMyPaymentInfoPopupJS.valueChanged('true');" />
                        <label class="label-error" style='width:475px'></label>
                        	</div>
                        
                        
                        		<div class="fieldset-twoCol" style="width:20%; float:left;">
                                    	 
                        	</div>
                            
                            
                            		<div class="fieldset-twoCol" id="cardExpiry" style="display:block}" >
                        	<label for="pay_expire_month" class="field">Expiration Date <span class="required">*</span></label>

                                <br />
                                
                                <div class="fix-selects">
                                <select name="pay_expire_month" id="pay_expire_month" class="cc-exp" size="1">
											  <option
												
												value="01">01</option>
											<option
												 selected="selected" 
												value="02">02</option>
											<option
												
												value="03">03</option>
											<option
												
												value="04">04</option>
											<option
												
												value="05">05</option>
											<option
												
												value="06">06</option>
											<option
												
												value="07">07</option>
											<option
												
												value="08">08</option>
											<option
												
												value="09">09</option>
											<option
												
												value="10">10</option>
											<option
												
												value="11">11</option>
											<option
												
												value="12">12</option>
										 </select>
                                </div>
                                
                                 <div class="fix-selects">                                                                 
                                 	
                                        <div id="WC_AjaxMyAccountQuickCheckoutProfileForm_div_35">
                                             <select name="pay_expire_year" id="pay_expire_year" class="cc-exp" size="1">
											 												
																								<option
																								 selected="selected" 
																								value="2017">2017</option>
																							
																								<option
																								
																								value="2018">2018</option>
																							
																								<option
																								
																								value="2019">2019</option>
																							
																								<option
																								
																								value="2020">2020</option>
																							
																								<option
																								
																								value="2021">2021</option>
																							
																								<option
																								
																								value="2022">2022</option>
																							
																								<option
																								
																								value="2023">2023</option>
																							
																								<option
																								
																								value="2024">2024</option>
																							
																								<option
																								
																								value="2025">2025</option>
																							
																								<option
																								
																								value="2026">2026</option>
																							
																								<option
																								
																								value="2027">2027</option>
																							
                                             </select>
                                 
                                 </div>
                                </div>
                                <label class="label-error"></label>
                                </div>
                            
                            <div class="clear">&nbsp;</div>
							        <div class="login-submit">		
							     
							        <a
							         href="javascript:void(0);"
							         onclick="JavaScript:TCPMyPaymentInfoPopupJS.tcpPrepareNewUpdateProfile('AddEditCreditCard');return false;"
							          id="WC_TCPAddCreditCard_links_7" 
							           class="button-blue" style="color:#fff;">Save</a>
							        </div>  
							        <div class="secondary-link"><a  class="button-blue" style="color:#fff;" href="javascript:void(0);"  onclick="javascript:$('#myPaymentInfoModalDialog').dialog('close')">Cancel</a></div>
                       
                       </form>
                        </div>
                        
</div>

<script type="text/javascript">

function updateCreditCardDropDown(){
	//Get currently selected country
	var selectedCountryCode = $("#billing_country").val() || $("#country").val();
	var selectedpaymentMethod = $("#payMethodId").val();
	var citiCardValue = "PLACE CARD|My Place Rewards Credit Card";
	var citiCardDisplayText = "My Place Rewards Credit Card";
	var discCardValue = "COMPASSDISCOVER|Discover";
	var discCardDisplayText = "Discover";
	
	if(selectedCountryCode == 'US'){
		// for US add the citi card option
		
		if($('#payMethodId option[value="'+citiCardValue+'"]')==null || $('#payMethodId option[value="'+citiCardValue+'"]').text() ==""){
			$("#payMethodId option:eq(0)").after("<option value='"+citiCardValue+"'>"+citiCardDisplayText+"</option>");
			
		}
		if($('#payMethodId option[value="'+discCardValue+'"]')==null || $('#payMethodId option[value="'+discCardValue+'"]').text() ==""){
			$("#payMethodId option:eq(0)").after("<option value='"+discCardValue+"'>"+discCardDisplayText+"</option>");
			
		}
	} else {
		// for Canada remove the citi card option
		if($('#payMethodId option[value="'+citiCardValue+'"]')!=null || $('#payMethodId option[value="'+citiCardValue+'"]').text() !=""){
			$('#payMethodId option[value="'+citiCardValue+'"]').remove();
			if(selectedpaymentMethod == citiCardValue){
				TCPMyPaymentInfoPopupJS.clearCardData();	
			}
		}
		if($('#payMethodId option[value="'+discCardValue+'"]')!=null || $('#payMethodId option[value="'+discCardValue+'"]').text() !=""){
			$('#payMethodId option[value="'+discCardValue+'"]').remove();
			if(selectedpaymentMethod == discCardValue){
				TCPMyPaymentInfoPopupJS.clearCardData();	
			}
		}
	}
	document.getElementById("cardExpiry").style.display = "block";
}
function hideCardExpiry(){
	//Get currently selected country
	var citiCardValue = "PLACE CARD|My Place Rewards Credit Card";
	var selectedCard = $("#payMethodId").val();
	if(citiCardValue.indexOf(selectedCard) > -1){
		document.getElementById("cardExpiry").style.display = "none";
	} else {
		document.getElementById("cardExpiry").style.display = "block";
	}
}

 $(function() {
 	updateCreditCardDropDown();
	  hideCardExpiry();
	 }); 
</script> 
<!-- TCPAddCreditCard.jsp End -->