<!-- BEGIN TCPShopCartDisplay.jsp -->

<link rel="stylesheet" type="text/css" href="/wcsstore/GlobalSAS//css/tcp/errors.css" />

<script language="javascript" src="/wcsstore/GlobalSAS/javascript/tcp/cheetahmail/sc_cart.js"> </script>		


<!-- Get order Details using the ORDER SOI -->
<script type="text/javascript">
dojo.addOnLoad(
	function(){
		CommonControllersDeclarationJS.setControllerURL('ShopCartPaginationDisplayController','https://tcp-perf.childrensplace.com/shop/ShopCartPageView?catalogId=10552&amp;langId=-1&amp;storeId=10152');
		ShipmodeSelectionExtJS.setOrderItemId('814579001');
		CheckoutHelperJS.setOrderId('');
		
		//cookie based code for prohibited skus module
		//var probskus = '';
		//var probskus = getCookie('probskus');
		//CheckoutHelperJS.setProhibitedSkus(probskus);
	}
);
//function to get cookie value with name
function getCookie(name) {
  var value = "; " + document.cookie;
  var parts = value.split("; " + name + "=");
  if (parts.length == 2) return parts.pop().split(";").shift();
}
</script>
    
		
<div class="bag-wrapper template-bg">
<div class="page-error" style="display:none" id="ErrorArea"><img src="/wcsstore/GlobalSAS/images/tcp/myPlace/login_error.png" /><span id="ErrorMessageText"></span></div>
<section class="bag-content">
<div id="content759">
		<div id="box" class="shopping_cart_box">
		
			<div class="contentgrad_header" id="shopping_cart_product_table_tall">
			<div class="left_corner" id="WC_ShopCartDisplay_div_2"></div>
			<div class="left" id="WC_ShopCartDisplay_div_3"></div>
			<div class="right_corner" id="WC_ShopCartDisplay_div_4"></div>	
	
		
		</div>
		   		
				<div class="body759" id="WC_ShopCartDisplay_div_5">
					<input type="hidden" id="OrderFirstItemId" value="814579001"/>
					
					<div id="bag-left">
						<div dojoType="wc.widget.RefreshArea" widgetId="ShopCartPagingDisplay" id="ShopCartPagingDisplay" controllerId="ShopCartPaginationDisplayController" waiRole="region" waistate:live="polite" waistate:atomic="false" waistate:relevant="all">
						<div class="bag-title"><h1>shopping bag</h1> <span class="bag-count">&nbsp;item(s)</span></div>
						<!-- BEGIN TCPOrderItemDetail.jsp -->

<script type="text/javascript">
	var baseHREF = '???constant.baseHREF???';
	var stylesHREF = '???constant.stylesHREF???';
	var homeHREF  = '???constant.hostName???';
	var PATH_TO_ENVOY = '???E4X_ENVOY_URL???';
	var isIntlShipping = 'false';
	var curCode = 'USD';
	var margin = '1.0';
	var exRate = '1.0';
	var roundMethod = '2';
	

</script>

<!-- Nidhish: orderItemId: 814579001, totalDiscount: 0, shipadjustment: 0, itemOrderMinusShipAdjust:  0 --><!-- Nidhish: orderItemId: 814579003, totalDiscount: -1.20000, shipadjustment: 0, itemOrderMinusShipAdjust:  -1.20000 --><!-- Nidhish: orderItemId: 814579004, totalDiscount: 0, shipadjustment: 0, itemOrderMinusShipAdjust:  0 -->
<table id="order_details" cellpadding="0" cellspacing="0" border="0" width="100%"
	summary="This table contains details about your current order. It contains product details, availability, quantity, unit price and total price of each item in the current order. You can change quantity or remove the item from current order by navigating through this table." class="bag-data">
	<thead class="bag-columns-header">
		<tr>
			<th class="item-pic">&nbsp;</th>
			<th class="item-descript">item name</th>
			<th class="item-size">size</th>
			<th class="item-quantity">quantity</th>
			<th class="item-price">item price</th>
			<th class="total-price">total price</th>
			<th></th>
		</tr>
	</thead>


 
 
	
		<input type="hidden" value='814579001' name='orderItem_1'
			id='orderItem_1' />
		<input type="hidden" value='482400' name='catalogId_1'
			id='catalogId_1' />
			
		<tr id="00428972626842" data-item-id="814579001">

						
			
						
			<td class="item-pic" id="shoppingCart_rowHeader_product1"
				abbr="forBB 2PK TEES">
				
				
			
				
				<div class="img" id="WC_OrderItemDetailsf_div_1_1"><!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/undershirts-2-pack-1123373-he" id="catalogEntry_img482400">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/1123373_HE.jpg" alt="1123373_HE" title="undershirts 2-pack" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->
				</div>
			</td>

			<td class="item-descript">

			
			
			
			<h1>
				
				
			
					<a href="http://tcp-perf.childrensplace.com/shop/ca/p/undershirts-2-pack-1123373-he">undershirts 2-pack</a>
							
			</h1>
			
			<h2>color:H/T GREY</h2>
			
			<h3>UPC # - 00428972626842</h3>
			
				<!--		begin Deals&Bogo--><!-- begin bogo --><!-- end Bogo promotion --><!--		begin Deals&Bogo--><!--			End Deals&Bogo--><!-- BEGIN TCPWebOnlyIndicatorPageDisplay.jspf-->



		<input type="hidden" name="webonly_debug1" value="TCPWebOnlyFlag=||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>

					
		
		<input type="hidden" name="webonly_debug2" value="TCPWebOnlyFlag=0||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>
		
		                             
		
			<input type="hidden" name="webonly_debug3" value="do not generate DIV with web-only indicator message."/>
			<!-- END TCPWebOnlyIndicatorPageDisplay.jspf-->
			
			
			
			
			
			
			
			</td>
			<td class="item-size">
		
			XL (14)
			</td>
			
		
<script type="text/javascript">
dojo.addOnLoad(
	function(){
		CheckoutHelperJS.setOrderId('');
		if('' != ''){
			//CheckoutHelperJS.setItemId('00428972626842');
			CheckoutHelperJS.setShippingState('');
			//CheckoutHelperJS.checkProhibitedSkus();
		}
		CheckoutHelperJS.checkShoppingCartItemsInventory();
		
	}
);
</script>	
			
			<td id="WC_OrderItemDetailsf_td_2_1" class="item-quantity"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product1">
			<!-- ======quantity selector====== -->
						<div class="selector" id="uniform-undefined"><span style="-moz-user-select: none;">1</span>
						<select id='quantity_1'
							name='quantity_1' onchange="JavaScript:setCurrentId('quantity_1'); CheckoutHelperJS.setRequiredQuan(this.value);CheckoutHelperJS.setItemId('814579001');CheckoutHelperJS.updateCartWait(this, '814579001',event);TCP.Tealium.View.fireCartUpdate(1);" style="opacity: 0;">
							<option value="1" selected>1</option>
							<option value="2" >2</option>
							<option value="3" >3</option>
							<option value="4" >4</option>
							<option value="5" >5</option>
							<option value="6" >6</option>
							<option value="7" >7</option>
							<option value="8" >8</option>
							<option value="9" >9</option>
							<option value="10" >10</option>
							<option value="11" >11</option>
							<option value="12" >12</option>
							<option value="13" >13</option>
							<option value="14" >14</option>
							<option value="15" >15</option>
						</select></div>
						<img id="productPageSwatch" style="display: none; " src="/wcsstore/GlobalSAS/images/colors/color1/loading.gif">
						<!-- end quantity selector -->
			</td>
			
			
			
			
			
			<td  id="WC_OrderItemDetailsf_td_3_1" class="item-price"
				headers="shoppingCart_tableCell_each shoppingCart_rowHeader_product1"> <span class="price"> 
			$12.95  </span>
				
				
				</td>
			<td id="WC_OrderItemDetailsf_td_4_1" class="total-price"
				headers="shoppingCart_tableCell_total shoppingCart_rowHeader_product1">
				
					<span
						class='price'>
					$12.95 </span>
					<br>
				
				
					
			</td>
			<td id="WC_OrderItemDetailsf_td_5_1" class="item_remove"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product1">
				
			
						<p><a id="WC_OrderItemDetailsf_linkss_2_1"
						href="JavaScript:setCurrentId('WC_OrderItemDetailsf_linkss_2_1');CheckoutHelperJS.deleteFromCart('814579001');CheckoutHelperJS.disableButtonClick('WC_OrderItemDetailsf_linkss_2_1');TCP.Tealium.Link.fireCartRemove(1);">
						remove</a></p>
				
			</td>
		</tr>
		
<!-- redEye Tag --><!-- End of redEye Tag -->
		 <input type="hidden" id="sc_item1" value="1.0" />
		 <input type="hidden" id="sc_productId1" value="447051" />
		 <input type="hidden" id="sc_productName1" value="undershirts 2-pack" />
		 	
		 	
		<input type="hidden" value='814579003' name='orderItem_2'
			id='orderItem_2' />
		<input type="hidden" value='415820' name='catalogId_2'
			id='catalogId_2' />
			
		<tr id="00424461722361" data-item-id="814579003">

						
			
						
			<td class="item-pic" id="shoppingCart_rowHeader_product2"
				abbr="forSS PRNCESS CROWN">
				
				
			
				
				<div class="img" id="WC_OrderItemDetailsf_div_1_2"><!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/princess-crown-graphic-tee-2023329-365" id="catalogEntry_img415820">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2023329_365.jpg" alt="2023329_365" title="princess crown graphic tee" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->
				</div>
			</td>

			<td class="item-descript">

			
			
			
			<h1>
				
				
			
					<a href="http://tcp-perf.childrensplace.com/shop/ca/p/princess-crown-graphic-tee-2023329-365">princess crown graphic tee</a>
							
			</h1>
			
			<h2>color:CARIB BLUE</h2>
			
			<h3>UPC # - 00424461722361</h3>
			
				<!--		begin Deals&Bogo--><!-- begin bogo --><!-- end Bogo promotion --><!--		begin Deals&Bogo--><!--			End Deals&Bogo--><!-- BEGIN TCPWebOnlyIndicatorPageDisplay.jspf-->



		<input type="hidden" name="webonly_debug1" value="TCPWebOnlyFlag=||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>

					
		
		<input type="hidden" name="webonly_debug2" value="TCPWebOnlyFlag=0||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>
		
		                             
		
			<input type="hidden" name="webonly_debug3" value="do not generate DIV with web-only indicator message."/>
			<!-- END TCPWebOnlyIndicatorPageDisplay.jspf-->
			
			
			
			
			
			
			
			</td>
			<td class="item-size">
		
			XS (4)
			</td>
			
		
<script type="text/javascript">
dojo.addOnLoad(
	function(){
		CheckoutHelperJS.setOrderId('');
		if('' != ''){
			//CheckoutHelperJS.setItemId('00424461722361');
			CheckoutHelperJS.setShippingState('');
			//CheckoutHelperJS.checkProhibitedSkus();
		}
		CheckoutHelperJS.checkShoppingCartItemsInventory();
		
	}
);
</script>	
			
			<td id="WC_OrderItemDetailsf_td_2_2" class="item-quantity"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product2">
			<!-- ======quantity selector====== -->
						<div class="selector" id="uniform-undefined"><span style="-moz-user-select: none;">2</span>
						<select id='quantity_2'
							name='quantity_2' onchange="JavaScript:setCurrentId('quantity_2'); CheckoutHelperJS.setRequiredQuan(this.value);CheckoutHelperJS.setItemId('814579003');CheckoutHelperJS.updateCartWait(this, '814579003',event);TCP.Tealium.View.fireCartUpdate(2);" style="opacity: 0;">
							<option value="1" >1</option>
							<option value="2" selected>2</option>
							<option value="3" >3</option>
							<option value="4" >4</option>
							<option value="5" >5</option>
							<option value="6" >6</option>
							<option value="7" >7</option>
							<option value="8" >8</option>
							<option value="9" >9</option>
							<option value="10" >10</option>
							<option value="11" >11</option>
							<option value="12" >12</option>
							<option value="13" >13</option>
							<option value="14" >14</option>
							<option value="15" >15</option>
						</select></div>
						<img id="productPageSwatch" style="display: none; " src="/wcsstore/GlobalSAS/images/colors/color1/loading.gif">
						<!-- end quantity selector -->
			</td>
			
			
			
			
			
			<td  id="WC_OrderItemDetailsf_td_3_2" class="item-price"
				headers="shoppingCart_tableCell_each shoppingCart_rowHeader_product2"> <span class="former-price"> 
			$2.00  </span>
				
					<br>
					<span class="sale-price">
						$1.40  
					</span>
				
				
				</td>
			<td id="WC_OrderItemDetailsf_td_4_2" class="total-price"
				headers="shoppingCart_tableCell_total shoppingCart_rowHeader_product2">
				
					<span
						class='former-price'>
					$4.00 </span>
					<br>
				
				
					
						<span class="sale-price">
						$2.80 </span>
					
			</td>
			<td id="WC_OrderItemDetailsf_td_5_2" class="item_remove"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product2">
				
			
						<p><a id="WC_OrderItemDetailsf_linkss_2_2"
						href="JavaScript:setCurrentId('WC_OrderItemDetailsf_linkss_2_2');CheckoutHelperJS.deleteFromCart('814579003');CheckoutHelperJS.disableButtonClick('WC_OrderItemDetailsf_linkss_2_2');TCP.Tealium.Link.fireCartRemove(2);">
						remove</a></p>
				
			</td>
		</tr>
		
<!-- redEye Tag --><!-- End of redEye Tag -->
		 <input type="hidden" id="sc_item2" value="2.0" />
		 <input type="hidden" id="sc_productId2" value="415819" />
		 <input type="hidden" id="sc_productName2" value="princess crown graphic tee" />
		 	
		 	
		<input type="hidden" value='814579004' name='orderItem_3'
			id='orderItem_3' />
		<input type="hidden" value='468332' name='catalogId_3'
			id='catalogId_3' />
			
		<tr id="00428188720235" data-item-id="814579004">

						
			
						
			<td class="item-pic" id="shoppingCart_rowHeader_product3"
				abbr="forLEOPARD JEGGING">
				
				
			
				
				<div class="img" id="WC_OrderItemDetailsf_div_1_3"><!-- BEGIN TCPCatalogEntryDBThumbnailDisplay.jspf-->
		<a href="http://tcp-perf.childrensplace.com/shop/ca/p/leopard-jeggings-2025596-583" id="catalogEntry_img468332">
			<img class="sku-image" src="/wcsstore/GlobalSAS/images/tcp/products/200/2025596_583.jpg" alt="2025596_583" title="leopard jeggings" border="0"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"/>
		</a>
	<!-- END TCPCatalogEntryDBThumbnailDisplay.jspf-->
				</div>
			</td>

			<td class="item-descript">

			
			
			
			<h1>
				
				
			
					<a href="http://tcp-perf.childrensplace.com/shop/ca/p/leopard-jeggings-2025596-583">leopard jeggings</a>
							
			</h1>
			
			<h2>color:LEOPARDFUR</h2>
			
			<h3>UPC # - 00428188720235</h3>
			
				<!--		begin Deals&Bogo--><!-- begin bogo --><!-- end Bogo promotion --><!--		begin Deals&Bogo--><!--			End Deals&Bogo--><!-- BEGIN TCPWebOnlyIndicatorPageDisplay.jspf-->



		<input type="hidden" name="webonly_debug1" value="TCPWebOnlyFlag=||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>

					
		
		<input type="hidden" name="webonly_debug2" value="TCPWebOnlyFlag=0||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>
		
		                             
		
			<input type="hidden" name="webonly_debug3" value="do not generate DIV with web-only indicator message."/>
			<!-- END TCPWebOnlyIndicatorPageDisplay.jspf-->
			
			
			
			
			
			
			
			</td>
			<td class="item-size">
		
			4T
			</td>
			
		
<script type="text/javascript">
dojo.addOnLoad(
	function(){
		CheckoutHelperJS.setOrderId('');
		if('' != ''){
			//CheckoutHelperJS.setItemId('00428188720235');
			CheckoutHelperJS.setShippingState('');
			//CheckoutHelperJS.checkProhibitedSkus();
		}
		CheckoutHelperJS.checkShoppingCartItemsInventory();
		
	}
);
</script>	
			
			<td id="WC_OrderItemDetailsf_td_2_3" class="item-quantity"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product3">
			<!-- ======quantity selector====== -->
						<div class="selector" id="uniform-undefined"><span style="-moz-user-select: none;">2</span>
						<select id='quantity_3'
							name='quantity_3' onchange="JavaScript:setCurrentId('quantity_3'); CheckoutHelperJS.setRequiredQuan(this.value);CheckoutHelperJS.setItemId('814579004');CheckoutHelperJS.updateCartWait(this, '814579004',event);TCP.Tealium.View.fireCartUpdate(3);" style="opacity: 0;">
							<option value="1" >1</option>
							<option value="2" selected>2</option>
							<option value="3" >3</option>
							<option value="4" >4</option>
							<option value="5" >5</option>
							<option value="6" >6</option>
							<option value="7" >7</option>
							<option value="8" >8</option>
							<option value="9" >9</option>
							<option value="10" >10</option>
							<option value="11" >11</option>
							<option value="12" >12</option>
							<option value="13" >13</option>
							<option value="14" >14</option>
							<option value="15" >15</option>
						</select></div>
						<img id="productPageSwatch" style="display: none; " src="/wcsstore/GlobalSAS/images/colors/color1/loading.gif">
						<!-- end quantity selector -->
			</td>
			
			
			
			
			
			<td  id="WC_OrderItemDetailsf_td_3_3" class="item-price"
				headers="shoppingCart_tableCell_each shoppingCart_rowHeader_product3"> <span class="price"> 
			$13.97  </span>
				
				
				</td>
			<td id="WC_OrderItemDetailsf_td_4_3" class="total-price"
				headers="shoppingCart_tableCell_total shoppingCart_rowHeader_product3">
				
					<span
						class='price'>
					$27.94 </span>
					<br>
				
				
					
			</td>
			<td id="WC_OrderItemDetailsf_td_5_3" class="item_remove"
				headers="shoppingCart_tableCell_quantity shoppingCart_rowHeader_product3">
				
			
						<p><a id="WC_OrderItemDetailsf_linkss_2_3"
						href="JavaScript:setCurrentId('WC_OrderItemDetailsf_linkss_2_3');CheckoutHelperJS.deleteFromCart('814579004');CheckoutHelperJS.disableButtonClick('WC_OrderItemDetailsf_linkss_2_3');TCP.Tealium.Link.fireCartRemove(3);">
						remove</a></p>
				
			</td>
		</tr>
		
<!-- redEye Tag --><!-- End of redEye Tag -->
		 <input type="hidden" id="sc_item3" value="2.0" />
		 <input type="hidden" id="sc_productId3" value="447954" />
		 <input type="hidden" id="sc_productName3" value="leopard jeggings" />
		 	
		 	
	<input type="hidden" id="totalNumberOfItems" name="totalNumberOfItems" value='3' />

	
	<input type="hidden" name="existingPaymentInstructionId" value="" id="existingPaymentInstructionId" />

	

	<input type="hidden" name="currentOrderId" value="634267769" id="currentOrderId" />
	<input type="hidden" name="numOrderItemsInOrder" value="3" id="numOrderItemsInOrder" />
	<input type="hidden" name="nonRecurringOrderItems" value="" id="nonRecurringOrderItems" />
	<input type="hidden" name="nonRecurringOrderItemsCount" value="0" id="nonRecurringOrderItemsCount" />
</table>
<!-- END TCPOrderItemDetail.jsp -->
						</div>
					</div>
					<script type="text/javascript">
						dojo.addOnLoad(function() { 
							parseWidget("ShopCartPagingDisplay");
							
						});            
					</script>
					
					<!---------------- START placecash ---------------------><!-- BEGIN TCPVoucherEarnPlaceCashShoppingBag.jsp -->

<script type="text/javascript">
	var baseHREF = '???constant.baseHREF???';
	var stylesHREF = '???constant.stylesHREF???';
	var homeHREF  = '???constant.hostName???';
	var PATH_TO_ENVOY = '???E4X_ENVOY_URL???';
	var isIntlShipping = 'false';
	var curCode = 'USD';
	var margin = '1.0';
	var exRate = '1.0';
	var roundMethod = '2';
	

</script>

<!-- END TCPVoucherEarnPlaceCashShoppingBag.jsp --><!---------------- END placecash ---------------------><!---------------- START Gift With Purchase ----------><!-- BEGIN TCPGWPShoppingBag.jsp -->

<script type="text/javascript">
	var baseHREF = '???constant.baseHREF???';
	var stylesHREF = '???constant.stylesHREF???';
	var homeHREF  = '???constant.hostName???';
	var PATH_TO_ENVOY = '???E4X_ENVOY_URL???';
	var isIntlShipping = 'false';
	var curCode = 'USD';
	var margin = '1.0';
	var exRate = '1.0';
	var roundMethod = '2';
	

</script>


<script type="text/javascript">
	dojo.addOnLoad(function(){
		CommonControllersDeclarationJS.setControllerURL('PromotionFreeGifts_Controller','https://tcp-perf.childrensplace.com/shop/PromotionFreeGiftChoicesView?catalogId=10552&amp;langId=-1&amp;storeId=10152');
		MessageHelper.setMessage("ShopCartDisplayViewURL", "https://tcp-perf.childrensplace.com/shop/ShopCartDisplayView?shipmentType=single&catalogId=10552&langId=-1&storeId=10152");	
	});
</script>	


		
		<script type="text/javascript">
					

		
		function noThanksCheck(rewardOptionId){
			if($('#PickYourFreeGift').length > 0){
			var text = $.trim($('#PickYourFreeGift').html());			
			if(text == MessageHelper.messages["PROMOTION_PICK_FREE_GIFTS"] || text == MessageHelper.messages["PROMOTION_PICK_FREE_GIFT"]){
				//$('#noThanks').removeClass();
				//$('#noThanks').addClass('button-dark-grey');
				if($("#"+rewardOptionId).length > 0) {
					$("#"+rewardOptionId).hide();
				}
				
				
			}else{
			var params = [];
			params.orderId = ".";		
			params["rewardOptionId"] = rewardOptionId;	
			params["calculationUsage"] = "-1,-2,-5,-6,-7";
			params["allocate"] = "***";
			params["backorder"] = "***";
			if(!submitRequest()){
				return;
			}
			$('#FromNoThanks').val('true'); 
			CommonControllersDeclarationJS.setControllerURL('ShopCartDisplayController','https://tcp-perf.childrensplace.com/shop/ShopCartDisplayView?shipmentType=single&amp;catalogId=10552&amp;langId=-1&amp;storeId=10152&fromNoThanks=1');          
			cursor_wait();
			wc.service.invoke("AjaxUpdateRewardOption", params);	
			}
			}
		
		}

		
		</script>
<!-- END TCPGWPShoppingBag.jsp --><!---------------- END Gift With Purchase ------------><!-- BEGIN TCPOrderTotals.jsp -->

<script type="text/javascript">
	var baseHREF = '???constant.baseHREF???';
	var stylesHREF = '???constant.stylesHREF???';
	var homeHREF  = '???constant.hostName???';
	var PATH_TO_ENVOY = '???E4X_ENVOY_URL???';
	var isIntlShipping = 'false';
	var curCode = 'USD';
	var margin = '1.0';
	var exRate = '1.0';
	var roundMethod = '2';
	

</script>

 
<script type="text/javascript">
	dojo.addOnLoad(initDiscountDetails);
	
	function initDiscountDetails(){	
		
		if(document.getElementById("discountDetailsSection")!=null )  {
			document.getElementById("discountDetailsSection").style.display = "block";
		}
	}
</script>




					<div id="subtotal-row">
<div id="total_breakdown">

	
		<div id="promotions" class="coupon-code">
			<!-- BEGIN TCPPromotionCodeDisplay.jsp -->

<script type="text/javascript">
       dojo.addOnLoad(function() {
              
              MessageHelper.setMessage("PROMOTION_CODE_EMPTY", "Please enter the promotional code");
              MessageHelper.setMessage("PROMOTION_UNAPPLICABLE_MESSAGE", "This code is not applicable"); 
		ServicesDeclarationJS.setCommonParameters('-1','10152','10552');
       });
</script>

 

<script type="text/javascript">
       dojo.addOnLoad(initPromotionAssets); 
       
       function initPromotionAssets(){
                     
       }

</script>

 <form name="PromotionCodeForm" id="PromotionCodeForm" method="post" action="https://tcp-perf.childrensplace.com/shop/PromotionCodeManage?catalogId=10552&amp;langId=-1&amp;storeId=10152" onsubmit="javascript: return false;">
        

       <input type="hidden" name="orderId" value="634267769" id="WC_PromotionCodeDisplay_FormInput_orderId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="taskType" value="A" id="WC_PromotionCodeDisplay_FormInput_page_In_PromotionCodeForm_1"/>
       <input type="hidden" name="URL" value="" id="WC_PromotionCodeDisplay_FormInput_URL_In_PromotionCodeForm_1"/>
       <input type="hidden" name="storeId" value="10152" id="WC_PromotionCodeDisplay_FormInput_storeId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="catalogId" value="10552" id="WC_PromotionCodeDisplay_FormInput_catalogId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="langId" value="-1" id="WC_PromotionCodeDisplay_FormInput_langId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="finalView" value="AjaxOrderItemDisplayView" id="WC_PromotionCodeDisplay_FormInput_finalView_In_PromotionCodeForm_1"/>
       <input type="hidden" name="fromPage" value="shoppingCartDisplay"/>
       
       
		       <div id="WC_PromotionCodeDisplay_div_1">
		              <h1>have a coupon code?
		              	<span>
		              		<!-- BEGIN ContentAreaESpot.jsp --><!-- ###############  Espot name: Coupon_Help_Espot2 ######################-->

<span class="genericESpot" id="WC_ContentAreaESpot_div_1_21651">

            <span class="ad" id="ad_21651">
          <a title="coupon help" class="openModal" href="/wcsstore/GlobalSAS/images/tcp/html/shopping_bag_couponHelp.html">need help?</a> 

            </span>
        


</span>

<!-- END ContentAreaESpot.jsp -->
						</span>
					  </h1>
		       </div>
	       		<div class="coupon-input" id="WC_PromotionCodeDisplay_div_2">
	              		<input type="text" class="input" size="6" name="promoCode" id="promoCode" onkeypress="if(event.keyCode==13) JavaScript:CheckoutHelperJS.applyPromotionCode('PromotionCodeForm','AjaxOrderItemDisplayView')"/>
	              
				       <div class="apply-code" id="WC_PromotionCodeDisplay_div_3">
				              <div id="WC_PromotionCodeDisplay_div_4">
				                       
				                                                 <a class="button-orange" href="#" onclick="JavaScript:setCurrentId('WC_PromotionCodeDisplay_links_1'); CheckoutHelperJS.applyPromotionCode('PromotionCodeForm','AjaxOrderItemDisplayView');return false;" class="button_text" id="WC_PromotionCodeDisplay_links_1">
				                                                         <font color='#FFFFFF'>Apply Code</font>
				                                                 </a>	                                         
				              </div>       
				                
				              
				       </div>
				       <label for="promoCodeErrorLabel" id="promoCodeErrorLabel" class="label-error" style="display:none"></label>
			                             
	       		</div>
	       		
       
       <br clear="left" />

</form>
<!-- END TCPPromotionCodeDisplay.jsp -->
		</div>
	

	
	<div class="bag-total" id="order_total" cellpadding="0" cellspacing="0" border="0" summary="This table contains order summary information about your order. It contains order subtotal, total discount applied to the order, tax, shipping, shipping tax, and order total information of your order.">
	
		
			
		<div class="total-row"> 
			<span class="label-left" id="WC_SingleShipmentOrderTotalsSummary_td_1">subtotal:</span>
			<span class="label-right" id="WC_SingleShipmentOrderTotalsSummary_td_2">
			$43.69
			
			</span>
			<div class="clear"></div>
		</div>
		
		<div class="total-row discount" style="display:none">
			
						<span class="label-left" id="WC_SingleShipmentOrderTotalsSummary_td_11">Product Discounts::</span>
			
				<span class="label-right" id="WC_SingleShipmentOrderTotalsSummary_td_12">($0.60)</span>
			
			<div class="clear"></div>
		</div>
		
		
		
		
		<div class="total-row estimate">
			<span class="label-left" id="WC_SingleShipmentOrderTotalsSummary_td_9">estimated total:</span>
		
				
					<span class="label-right" id="WC_SingleShipmentOrderTotalsSummary_td_13">
					$43.69
					
					</span>
				
			
			<div class="clear"></div>
		</div>
		
		<!-- start reward points display--><!-- end reward points display-->

		<div>
			
				<span>
					<!-- BEGIN ContentAreaESpot.jsp --><!-- ###############  Espot name: Shopping_Cart_Total_Espot ######################-->

<div class="genericESpot" id="WC_ContentAreaESpot_div_1_42673">

            <div class="ad" id="ad_42673">
         <div class="shipping-calculator"> <span class="free-ship">$8 flat rate shipping on any size order</span>&nbsp;<a title="offer details" class="openModal" href="/wcsstore/GlobalSAS/images/tcp/html/freeShipping_homepage.html">details</a></div>
            </div>
        


</div>

<!-- END ContentAreaESpot.jsp -->
				</span>
				<div class="clear"></div>
			
			
		</div>
	</div>
</div>
	
	
<input type="hidden" name="OrderTotalAmount" value="43.69000" id="OrderTotalAmount" />
	
	<!-- BEGIN TCPOrderTotals.jsp -->

<script type="text/javascript">
	var baseHREF = '???constant.baseHREF???';
	var stylesHREF = '???constant.stylesHREF???';
	var homeHREF  = '???constant.hostName???';
	var PATH_TO_ENVOY = '???E4X_ENVOY_URL???';
	var isIntlShipping = 'false';
	var curCode = 'USD';
	var margin = '1.0';
	var exRate = '1.0';
	var roundMethod = '2';
	

</script>

 

			      
					<script type="text/javascript">
					
					function applyLoyaltyCode(cd) {
						document.PromotionCodeForm.promoCode.value = cd
						CheckoutHelperJS.applyPromotionCode('PromotionCodeForm','AjaxOrderItemDisplayView');
					}
					</script>
					
	
	<div id="CouponWallet" style="display:block">
	 
	
					 
					 

					</div>							
						
</div>
<!-- END TCPOrderTotals.jsp -->
						
						<div id="payment-row">
							<!-- BEGIN TCPCheckoutLogon.jsp --><!-- Start - JSP File Name:  CheckoutLogon.jsp -->

<script>
CheckoutHelperJS.setshippingUrl('TCPCheckoutCmd?langId=-1&storeId=10152&catalogId=10552&orderId=634267769&URL=LogonForm');
ShipmodeSelectionExtJS.setshippingUrl('TCPCheckoutCmd?langId=-1&storeId=10152&catalogId=10552&orderId=634267769&URL=LogonForm');
</script>



<div id="WC_CheckoutLogonf_div_9">
	<!-- BEGIN ContentAreaESpot.jsp --><!-- ###############  Espot name: Payment_Accept_Espot ######################-->

<div class="genericESpot" id="WC_ContentAreaESpot_div_1_30651">

            <div class="ad" id="ad_30651">
        <div class="payment-methods-CA">&nbsp;</div>
            </div>
        


</div>

<!-- END ContentAreaESpot.jsp -->
<div class="payment-buttons">
 <div class="button">
 
	
	<div id="shopcartCheckoutButton">		
				<span id="WC_CheckoutLogonf_div_10" >
								
											<a class="button-blue" href="javascript:if(!FreeGiftCheck()){alert(MessageHelper.messages['PROMOTION_FREE_GIFTS_ALERT']);} else {CheckoutHelperJS.Icheckout('');}" onclick="javascript:if(!FreeGiftCheck()){return;}setCurrentId('shopcartCheckout');if(CheckoutHelperJS.canCheckoutContinue('R') && CheckoutHelperJS.updateShoppingCart(document.ShopCartForm,true)){ShipmodeSelectionExtJS.registeredUserContinue('https://tcp-perf.childrensplace.com/shop/TCPOrderShippingView?shipmentType=single&amp;catalogId=10552&amp;langId=-1&amp;storeId=10152', 'http://tcp-perf.childrensplace.com/shop/CheckoutStoreSelectionView?catalogId=10552&amp;fromPage=ShoppingCart&amp;langId=-1&amp;storeId=10152');}return false;" id="shopcartCheckout" >
												<font color="#FFFFFF">Proceed to Checkout</font>
											</a>
										
		</span>
	</div>	

</div>

		
	<div class="button" >
	<a href="javascript:PayPalCheckout()"><img title="Check out with PayPal" alt="Check out with PayPal" src="/wcsstore/GlobalSAS/images/tcp/checkout/btn_xo_142x27.gif"/></a>
	<span class="paypal">or</span>
	</div>
	
	


<div class="button"><a class="button-grey" id="WC_BreadCrumbTrailDisplay_links_2a" href="http://tcp-perf.childrensplace.com/shop/ca/home"><font color="#FFFFFF">Continue Shopping</font></a></div>
</div>
<br/><br/>



<script type="text/javascript">

	
dojo.addOnLoad(function() { 
		
		MessageHelper.setMessage("PROMOTION_CHANGE_FREE_GIFT", "Change your free gift");
		MessageHelper.setMessage("PROMOTION_CHANGE_FREE_GIFTS", "Change your free gifts");
		MessageHelper.setMessage("PROMOTION_PICK_FREE_GIFT", "CHOOSE YOUR GIFT");
		MessageHelper.setMessage("PROMOTION_PICK_FREE_GIFTS", "CHOOSE YOUR GIFT");
		MessageHelper.setMessage("PROMOTION_FREE_GIFTS_ALERT", "Please choose your free gift or click \"No Thanks\", if you don't want to receive your free gift.");
});	
	
function FreeGiftCheck(){
			/*if($('#PickYourFreeGift').length > 0 && $('#PickYourFreeGift').is(':visible')){
			var text = $.trim($('#PickYourFreeGift').html());
			if((text == MessageHelper.messages["PROMOTION_PICK_FREE_GIFTS"] || text == MessageHelper.messages["PROMOTION_PICK_FREE_GIFT"]) && $('#noThanks').attr('class') == 'button-grey'){
				
				return false;
			}
			}*/
			return true;
}

	function PayPalCheckout()
	{
				
			if(!FreeGiftCheck()){
			alert(MessageHelper.messages["PROMOTION_FREE_GIFTS_ALERT"]);
			return;
			}	
		try {
			var newURL = "https://tcp-perf.childrensplace.com/webapp/wcs/stores/servlet/TCPPayPalCCLookUpCmd?storeId=10152&catalogId=10552&langId=-1&orderId=634267769&callingPage=AjaxOrderItemDisplayView";
			document.location.href = newURL;
		} catch(error) {
			alert("error detected while redirecting to PayPal : " + error.message);
		}
	}
	
	
	
</script>

<!-- END TCPCheckoutLogon.jsp -->
						</div>
					 
				</div>	
		
		<div class="footer" id="WC_ShopCartDisplay_div_7">
			<div class="left_corner" id="WC_ShopCartDisplay_div_8"></div>
			<div class="left" id="WC_ShopCartDisplay_div_9"></div>
			<div class="right_corner" id="WC_ShopCartDisplay_div_10"></div>
		</div>		
	</div>
</div>  					


</section>
</div>			
			<script>
	var pageTypeObj = {
		'page_type' : 'cart',
		'sc_page_type' : 'shopping bag',
		'page_name' : '',
		'page_department' : '',
		'page_category' : '',
		'page_subcategory' : '',
		'event_name' : ''
	};
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(pageTypeObj));
</script><!-- Defect #1017 Begin - Tealium Tag Snippet - CART Tag --><!-- Begin - Tealium Data Population - Cart Tag -->

<script type="text/javascript"> 

(function(){
  console.log("Tealium Cart Tag : ");
  var cartItemsObj = {};
  try{
	cartItemsObj.product_id			    =	['447051','415819','447954'];
	cartItemsObj.product_upc			=	['00428972626842','00424461722361','00428188720235'];
	cartItemsObj.product_sku			=	['1123373_HE','2023329_365','2025596_583'];
	cartItemsObj.product_name			=	['undershirts 2-pack','princess crown graphic tee','leopard jeggings'];
	cartItemsObj.product_price			=	['12.95','2.00','13.97'];
	cartItemsObj.product_quantity		=	['1','2','2'];
	
	cartItemsObj.cart_product_id		=	['447051','415819','447954'];
	cartItemsObj.cart_product_upc		=	['00428972626842','00424461722361','00428188720235'];
	cartItemsObj.cart_product_sku		=	['1123373_HE','2023329_365','2025596_583'];
	cartItemsObj.cart_product_quantity	=	['1','2','2'];
	cartItemsObj.cart_product_price	    =	['12.95','2.00','13.97'];
	var cart_total_items = 0;
	for (var i in cartItemsObj.cart_product_quantity) {
  		cart_total_items+= parseInt(cartItemsObj.cart_product_quantity[i]);
	}
	cartItemsObj.cart_total_items		=	cart_total_items.toString();
	cartItemsObj.cart_total_value		=	'43.69';
	
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(cartItemsObj));
	
	TCP.Tealium.CartCookie.createCart();
	
  }catch(err){
	console.error(err.message);
  }
  
  
  if(utag_data.product_id === undefined || utag_data.product_id.length <= 0){
		setTimeout(function(){
			TCP.Tealium.Link.fireEmptyCart();
		},3000);
  }
  
})();

</script>

<!-- End - Tealium Data Population - Cart Tag --><!-- End - Tealium Tag Snippet - CART Tag --><div class="my-wishlist">
	<div class="component shopping-bag"  data-component="ShoppingBag"></div>
</div>
<script type="text/javascript">
	if (window.$) {
		window.$legacyjQuery = $.noConflict(); 
	} 
</script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/wcsstore/GlobalSAS/javascript/tcp/Restjsapi/lib.js" type="text/javascript"></script>
<script src="/wcsstore/GlobalSAS/javascript/tcp/Restjsapi/app.js" type="text/javascript"></script>
<script src="/wcsstore/GlobalSAS/javascript/tcp/Restjsapi/templates.js" type="text/javascript"></script>
<script>
	if (window.$legacyjQuery) {
		window.$ = window.jQuery = window.$legacyjQuery; 
	}
</script>
<script type="text/javascript">
	if ($(document).find("head > link [href='/wcsstore/GlobalSAS/css/tcp/page-pdp.css']").length === 0) {
		$(document).find("head").append("<link rel=\"stylesheet\" href=\"/wcsstore/GlobalSAS/css/tcp/page-shopping-bag.css\" />");
	}
</script><!-- END TCPShopCartDisplay.jsp -->