<!-- BEGIN TCPProductQuickView.jsp --><!-- JSP filename: TCPProductQuickView.jsp -->
<link href="/wcsstore/GlobalSAS/css/tcp/product-banners.css" rel="stylesheet" type="text/css" />
<link href="/wcsstore/GlobalSAS/css/tcp/product_modal_2015.css" rel="stylesheet" type="text/css" />
<link href="/wcsstore/GlobalSAS/css/tcp/cloudzoom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/wcsstore/GlobalSAS/javascript/CatalogArea/ProductDisplay.js"></script>
<script type="text/javascript" src="/wcsstore/GlobalSAS/javascript/ServicesDeclaration.js"></script>
<script src="/wcsstore/GlobalSAS/javascript/tcp/cloudzoom.js"></script>
<script type="text/javascript">
	dojo.addOnLoad(function() { 
		ServicesDeclarationJS.setCommonParameters('-1','10152','10552');
		dojo.require("dojo.cookie");
	});
</script>


<script type="text/javascript">
    CloudZoom.quickStart();
</script> 


<!-- isTCPROPISEnabledQV:  @@  -->
<div id="product-quickview" class="modal-content" style="width:730px;">
 <span class="off-screen">Beginning of dialog content</span>


<!-- BEGIN TCPProductCommonJSInclude.jspf -->
<input type="hidden" value="" id="previous_size" />
<input type="hidden" value="" id="previous_fit" />

<script type="text/javascript">
 
var entitledItem_160168 =

								[
								
											{
											"catentry_id" : "205568",
											"qty" : "0",
											
											"Attributes" :	{
												
														"Size_XXS (2/3)":"1"
														
												}
											},
											{
											"catentry_id" : "470490",
											"qty" : "992815",
											
											"Attributes" :	{
												
														"Size_XXS (2/3)":"1"
														
												}
											},
											{
											"catentry_id" : "205563",
											"qty" : "0",
											
											"Attributes" :	{
												
														"Size_XS (4)":"1"
														
												}
											},
											{
											"catentry_id" : "205565",
											"qty" : "0",
											
											"Attributes" :	{
												
														"Size_S (5/6)":"1"
														
												}
											},
											{
											"catentry_id" : "473511",
											"qty" : "992955",
											
											"Attributes" :	{
												
														"Size_S (5/6)":"1"
														
												}
											},
											{
											"catentry_id" : "205567",
											"qty" : "0",
											
											"Attributes" :	{
												
														"Size_M (7/8)":"1"
														
												}
											},
											{
											"catentry_id" : "205564",
											"qty" : "0",
											
											"Attributes" :	{
												
														"Size_L (10/12)":"1"
														
												}
											},
											{
											"catentry_id" : "479477",
											"qty" : "992713",
											
											"Attributes" :	{
												
														"Size_L (10/12)":"1"
														
												}
											},
											{
											"catentry_id" : "205566",
											"qty" : "0",
											
											"Attributes" :	{
												
														"Size_XL (14)":"1"
														
												}
											},
								]
					
var entitledItem_447051 =

								[
								
											{
											"catentry_id" : "470491",
											"qty" : "997278",
											
											"Attributes" :	{
												
														"Size_XXS (2/3)":"1"
														
												}
											},
											{
											"catentry_id" : "473513",
											"qty" : "997316",
											
											"Attributes" :	{
												
														"Size_S (5/6)":"1"
														
												}
											},
											{
											"catentry_id" : "476492",
											"qty" : "997427",
											
											"Attributes" :	{
												
														"Size_M (7/8)":"1"
														
												}
											},
											{
											"catentry_id" : "479479",
											"qty" : "997795",
											
											"Attributes" :	{
												
														"Size_L (10/12)":"1"
														
												}
											},
											{
											"catentry_id" : "482400",
											"qty" : "997430",
											
											"Attributes" :	{
												
														"Size_XL (14)":"1"
														
												}
											},
								]
					
								
</script>

<script type="text/javascript">      
var productDetails = {
 
 	product_160168: {
 	"productId" : "160168",
 	"partNumber" : "1123373_10",
 	
 	"productURL" : "http://tcp-perf.childrensplace.com/shop/ca/p/undershirts-2-pack-1123373-10"	,
 	"offerPrice" : "12.95",
      	
 	"listPrice" : "12.95", 
	"colorName" : "WHITE" , 
	"imageIdentifier" : "1123373_10" 
			
							  		,"TCPSwatchImage" : "1123373_10|1123373_HE"						  		
							  	
							  		,"TCPBazaarVoiceRating" : "4.7"       
							  	
							  	  		,"TCPWebOnlyFlag" : "0"
							  	  	
							  	  		,"TCPROPIS" : "0"
							  	  	
							  	 
							  	 
							  	 
 	},
 	product_447051: {
 	"productId" : "447051",
 	"partNumber" : "1123373_HE",
 	
 	"productURL" : "http://tcp-perf.childrensplace.com/shop/ca/p/undershirts-2-pack-1123373-he"	,
 	"offerPrice" : "12.95",
      	
 	"listPrice" : "12.95", 
	"colorName" : "H/T GREY" , 
	"imageIdentifier" : "1123373_HE" 
			
							  		,"TCPInventoryMessage" : "limited quantities"						  		
							  	
							  		,"TCPSwatchImage" : "1123373_10|1123373_HE"						  		
							  	
							  	  		,"TCPWebOnlyFlag" : "0"
							  	  	
							  	  		,"TCPROPIS" : "0"
							  	  	
							  	 
							  	 
							  	 
 	}
 

}; 


</script>




<script>
	
	utag_data.page_name = 'product detail';
	utag_data.page_type = 'product';
	utag_data.sc_page_type = 'product';
	var product_sku;
	var productObj = {
		'category_name' : '',
		'product_sku' : [],
		'product_id' : [],
		'product_url' : [],
		'product_price' : [],
		'product_name' : [],
		'product_original_price' : [],
		'product_subcategory' : [],
		'product_category' : [],
		'product_image_url' : []
	};
	
	productObj.category_id = '';
	if ('' === ''){
		productObj.category_id = '38004';
	}
	
    
	try{
		productObj.product_image_url = ["//"+window.location.host+"/wcsstore/GlobalSAS/images/tcp/products/900/1123373_HE.jpg"];
	}catch(e){};
	
	productObj.product_sku.push("1123373_HE");
	 
	
	        productObj.product_id.push("160168");
	        
			 
	        var product_url = "http://tcp-perf.childrensplace.com/shop/ca/p/undershirts-2-pack-1123373-10";
	        if (product_url.indexOf('http:') !== -1){
	        	product_url = product_url.substring(5, product_url.length);
	        } else if (product_url.indexOf('https:') !== -1){
	        	product_url = product_url.substring(6, product_url.length);
	        }
	        productObj.product_url.push(product_url);
	       	       
	        productObj.product_price.push("12.95");
	       	
	       	productObj.product_original_price.push("12.95");
	       	productObj.product_name.push("undershirts 2-pack");
	       	
	       	
	       
	
		
	if(typeof utag_data.page_category != "undefined"){
		productObj.product_category.push(utag_data.page_category);
	}else if(typeof utag_data.page_subcategory != "undefined"){
		productObj.product_subcategory.push(utag_data.page_subcategory);
	}
	
	TCP.Tealium.merge(utag_data, TCP.Tealium.clean(productObj));
	
</script>

<script type="text/javascript">

 var medium_noimage = '/wcsstore/GlobalSAS/images/tcp/common/noimage_500.jpg';
 
function switchProduct (product){
		isQuickView = $('#product-quickview').length;
						isProductPage = $('#product-detail-wrapper').length;
						if( isQuickView > 0 && isProductPage > 0){ 
							hierarchy = "#product-quickview "; }
						else{ 
							hierarchy = ''; }
		$(hierarchy+'.thumbnail-zoom').each( function(){
        
               $(this).find('img').removeClass('selected');
        });
        
        setCurrentId("swatch_"+product);
                  //For Handling multiple clicks
        if(!submitRequest()){
            return;
        }
              cursor_wait();
          var priceHtml = '';
           //var exRate = '';
            //var curCode = '';
            //var margin = '';
          var priceClass = 'product-price-regular';
            if(productDetails[product].offerPrice == null ){
               priceHtml='<p>Price pending</p>';
            }else {
            var offerPriceArray=productDetails[product].offerPrice.split('.');
            	if(offerPriceArray[1] == undefined)
	            	offerPriceArray[1]='00';
            var offerPriceValue = productDetails[product].offerPrice;
            
            //var isIntlShipping = '';
            var currencySymbolToFormat = '$';
            var listPriceValue = productDetails[product].listPrice;
            var dealAndBogoPrice='';
           
            if(isIntlShipping == 'true'){
               
                currencySymbolToFormat = curCode;
                var adjPrice = (productDetails[product].offerPrice * exRate * margin);

	            adjPrice= parseFloat(Math.round(adjPrice*100)/100).toFixed(roundMethod );
	            offerPriceArray = adjPrice.split('.');
	            if(offerPriceArray[1] == undefined)
	            	offerPriceArray[1]='00';
                 offerPriceValue =   adjPrice;
                if(productDetails[product].listPrice != null){
                             
                    listPriceValue = (productDetails[product].listPrice * exRate * margin);
                    listPriceValue= parseFloat(Math.round(listPriceValue*100)/100).toFixed(roundMethod);
                    //System.out.println(" Calc third step " +adjPrice);
                }
                
               
            }
           
             
                
               if(productDetails[product].TCPDealsBogoPrice != null){
                priceClass = 'product-price-deal';
               	var dealAndBogoPrice = productDetails[product].TCPDealsBogoPrice;
               	if(dealAndBogoPrice.indexOf('BOGO')>=0){
               		 var percentOff = dealAndBogoPrice.substring(6,8);
		                priceHtml='<span class="currency sup">'+currencySymbolToFormat+'</span><span class="dollar">&nbsp;'+offerPriceArray[0]+'&nbsp;</span><span class="cents sup">.'+offerPriceArray[1]+'&nbsp;</span>';
		                if(productDetails[product].listPrice != null && +(productDetails[product].listPrice) > +(productDetails[product].offerPrice)){
		                    priceHtml = priceHtml+'<span class="former-price">Was:&nbsp;'+currencySymbolToFormat+ ''+listPriceValue+'</span>';
		                   
		                }
		                priceHtml=priceHtml+'<span class="bogo">Buy 1, Get 1 At '+percentOff+'% Off <a href="'+productDetails[product].DealAndBogoProductsURL+'" class="see-deals">See all deals</a></span></p>' ;             		 
               		 
               	}else {
                      priceHtml = '<span class="bogo-price"> ';
                      var strs= new Array()
                      strs = dealAndBogoPrice.split('|');
                      for (i=0;i<strs.length ;i++ )   
                    {   
                       var dealBogoQty = strs[i].substring(0,strs[i].indexOf(','));
                       var dealBogoPrice = strs[i].substring(strs[i].indexOf(',')+1,strs[i].length);
                       if(dealBogoQty > 0 && dealBogoPrice > 0.0){
                           var dealBogoTotalPrice = dealBogoQty*dealBogoPrice;
                           dealBogoTotalPrice = parseFloat(dealBogoTotalPrice).toFixed(roundMethod )
                           if(isIntlShipping == 'true'){
                                 dealBogoTotalPrice = (dealBogoTotalPrice * exRate * margin).toFixed(roundMethod );
                             }

                      var arrayDealPrice = dealBogoTotalPrice.toString().split('.');
                    var delimiter = ',&nbsp;';
                    if(i == strs.length-1){
                    		delimiter='';
                    }
                     priceHtml = priceHtml + dealBogoQty +'&nbsp;for'+'&nbsp;'+currencySymbolToFormat+arrayDealPrice[0]+'.'+arrayDealPrice[1]+''+delimiter+'</span>';
                       }
                    }
                    priceHtml = priceHtml+'&nbsp;<span class="bogo">or '+currencySymbolToFormat+ offerPriceValue+'&nbsp;each';
                    if(productDetails[product].listPrice != null && +(productDetails[product].listPrice) > +(productDetails[product].offerPrice)){
		                    priceHtml = priceHtml+',&nbsp;Was:&nbsp;'+currencySymbolToFormat+listPriceValue;
		                   
		            }
                    priceHtml = priceHtml+'&nbsp;<a href="'+productDetails[product].DealAndBogoProductsURL+'>See all deals</a></span>';
               		
               		
               		
               	}	
               }
               else if(productDetails[product].TCPBOGODescription != null){
               		 
               		tiers = productDetails[product].TCPBOGODescription.split('|');
               		var tierHtml = '';
               		for(var i=0;i<tiers.length;i++){
    					if(i < tiers.length-1)
    						tierHtml = tierHtml +tiers[i]+'<br>';
    					else
    						tierHtml = tierHtml +tiers[i];
					}
               		 priceHtml='<span class="bogo-price">'+tierHtml+'</span><span class="bogo">or'+currencySymbolToFormat+offerPriceValue+'&nbsp;each';
		             if(productDetails[product].listPrice != null && +(productDetails[product].listPrice) > +(productDetails[product].offerPrice)){
		                   priceHtml = priceHtml+'&nbsp;Was:&nbsp;'+currencySymbolToFormat+listPriceValue;
		                   
		                   
		              }
					  				  
					  priceHtml = priceHtml+'&nbsp;<a claas="see-deals" href="'+productDetails[product].BogoProductsURL+'"> See More Like This</a></span>';

               
               }
               else {
               		     priceHtml='<span class="sale-price">'+currencySymbolToFormat+offerPriceArray[0]+'.'+offerPriceArray[1]+'</span>';
		                if(productDetails[product].listPrice != null && +(productDetails[product].listPrice) > +(productDetails[product].offerPrice)){
		                    priceHtml = priceHtml+'&nbsp;<span class="regular-price">Was:&nbsp;'+currencySymbolToFormat+listPriceValue+'</span>';
		                   
		                }
		                 
               
               }
               

               
         }
           
         $(hierarchy+'#priceArea').empty().html(priceHtml);
        
 
          // change images
          var count = 0;
          var thumbNailImage_prefix = '/wcsstore/GlobalSAS/images/tcp/products/125/';
          var midium_Image_prefix = '/wcsstore/GlobalSAS/images/tcp/products/500/';
          var large_Image_prefix = '/wcsstore/GlobalSAS/images/tcp/products/900/';

          $(hierarchy+'.product-thumbnails').find('a').each(function(){
          if(count == 0){          
                $(this).children('img').attr({'class':'selected', 'src':thumbNailImage_prefix+productDetails[product].imageIdentifier+'.jpg'});
                $(this).children('img').attr('onerror',"this.style.display = 'none';");
                   $(this).attr('data-target',midium_Image_prefix+productDetails[product].imageIdentifier+'.jpg');
                   count++;
            } else {
                $(this).children('img').attr('src',thumbNailImage_prefix+productDetails[product].imageIdentifier+'-'+count+'.jpg');
                $(this).children('img').attr('onerror',"this.style.display = 'none';");
                $(this).attr('data-target',midium_Image_prefix+productDetails[product].imageIdentifier+'-'+count+'.jpg');
                count++;
            } 
        });
        
        
        //use below "if" to determine if it is on product detail page, cause id="social" only exist in Product detail page
        
        if($(hierarchy+'#social').length > 0){
               $(hierarchy+"#product-xlarge").empty().append(
        	$("<img>").attr({ src: large_Image_prefix+productDetails[product].imageIdentifier+'.jpg', alt: $('.product-details h1').html(), title: $('.product-details h1').html()}));
                
        }else{
                $(hierarchy+"#product-xlarge").empty().append(
        	$("<img>").attr( { src: large_Image_prefix+productDetails[product].imageIdentifier+'.jpg', alt: $('.product-details h1').html(), title: $('.product-details h1').html()}));
                
        }
        
        count = 0;        
        if($(hierarchy+'#social').length > 0){
          $(hierarchy+'.thumbnail-zoom').each(function(){
	          if(count == 0){          
	                $(this).children('img').attr({'class':'selected', 'src':thumbNailImage_prefix+productDetails[product].imageIdentifier+'.jpg'});
	                   $(this).attr('data-target',large_Image_prefix+productDetails[product].imageIdentifier+'.jpg');
	                   count++;
	            } else {
	                $(this).children('img').attr({'src':thumbNailImage_prefix+productDetails[product].imageIdentifier+'-'+count+'.jpg' });
	                $(this).attr('data-target',large_Image_prefix+productDetails[product].imageIdentifier+'-'+count+'.jpg');
	                count++;
	            } 
        	});
        }else{
       
          $(hierarchy+'.thumbnail-zoom').each(function(){
          if(count == 0){          
                $(this).children('img').attr({'class':'selected', 'src':thumbNailImage_prefix+productDetails[product].imageIdentifier+'.jpg' });
                   $(this).attr('data-target',midium_Image_prefix+productDetails[product].imageIdentifier+'.jpg');
                   count++;
            } else {
                $(this).children('img').attr({'src':thumbNailImage_prefix+productDetails[product].imageIdentifier+'-'+count+'.jpg' });
                $(this).attr('data-target',midium_Image_prefix+productDetails[product].imageIdentifier+'-'+count+'.jpg' );
                count++;
            } 
        });
       
        }
 		
         $(hierarchy+"#product-mid-size").empty().append(
        $("<img>").attr({ src: midium_Image_prefix+productDetails[product].imageIdentifier+'.jpg' , alt: $('.product-details h1').html(), title: $('.product-details h1').html()}));
                
           
                
           if($('.social').length > 0){
           		$(hierarchy+".product-large").children('#large-image').empty();
           		cloudZoom = 'zoomImage:'+'\''+large_Image_prefix+productDetails[product].imageIdentifier+'.jpg'+'\', zoomSizeMode: \'image\',captionSource : \'none\'';
               $(hierarchy+".product-large").children('#large-image').append(
        			$("<img>").attr( {"onerror": this.src=medium_noimage, "data-cloudzoom": cloudZoom, class: 'cloudzoom large-image', src: midium_Image_prefix+productDetails[product].imageIdentifier+'.jpg', 
        			alt: $('.product-details h1').html(), title: $('.product-details h1').html(), style: "-webkit-user-select: none;" }));
                
           }else{
           		$(hierarchy+".product-large").children('#large-image').empty();
                cloudZoom = 'zoomImage:'+'\''+large_Image_prefix+productDetails[product].imageIdentifier+'.jpg'+'\', zoomSizeMode: \'image\',captionSource : \'none\'';
                $(hierarchy+".product-large").children('#large-image').append(
        			$("<img>").attr( {"onerror": this.src=medium_noimage, "data-cloudzoom": cloudZoom, class: 'cloudzoom large-image', src: midium_Image_prefix+productDetails[product].imageIdentifier+'.jpg', 
        			alt: $('.product-details h1').html(), title: $('.product-details h1').html()}));
                
           }
          CloudZoom.quickStart();
           
          // change swatches
          $(hierarchy+'#prod-swatches').children('.selected').removeClass('selected');
          $(hierarchy+'#swatch_product_'+productDetails[product].productId).addClass('selected');
         
          // change rating
		
	      $('.ratings').empty();
	      var readWriteReview = 'Write a Review';
          var rating = productDetails[product].TCPBazaarVoiceRating+'';
          if(rating!= null && rating!='undefined' && productDetails[product].TCPBazaarVoiceRating > 0){
	          //var voiceRating = rating.replace('.','_');
		     
	          // change review rating 5.0_rating.gif
	          readWriteReview = 'Read Review';
	          $('.ratings').append(
		        $("<img>", {'src':'/wcsstore/GlobalSAS/images/tcp/product_detail/'+rating+'_rating.gif','alt':rating+' 5','title':rating+' 5'})
		       );
		       $('.ratings').append("<span class='rating-value' itemprop='ratingValue'>("+productDetails[product].TCPBazaarVoiceRating+")</span>");
	      }
	      
	      if($('.social').length > 0){ 
	      	$('.ratings').append($("<a>", {'javascript':"toggleSizeReviewTab('review');return true;",'href':'#productReviews', 'html':readWriteReview}));
	      }	
		   
	 	
        $(hierarchy+'#colorName').html(productDetails[product].colorName);
        $(hierarchy+'#colorName-zoom').html(productDetails[product].colorName);
       
        $(hierarchy+'#partNumber').html('Item #: '+productDetails[product].partNumber);
        $(hierarchy+'#productURL').children('a').attr('href',productDetails[product].productURL);
        $(hierarchy+'#productURL1').attr('href',productDetails[product].productURL);
          
      	 var outfit = document.getElementById('outfit-quickview');
         if(outfit != null){
         
         	$('.product-badges').children('img').remove();
         }
         else{
         	$('.product-badges').empty();
     	 }
     
          if($('.social').length > 0){
                   // change attribute selection
                   
              
               }
                            // change attribute selection
                   var xhrArgs1 = {
                   
                    url: getAbsoluteURL() + 'TCPSKUSelectionView?LimQty='+productDetails[product].TCPInventoryMessage+'&langId=-1&storeId=10152&catalogId=10552&productId='+productDetails[product].productId,
                    handleAs: "text",
                    sync: false,
                    load: function(data){
             
                      $(hierarchy+'.fit').remove();
                      $(hierarchy+'.sizes').remove();
                      $(hierarchy+'.quantity').remove();
                      $(hierarchy+'.registry').remove();
                      $(hierarchy+'.add-bag').remove();
                      $(hierarchy+'#noItemBean').remove();
                   
                      if($('.social').length > 0){
                          $(hierarchy+'.color-swatches').after(data);
                      }else{
                          $(hierarchy+'.color-swatches').after(data);
                      }
                     
                     
                    cursor_clear();   
                    },
                    error: function(error){
                        cursor_clear();
                    }
                  }

				  // Call the asynchronous xhrGet
	      dojo.xhrGet(xhrArgs1);
	      
	      attachProductFlags(product);
	      MessageHelper.tcpHideAndClearMessage();
	      showPoints(product);
	      
         
	      
	}
	function confirmSwitchProduct(event,product){
		event = event || window.event;
		if(event.keyCode == 32 || event.keyCode == 13){
			switchProduct(product);
		}
	}
	 
	function showPoints(product){
		//var parseFloat$('#priceArea p .dollar').html()+$('#priceArea p .cents').html())*5;
		
		var price ='';
		var storeId = '10152';
		if(storeId != 10152){
				
				var price = productDetails[product].offerPrice;
				if(price == undefined || price == null)
					price = productDetails['product_447051'].listPrice;			
				var isRegistered = getCookie('tcp_isregistered');
				var points = price * 5;
				if(	isRegistered){
					 var tier = getCookie('tier');
					 if( tier == 2)
					 	points = price * 6;
					 else if( tier == 3)
					 	points = price * 7;		 
				}
				
				var round = points * 100
    			round = round % 100;
    			if(round >= 50)
		       		points = Math.ceil(points);
		    	else
		       		points = Math.floor(points);
				
		        
		        console.log("points:"+points); 
		        placepoints = document.getElementById('points_pdp');
		        if(placepoints != null)
		        	$('#points_pdp').html(points);
	                     	
			
		 }
	}
	
	function attachProductThumnailClkEvts(){
		$('.product-thumbnails').find('a').click(function(evt) {
		    evt.preventDefault();
		    var element= $(this);
		    var cloudZoomStyle = "', zoomSizeMode: 'image',captionSource : 'none'";
		        
		    if(element.attr('data-target') != "javascript:;" && element.attr('data-target') != null && this.title != null){
		    	largeimage = element.attr('data-target').replace('/500/','/900/');
		    	cloudZoom = "zoomImage:"+"'"+largeimage + cloudZoomStyle;
		    	$("#large-image").empty().append($("<img>", { onerror:  this.src=medium_noimage, src: element.attr('data-target'),title:this.title, class:"large-image", alt: this.alt, "data-cloudzoom": cloudZoom, class: 'cloudzoom large-image',style: "-webkit-user-select: none;"}));
		    }
		    CloudZoom.quickStart();
		});
	
	}
	
	function attachProductFlags(product){
		 
		  if(productDetails[product].TCPWebOnlyFlag != null && productDetails[product].TCPWebOnlyFlag == 1){
              $('.product-badges').prepend($("<img>").attr( { src: '/wcsstore/GlobalSAS/images/tcp/category/badge-online-only.png', alt: 'Online Only', title: 'Online Only', width: '30', height: '30' }));
              $('#online-only-icon').show();       
          } else {
              $('#online-only-icon').hide(); 
          }    
         
         
         if(productDetails[product].TCPFitMessage != null && productDetails[product].TCPFitMessage != ''){
               // $('.product-flags').append('<div class="block absolute productBanner productBannerLeft webOnly blue"><div class="block productBannerSection wrap"></div><div class="block productBannerSection end"></div>'+productDetails[product].TCPFitMessage+'</div><br />');
         
          }
          if(productDetails[product].TCPProductInd != null  && productDetails[product].TCPProductInd == 'New Arrivals' && productDetails[product].TCPInventoryMessage == null ){
              //$('.product-newFlag').append($("<img>").attr( { src: '/GlobalSAS/images/tcp/category/badge-new.png', alt: 'New', title: 'New', width: '30', height: '30' }));
              $('.product-badges').prepend($("<img>").attr( { src: '/wcsstore/GlobalSAS/images/tcp/category/badge-new.png', alt: 'New', title: 'New', width: '30', height: '30' }));
         
          }else if(productDetails[product].TCPProductInd != null && productDetails[product].TCPProductInd == 'Clearance'){
              //$('.product-flags').append('<div class="block absolute productBanner productBannerLeft webOnly red"><div class="block productBannerSection wrap"></div><div class="block productBannerSection end"></div>'+productDetails[product].TCPProductInd+'</div>');
          }
	}
	
	function attachInventoryFlag(product){
		 $('.quantity').children('p').remove();
		 if(productDetails[product].TCPInventoryMessage != null && productDetails[product].TCPInventoryMessage != ''){
              $('.quantity').prepend('<p class="limited-qty">'+productDetails[product].TCPInventoryMessage.toUpperCase()+'</p>');
         
          }
	}
</script>

  <div class="page-error" style="display:none" id="ErrorArea"><img src="/GlobalSAS/images/tcp/myPlace/login_error.png" alt="error"/><span id="ErrorMessageText">111</span></div>
<!--thumbnails, column 1-->

		<span class="tealium-add-to-cart-location" style="display:none;">quickview</span>
        <div class="product-badges" >
		   
		</div>
		<div class="product-large">
			
			<span id="large-image" > 
			<img class = "cloudzoom large-image" id="product-large" src="/wcsstore/GlobalSAS/images/tcp/products/500/1123373_HE.jpg" data-cloudzoom = "zoomImage:'/wcsstore/GlobalSAS/images/tcp/products/900/1123373_HE.jpg', zoomSizeMode: 'image',captionSource : 'none'" 
       			alt="Image for undershirts 2-pack from The Children's Place CA"  title="undershirts 2-pack" style="-webkit-user-select: none;" onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_500.jpg';"/>
			<!--<img class="large-image" title="undershirts 2-pack" alt="undershirts 2-pack" src="/wcsstore/GlobalSAS/images/tcp/products/500/1123373_HE.jpg"
				onerror="this.src='/wcsstore/GlobalSAS/images/tcp/products/no-thumb.gif';" />-->
			</span>		
			<div class="product-thumbnails">
        		
			      

				 <a href="javascript:void(0);" data-target="/wcsstore/GlobalSAS/images/tcp/products/500/1123373_HE.jpg" ><img class="selected" src="/wcsstore/GlobalSAS/images/tcp/products/125/1123373_HE.jpg" alt="Image for undershirts 2-pack from The Children's Place CA"  title="undershirts 2-pack" onerror="this.style.display = 'none'; this.src='/wcsstore/GlobalSAS/images/tcp/products/no-thumb.gif';"/></a>
		          
        	
        			<a href="javascript:void(0);" data-target="/wcsstore/GlobalSAS/images/tcp/products/500/1123373_HE-1.jpg" alt="undershirts 2-pack" title="undershirts 2-pack">
        				<img src="/wcsstore/GlobalSAS/images/tcp/products/125/1123373_HE-1.jpg" alt="Image for undershirts 2-pack from The Children's Place CA"  title="undershirts 2-pack" onerror="this.style.display = 'none';this.src='/wcsstore/GlobalSAS/images/tcp/products/no-thumb.gif';"/>
        			</a>	       		
       	   		  
        	
        			<a href="javascript:void(0);" data-target="/wcsstore/GlobalSAS/images/tcp/products/500/1123373_HE-2.jpg" alt="undershirts 2-pack" title="undershirts 2-pack">
        				<img src="/wcsstore/GlobalSAS/images/tcp/products/125/1123373_HE-2.jpg" alt="Image for undershirts 2-pack from The Children's Place CA"  title="undershirts 2-pack" onerror="this.style.display = 'none';this.src='/wcsstore/GlobalSAS/images/tcp/products/no-thumb.gif';"/>
        			</a>	       		
       	   		  
        	
        			<a href="javascript:void(0);" data-target="/wcsstore/GlobalSAS/images/tcp/products/500/1123373_HE-3.jpg" alt="undershirts 2-pack" title="undershirts 2-pack">
        				<img src="/wcsstore/GlobalSAS/images/tcp/products/125/1123373_HE-3.jpg" alt="Image for undershirts 2-pack from The Children's Place CA"  title="undershirts 2-pack" onerror="this.style.display = 'none';this.src='/wcsstore/GlobalSAS/images/tcp/products/no-thumb.gif';"/>
        			</a>	       		
       	   		 
			</div>
		</div>


  

		<div class="product-details">
           				<h1  class="dark-grey">undershirts 2-pack</h1>
           				<input type="hidden" name="TCurrentProductName" id="TCurrentProductName" value="undershirts 2-pack" />
            					<div class="item-number lighter-grey">
            						<span id="partNumber">Item #:  1123373_HE</span>
            					 
            						<!--review stars TCPReviewStar.jpf shared by product detail, outfit modal and product modal page--><!-- BEGIN TCPReviewStar.jsp -->
 								<div id="BVRRSummaryContainer"></div>
 	<script type="text/javascript">
 	try{
 	$('#BVRRSummaryContainer').bind("DOMSubtreeModified",function(){
	if($("#BVRRSummaryContainer").find(".bv-rating-ratio>a>.bv-rating-stars.bv-rating-stars-off").length>0){
		  $('#BVRRSummaryContainer').unbind("DOMSubtreeModified");
		   $(".bv-rating-ratio>a>.bv-rating-stars.bv-rating-stars-off").unbind().bind('click',function(e){
					e.preventDefault(); 
					console.log("Event applied");
					$(window).scrollTop($('#BVRRContainer').offset().top);
					return false;
		   
		   });
	}

	});
 	}catch(e){
		console.log("Error :"+e);
	}
	</script>
<!-- END TCPreviewStar.jsp --> 
                                </div>
            					<input type="hidden" name="TCurrentProductSkuId" id="TCurrentProductSkuId" value="1123373_HE" />
            					<!-- BEGIN TCPProductPrice.jspf --><!--price-->

<script type="text/javascript">
	var baseHREF = '???constant.baseHREF???';
	var stylesHREF = '???constant.stylesHREF???';
	var homeHREF  = '???constant.hostName???';
	var PATH_TO_ENVOY = '???E4X_ENVOY_URL???';
	var isIntlShipping = 'false';
	var curCode = 'USD';
	var margin = '1.0';
	var exRate = '1.0';
	var roundMethod = '2';
	

</script>


                                <input type="hidden" id="prodId" value="447051" />
                                

<div class="product-price section-block" id="priceArea">
<p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<span style="display:none" itemprop="priceCurrency">CAD</span>

		<span class="sale-price">
       		$12.95
		</span>    
		    
		     <span style="display: none" itemprop="price">12.95</span>
		
		</p>
	
	
		</div>
		
		
		<!-- Display prices for Canadian store. --><!-- debug InterntionalBean2 --><!-- debug InterntionalBean3 --><!-- debug end InterntionalBean3 --><!-- END TCPProductPrice.jsp --> 
 								<input type="hidden" name="TCurrentProductPrice" id="TCurrentProductPrice" value="12.95" />
 								
 								
 								<!-- Flash Sales Price Display Starts - QuickView - TCPFlashSalesPriceDisplay.jspf --><!-- Flash Sales Price Display Ends - QuickView - TCPFlashSalesPriceDisplay.jspf --><!--banner--><!-- color-swatches block -->	  											                                        
                                                 <div class="color-swatches section-block"><p>Select a Color: <span id="colorName-zoom"> H/T GREY</span></p>
                                        	  <!--swatches-->
                                            	<ul id="prod-swatches">
                                                  
													  <li id="swatch_product_160168" class="">
		                                                <img alt="WHITE" title="WHITE" onclick="javascript:switchProduct('product_160168');" onkeydown="javascript:confirmSwitchProduct(event,'product_160168');" class="block" src="/wcsstore/GlobalSAS/images/tcp/products/swatches/1123373_10.jpg"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/products/no-thumb.gif';" tabindex="0"></img>
		                                              </li>
		                                              
													  <li id="swatch_product_447051" class="selected">
		                                                <img alt="H/T GREY" title="H/T GREY" onclick="javascript:switchProduct('product_447051');" onkeydown="javascript:confirmSwitchProduct(event,'product_447051');" class="block" src="/wcsstore/GlobalSAS/images/tcp/products/swatches/1123373_HE.jpg"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/products/no-thumb.gif';" tabindex="0"></img>
		                                              </li>
		                                              
                                        		</ul>
                                        		
                                        		</div>	
                                        			   	 
     	
        <script>
        	if(typeof ajaxLoadSKUSelection != "undefined" && ajaxLoadSKUSelection){
       			 ajaxLoadSKUSelection('10152','10552','-1','447051', '0','limited quantities'); 
       		  }
        </script>
                
                <!--  Melvin to check why --><!-- BEGIN TCPWebOnlyIndicatorPageDisplay.jspf-->



		<input type="hidden" name="webonly_debug1" value="TCPWebOnlyFlag=0||displayHiddenWebOnlyIndicator=yes||storeId=10152}"/>

					
		
		<input type="hidden" name="webonly_debug2" value="TCPWebOnlyFlag=0||displayHiddenWebOnlyIndicator=yes||storeId=10152}"/>
		
		                             
		
			<input type="hidden" name="webonly_debug3" value="generate DIV with hidden web-only indicator message."/>
			<!-- BEGIN TCPHomePageContentAreaESpot.jsp --><!-- END TCPHomePageContentAreaESpot.jsp --><!-- END TCPWebOnlyIndicatorPageDisplay.jspf--><!--description-->
                                        	<div class="product-description section-block">
                                               	
												
												<p>An everyday style that's comfy underneath it all.</p>
												
													<ul>
												   <li>In ultra-soft 100% cotton jersey</li><li>Pre-washed for softness and to reduce shrinkage</li><li>Rib-knit trim at neck</li> 
													</ul>
												
												<span>Big Fashion, Little Prices</span>
												
                                          


												</div><!--end product details-->

												<div class="view-more">
													<a id="productURL1" href="http://tcp-perf.childrensplace.com/shop/ca/p/undershirts-2-pack-1123373-he">VIEW MORE PRODUCT INFO</a>
												</div>	

 

		<script type="text/javascript">
			$(document).ready(function (){
				attachProductThumnailClkEvts();	
			});
			var product = "product_447051";
			attachProductFlags(product);
		</script>
		
		
<!-- Below code is for Implementing bazaarvoice in Quickview --><!-- Code is taken from TCPBazzarVoiceReviews.jsp -->

<script  type="text/javascript">


try{
$.getScript( "//display-stg.ugc.bazaarvoice.com/static/ChildrensPlace/en_US/bvapi.js", function() {

			//function to get cookie value with name
			function getCookie(name) {
			  //alert("inside of getCookie function");
			  var value = "; " + document.cookie;
			  //alert("cookie value: "+value);
			  var parts = value.split("; " + name + "=");
			  
			  if (parts.length == 2) return parts.pop().split(";").shift();
			}
			
			function getUserIdFromCookie(name) {
			  //alert("inside of getCookie function");
			  var value = "; " + document.cookie;
			  //alert("cookie value: "+value);
			  var parts = value.split("; " + name);
			  var pairs = "", customerId = "";
			  if (parts.length ==2) {
				pairs = parts.pop();
				//alert("pairs: "+pairs); 
			  }
			  customerId = pairs.substr(1,pairs.indexOf("=")-1);
			  //alert("customerId: "+customerId);
			  return customerId;
			}
						
			// get logon status
			var isRegistered = getCookie("tcp_isregistered");
			//alert(isRegistered);
			
			
			
			if (isRegistered) {
				//alert("is registered");
			
				// define the sharedKey
				var sharedKey = "Fca3yih00AVeVDFvmaDwnwlWM";
				
				// obtain current date in the format of yyyyMMdd
				var rightNow = new Date();
				var res = rightNow.toISOString().slice(0,10).replace(/-/g,"");
				//alert(res.toString());
				
				// define queryString
				
				var queryString = "date=" + res.toString() + "&userid=" + getUserIdFromCookie("WC_USERACTIVITY");
				//alert("queryString: "+queryString);
				
				// define unhashed security key
				var unhashed = (sharedKey.toString()).concat(queryString.toString());
				//alert("unhashed: "+unhashed);
				
				// function to convert string to hexadecimal
				function d2h(d) {
					return d.toString(16);
				}
				function stringToHex (tmp) {
					var str = '',
					i = 0,
					tmp_len = tmp.length,
					c;
			 
					 for (; i < tmp_len; i += 1) {
						c = tmp.charCodeAt(i);
						str += d2h(c) + ' ';
					}
					return str;
				}
				
				function bin2hex(s) {
				  //  discuss at: http://phpjs.org/functions/bin2hex/
				  // original by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
				  // bugfixed by: Onno Marsman
				  // bugfixed by: Linuxworld
				  // improved by: ntoniazzi (http://phpjs.org/functions/bin2hex:361#comment_177616)
				  //   example 1: bin2hex('Kev');
				  //   returns 1: '4b6576'
				  //   example 2: bin2hex(String.fromCharCode(0x00));
				  //   returns 2: '00'
				
				  var i, l, o = '',
					n;
				
				  s += '';
				
				  for (i = 0, l = s.length; i < l; i++) {
					n = s.charCodeAt(i)
					  .toString(16);
					o += n.length < 2 ? '0' + n : n;
				  }
				
				  return o;
				}

				function utf8_encode(argString) {
				  //  discuss at: http://phpjs.org/functions/utf8_encode/
				  // original by: Webtoolkit.info (http://www.webtoolkit.info/)
				  // improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
				  // improved by: sowberry
				  // improved by: Jack
				  // improved by: Yves Sucaet
				  // improved by: kirilloid
				  // bugfixed by: Onno Marsman
				  // bugfixed by: Onno Marsman
				  // bugfixed by: Ulrich
				  // bugfixed by: Rafal Kukawski
				  // bugfixed by: kirilloid
				  //   example 1: utf8_encode('Kevin van Zonneveld');
				  //   returns 1: 'Kevin van Zonneveld'
				
				  if (argString === null || typeof argString === 'undefined') {
					return '';
				  }
				
				  var string = (argString + ''); // .replace(/\r\n/g, "\n").replace(/\r/g, "\n");
				  var utftext = '',
					start, end, stringl = 0;
				
				  start = end = 0;
				  stringl = string.length;
				  for (var n = 0; n < stringl; n++) {
					var c1 = string.charCodeAt(n);
					var enc = null;
				
					if (c1 < 128) {
					  end++;
					} else if (c1 > 127 && c1 < 2048) {
					  enc = String.fromCharCode(
						(c1 >> 6) | 192, (c1 & 63) | 128
					  );
					} else if ((c1 & 0xF800) != 0xD800) {
					  enc = String.fromCharCode(
						(c1 >> 12) | 224, ((c1 >> 6) & 63) | 128, (c1 & 63) | 128
					  );
					} else { // surrogate pairs
					  if ((c1 & 0xFC00) != 0xD800) {
						throw new RangeError('Unmatched trail surrogate at ' + n);
					  }
					  var c2 = string.charCodeAt(++n);
					  if ((c2 & 0xFC00) != 0xDC00) {
						throw new RangeError('Unmatched lead surrogate at ' + (n - 1));
					  }
					  c1 = ((c1 & 0x3FF) << 10) + (c2 & 0x3FF) + 0x10000;
					  enc = String.fromCharCode(
						(c1 >> 18) | 240, ((c1 >> 12) & 63) | 128, ((c1 >> 6) & 63) | 128, (c1 & 63) | 128
					  );
					}
					if (enc !== null) {
					  if (end > start) {
						utftext += string.slice(start, end);
					  }
					  utftext += enc;
					  start = end = n + 1;
					}
				  }
				
				  if (end > start) {
					utftext += string.slice(start, stringl);
				  }
				
				  return utftext;
				}

				function md5(str) {
				  //  discuss at: http://phpjs.org/functions/md5/
				  // original by: Webtoolkit.info (http://www.webtoolkit.info/)
				  // improved by: Michael White (http://getsprink.com)
				  // improved by: Jack
				  // improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
				  //    input by: Brett Zamir (http://brett-zamir.me)
				  // bugfixed by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
				  //  depends on: utf8_encode
				  //   example 1: md5('Kevin van Zonneveld');
				  //   returns 1: '6e658d4bfcb59cc13f96c14450ac40b9'
				
				  var xl;
				
				  var rotateLeft = function(lValue, iShiftBits) {
					return (lValue << iShiftBits) | (lValue >>> (32 - iShiftBits));
				  };
				
				  var addUnsigned = function(lX, lY) {
					var lX4, lY4, lX8, lY8, lResult;
					lX8 = (lX & 0x80000000);
					lY8 = (lY & 0x80000000);
					lX4 = (lX & 0x40000000);
					lY4 = (lY & 0x40000000);
					lResult = (lX & 0x3FFFFFFF) + (lY & 0x3FFFFFFF);
					if (lX4 & lY4) {
					  return (lResult ^ 0x80000000 ^ lX8 ^ lY8);
					}
					if (lX4 | lY4) {
					  if (lResult & 0x40000000) {
						return (lResult ^ 0xC0000000 ^ lX8 ^ lY8);
					  } else {
						return (lResult ^ 0x40000000 ^ lX8 ^ lY8);
					  }
					} else {
					  return (lResult ^ lX8 ^ lY8);
					}
				  };
				
				  var _F = function(x, y, z) {
					return (x & y) | ((~x) & z);
				  };
				  var _G = function(x, y, z) {
					return (x & z) | (y & (~z));
				  };
				  var _H = function(x, y, z) {
					return (x ^ y ^ z);
				  };
				  var _I = function(x, y, z) {
					return (y ^ (x | (~z)));
				  };
				
				  var _FF = function(a, b, c, d, x, s, ac) {
					a = addUnsigned(a, addUnsigned(addUnsigned(_F(b, c, d), x), ac));
					return addUnsigned(rotateLeft(a, s), b);
				  };
				
				  var _GG = function(a, b, c, d, x, s, ac) {
					a = addUnsigned(a, addUnsigned(addUnsigned(_G(b, c, d), x), ac));
					return addUnsigned(rotateLeft(a, s), b);
				  };
				
				  var _HH = function(a, b, c, d, x, s, ac) {
					a = addUnsigned(a, addUnsigned(addUnsigned(_H(b, c, d), x), ac));
					return addUnsigned(rotateLeft(a, s), b);
				  };
				
				  var _II = function(a, b, c, d, x, s, ac) {
					a = addUnsigned(a, addUnsigned(addUnsigned(_I(b, c, d), x), ac));
					return addUnsigned(rotateLeft(a, s), b);
				  };
				
				  var convertToWordArray = function(str) {
					var lWordCount;
					var lMessageLength = str.length;
					var lNumberOfWords_temp1 = lMessageLength + 8;
					var lNumberOfWords_temp2 = (lNumberOfWords_temp1 - (lNumberOfWords_temp1 % 64)) / 64;
					var lNumberOfWords = (lNumberOfWords_temp2 + 1) * 16;
					var lWordArray = new Array(lNumberOfWords - 1);
					var lBytePosition = 0;
					var lByteCount = 0;
					while (lByteCount < lMessageLength) {
					  lWordCount = (lByteCount - (lByteCount % 4)) / 4;
					  lBytePosition = (lByteCount % 4) * 8;
					  lWordArray[lWordCount] = (lWordArray[lWordCount] | (str.charCodeAt(lByteCount) << lBytePosition));
					  lByteCount++;
					}
					lWordCount = (lByteCount - (lByteCount % 4)) / 4;
					lBytePosition = (lByteCount % 4) * 8;
					lWordArray[lWordCount] = lWordArray[lWordCount] | (0x80 << lBytePosition);
					lWordArray[lNumberOfWords - 2] = lMessageLength << 3;
					lWordArray[lNumberOfWords - 1] = lMessageLength >>> 29;
					return lWordArray;
				  };
				
				  var wordToHex = function(lValue) {
					var wordToHexValue = '',
					  wordToHexValue_temp = '',
					  lByte, lCount;
					for (lCount = 0; lCount <= 3; lCount++) {
					  lByte = (lValue >>> (lCount * 8)) & 255;
					  wordToHexValue_temp = '0' + lByte.toString(16);
					  wordToHexValue = wordToHexValue + wordToHexValue_temp.substr(wordToHexValue_temp.length - 2, 2);
					}
					return wordToHexValue;
				  };
				
				  var x = [],
					k, AA, BB, CC, DD, a, b, c, d, S11 = 7,
					S12 = 12,
					S13 = 17,
					S14 = 22,
					S21 = 5,
					S22 = 9,
					S23 = 14,
					S24 = 20,
					S31 = 4,
					S32 = 11,
					S33 = 16,
					S34 = 23,
					S41 = 6,
					S42 = 10,
					S43 = 15,
					S44 = 21;
				
				  str = this.utf8_encode(str);
				  x = convertToWordArray(str);
				  a = 0x67452301;
				  b = 0xEFCDAB89;
				  c = 0x98BADCFE;
				  d = 0x10325476;
				
				  xl = x.length;
				  for (k = 0; k < xl; k += 16) {
					AA = a;
					BB = b;
					CC = c;
					DD = d;
					a = _FF(a, b, c, d, x[k + 0], S11, 0xD76AA478);
					d = _FF(d, a, b, c, x[k + 1], S12, 0xE8C7B756);
					c = _FF(c, d, a, b, x[k + 2], S13, 0x242070DB);
					b = _FF(b, c, d, a, x[k + 3], S14, 0xC1BDCEEE);
					a = _FF(a, b, c, d, x[k + 4], S11, 0xF57C0FAF);
					d = _FF(d, a, b, c, x[k + 5], S12, 0x4787C62A);
					c = _FF(c, d, a, b, x[k + 6], S13, 0xA8304613);
					b = _FF(b, c, d, a, x[k + 7], S14, 0xFD469501);
					a = _FF(a, b, c, d, x[k + 8], S11, 0x698098D8);
					d = _FF(d, a, b, c, x[k + 9], S12, 0x8B44F7AF);
					c = _FF(c, d, a, b, x[k + 10], S13, 0xFFFF5BB1);
					b = _FF(b, c, d, a, x[k + 11], S14, 0x895CD7BE);
					a = _FF(a, b, c, d, x[k + 12], S11, 0x6B901122);
					d = _FF(d, a, b, c, x[k + 13], S12, 0xFD987193);
					c = _FF(c, d, a, b, x[k + 14], S13, 0xA679438E);
					b = _FF(b, c, d, a, x[k + 15], S14, 0x49B40821);
					a = _GG(a, b, c, d, x[k + 1], S21, 0xF61E2562);
					d = _GG(d, a, b, c, x[k + 6], S22, 0xC040B340);
					c = _GG(c, d, a, b, x[k + 11], S23, 0x265E5A51);
					b = _GG(b, c, d, a, x[k + 0], S24, 0xE9B6C7AA);
					a = _GG(a, b, c, d, x[k + 5], S21, 0xD62F105D);
					d = _GG(d, a, b, c, x[k + 10], S22, 0x2441453);
					c = _GG(c, d, a, b, x[k + 15], S23, 0xD8A1E681);
					b = _GG(b, c, d, a, x[k + 4], S24, 0xE7D3FBC8);
					a = _GG(a, b, c, d, x[k + 9], S21, 0x21E1CDE6);
					d = _GG(d, a, b, c, x[k + 14], S22, 0xC33707D6);
					c = _GG(c, d, a, b, x[k + 3], S23, 0xF4D50D87);
					b = _GG(b, c, d, a, x[k + 8], S24, 0x455A14ED);
					a = _GG(a, b, c, d, x[k + 13], S21, 0xA9E3E905);
					d = _GG(d, a, b, c, x[k + 2], S22, 0xFCEFA3F8);
					c = _GG(c, d, a, b, x[k + 7], S23, 0x676F02D9);
					b = _GG(b, c, d, a, x[k + 12], S24, 0x8D2A4C8A);
					a = _HH(a, b, c, d, x[k + 5], S31, 0xFFFA3942);
					d = _HH(d, a, b, c, x[k + 8], S32, 0x8771F681);
					c = _HH(c, d, a, b, x[k + 11], S33, 0x6D9D6122);
					b = _HH(b, c, d, a, x[k + 14], S34, 0xFDE5380C);
					a = _HH(a, b, c, d, x[k + 1], S31, 0xA4BEEA44);
					d = _HH(d, a, b, c, x[k + 4], S32, 0x4BDECFA9);
					c = _HH(c, d, a, b, x[k + 7], S33, 0xF6BB4B60);
					b = _HH(b, c, d, a, x[k + 10], S34, 0xBEBFBC70);
					a = _HH(a, b, c, d, x[k + 13], S31, 0x289B7EC6);
					d = _HH(d, a, b, c, x[k + 0], S32, 0xEAA127FA);
					c = _HH(c, d, a, b, x[k + 3], S33, 0xD4EF3085);
					b = _HH(b, c, d, a, x[k + 6], S34, 0x4881D05);
					a = _HH(a, b, c, d, x[k + 9], S31, 0xD9D4D039);
					d = _HH(d, a, b, c, x[k + 12], S32, 0xE6DB99E5);
					c = _HH(c, d, a, b, x[k + 15], S33, 0x1FA27CF8);
					b = _HH(b, c, d, a, x[k + 2], S34, 0xC4AC5665);
					a = _II(a, b, c, d, x[k + 0], S41, 0xF4292244);
					d = _II(d, a, b, c, x[k + 7], S42, 0x432AFF97);
					c = _II(c, d, a, b, x[k + 14], S43, 0xAB9423A7);
					b = _II(b, c, d, a, x[k + 5], S44, 0xFC93A039);
					a = _II(a, b, c, d, x[k + 12], S41, 0x655B59C3);
					d = _II(d, a, b, c, x[k + 3], S42, 0x8F0CCC92);
					c = _II(c, d, a, b, x[k + 10], S43, 0xFFEFF47D);
					b = _II(b, c, d, a, x[k + 1], S44, 0x85845DD1);
					a = _II(a, b, c, d, x[k + 8], S41, 0x6FA87E4F);
					d = _II(d, a, b, c, x[k + 15], S42, 0xFE2CE6E0);
					c = _II(c, d, a, b, x[k + 6], S43, 0xA3014314);
					b = _II(b, c, d, a, x[k + 13], S44, 0x4E0811A1);
					a = _II(a, b, c, d, x[k + 4], S41, 0xF7537E82);
					d = _II(d, a, b, c, x[k + 11], S42, 0xBD3AF235);
					c = _II(c, d, a, b, x[k + 2], S43, 0x2AD7D2BB);
					b = _II(b, c, d, a, x[k + 9], S44, 0xEB86D391);
					a = addUnsigned(a, AA);
					b = addUnsigned(b, BB);
					c = addUnsigned(c, CC);
					d = addUnsigned(d, DD);
				  }
				
				  var temp = wordToHex(a) + wordToHex(b) + wordToHex(c) + wordToHex(d);
				
				  return temp.toLowerCase();
				}
				
				// obtain HEX representation of queryString
				var hexQueryString = bin2hex(queryString);
				//alert("hexQueryString: "+hexQueryString);
				
				// obtain MD5 hash of the unhashed security key
				// var hashed = CryptoJS.MD5(unhashed);
				var hashed = md5(unhashed);
				//alert("hashed: "+hashed);
				
				var securityToken=hashed.toString()+hexQueryString.toString();
				//alert("securityToken: "+securityToken);
							 
				$BV.configure('global', { productId : '1123373',userToken: securityToken.toString() });
			} else {
				//alert("is not registered");
				$BV.configure('global', { productId : '1123373' });
			}
	$BV.ui( 'rr', 'show_reviews', {
			doShowContent : function () { 
			// If the container is hidden (such as behind a tab), put code here to make it visible 
			//(open the tab).
			}
			});
		
		//Removing Write review button from the Quickview	
		
		$('#BVRRSummaryContainer').bind("DOMSubtreeModified",function(){

			if($("#BVRRSummaryContainer").find("div.bv-write-review-container").length>0){
			$('#BVRRSummaryContainer').unbind("DOMSubtreeModified");

				$("#product-quickview .bv-write-review-container").remove()

			}
		});
});
}catch(e)
{
console.log("error in BV :"+e);
}
		</script>
 <!-- END TCPProductQuickView.jsp -->
 <span class="off-screen">End of dialog content</span>
 
	<script>
	console.log('quick view for product');
      try{
    	var quickViewObj = TCP.Tealium.Datalayer.buildPage();
    	quickViewObj.event_name = 'product_quick_view';
    	quickViewObj.page_name = 'quick view';
    	quickViewObj.sc_page_type = 'product';

    	quickViewObj.category_id = utag_data.category_id;
    	quickViewObj.category_name = utag_data.category_name;
    	quickViewObj.product_category = utag_data.product_category;
    	quickViewObj.product_subcategory = utag_data.product_subcategory;
    	quickViewObj.product_id = utag_data.product_id;
    	quickViewObj.product_sku = utag_data.product_sku;
    	quickViewObj.product_name = utag_data.product_name;
    	quickViewObj.product_price = utag_data.product_price;
    	quickViewObj.product_url = utag_data.product_url;
    	quickViewObj.product_image_url = utag_data.product_image_url;
    	quickViewObj.product_original_price = utag_data.product_original_price;
    	quickViewObj.product_promo_code = utag_data.product_promo_code;
    	quickViewObj.product_quantity = utag_data.product_quantity;
    	quickViewObj.product_brand = utag_data.product_brand;
    	quickViewObj.product_discount_amount = utag_data.product_discount_amount;
		
        utag.view(TCP.Tealium.clean(quickViewObj));
      }catch(err){
        console.log('Error in view call : ' + err.message);
      }
</script>