/* error and empty cart pages */

.empty-bag {width:50%; margin:5% auto; text-align:center; font-size:.75em; font-family:Arial, Helvetica, sans-serif; line-height:1.5em;}
.error {width:90%; margin:5% auto; text-align:left; font-size:.75em; font-family:Arial, Helvetica, sans-serif; line-height:1.5em;}

.empty-bag div, .error div {margin-top:15px;}
.error p{margin:5px 0;}
.error ul {margin-top: .5em; padding-left:35px;}

.logging-in {text-decoration:underline;}

.title {color:#dd2136; font-size:1.75em; font-family: Arial,Helvetica,sans-serif; margin-bottom:20px; text-transform:capitalize;}
