.productBanner {
  position: absolute;
  height: 10px;
  line-height: 10px;
  vertical-align: middle;
  margin: 3px 4px 0 4px;
  padding: 1px 5px 0 5px;
  width: auto;
  overflow: visible;
  background: url("../../images/tcp/sub-category/product-banners.png") 0 0;
  background-repeat: repeat-x;
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-transform:uppercase;
  /*
  row is 13 high
  4px vertical and horizontal spacing
  wrapLeft endLeft endRight wrapRight
  orange -> blue -> red
  each set is 29px total
  */ }
  .productBanner .productBannerSection {
    height: 13px;
    position: absolute;
    top: -3px;
    background-image: url("../../images/tcp/sub-category/product-banners.png");
    float: none; }
    .productBanner .productBannerSection.wrap {
      width: 4px;
      height: 13px;
      background-repeat: no-repeat; }
    .productBanner .productBannerSection.end {
      width: 4px;
      height: 13px;
      background-repeat: no-repeat; }
  .productBanner.productBannerLeft .wrap {
    left: -4px; }
  .productBanner.productBannerLeft .end {
    right: -4px; }
  .productBanner.productBannerLeft.orange {
    background-position: 0px -17px; }
    .productBanner.productBannerLeft.orange .wrap {
      background-position: 0px 0px; }
    .productBanner.productBannerLeft.orange .end {
      background-position: -8px 0px; }
  .productBanner.productBannerLeft.blue {
    background-position: 0px -46px;color:white; }
    .productBanner.productBannerLeft.blue .wrap {
      background-position: 0px -29px; }
    .productBanner.productBannerLeft.blue .end {
      background-position: -8px -29px; }
  .productBanner.productBannerLeft.red {
    background-position: 0px -75px; }
    .productBanner.productBannerLeft.red .wrap {
      background-position: 0px -58px; }
    .productBanner.productBannerLeft.red .end {
      background-position: -8px -58px; }
  .productBanner.productBannerRight .wrap {
    right: -4px; }
  .productBanner.productBannerRight .end {
    left: -4px; }
  .productBanner.productBannerRight.orange {
    background-position: 0px -17px; }
    .productBanner.productBannerRight.orange .wrap {
      background-position: -26px 0px; }
    .productBanner.productBannerRight.orange .end {
      background-position: -18px 0px; }
  .productBanner.productBannerRight.blue {
    background-position: 0px -46px; }
    .productBanner.productBannerRight.blue .wrap {
      background-position: -26px -29px; }
    .productBanner.productBannerRight.blue .end {
      background-position: -18px -29px; }
  .productBanner.productBannerRight.red {
    background-position: 0px -75px; }
    .productBanner.productBannerRight.red .wrap {
      background-position: -26px -58px; }
    .productBanner.productBannerRight.red .end {
      background-position: -18px -58px; }
