/* Points Redeem & Coupon Wallet Shared CSS */

#loyalty-wrapper {
    margin: 25px auto;
    overflow: hidden;
    width: 95%;
    font-size: 0.75em;
}

@media screen and (min-width: 1400px) {
#loyalty-wrapper {width: 80%;}
}

.lt-ie9 #loyalty-wrapper {
    margin: 1.25em auto 1.75em;
    overflow: hidden;
    width: 99%;
    font-size: 0.75em;
}
.welcome {
    margin: 0 auto;
    width: 100%;
    /* 432px / 944px */
    height: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px; 
    /*max-width: 990px;*/
    position: relative;
}
.loyalty-points-wrapper {
    /*max-width: 990px;*/
    margin: 0 auto;
    position: relative;
}
.myPlace-logo {
    display: none;
    float: left;
    margin: 0 2.3148148% 0 0;
}
.myPlace-customer {
    display: block;
    vertical-align: middle;
    height: 240px;
    width: 100%;
}
.myPlace-customer h4 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: "AvenirHeavy", Arial, sans-serif;
	font-weight:normal;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.myPlace-customer h5 {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
}
.myPlace-customer h6 {
    display: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

.myPlace-customer .my-place-rewards-title img {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    margin-bottom: 15px;
    width: auto;
    height: auto;
    max-width: 43%;
    height: auto;
}

#ESpotInfo_popup_main_div_My_Account_MPR_Marketing {
    position: absolute;
    top: 69px;
    width: 587px;
    border-right: 1px solid #ccc;
    height: 174px;
}

.myPlace-customer h5 strong {
    font-weight: normal;
    font-family: "AvenirHeavy", Arial, sans-serif;
}

@media screen and (max-width: 1399px) {
    #ESpotInfo_popup_main_div_My_Account_MPR_Marketing {
        width: 527px;
    }
}

.level {
    font-size: 11px;
}
/* My Place Points Calculator
================================================== */

.points,
.points-CA {
    position: absolute;
    right: 55px;
    top: -230px;
    float: right;
    background-color: #fff;
}

.points {
    width: 361px;
}

.mpr-comming-soon-banner {
    position: absolute;
    right: 0;
    top: -212px;
}

@media screen and (max-width: 1399px) {
    .points, .points-CA {
        width: 341px;
        right: 20px;
    }
   
}


.pointsProgress .progressbar {
    margin-top: 8px;
}

.pointCount, .pointRewards{
    height: 30px;
    line-height: 30px;
    padding: 0;
    vertical-align: middle;
    float: left;
    color: #333;
    text-transform: uppercase;
    margin-top: 14px;
    font-weight: normal;
    font-family: "AvenirHeavy", Arial, sans-serif;
}

.pointRewards {
	margin-top: 10px;
    position: relative;
}

.pointCount span, .pointRewards {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.pointCount span {
    margin-top: -4px;
}

.pointCount, .pointRewards .left-margin {
    font-size: 30px;
}

.pointsData .sup {
    font-size:15px;
    vertical-align:super;
}

.pointsData .left-margin {
    margin-left:-10px;
}

#my-account-mpr-info-popup {
    display: none;
    position: absolute;
    top: 20px;
    left: -197px;
    width: 367px;
    height: auto;
    z-index: 1000;
    padding: 25px 10px 5px 10px;
    background: #fff;
    box-shadow: 5px 5px 10px #ccc, -1px -1px 15px #ccc;
	text-transform:none;
}

#my-account-mpr-info-popup.visible {
    display: block;
}

#my-account-mpr-info-popup .close-button {
    font-size: 0;
}

#my-account-mpr-info-popup .close-button:before {
    content: "\f10e";
    font-family: icons;
    font-size: 10px;
    top: 10px;
    position: absolute;
    right: 10px;
}

.pointsNextLevel {
    line-height: 1em;
    color: #333;
    font-weight: normal;
    font-size: 16px;
    padding-top: 18px;
    font-family: "AvenirBook", Arial, sans-serif;
    text-transform: uppercase;
}
.pointsNextLevel strong {
    font-family: "AvenirHeavy", Arial, sans-serif;
    font-weight: normal;
}

.pointsData .pointsNextLevel {
    display: none;
}

.points .topRowLeft {
    float: left;
    width: 100%;
    /* 270px / 448px */
    
    height: 30px;
    color: #00a4e4;
    background: url("../../images/tcp/myPlace/myplace_mypoints.png") no-repeat 0 0;
    background: none;
}
.points .topRowRight {
    float: right;
    display: none;
}
.points .topRowRight option {
    padding: 2px 5px;
}
.points .points-link-wrapper{
    position:absolute;
    top:125px;
}
.my-account-mpr-info-button{
	font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    font-family: "AvenirBook", Arial, sans-serif;
    font-weight: normal;
    display: block;
    margin-top: 2px;
}
.convert-points {
    line-height: 1.2em;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 .25em 0;
    font-size: 1.2em;
}
.redeem-button {
    margin-top: .3125em;
}
.points .botRowLeft {
    float: left;
    width: 100%;
    margin-top: 110px;
    margin-bottom: 10px;
}
.ui-progressbar {
    height: 1em;
    text-align: left;
    width: 100%!important;
}
.ui-progressbar .ui-progressbar-value {
    display: inline-block;
    height: 100%;
    background-color: #00A4E4;
    background: repeating-linear-gradient( 45deg, #e86726, #e86726 10px, white 10px, white 20px );
    display: block !important;
}
.ui-progressbar-value:after{
    content:url(../../images/face.png);
    display: inline-block;
    margin-left: calc(100% - 15px);
    margin-top: -10px;
}
.progressbar {
    border: 1px solid #e86726;
}
.points-levels {
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    font-weight: bold;
    width: 380px;
}
.points-levels div {
    float: left;
    width: 88px;
    text-align: left;
    font-size: 16px;
}
.points-levels div.first {
    float: left;
}
.points-levels div.last {
    float: right;
    width: auto;
}

@media screen and (max-width: 1399px) {
    .points-levels {
        width: 360px;
    }
    
    .points-levels div {
        width: 83px;
    }
}

.mpr-logo {
	display:inline-block;
	vertical-align:top;
	margin-top:40px;
}
.program-details {
  display:inline-block;
  margin:32px 0 0 40px;
  font-size:14px;
  vertical-align:top;    
  position:relative;
}
.program-details img {
	display:block;
	margin-bottom:30px;
}

@media screen and (max-width: 1399px) {
.mpr-logo img {width:165px;}
.program-details {margin-left:20px;}	
.program-desc {width:300px;}
}

@media screen and (min-width: 1400px){
.mpr-logo img {width:197px;}
.program-desc {width:311px;}
}

@media screen and (max-width: 768px) {
.mpr-logo img {width:135px;}
.program-details {margin-left:20px;}	
.program-desc {width:250px;}
}
.program-details .links {
	margin-top:30px;
}
.program-details a {
    font-size: 12px;
	text-transform: uppercase;
	display:inline-block;
}
.challenge-select select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-size: 1.09em;
    margin: 5px 0;
    max-width: 100%;
    outline: 0 none;
    padding: 5px 5px 5px 1px;
}
.challenge-select select option {
    margin-bottom: 5px;
    padding: 0 10px 0 5px;
}
/* Coupon Wallet Styles
================================================== */

.coupon-wallet {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    width: 83%;
    border: 1px solid #ccc;
}