.GRGRcountry{
	height: 29px;
    padding-top: 21px;
}
#guestAccessPassword{
 	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #999999;
    height: 18px;
    margin: 5px 0;
    max-width: 100%;
    outline: 0 none;
    padding: 5px 3px;
    width: 95%;
}
 #guestAccessPasswordVerify{
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #999999;
    height: 18px;
    margin: 5px 0;
    max-width: 100%;
    outline: 0 none;
    padding: 5px 3px;
    width: 95%;
}
.addresstable td{
	padding: 4px;
	border-collapse: collapse;
	text-overflow:ellipsis; 
	word-break:keep-all; 
	overflow:hidden;
}
.main-dialog-class .ui-dialog-titlebar{
  background: none repeat scroll 0 0 #2BA3E1;
}
.AVSAVSProgressBar .ui-dialog-titlebar{
  display:none;
}
.AVSAVSProgressBar {
  background: none repeat scroll 0 0 transparent;
}
.main-dialog-class .ui-dialog-titlebar .ui-dialog-title{
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
}
.main-dialog-class #addressValid th strong{
  color: #00A4E4;
  font-weight: bold;
}
.main-dialog-class #addressInvalid th strong{
  color: #00A4E4;
  font-weight: bold;
}
.main-dialog-class #editSuiteApartmentId th strong{
  color: #00A4E4;
  font-weight: bold;
}
.main-dialog-class {
    padding:0;
}
.main-dialog-class .ui-widget-content{
	background: none repeat-x scroll 50% 50% #fbfdff;
}
.main-dialog-class .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button{
    background-image: -moz-linear-gradient(center top , #19BAEB, #01A1D2);
    background: none repeat scroll 0 0 #6DBAE5;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    padding:5px;
}

.template-bg1{
background-color:#F9F4F1
}
.registryRadio{
	width:15px;
	margin-top:5px;
	height:auto;
}
.dialogLine{
	border: 2px solid #90DBFE; 
}
.dialogLineChild{
	border-bottom: 2px solid #90DBFE; 
}
 .registSelect select{
    width: auto;
}
 .registSelect {
    margin: 0;
}
 .type {
    width: 20%;
}
 .dates {
    width: 70%;
}
 .createRegist select{
    width: 50%;
}
.eventDateMargin div{
  width:20%;
  padding-left:3px;
}
#loading_popup .bodycontent {
    left:0;
    margin: -10px 0 0;
    position: absolute;
}
.dateSelectDiv {
    float: left;
    width: 33%;
}
.dateSelectDiv select {
    float: left;
    margin-right: 3px;
    padding-right: 3px;
    width: 90%;
}
.editDateDiv {
    float: left;
    width: 85%;
}