<!-- TCPMyPaymentInfoDisplay.jsp start -->	
			
			
	 		<div class="credit-card">
				<h2>Default Credit Card</h2>
	        	<div class="address-col">
	        	<!-- mp_trans_disable_start -->
	            <div class="address-field address-nickname"><span>VISA</span></div>
	        	<div class="address-field"><span>************0026</span></div>
	        	
		        	<div class="address-field"><span>Expires&nbsp;12/2017</span></div>
				<!-- mp_trans_disable_end -->														
	            <div class="clear">&nbsp;</div>
	        	<div><a  onclick="TCP.Tealium.View.accountTabChange('14')" href="#https://tcp-perf.childrensplace.com/shop/TCPAddCreditCardView?catalogId=10551&amp;langId=-1&amp;xcreditCardId=410503&amp;storeId=10151" class="openModalMyPaymentInfo button-blue" 
	        		id="TCPMyPaymentInfo_link_edit_410503" title="edit payment info"  style="margin-right: 10px;">edit</a>
	        		<a id="removeCreditCardLink"  href="#https://tcp-perf.childrensplace.com/shop/TCPMyAccountRemoveCreditCardView?creditCardId=410503&amp;catalogId=10551&amp;action=D&amp;myAcctMain=1&amp;langId=-1&amp;storeId=10151" class="openModalMyPaymentInfo" 
	        		 title="remove default credit card">remove</a>
	        		<label class="label-error"></label>	  
	        	</div>  
	        	
	        	</div>
	       </div> 
       <!-- TCPMyPaymentInfoDisplay.jsp end -->