<!-- BEGIN TCPMiniShopCartDisplay.jsp -->
<script type="text/javascript" src="/wcsstore/GlobalSAS/javascript/CheckoutArea/CheckoutHelper.js"></script>
<script type="text/javascript" src="/wcsstore/GlobalSAS/javascript/tcp/cheetahmail/SiteClarity.js"></script>
<script type="text/javascript" src="/wcsstore/GlobalSAS/javascript/tcp/cheetahmail/sc_cart.js"></script>
<script type="text/javascript"
	src="/wcsstore/GlobalSAS/javascript/CheckoutArea/CheckoutPayments.js"></script>
	

<script type="text/javascript"
	src="/wcsstore/GlobalSAS/javascript/CheckoutArea/ShipmodeSelectionExt.js"></script>
<script type="text/javascript" src="/wcsstore/GlobalSAS/javascript/CheckoutArea/ShippingAndBillingServicesDeclaration.js"></script>


<script type="text/javascript">
	dojo.addOnLoad(function() {  
                    		CheckoutPayments.setCommonParameters('-1','10151','10551');
				SBServicesDeclarationJS.setCommonParameters('-1','10151','10551');
		SBServicesDeclarationJS.setAjaxCheckOut('');
		        CheckoutHelperJS.setCommonParameters('-1','10151','10551');
        CheckoutHelperJS.initializeShipmentPage(1); 
requestSubmitted = false;
if($("#qty").html() == '0'){	
	InternationalShippingJS.setshopCartUrl('https://tcp-perf.childrensplace.com/shop/AjaxOrderItemDisplayView?catalogId=10551&langId=-1&storeId=10151');
	$("#bag-icon-link").attr("href", 'https://tcp-perf.childrensplace.com/shop/AjaxOrderItemDisplayView?catalogId=10551&langId=-1&storeId=10151');	
	}
	}); 	
</script>




<div class="shopping-bag-counter" id = "shopping-bag-count">
	<a id ="bag-icon-link" class="bag-icon"  href="http://tcp-perf.childrensplace.com/shop/OrderCalculate?calculationUsageId=-1&updatePrices=1&catalogId=10551&errorViewName=AjaxOrderItemDisplayView&orderId=.&langId=-1&storeId=10151&URL=AjaxOrderItemDisplayView" ><span id ="qty">0</span>
	</a>
</div>
<script>
//InternationalShippingJS.setUrl('http://tcp-perf.childrensplace.com/shop/OrderCalculate?calculationUsageId=-1&updatePrices=1&catalogId=10551&errorViewName=AjaxOrderItemDisplayView&orderId=.&langId=-1&storeId=10151&URL=AjaxOrderItemDisplayView');
InternationalShippingJS.setshopUrl('http://tcp-perf.childrensplace.com/shop/TCPIShippingView?catalogId=10551&langId=-1&storeId=10151');
InternationalShippingJS.setshopCartUrl('http://tcp-perf.childrensplace.com/shop/OrderCalculate?calculationUsageId=-1&updatePrices=1&catalogId=10551&errorViewName=AjaxOrderItemDisplayView&orderId=.&langId=-1&storeId=10151&URL=AjaxOrderItemDisplayView');
</script>
<input type="hidden" id="quickShopBagTitle" name="quickShopBagTitle" value='shopping bag' />
	<input type="hidden" id="totalNumberOfItems" name="totalNumberOfItems" value='0' />
<style>
.page {
  text-align:center;
  width:20px;
  height:20px;              
  float: left;
}


</style>
<div class="shopping-bag-checkout" id ="shopping-bag-checkout">

	<span id="amt">
	
	

	<a id = "INTcurrency" href="http://tcp-perf.childrensplace.com/shop/TCPIShippingView?catalogId=10551&langId=-1&storeId=10151" class = "openModalIShipping" >
		$0.00
	</a>
	
	<span id = "INTAmt"></span>
	
	 </span>
	
	
		<!-- BEGIN TCPCheckoutLogonForQuickView.jsp. -->

<script type="text/javascript">
	var baseHREF = '???constant.baseHREF???';
	var stylesHREF = '???constant.stylesHREF???';
	var homeHREF  = '???constant.hostName???';
	var PATH_TO_ENVOY = '???E4X_ENVOY_URL???';
	var isIntlShipping = 'false';
	var curCode = 'USD';
	var margin = '1.0';
	var exRate = '1.0';
	var roundMethod = '2';
	

</script>


<input type="hidden" value="MiniCart|CHECKOUT|shopcartCheckout1|true" id="ttt"/>


<!-- Start - JSP File Name:  CheckoutLogon.jsp -->
<input type ="hidden" id="checkoutUrl" name = "checkouturl" value =""/>
<script>
document.getElementById("checkoutUrl").value = "TCPCheckoutCmd?langId=-1&storeId=10151&catalogId=10551&orderId=&URL=LogonForm";



function PayPalCheckout()
{

	try {
		var newURL = "https://tcp-perf.childrensplace.com/webapp/wcs/stores/servlet/TCPPayPalCCLookUpCmd?storeId=10151&catalogId=10551&langId=-1&orderId=&callingPage=AjaxOrderItemDisplayView";
		document.location.href = newURL;
	} catch(error) {
		alert("error detected while redirecting to PayPal : " + error.message);
	}
}

	
	
</script>
<!-- Start of section for guest users --><!-- End of section for guest users --><!-- Start of section for registered users -->
	
	<input type="hidden" value="0" id="test" />
	
	
	
	
	<!-- Determine URL Registered user will be redirected, when checkout button is clicked. --><!-- If shopping cart is empty and Registered user clicked on checkout button,
				we need to redirect user to shopping bag page.-->
							<a href="https://tcp-perf.childrensplace.com/shop/OrderCalculate?calculationUsageId=-1&amp;updatePrices=1&amp;catalogId=10551&amp;errorViewName=AjaxOrderItemDisplayView&amp;orderId=.&amp;langId=-1&amp;storeId=10151&amp;URL=AjaxOrderItemDisplayView"	onclick="javascript:if(CheckoutHelperJS.canCheckoutContinue('R') ){return true;}return false;"
								id="guestShopperContinue1" class="button-blue checkout" value="CHECKOUT" name="checkout">CHECKOUT </a>
						<!-- End of section for registered users --><!-- END TCPCheckoutLogonForQuickView.jsp -->    
		
</div> 
<!--<noscript><img src="https://sc.email.childrensplace.com/spacer.gif?event=6~~28~tcp" border=0 height=1 width=1></noscript>
<script type="text/javascript">
			var hs_ES = "28~tcp";
			var h_w = window;
			
			</script>

<script language="javascript" src="/wcsstore/GlobalSAS/javascript/tcp/cheetahmail/sc_tcp.js"> </script>


--><script type="text/javascript">

function openAdd2CartQuickView(){
				
		setCurrentId("orderAmountCurrency");
	  			//For Handling multiple clicks
		if(!submitRequest()){
			return;
		} 
	  		cursor_wait();
				
				 var xhrArgs1 = {
						    url: getAbsoluteURL() + "TCPAdd2CartQuickView?langId="+ServicesDeclarationJS.langId+"&storeId="+ServicesDeclarationJS.storeId+"&catalogId="+ServicesDeclarationJS.catalogId,
						    handleAs: "text",
						    sync: false,
						    load: function(data){
					 
					 var element = document.getElementById('add2bag-quickview');
					 if(element != null){
					 	if($('#add2bag-quickview').hasClass('ui-dialog-content')){
							 $('#add2bag-quickview').dialog('destroy').html('');
						 }
						 element.innerHTML = data;	 		
					 }	
						$("#add2bag-quickview" ).dialog(
								{width: '760px',height: 'auto',resizable:false,draggable:false,   modal: true,title:$('#quickShopBagTitle').val()}
							); 
						cursor_clear();
						    },
						    error: function(error){
						    	
						    }
						  }

						  // Call the asynchronous xhrGet
			     dojo.xhrGet(xhrArgs1);
}


dojo.addOnLoad(function() { 
		
		CheckoutHelperJS.setShippingUrl4Express('http://tcp-perf.childrensplace.com/shop/TCPOrderShippingView?shipmentType=single&catalogId=10551&langId=-1&storeId=10151');
});	
	

</script> 
<script>  	
	
   InternationalShippingJS.updateMiniCartCookie();

</script>
	
<!-- END TCPMiniShopCartDisplay.jsp -->