/* ================================================================================ */
/* TABLET LAYOUT : 768px */
/* ================================================================================ */
/*@media handheld, only screen and (max-width: 768px) {*/
@media screen and (max-width: 768px) {
#site-wrapper {overflow: hidden;}
#hp-wrapper-container {width:725px; margin:0 auto;}
#site-wrapper, #header-wrapper {width:748px;}
.template-bg {width: 734px;}
.content-wrapper {padding:2%;}

/*Top Toolbar */
#toolbar {max-width:748px; width:100%;}

.toolbar-links {
width:auto;
left: 10%;
margin-left: 0;}
	
.greeting {display:none;}

nav.toolbar-links ul li {margin: 0 1em 0 0;}
nav.toolbar-links ul li.toolbar-myplace-logo {margin-right: 1em;}
nav.toolbar-links ul li#customer-name  {margin-right: .75em;}
nav.toolbar-links ul li.country-specific {margin: 0 0.5em 0 0;}
nav.toolbar-links ul li.country-specific a:link, nav.toolbar-links ul li.country-specific a:visited {margin: 0;}
.points-border {width: 5px;}

#toolbar-points {margin: 0 0.5em 0 0;}
.points-total {margin: 0; padding:0.25em 0.5em 0.25em 0;}

#shopping-bag {margin-right: 0.25em;}
   
/*Logo area and promo banners */
header #tcp-logo-header {width:18.048128%; /* 135px / 748px */ margin: 0 0 0 10.5%;}
header #tcp-logo-header a {width:143px;height:86px;}

.promo-banner-top {
margin-left: 1.25%;
width: 210px;
margin-top: 1em;}
	
/* Site Search */
.search {
width: 25.78125%;
margin: 30px 10px 0 0;}	
	
input.searchBox {width: 75%;}	
	
/*Top Nav Dropdowns */
#primary-nav > ul > li.short {width: 61px;}
#primary-nav > ul > li.long {width: 100px;}
#primary-nav > ul > li.placeShops {width:100px;}
#primary-nav > ul > li> a > span.nav-sizes {
   margin: 0 0 0 15px; 
}

/* Footer */
footer {width: 735px;}
.footer-links-inner {width: 768px;}
.footer-row-top-col, .footer-row-top-col-CA {font-size: 1em;}
.links-column {width: 15.5%; margin: 0 2%;}
.footer-links-inner .links-column-first {margin: 0 2% 0 4%;}
.footer-links-inner .links-column-last {margin: 0 0 0 2%;}
.links-column-CA, .links-column-intl {width: 22%; margin-right: 1.5%;}

/*Department Page */	
.dept-image-fader {height:auto;}
.dept-image-fader img, .dept-image-fader img[usemap]{max-width: 588px;} 
.dept-image-fader-shoes, .dept-image-fader-shoes img, .dept-image-fader-shoes img[usemap]{height: 266px;max-width: 588px;} 
.dept-image-fader img.dp-bottom-banner, .dept-image-fader img.dp-bottom-banner[usemap], .dept-image-fader-shoes img.dp-bottom-banner, .dept-image-fader-shoes img.dp-bottom-banner[usemap]{height: 175px;max-width: 588px;} 
.dept-image-fader-alt{height: 236px;max-width: 588px;}
.dept-image-fader-alt div.img-left img {
width:373px;
height:236px;
float:left;}

.dept-image-fader-alt div.img-right img{
width:208px;
height:236px;
margin:0 0 0 7px;
float:left;}	

.LooksWeLove {
min-height: 470px;
width: 540px;
margin: .75em .25em .5em .75em;}

.looks-wrapper {margin-top:0;}

.looks-slider {margin-top: 11px;}

#looks-header img {
left: 40%;
width: 184px;
margin-top: 20px;
}

#TCPOutfitProductDetail #product-xlarge {width: 300px;}
#TCPOutfitProductDetail #product-xlarge img {width: 100%; height: auto;}

.bx-wrapper .bx-viewport {left: -4px;}

.bx-wrapper .bx-controls-direction a {top: 60%;}

.nav-overlay {
left: 3px;
bottom: 3px;
position:absolute;}

.nav-overlay-alt {
left: 3px;
bottom: 30px;
position:relative;}

.backtotop {display:none!important;}

/*PRODUCT DETAIL PAGE*/
.product .product-info, .product .product-images {position: relative;}
.product .product-info{margin: .625em 0 0 0;width: 34.6%;}
.product .product-images {width: 60%;margin-top: 0em;left: 0%;}
.product #product-left {width: 100%;padding: 0;}
.product .selection-box {width: 200px; margin-bottom:10px;}
.product #product-description-full{top: 5px;left: -5px;width: 210px;}
.product #product-mid-size{margin: 0px 0px 0px 65px;}
.product .product-flags{left: -23px!important; top:0;}
.product .product-thumbs{padding: 0.3125em 0px;}	
.product .selection-box .swatches{width: 100%;}
.product .registry{height:auto;display: none;} /**** confirm on this **/
.product .size, .product .fit, .product .quantity {width: 100%;}
.product .selection-box div.selector {width: 200px;}
.product .selection-box div.selector span {width: 160px;}
.product .selection-box div.selector select {width: 100%; padding: 4px 3%;}
.product .customSelect {}
.product .selection-box {padding: 1em 1.75em 1em 1em;}
.product .selection-box .add-bag{width: 100%;}
.product .selection-box .add-bag  .button-blue{width: 100%;padding: 0.5em 0;}
.product .selection-box form select.hasCustomSelect{width: 100%;}
.product .selection-box .colors {padding-top: 18px;}
.product .swatches .swatch{margin-right: 5px;}
.size-information {margin-left: 5px;}
.add-bag {margin: 1em 0 0 .5em; height: auto;}

/*Pages with Left product Suggestions*/
#product-recommendations {border-left: 0px solid #ccc;text-align: justify;margin: 0;padding: 0 0 10px 0;width: 100%;min-height: 0px;border-bottom: #ccc 1px solid;}
#product-recommendations div{float: left;width: 25%;}
#product-recommendations div img {width: 150px;}

.breakLine{display:block;}

/*CheckOut pages*/
.checkout-wrapper .freeShip-calc{float: none;width: 100%;}
.checkout-wrapper .product-image{width: 60px;margin-right: 5px; }
.checkout-wrapper .checkout-inner {width: 98%; margin: 1em auto;}	
.checkout-wrapper .label-left {width: 55%;}	
.checkout-wrapper .bag-row .sku-info {float: left;width: 45%;}
.checkout-wrapper .promo-image img, .checkout-wrapper .place-cash img{width: 100%;	}
.checkout-wrapper .checkout-inner .create-account{padding: 7px;width: 90%;}
.checkout-wrapper div.selector span{width: 98% !important;}/*** DropDowns**/
.checkout-wrapper div.selector, .checkout-wrapper div.selector select {width: 98% !important;}/*** DropDowns**/	
.checkout-wrapper .coupon-code input {width: 40%;}
.checkout-wrapper .apply-code .button-orange{width: 50%;padding: 0.5em 0;}
	
/*CheckOut Shipment*/	
.checkout-wrapper .shipping-method, .checkout-wrapper .gift-options {float: none;width: 100%;border-bottom: 0px ;padding-bottom: .625em;}

/*CheckOut Review*/	
.checkout-wrapper .summary-details{width: 45%;min-height: 150px;}
.checkout-wrapper .check-info p {text-align: justify;width: 100%; margin-bottom: 15px;}

/*CheckOut payment*/	
.checkout-wrapper .gc-left{float: none;width: 100%;}	
.checkout-wrapper .gc-right{float: none;width: 100%;margin: 0px;padding-top: 10px;}
.checkout-wrapper .gc-right .gc-title{color: #00A4E4;font-family: "bpreplayregular",Arial,Helvetica,sans-serif;font-size: 1.5em;font-weight: normal;line-height: 30px;vertical-align: middle;text-transform:lowercase;}
.checkout-wrapper .gc-right  table{width: 100%;}
/*check Balance Button*/
.checkout-wrapper .row .button-blue {font-size: 1em;float: none;}

/*myplace*/
.myplace-wrapper {width: 734px;}
.myplace-wrapper .myPlace-logo {width: 80px;}
.myplace-wrapper .myPlace-logo img {width: 100%;}
.myplace-wrapper .welcome{width: 50%;}
.myplace-wrapper .points{width: 45%;}
.myplace-wrapper #loyalty-wrapper{width: 650px;padding: 0;}
.myplace-wrapper .MyPlaceDealWallet{min-width: 600px;width: 96%;padding: 2%;}
.myplace-wrapper .wallet{width: 100%;}
.myplace-wrapper .wallet .next {left: 93%;}
.myplace-wrapper .myPlace-tabs {width: 100%;}
.myplace-wrapper #address-summary .shipping-method{width: 190px;float: left;}
.myplace-wrapper .points-history-table {width: 97%;}
.myplace-wrapper .points .topRowLeft {height: auto; width: 52.267857%;}
.myplace-wrapper .points .botRowLeft {width: 52.267857%;}
.myplace-wrapper .points .botRowLeft .program-details {margin: 20px 0 5px; width: 300px;}
.myplace-wrapper .pointCount, .myplace-wrapper .pointsNextLevel{float: none;}
.myplace-wrapper .pointsNextLevel br{display: none;	}
.myplace-wrapper .level_type{display: block;}
.myplace-wrapper .level {padding-left: 10px;}
.myplace-wrapper .points .topRowRight .selector span{padding: 0px;}
.myplace-wrapper .productDisplaySizes{display: none;}
.myplace-wrapper div.selector select{opacity:1.0;}
.myplace-wrapper .summary-col{margin-right: 3%;}
.myPlace-tabs ul.tabs li a {padding: 0 10px;}

/*Shopping Bag*/
.bag-wrapper{width: 100%;}	
.bag-wrapper .bag-content{width: 100%;padding: 0;margin-top: 1.25em;}	
.bag-wrapper #bag-left {width: 100%;float: none;}
.bag-wrapper .item-quantity form div.selector span{padding: 0px;text-align:left;}	
.bag-wrapper .bag-content .bag-placecash-wrapper,.bag-content .bag-monkeycash-wrapper {width: 100%;float: none;margin:10px 0px;}
.bag-wrapper .bag-content .bag-monkey-selected-wrapper{width: 100%;margin: 10px 0px;}
.bag-wrapper #subtotal-row, .bag-wrapper #payment-row{width: 100%;margin:17px 0px;}
.bag-wrapper #payment-row .payment-methods{width: 214px;}
.bag-wrapper .placecash-small{display: block; text-align:left;}
.bag-wrapper .bag-placecash-btn{left: 610px;}
.bag-wrapper .bag-monkeycash-btn{min-width: 500px;}
.bag-wrapper #payment-row .button-first{ float: left;}
.bag-wrapper #payment-row .payment-buttons{width: 480px;margin-top: 5px;}
.bag-wrapper #payment-row .payment-buttons .button {margin-left: .75%;}
.bag-wrapper #payment-row .payment-buttons .paypal{margin: 0px;}
.bag-wrapper .bag-content .bag-placecash-wrapper {float: left;}
.bag-wrapper .bag-content .bag-placecash-wrapper .bag-placecash-txt p {width: 75%;}
#subtotal-row .bag-total {width: 34%; padding-right: 10px;}
#subtotal-row .coupon-code {width: 35.090433%;}
#subtotal-row .coupon-code input {width: 43%;}
.bonuspoints {font-size:12px;

/*Careers Page*/
#careersPageTitle {padding-top: 2%;}

/*Forgot password*/
.forgot-password{width: 100%;}
.forgot-password input{width: 40%;}
.forgot-password-banner{display: none;}

/*Order Details*/
.checkout-wrapper {width: 734px;}
.checkout-wrapper .welcome{width: 45%;}
.checkout-wrapper .myPlace-logo{width: 80px;}
.checkout-wrapper .myPlace-logo img{width: 100%;}
.checkout-wrapper .points-history-table {width: 97%;}
.checkout-wrapper .points .topRowLeft {height: auto;}
.checkout-wrapper .pointCount, .myplace-wrapper .pointsNextLevel{float: none;}
.checkout-wrapper .pointsNextLevel br,.checkout-wrapper .pointsNextLevel a {display: none;}
.pointsNextLevel{float: none;}
.checkout-wrapper .points .topRowRight .selector span{padding: 0px;}
.checkout-wrapper .placecash-col-right {padding-right: 10px;}

/*Modal prodauct Zoom*/
.modal-content{width: 620px;}
.modal-content #product-xlarge{width: 550px;}
.modal-content #product-xlarge img{width: 100%; height: auto;}

/*International Checkout*/
#international-checkout {width: 735px;}

/*gift card decision page*/
.gc-header-txt h1{
font-size: 24px;
line-height: 14px;}

.gc-header-txt h2 {
font-size: 16px;
line-height: 14px;}

.gc-left-content {
width: 45%;
margin-left: 0;
padding-right: 25px;}

.gc-right-content {
width: 45%;
margin-right: 25px;}

.gc-left-img {height:185px;}

.gc-left-img, .gc-right-img {height: auto;}
.gc-left-img img, .gc-right-img img {width:90%;}

.gc-left-copy h3, .gc-right-copy h3 {
width: 100%;
text-align: center;
margin-left:0;}

/*gift card detail page*/
.gc-content {
width: 100%;
padding:1em .5em;}

.gc-left {width: 32%;}
.gc-left img {width: 97%; margin:0;}
.gc-center {width: 66%;}

/* PLACE card landing page */
.place-card {width:721px;}
.place-card img {width:100%;}
.place-card div {top: 315px; right: 7%;}

/* PLACE Shops */
#inventory-content {width: 80.75%;}

/* Americana Shop Summer 2015 */
.amer-placeshop-wrap .productLarge {width: 182px !important; height: 337px !important;}
.amer-summer-2015-menu {bottom: 0px; right: 7px; font-size: 0.65em;}
.amer-summer-2015-menu span.text {padding: 5px 0px;}
.amer-summer-2015-menu span.empty {padding: 5px 36px; margin-top: 17px;}

/* Licensed Character Shop Fall 2015 */
.lc-container .lc-links a {width: 30.7%; font-size: 0.85em;}
.lc-menu {top: -3px;}
.lc-menu a {width: 14.4%; font-size: 0.55em; padding: 18px 2px !important;} /*****/
.hvr-underline-from-center {margin-bottom: 6px; padding-bottom: 35px !important;}
.hvr-underline-from-center:before {height: 6px;}
.lc-menu a.lc-active {border-bottom: 6px solid #ff6917; margin-bottom: 1%; padding-bottom: 13px !important;}
.ls-placeshop-wrap .productLarge {width: 162px !important;}
.ls-placeshop-wrap .leftNav {margin: 9px 0px 0px 20px; font-size: 8px;}

/* Swim Shop Spring 2015 */
.swim-menu a {width: 19.75%; font-size: 0.65em; padding: 40px 2px 0;}
#place-shop-swim-2015 .hvr-underline-from-center {padding-bottom: 36px !important;}
#place-shop-swim-2015 .hvr-underline-from-center:before {height: 6px;}
.swim-menu a.active {border-bottom: 6px solid #31a5b0; padding-bottom: 29px !important;}
#swim-inventory .productLarge {width: 182px; height: 337px;}

/* Dressy Shop Holiday 2015 */
.dressy-lp-hol-2015-menu span {font-size: 0.65em; margin-bottom: 7px;}
.dressy-lp-hol-2015-menu a  {font-size: 0.7em;}
.dressy-hol-menu-top {top: 12.8%; right: 38%;}
.dressy-hol-2015-menu {top: 278px;}
.dressy-hol-2015-menu a {font-size: 0.9em; padding: 5px 7px;}
#dressy-inventory .productLarge {width: 162px;}

/* Sleep SHOP FALL 2015 */
.pj-lp-fall-2015-menu {font-size: 0.6em;}
.pj-fall-2015-menu {top: 8px; right: 0;}
.pj-fall-2015-menu a {font-size: 0.65em; padding: 35px 13px;}
.pj-fall-2015-menu a.Toddlerlink {padding: 35px 13px 23px;}
.placeshop-wrap-pj-fall-2015 .productLarge {width: 162px !important;}

/* MVP Shop Fall 2015 */
.mvp-2015-landing-menu {top: 58%; right: 30.7%;}
.mvp-2015-fall-menu-row {font-size: 0.55em;}
.mvp-placeshop-wrap .productLarge {width: 162px !important;}
.mvp-placeshop-wrap .leftNav {font-size: 1.1em;}
.mvp-fall-2015-menu {top: 5px; right: 10px;}
.mvp-fall-2015-menu a {margin: 0 2px; padding: 7px 0;}
.mvp-fall-2015-menu img {width:55%;}
.mvp-fall-2015-menu span {margin: 6px 0 0; padding: 4px; font-size: 0.7em;}

/* UNIFORM SHOP BTS 2015 */
.uniform-lp-bts-2015-menu {font-size: 0.6em;}
.bts-menu-top {right: 3.9%;}
.uniform-bts-2015-menu {top: 278px;}
.uniform-bts-2015-menu a {font-size: 0.9em; padding: 5px 7px;}
.placeshop-wrap-uniform-2015 .uniform-bts-2015-content {width: 75.75% !important;}
.placeshop-wrap-uniform-2015 .productLarge {width: 165px !important;}
.uniform-lp-bts-2015-menu-ca {right: 11%;}

/* Denim Shop, BTS 2015 */
#choose-denim li {margin-right:.25em;}
#choose-denim li img {width:176px;}
.copy {width:75%; position:relative; top:-5px;}
.denim-row .productLarge {width: 182px; height: auto;}
.denim-2015-landing-menu {bottom: 16%; right: 21.5%; font-size: 0.65em;}

/* Matchables Shop, Spring 2015 CA */
.match-menu {bottom: 35px; right: 3px;}
.match-menu a {font-size: 0.65em; padding-bottom: 35px; padding-left: 5px; padding-right: 5px; padding-top: 33px;}
#match-inventory .productLarge {height: 345px; width: 182px;}

/* Active Shop, BTS 2015 */
.active-lp-bts-2015-menu span {font-size: 0.65em; margin-bottom: 7px;}
.active-lp-bts-2015-menu a  {font-size: 0.7em;}
.active-bts-menu-top {top: 9.8%; right: 37%;}
.active-bts-menu-bottom {right: 28%;}
.active-bts-2015-menu {top: 278px;}
.active-bts-2015-menu a {font-size: 0.9em; padding: 5px 7px;}
#active-inventory .productLarge {width: 162px;}

/* Fleece Shop, Fall 2015 */
.fleece-fall-2015-menu {top: 278px;}
.fleece-fall-2015-menu a {font-size: 0.9em; padding: 5px 7px;}
#fleece-fall-2015-inventory .productLarge {width: 162px;}

/* Family Shop, BTS 2015 */
.family-lp-menu {top: 52%; right: 39%; font-size: .6em;}
.family-menu {top: 8px; right: 0;}
.family-menu a {font-size: 0.65em; padding: 35px 12px;}
.family-menu a.fgToddlerlink {padding: 35px 12px 23px;}
#family-inventory .productLarge {width: 162px;}

/* Star Wars, Fall 2015 */
.sw-lp-menu {top: 4.8%; right: 9%; font-size: .6em;}
.sw-fall-menu-top {top: 12.8%; right: 38%;}
.sw-fall-2015-menu {top: 373px;}
.sw-fall-2015-menu a {font-size: 0.9em; padding: 5px 7px;}
#sw-inventory .productLarge {width: 162px;}

/* Baby Shop, BTS 2015 */
#outerContainer-baby-lp-bts-2015 h2 {font-size: 0.7em; line-height: 1.4em;}
.baby-bts-menu-top {top: 76%; right: 6%; font-size: 0.7em;}
.baby-lp-bts-2015-menu a {font-size: 1.2em;}
.baby-tables-outer li.checklist {padding: 0 22px;}
.baby-tables-outer li.sizechart {margin: 0px 16px;}
.baby-tables-outer li.sixnine, .baby-tables-outer li.ninetwelve {margin-top: 22px; margin-bottom: 22px;}
.baby-tables-outer li.sixnine {margin-left: 135px;}
.baby-tables-outer li.ninetwelve {margin-left: 15px;}
.baby-bts-menu-bottom {left: 27%;}
.baby-girl-bts-menu, .baby-boy-bts-menu {top: 84%; right: 41%;}
.baby-neutral-bts-menu {top: 84%; right: 43.6%; font-size: 0.6em;}

/* Birthday Shop, Summer 2015 */
.bday-lp-summer-2015-menu {font-size: 0.6em;}
.bday-menu {bottom: 35px; right: 3px;}
.bday-menu a {font-size: 0.65em; padding: 33px 12px 35px; margin: 0 0 0 -5px;}
#bday-inventory .productLarge {height: 345px; width: 182px;}

/* myPLACE Rewards Landing Page */
.mpr-logo img {top: 50px;}
.mpr-highlight-box-top {
height:12%;
font-size:17px;
padding: 9px 10px 11px;}

.mpr-highlight-box-bottom {
font-size: 12px;
height: 275px;}
	
.mpr-save-more-details {margin: 15px 0 0 9%;}
.mpr-inner-wrapper .button-orange, .mpr-inner-wrapper .button-blue, .mpr-inner-wrapper .button-grey, .mpr-inner-wrapper .button-dark-grey {font-size: 0.9em;}
.mpr-faq-terms {margin-top: 2px;}
.mpr-large-center-txt img {width: 85%;}

/* PLACE Credit Card Landing Page */
.mpcc-learn-button img {width:165px;}

.mpcc-apply-manage-buttons img {
margin-left:-2px;
width:78px;}

/* Videos Landing Page Summer 2014 */
.content-wrapper {width: 704px; padding: .25% 2%;}
.large-iframe {width:704px; max-width:100%;}
.video-caption {font: 1.5em 'Open Sans Condensed', sans-serif!important; height:147px;}
.video-stills li {width: 224px;}

/* MyPlace Rewards */
.mpr-wrapper img {width: 100% !important;}
.mpr-left {width: 52% !important; margin-top: 25px;}
.mpr-right img {width: 83% !important;}
.mpr-bottom {width: 107% !important;}

/* Styles for International Stores Landing Page */
.INScontainer {margin-left: 10px; overflow: hidden;}
.INSheader {padding: 8px 0 9px;}
.INScol {width: 92%; float: left; padding: 10px 30px 30px 28px;}
.INScol1 {border-right: none;}
.INSempty {display: none;}
.INScolLast01 {border-bottom: 1px solid #ccc;}

/* Styles for Left Nav in the Help Center */
#helpCenterContentMenu .leftNav ul li span {width: 77%;}
#helpCenterContentMenu .leftNav .leftNavLevel1 {width: 86%;}
.help-quick-box ul li {margin: 0 0 4% 2%!important;}

/*** Styles for International Stores Landing Page ***/
.INScontainer {margin-left: 10px; overflow: hidden;}
.INSheader {padding: 8px 0 9px;}
.INScol {width: 92%; float: left; padding: 10px 30px 30px 28px;}
.INScol1 {border-right: none;}
.INSempty {display: none;}
.INScolLast01 {border-bottom: 1px solid #ccc;}

/*** Styles for PLCC Landing Page ***/
.limitedTimePurch, .limitedTimeApr {float: left;}
.limitedTimePurch {margin: -5px 7px 0 0 !important;}
.limitedTimeApr {font-size: 0.9em !important;}
.today .blue {clear: both;}

/*** Styles for PLCC Fall 2015 Landing Page ***/
#plcc-lp-fall2015 .buttons{font-size: 1em;}
#plcc-lp-fall2015 .buttons a {padding: 5px;	margin: 0px 7px;}
#plcc-lp-fall2015 .main {width: auto;}
#plcc-lp-fall2015 .main p {font-size: 1.5em;}
#plcc-lp-fall2015 .main .col {margin: 15px 23px;}
#plcc-lp-fall2015 .main .sub-col2 {width: 381px; margin: 7px 0 0 30px;}
#plcc-lp-fall2015 .main .col {width: 100%; margin: 15px 0px;}

/*** Styles for Access and Newborn DP Cycle Slider Height ***/
#accessories ul {padding: 5px; font-size: 0.63em;}
#accessories li {padding: 0 5px;}

#toolbar-wrapper {width: 768px;}

.header-message-slide .cycle-slideshow .slide02 .break768 {clear: both; display: block;}

/*** Email Subscribe Landing Page ***/
#subscribe-right-col {width: 37%; padding: 10% 2% 0;}
#subscribe-right-col h1 {font-size: 2em; width:100%;}
#subscribe-right-col h2 {font-size: 1.5em;}
#subscribe-right-col input {width: 60%;}

.code-details {right: 4%; top: 22%;}
.code-details-us {font-size:0.55em; right: 67.5%; top: 44%;}
.code-details-ca {font-size:0.55em !important;}
.store-coup {right: 16.3%; top: 60%;}
.outlet-coup {right: 3.1%; top: 60%;}

/* US HP Main Center Hover Links 
.hp-wrapper-container-us .coupon-links {font-size: 0.7em;}
.hp-wrapper-container-us .top-image .cycle-slideshow ul {font-size: 0.8em;} */

/* US HP Main Center Webcode and DP Links - No Slider */
.hp-wrapper-container-us .coupon-links {font-size: 0.65em;}
.hp-wrapper-container-us .top-image .cycle-slideshow ul {font-size: 0.6em;} 
/* .hp-wrapper-container-us .top-image .cycle-slideshow div {width: 56.1%; height: 370px;}     Strictly for animating girl 100115 */
/* .hp-wrapper-container-us .replay-button {font-size: 0.6em;}     Strictly for animating girl 100115 */

/* CA HP Main Center Hover Links */
.hp-wrapper-container-ca .coupon-links {font-size: 0.65em;}
.hp-wrapper-container-ca .top-image .cycle-slideshow ul {font-size: 0.6em;}

/* Center banner if there are 3 banners in one row on the HP */
.col-mid {margin-left:303px;}

/* Place Shops Home Landing Page */
#ps-home-subtitle {font-size: 1.1em;}
.ps-home-section {width: 47.7%;}

/* Gifting Options LP */
#go-top-banner {margin-top: 2%;}
#go-more-info {display: block !important;}
.go-col {width: 450px; margin: 3% auto; display: inline-table;}
.go-empty {display: none;}
.go-headline {text-align: center; background-color: #E9136A;}
.go-headline img {width: 69.5% !important;}
#go-click-container {margin: 3% auto 5%;}
#go-squirrel {display: none;}

/* Baby Center */
.baby-center-code {bottom: 24%; right: 12.5%; font-size: 1.05em;}
.baby-center-sorry {font-size: 1.6em;}

/* Mobile App Landing Page */
#mobile-app-container {height: 410px;}
#mobile-app-container .top h1 {font-size: 2em; line-height: 1.3em;}
#mobile-app-container .top h1 span {font-size: 1.6em;}
#mobile-app-container .top h2 {font-size: 1.5em;}
#mobile-app-container .bottom-copy {font-size: 1.6em;}
#mobile-app-container .bottom-copy li {font-size: 0.65em;}
#mobile-app-container .bottom-inner {margin-left: 35.7%; width: 59.2%;} /* */

/* kids-baby-halloween-costumes 2015 */
.halloween-2015-copy {font-size: 0.63em;}
.halloween-2015-copy p.link {margin-top: 15px;}

/* Back to School 2015 */
.school-2015-copy {font-size: 0.75em; top: 48%;}
.school-2015-links {font-size: 11px; right: 6.3%; bottom: -2%; width: 148px;}
.school-2015-links ul {padding: 0px 0 23px; margin: 5px 0;}
.school-2015-links li.slash {padding: 0 6px;}

/* Paris Collection BTS 2015 */
.paris-bts-2015-container .cycle-slideshow{height: 341px;}
.paris-bts-2015-container .shop-all {top: 87%;}

/* Enchanted Forest Collection BTS 2015 */
.forest-bts-2015-container .cycle-slideshow{height: 341px;}
.forest-bts-2015-container .shop-all {top: 87%;}

/* Beat FALL 2015 */
.beat-lp-fall-2015-menu {top: 14.25%; right: 52.5%; font-size: 0.6em;}
.bts-menu-top {right: 3.9%;}
.beat-fall-2015-menu {top: 278px;}
.beat-fall-2015-menu a {font-size: 0.9em; padding: 5px 7px;}
#beat-inventory .productLarge {width: 162px;}

.plcc-offer-code-20150309 {right: 16.5%; top: 23%; font-size: 0.6em;}

/* Email Sign Up Lego */
.subscribe-wrapper-lego {height:384px;}
.subscribe-right-col-lego {width: 47% !important; padding: 2% 2% 0 !important;}
.subscribe-wrapper-lego .shop-today {font-size: 21px;line-height:28px;}
.subscribe-wrapper-lego form {margin-top: -14px !important;}
.subscribe-wrapper-lego .consent {margin:0.5em 0 0 0;}

/* PayPal Fall 2015 */
.paypal-fall-2015-menu {font-size: 9px;}

/* Black Friday - Cyber Monday 2015 */
.black-cyber-2015 {height: 342px;}
#subscribe-wrapper .black-cyber-2015-right-col {left: 23.5%;}
#subscribe-wrapper .black-cyber-2015-right-col h2 {font-size: 1em;}
.black-cyber-2015 .consent {margin:2% 0 0.5% 0;}

/* Error Page */
#error-container {background: url('/wcsstore/GlobalSAS/images/tcp/common/404-768-v2.jpg') top right no-repeat;}


}
/*** End of 768px ***/
 
 
 /* Place cash - mobile, portait, target 480px and under ----------- */
@media only screen 
and (max-width : 479px) {
.bag-wrapper .bag-content .bag-placecash-wrapper .bag-placecash-txt p {width: 100%;}
.bag-placecash-wrapper {color:#333;}
.bag-placecash-wrapper img {width:100px; display:inline-block;}	
.bag-placecash-copy {text-align:left; top:25px; left:110px; font-size:14px; display:inline-block;}
.bag-placecash-wrapper p {position:relative; top:inherit; left:inherit; margin:0;}
.bag-placecash-wrapper .bag-placecash-txt {
	width: auto;
    font-size: 12px;
    line-height: 18px;
    margin-top: 15px;
	display:inline-block;}
	
.bag-placecash-wrapper p {
	position: relative;
    top: inherit;
    left: inherit;
    margin-bottom: 10px;
	}	
.bag-placecash-txt a {font-size:12px; text-decoration:underline;}	

.bag-wrapper .bag-content .bag-placecash-wrapper .bag-placecash-txt p {
    width: 100%;
}


/* Mobile App Landing Page */
.tcp-iphone {display: none;}
#mobile-app-container .top {margin-left: 0;}
#mobile-app-container .top h1 {font-size: 3em;}
#mobile-app-container .top h2 {font-size: 2.2em;}
#mobile-app-container .top img {margin: 0 auto !important; width: 65.5% !important;}
#mobile-app-container .bottom-copy {font-size: 2.3em;}
#mobile-app-container .bottom-inner {margin: 0 auto !important; display: block !important; width: 85.2% !important;}
#mobile-app-container .bottom-inner a, .apple-button, .google-button {width: 100%; padding: 3% 0;}
.apple-button {width: 35.4%; padding: 3% 8% 0 12.5%}
.google-button {width: 32.2%; padding: 3.3% 0 0;}
.apple-button img, .google-button img {width: 53.5% !important; margin: 0 auto !important; display: block !important;}


}
