/* Global web font */

@font-face {
    font-family: 'BPreplayRegular';
    src: url('../../webfonts/BPreplay-webfont.eot');
    src: url('../../webfonts/BPreplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfonts/BPreplay-webfont.woff') format('woff'),
         url('../../webfonts/BPreplay-webfont.ttf') format('truetype'),
         url('../../webfonts/BPreplay-webfont.svg#BPreplayRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BPreplayBold';
    src: url('../../webfonts/BPreplayBold-webfont.eot');
    src: url('../../webfonts/BPreplayBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfonts/BPreplayBold-webfont.woff') format('woff'),
         url('../../webfonts/BPreplayBold-webfont.ttf') format('truetype'),
         url('../../webfonts/BPreplayBold-webfont.svg#BPreplayBold') format('svg');
    font-weight: normal;
    font-style: normal;

}