/* Product Detail Page */


/*normalize text links */

.ratings a,
.size-chart a,
.toggleMPR,
#zoom_link1,
.ratings a:hover,
.size-chart a:hover,
.toggleMPR:hover,
#zoom_link1:hover {
    font-size: 12px;
    text-decoration: underline;
    color: #666;
    font-weight: normal;
}


/*wrapper */

#product-detail-wrapper {
    clear: both;
    display: block;
    margin: 1.4545% 0;
    background-color: #fff;
    overflow: hidden;
    min-height: 300px;
    box-sizing: border-box;
}

#product-detail-wrapper section {
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
    margin-bottom: 1em;
}

#product-detail-wrapper section.reviews {
    border-bottom: none;
}

.product {
    position:relative;
}
.product div {
    display: inline-block;
    vertical-align: top;
}


/*badges */

.product-badges {
    width: 7.1818%;
    position: absolute;
    left:0px;
    top:0px;
}

.product-badges img {
    display: inline-block;
}


/*thumbnails */

.product-thumbnails {
    width: 7.1272%;
    margin-top: 4em;
}

.product-thumbnails img {
    margin: 0 auto .625em;
    display: block;
}

.product-thumbnails img.selected {
    border: 2px solid #ccc;
    box-sizing: border-box;
}

@media screen and (max-width: 1399px) {
    .product-thumbnails img {
        width: 55px;
        margin: 0 8px;
    }
}

@media screen and (min-width: 1400px) {
    .product-thumbnails img {
        width: 75px;
        margin: 0 10px;
    }
}


/*large product image */

@media screen and (max-width: 1399px) {
    .large-image {
        width: 350px;
        height: 350px;
    }
}

@media screen and (min-width: 1400px) {
    .large-image {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .large-image {
        width: 300px;
        height: 300px;
    }
}


/*product image */

.product-large {
    text-align: center;
    font-size: .75em;
}

.product-large p {
    margin: 1em 0;
}

.social ul li {
    display: inline-block;
    margin-right: .75em;
    font-weight: bold;
}


/*product details */

.dark-grey {
    color: #333;
}

.lighter-grey {
    color: #666;
}

.product-details {
    /* margin-left: 2.2545%; */
    margin-left: 4%;
    max-width: 480px;
}

@media screen and (max-width: 768px) {
    .product-details {
        width: 41%;
        margin-left: 1%;
    }
}

.product-details div {
    display: block;
}

.product-details h1 {
    font-weight: bold;
    text-transform: capitalize;
}

@media screen and (max-width: 1399px) {
    .product-details h1 {
        font-size: 1.25em;
    }
    .sale-price {
        font-size: 1.125em;
    }
}

@media screen and (min-width: 1400px) {
    .product-details h1 {
        /* font-size: 1.75em; */
        font-size: 22px;
    }
    .sale-price {
        font-size: 1.5em;
    }
}

.item-number {
    font-size: 0.75em;
    margin: .5em 0 1.25em 0;
}

.ratings {
    border-left: 1px solid #ccc;
    padding-left: 1em;
    margin-left: 1em;
}

.rating-value {
    margin: 0 .25em;
}

.regular-price {
    color: #666;
    font-size: .85em;
    margin-left: 0.2em;
}

.sale-price {
    color: #990000;
    font-size: 24px;
    font-family: "AvenirMedium";
}

.bogo-price {
    color: #990000;
    font-size: 1.25em;
    font-weight: bold;
}

.bogo {
    display: block;
    color: #666;
    font-size: .85em;
    margin: .5em 0 .75em 0;
}

.bogo a {
    text-decoration: underline;
    margin-left: .5em;
}

.product-description {
    color: #666;
}

.product-description p {
    font-size: .825em;
    font-weight: bold;
}

.product-description ul {
    padding: 0;
    margin: 10px 15px;
}

.product-description ul li {
    margin: 0 0 .25em 0;
    font-size: .75em;
    list-style-type: disc;
    list-style-position: outside;
}

.product-description span {
    font-weight: bold;
    font-size: .75em;
}

.section-block {
    margin-bottom: 1.25em;
}

.color-swatches p,
.fit p,
.sizes p {
    color: #333;
    font-weight: bold;
    font-size: .85em;
    margin-bottom: .5em;
}

.color-swatches p span {
    color: #666;
    font-weight: normal;
}

.color-swatches ul,
.fit ul,
.sizes ul {
    margin: 0;
    padding: 0;
}

.color-swatches ul li img:hover,
.fit ul li:hover,
.sizes ul li:hover {
    border: 1px solid #333;
}

.color-swatches ul li.selected,
.fit ul li.selected,
.sizes ul li.selected {
    border: 2px solid #61a1de;
}

.fit ul li.out-of-stock,
.sizes ul li.out-of-stock {
    background-color: #f2f2f2;
    cursor: default;
    border: 1px solid #ccc;
    position: relative;
}

.fit ul li.out-of-stock,
.sizes ul li.out-of-stock a {
    color: #666;
    cursor: default;
}

.fit ul li.out-of-stock:hover,
.sizes ul li.out-of-stock:hover {
    border: 1px solid #ccc;
}

.fit ul li.out-of-stock:after,
.sizes ul li.out-of-stock:after {
    position: absolute;
    background: url(../images/out-off-stock-cross.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%, auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
}

.color-swatches ul li,
.fit ul li,
.sizes ul li {
    display: inline-block;
    margin: 0 .5em .5em 0;
    cursor: pointer;
    text-align: center;
}

.fit ul li,
.sizes ul li {
    border: 1px solid #666;
}

.color-swatches ul li img {
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    padding: 3px;
}

.fit ul li,
.sizes ul li {
    padding: .75em 1em;
    font-size: .75em;
}

.sizes p.size-chart {
    margin-bottom: 0;
}

.limited-qty {
    color: #ca0088;
    font-weight: bold;
    font-size: .85em;
    margin-bottom: 1.25em
}

.quantity select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    height: 35px;
    margin: .5em 0;
    padding: .25em;
    color: #333;
    font-size: .75em;
}

button.product-page {
    margin: .5em 0 .5em 1em;
    background-color: #2875bc;
    border-radius: 0.25em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    line-height: 37px;
    vertical-align: middle;
    padding: 0 1.25em;
    text-align: center;
    text-decoration: none;
    border: 0;
    text-transform: uppercase;
}

button.product-page:hover {
    background-color: #666;
}

#online-only-icon {
    color: #ca0088;
    font-size: .75em;
}

#online-only-icon span {
    font-weight: bold;
    margin-left: .25em;
}


/* Show MPR points could earn */

.mpr-points {
    color: #666;
    font-size: 12px;
    margin: 1em 0;
    line-height: 1.5em;
}

.mpr-points img {
    margin-bottom: 2px;
    margin-left: -1px;
}

#mpr-info {
    display: none;
    color: #666;
    line-height: 1.5em;
    margin-top: .5em;
}

@media screen and (max-width: 768px) {
    .toggleMPR {
        display: block;
    }
}


/*
 Cloud Zoom CSS. (c)2012-2013 Star Plugins.
*/


/* CSS for lens */

.cloudzoom-lens {
    border: 5px solid #888;
    width: 100px;
    height: 100px;
    box-shadow: -0px -0px 10px rgba(0, 0, 0, 0.40);
    cursor: crosshair;
    z-index: 10;
}


/* CSS for zoom window. */

.cloudzoom-zoom {
    border: 1px solid #888;
    width: 500px;
    height: 200px;
    box-shadow: -0px -0px 10px rgba(0, 0, 0, 0.40);
    z-index: 999;
}


/* CSS for zoom window in 'inside' mode. */

.cloudzoom-zoom-inside {
    border: none;
    box-shadow: none;
    z-index: 999;
}


/* CSS for captions */

.cloudzoom-caption {
    display: none;
    /* CSS captions should be hidden initially */
    text-align: left;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    font-family: sans-serif;
    font-size: 11px;
}


/* A blank image */

.cloudzoom-blank {
    background-image: url(/wcsstore/GlobalSAS/images/tcp/product_detail/blank.png);
}


/* The animated ajax loading image */

.cloudzoom-ajax-loader {
    background-image: url(/wcsstore/GlobalSAS/images/tcp/product_detail/ajax-loader.gif);
    width: 32px;
    height: 32px;
}


/*Zoom */

.swatches-zoom {
    margin-bottom: .5em;
    width: 100%;
    overflow: auto;
}

.swatches ul,
.swatches-zoom ul {
    padding: 0;
    margin: 0;
}

.swatches ul li,
.swatches-zoom ul li {
    display: inline;
    float: left;
    list-style-type: none;
    margin: .5em .25em 0 0;
}

.swatches ul li img,
.swatches-zoom ul li img {
    border: 1px solid #fff;
    padding: 2px;
    width: 18px;
    height: 18px;
}

.swatches-zoom ul li a {
    display: block;
}

.swatches ul li a:hover img,
.swatches ul li a:active img,
.swatches-zoom ul li a:hover img,
.swatches-zoom ul li a:active img {
    border: 1px solid #b1b1b1;
}

.product-thumbs-zoom {
    float: left;
    text-align: center;
    padding: 0.3125em;
    /* 5px / 16px */
    width: 55px;
}

.product-thumbs-zoom img {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
}

#product-xlarge {
    background-size: 100% 100%;
    float: left;
    width: 900px;
}

#product-xlarge img {
    width: 900px;
    height: 900px;
}

.zoom-text span {
    padding: 0 .5em;
}

.bv-dropdown-item .bv-dropdown-item-selected {
    background-color: #b8b8b8 !important;
    color: #333 !important;
}

.reviews #BVRRContainer .bv-action-bar-header {
    font-size: 18px!important;
    font-family: "AvenirMedium" !important;
    text-transform: uppercase !important;
}


/*
Build: 2016 R2;
https://childrensplace.atlassian.net/browse/AND-398
https://childrensplace.atlassian.net/browse/AND-408
*/

@media screen and (min-width: 1400px) {
  #WC_CQ_Container_PDP {
    width:          160px;
    float:          right;
    padding-top:    0 !important;
    border-bottom:  none !important;
    border-left:    1px solid #CCC;
    vertical-align: top;
  }
  #WC_CQ_Container_PDP p.section-title {
    font-size:      1em;
    font-family:    "AvenirMedium";
    text-transform: Capitalize;
    vertical-align: top;
    text-align:     center;
  }
  #WC_CQ_Container_PDP .bx-wrapper {
      max-width:    159px !important;
  }
  #WC_CQ_Container_PDP .bx-wrapper .bx-viewport {
    height:         820px !important;
    min-height:     none;
  }
  #WC_CQ_Container_PDP #recommendations-slider {
    display:        inline !important;
    transform:      none;
    width:          100% !important;
  }
  #WC_CQ_Container_PDP .bx-wrapper .product-name,
  #WC_CQ_Container_PDP .bx-wrapper .quick-view {
    display:        none;
  }
  #WC_CQ_Container_PDP .bx-wrapper li {
    display: inline-block !important;
    width:          159px !important;
  }
  #WC_CQ_Container_PDP .bx-wrapper li p span.former-price-rec {
    display:        block;
    width:          100%;
  }
  #WC_CQ_Container_PDP .bx-wrapper .product-image a {
    max-width:      159px;
  }

  /* https://childrensplace.atlassian.net/browse/AND-408 */
  .product-large .large-image {
    /* width:          650px! important; */
    height:         inherit;
  }
  .product-badges {
    width:          inherit;
  }
  .product .product-thumbnails {
    margin:       0 auto;
    padding:      0;
    display:      table;
    width:        auto;
  }
  .product .product-thumbnails a {
    float:        left;
    display:      inline-block;
    margin:       0 auto;
    padding:      0;
  }
}


@media screen and (max-width: 1399px) {
  #WC_CQ_Container_PDP {
    width:          127px;
    float:          right;
    padding-top:    0 !important;
    border-bottom:  none !important;
    border-left:    1px solid #CCC;
    vertical-align: top;
  }
  #WC_CQ_Container_PDP p.section-title {
    font-size:      0.8em;
    font-family:    "AvenirMedium";
    text-transform: Capitalize;
    vertical-align: top;
    text-align:     center;
  }
  #WC_CQ_Container_PDP .bx-wrapper {
      max-width:    159px !important;
  }
  #WC_CQ_Container_PDP .bx-wrapper .bx-viewport {
      height:       690px !important;
      min-height:   none;
  }
  #WC_CQ_Container_PDP #recommendations-slider {
    display:        inline !important;
    transform:      none;
    width:          100% !important;
  }
  #WC_CQ_Container_PDP .bx-wrapper .product-name,
  #WC_CQ_Container_PDP .bx-wrapper .quick-view {
      display:      none;
  }
  #WC_CQ_Container_PDP .bx-wrapper li {
      display: inline-block !important;
      width:        126px !important;
  }
  #WC_CQ_Container_PDP .bx-wrapper li p span.former-price-rec {
      display:      block;
      width:        100%;
  }
  #WC_CQ_Container_PDP .bx-wrapper .product-image a {
      max-width:    126px;
  }

  .product-details {
    max-width:      300px;
  }

 .product-large .large-image {
    width:          400px! important;
    height:         inherit;
  }
  .product-badges {
    width:          inherit;
  }
  .product .product-thumbnails {
    margin:       0 auto;
    padding:      0;
    display:      table;
    width:        auto;
  }
  .product .product-thumbnails a {
    float:        left;
    display:      inline-block;
    margin:       0 auto;
    padding:      0;
  }
}

/* https://childrensplace.atlassian.net/browse/AND-416?filter=12300 */
#generic-recommendations {
  margin-top:           40px;
  display:              block;
}

#generic-recommendations .bx-wrapper {
    max-width:          100% !important;
    width:              100% !important;
}

#generic-recommendations #recommendations-slider {
    width:              100% !important;
    transform:          none !important;
    padding:            0;
}

#generic-recommendations #recommendations-slider li {
    margin:             0 !important;
    padding:            0;
    float:              none !important;
    display:            inline-block;
    vertical-align:     top;
}

@media screen and (min-width: 1400px) {

    #generic-recommendations .bx-viewport {
        height:         400px !important;
        overflow:       hidden;
    }

    #generic-recommendations #recommendations-slider li {
        width:          275px !important;
    }
}

@media screen and (max-width: 1399px) {

    #generic-recommendations p.section-title {
        font-size:      18px!important;
    }

    #generic-recommendations .bx-viewport {
        height:         300px !important;
        min-height:     0 !important;
    }

    #generic-recommendations #recommendations-slider li {
        width:           188px !important;
    }

}
