.product-price-deal a {color: #0080B2; font-size:11px; text-decoration:none;}

.product-price-deal a:hover {text-decoration:underline;}

.bogo {display: block;
    font-size: 85%;
    margin-top: 0.25em;}
    
 .deals-link {display:block; font-size:.5em; margin-top: .75em;}