/* content pages */
/*Store Locator CSS */
/* Avenir */
@font-face {
  font-family: 'AvenirBook';
  src: url("fonts/AvenirLTStd-Book.eot");
  src: url("fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Book.woff") format("woff"), url("fonts/AvenirLTStd-Book.ttf") format("truetype"), url("fonts/AvenirLTStd-Book.svg#AvenirBook") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirMedium';
  src: url("fonts/AvenirLTStd-Medium.eot");
  src: url("fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Medium.woff") format("woff"), url("fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("fonts/AvenirLTStd-Medium.svg#AvenirMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirHeavy';
  src: url("fonts/AvenirLTStd-Heavy.eot");
  src: url("fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Heavy.woff") format("woff"), url("fonts/AvenirLTStd-Heavy.ttf") format("truetype"), url("fonts/AvenirLTStd-Heavy.svg#AvenirHeavy") format("svg");
  font-weight: normal;
  font-style: normal;
}

.content-wrapper
{
color: #666666;
float: left;
font: 0.75em/1.25em Arial,Helvetica,sans-serif;
overflow: hidden;
padding: 2% 3%;
position: relative;
width: 94%;
}

.shops-wrapper
{ color: #666666;
float: left;
margin: 0 auto;
position: relative;
width: 100%;
}	

.content-wrapper h1 {font-size:1.25em;}
.content-wrapper h2 {font-size:1em;}

.content-wrapper p {
padding: 10px 0;
line-height:1.25em;}

/*left nav*/
.display-nav
{
float: left;
padding-bottom: 10px;
display:block;
}

.display-nav ul
{
display:block;
margin:12px 0 6px 0;
}
.display-nav ul li
{
line-height: 1.5em;
color: #008DE0;
display: block;
font-weight: bold;
margin-bottom: 12px;
list-style-type:none;
}

.content-wrapper ol
{padding:0; margin:0 20px;}

.content-wrapper ol li
{list-style-position:inside;
margin-bottom:5px;}

.content-title {
color: #048BBC;
font: 21px 'bpreplayregular',Arial,sans-serif;
height: 40px;
letter-spacing: 1px;
padding: 8px 0 0 0;
display:block;
text-transform:capitalize;
}

/* Canada territories shipping table */
.shippingTable {
height: auto;
margin: 0 auto;
overflow: visible;
width: 100%;
}

#ShippingTableLeft {
border-right: 1px solid #DDDDDD;
float: left;
width: 51%;
padding-right:0;
}

#ShippingTableRight {
float: left;
width: 45%;
padding-left:20px;
}

.shippingTable .territory {
clear: both;
display: block;
float: left;
width:100%;
}

.shippingTable .territory p {
color: #048BBC;
font-size: 14px;
font-weight: bold;
text-transform:uppercase;
}

.shippingTable .territory table p {
color: #666666;
font-size: 12px;
font-weight: normal;
}

/* for Place Shops Inventory display*/
.block {
display: block;
float: left;
position: relative; }


/* Airmiles landing page */  
.airmiles-button-wrapper {
position:absolute;
top:410px;
left:340px;
z-index:2;
}

.airmiles-image {
position:absolute;
margin:0 auto;
width:90%;
z-index:1;
}

.airmiles-button {
position:relative;
float:left;
margin:0 15px;
z-index:3;
}

.airmiles-img p
{padding:450px 40px 0;
text-align:center;}

@media screen and (max-width: 1399px) {
.airmiles-container {
margin:0 auto;
background:url(../../images/tcp/airmiles/airmiles-bg.jpg) 0 0 no-repeat;
height:556px;
width:900px;}
.airmiles-button-wrapper {
top:415px;
left:315px;}
}

@media screen and (min-width: 1400px) {
.airmiles-container {
margin:0 auto;
background:url(../../images/tcp/airmiles/airmiles-bg.jpg) 0 0 no-repeat;
height:582px;
width:942px;}

.airmiles-button-wrapper {
top:418px;
left:540px;}
}

/* GIFT CARD DECISION PAGE */
.gc-left-img, .gc-right-img  {height: 185px; margin:0px auto 30px;}
.gc-btn {color:#fff!important;}

@media screen and (max-width: 1399px) {
.gc-content-divider{
position:relative;
float:left;
width:2px;
height:350px;
background-color:#e5e5e5;
}
.gc-left-content{
float:left;
width:400px;
padding-right:40px;
margin-left:15px;
text-align:center;
}
.gc-left-copy, .gc-right-copy{
height:120px;
}
.gc-right-content{
float:right;
width:400px;
margin-right:5px;
text-align:center;
}
.gc-right-img{
margin:0px auto 30px;
}
.gc-left-copy h3, .gc-right-copy h3 {
width:260px;
margin-left:70px;}
}

@media screen and (min-width: 1400px) {
.gc-content-divider{
position:relative;
float:left;
width:2px;
height:315px;
background-color:#e5e5e5;
}
.gc-left-content{
float:left;
margin-left:10px;
width:45%;
padding-right:50px;
text-align:center;
}

.gc-left-copy, .gc-right-copy{
height:90px;
}
.gc-right-content{
float:right;
margin-right:10px;
width:45%;
text-align:center;
}
.gc-right-img{
margin:0px auto 20px;
}
.gc-left-copy h3 {
width:600px;
}
.gc-right-copy h3 {width:600px;}
}

.gc-left-btn {
padding-bottom:30px;
}

/* decision page text styles */
.gc-header-txt h1 {
font-size:28px;
line-height:16px;
font-weight:normal;
}
.gc-header-txt h2{
font-size:16px;
margin:15px 0 0 0;
color:#515151;
font-weight:normal;
}
.gc-left-copy h3, .gc-right-copy h3{
font-size:19px;
font-weight:100;
line-height:24px;
font-weight:normal;
}
.gc-left-copy p, .gc-right-copy p {
padding-top:10px;
}
.gc-inside-submenu ul {
color:#00a0e2;
margin:0;}

.gc-inside-submenu ul li {
margin:10px 15px 0 0;
display:inline-block;}

.gc-inside-submenu ul li a {text-decoration: underline;}

.gc-header-txt{
text-align: center;
margin-bottom: 20px;
}

.gc-left-btn .button-blue, .gc-right-btn .button-blue {
    margin: .5em 0;
    background-color: #2875bc;
    border-radius: 0.25em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    line-height: 37px;
    vertical-align: middle;
    padding: 0 1.25em;
    text-align: center;
    text-decoration: none;
    border: 0;
    text-transform: uppercase;
}

.gc-left-btn .button-blue:hover, .gc-right-btn .button-blue:hover {background-color:#666;}


/****** PLCC Holiday 2015 Landing Page ******/
@media screen and (max-width: 1399px) {
	header.mobile {display:none;}
  #plcc-lp-hol2015 header .dot-copy {left: 16.75%; top: 64%;}
  #plcc-lp-hol2015 header .dot-copy p.code {font-size: 13px; margin: 0; padding: 0;}
  #plcc-lp-hol2015 header .dot-copy p.limited {font-size: 11px; margin-top:5px; padding: 0;}
  #plcc-lp-hol2015 section.content {margin: 8em 0 0 0;}
  #plcc-lp-hol2015 section.content .cols .col-today, #plcc-lp-hol2015 section.content .cols .col-every {display:inline-block; vertical-align:top;}
  #plcc-lp-hol2015 section.content .cols .col-today{width: 40%;} 
  #plcc-lp-hol2015 section.content .cols .col-every{width: 50%;}
}

@media screen and (min-width: 1400px) {
header.mobile {display:none;}
#plcc-lp-hol2015 header .dot-copy {left: 17%; top: 66%;}
#plcc-lp-hol2015 header .dot-copy p.code {margin:0; padding: 0;}
#plcc-lp-hol2015 section.content .cols .col-today, #plcc-lp-hol2015 section.content .cols .col-every {display:inline-block; vertical-align:top; width: 46%;}
}

@media screen and (max-width: 768px){
	header.mobile {display:none;}
  #plcc-lp-hol2015 header .dot-copy {top: 63%; left: 15.5%;}
  #plcc-lp-hol2015 header .dot-copy p.code {font-size: 11px; margin: 0; padding: 0;}
  #plcc-lp-hol2015 header .dot-copy p.limited {font-size: 10px; margin: 0; padding: 0;}
  #plcc-lp-hol2015 header .buttons a {margin-bottom: 1em;}
  #plcc-lp-hol2015 section.content {margin: 10em 0 0 0;}
  #plcc-lp-hol2015 section.content .cols .col-today, #plcc-lp-hol2015 section.content .cols .col-every {display:inline-block; vertical-align:top;}
  #plcc-lp-hol2015 section.content .cols .col-today{width: 40%;} 
  #plcc-lp-hol2015 section.content .cols .col-every{width: 50%;}
}

@media screen and (max-width: 480px) {
	header.desktop{display:none;}
	header.mobile{display:block;}
  #plcc-lp-hol2015 header .dot-copy {top: 72%; left: 19%;}
  #plcc-lp-hol2015 header .dot-copy p.code {font-size: .55em; margin: 0; padding: 0;}
  #plcc-lp-hol2015 header .dot-copy p.limited {font-size: .55em; margin: 0; padding: 0;}
  #plcc-lp-hol2015 header .buttons a {font-size:14px; padding:8px;}
  #plcc-lp-hol2015 section.content .cols .col-today,  #plcc-lp-hol2015 section.content .cols .col-every {width: 100%; display:block;} 
}

/****** Image Rotator shared styles ******/
#outerContainer {                                                           
overflow: hidden;
position: relative;
margin:10px auto;
}

.innerContainer {                                             
overflow: hidden;
position: absolute;
left: 0px;
top: 0px;
text-align:center;
}

@media screen and (max-width: 1399px) {
#outerContainer, .innerContainer {width: 940px; height: 422px;}
}

@media screen and (min-width: 1400px) {
#outerContainer,  .innerContainer  {width: 1342px; height: 602px;}
}

/************** myPLACE Rewards Landing Page Styles ************/
@media screen and (max-width: 1399px) {
.mpr-wrapper {width:100%;}
.mpr-left {width:69%;}
.mpr-left img {width:100%;}
}
@media screen and (min-width: 1400px) {
.mpr-wrapper {width:73%;} 
.mpr-left {width:69%;}
}
@media screen and (max-width: 768px) {
.mpr-wrapper {width:100%; margin:0 0 0 1%;} 
.mpr-bottom img {width:95%;} 	
.mpr-left {width:64%;} 
.mpr-left img {margin-top:2em; width:95%;}
}
.mpr-wrapper {margin:0 auto;}
.mpr-top {text-align:center;}
.mpr-left, .mpr-right {float:left; height:auto;}
.mpr-right {background-image:url(/wcsstore/GlobalSAS/images/tcp/myPlace/mpr_landing/2013-mpr-landing-bg.gif); width:246px; height:153px; margin-top:23px; text-align:left;}
.mpr-right img {margin:0 0 14px 19px;}
.mpr-right img.first {margin-top:21px;}
.mpr-bottom {text-align:center;}
.mpr-bottom img {margin:15px 0;}
#lean_overlay {
position: fixed;
z-index:30001;
top: 0px;
left: 0px;
height:100%;
width:100%;
background: #000;
display: none;
}

.modal_close {position: absolute; top: 3px; right: 3px; display: block; width: 38px; height: 36px; background: url(/wcsstore/GlobalSAS/images/tcp/myPlace/mpr_landing/2013-mpr-landing-closeBtn.gif) no-repeat; 
z-index: 30003;}

#activate-pop {padding:25px 30px; background-color:#fff; border: 2px solid #000;  display:none;  z-index:30000;}
#activate-pop img {margin: 0 auto; text-align:center; vertical-align:middle;}

.mpr-disclaimer {font-size:.75em;}

/****** Matchables Shop Spring 2015 CA ******/
@media screen and (max-width: 1399px) {
.match-menu {bottom: 44px; right: 2px;}
.match-menu a {padding: 46px 15px; font-size: 0.7em;}
#match-inventory .productLarge {width: 190.5px; height: 345px;}
}

@media screen and (min-width: 1400px) {
.match-menu {bottom: 65px; right: 3px;}
.match-menu a {font-size: 1em; padding:66px 18px;}
#match-inventory .productLarge {height: 390px; width: 228px;}
}

/****** Fleece Shop Fall 2015 ******/
@media screen and (max-width: 1399px) {
.fleece-fall-2015-menu {top: 359px;}
.fleece-fall-2015-menu a {font-size: 1.3em; padding: 5px 8px;}
#fleece-fall-2015-inventory .productLarge {width: 163px;}
}

@media screen and (min-width: 1400px) {
.fleece-fall-2015-menu {top: 508px;}
.fleece-fall-2015-menu a {font-size: 1.5em; padding: 5px 16px;}
#fleece-fall-2015-inventory .productLarge {width: 207px;}
}

/****** Swim Shop Spring 2015 ******/
@media screen and (max-width: 1399px) {
.swim-menu {top: 10px; width:35%; right:1%;} 
.swim-menu a {width: 19.75%; padding: 53px 5px 0; font-size:.75em;}
.swim-menu a.active {border-bottom: 10px solid #31a5b0; padding-bottom: 33px !important;}

#place-shop-swim-2015 .hvr-underline-from-center {margin-bottom: -1px; padding-bottom: 44px !important;}
#place-shop-swim-2015 .hvr-underline-from-center:before {height: 10px;}

#swim-inventory .productLarge {width: 190.5px; height: 345px;}
}

@media screen and (min-width: 1400px) {
.swim-menu {top: 18px; width:35%; right:1%;} 
.swim-menu a {width: 20%; padding: 67px 5px 0;} 
.swim-menu a.active {border-bottom: 15px solid #31a5b0; padding-bottom: 47px !important;}

#place-shop-swim-2015 .hvr-underline-from-center {margin-bottom: -1px; padding-bottom: 62px !important;}
#place-shop-swim-2015 .hvr-underline-from-center:before {height: 15px;}

#swim-inventory .productLarge {height: 390px; width: 228px;}
}

/****** PJ Shop holiday 2015 ******/
@media screen and (max-width: 1399px) {
.pj-lp-hol-2015-menu span {font-size: 0.8em; margin-bottom: 7px;}
.pj-lp-hol-2015-menu a  {font-size: 0.9em;}
.pj-hol-menu-top {right: 159px; top: 237px;}
#place-shops-pj-lp-hol-2015 .hol-menu-top {top: 16%; left: 33%;}
.pj-hol-2015-menu {top: 359px;}
.pj-hol-2015-menu a {font-size: 18px; padding: 5px 8px;}
.placeshop-wrap-pj-hol-2015 .productLarge {width: 163px;}
}

@media screen and (min-width: 1400px) {
.pj-lp-hol-2015-menu span {font-size: 1em; margin-bottom: 7px;}
.pj-lp-hol-2015-menu a  {font-size: 1.2em;}
.pj-hol-menu-top {right: 252px; top: 337px;}
#place-shops-pj-lp-hol-2015 .hol-menu-top {top: 16%; left: 34%;}
.pj-hol-menu-bottom {right: 32%;}
.pj-hol-2015-menu {top: 508px;}
.pj-hol-2015-menu a {font-size: 21px; padding: 5px 16px;}
.placeshop-wrap-pj-hol-2015 .productLarge {width: 207px;}
}

@media screen and (max-width: 768px) {
.pj-lp-hol-2015-menu span {font-size: 0.8em; margin-bottom: 7px;}
.pj-lp-hol-2015-menu a  {font-size: 0.9em;}
.pj-hol-menu-top {right: 86px; top: 237px;}
#place-shops-pj-lp-hol-2015 .hol-menu-top {top: 16%; left: 29%;}
.pj-hol-2015-menu {top: 285px;}
.pj-hol-2015-menu a {font-size: 16px; padding: 5px 8px;}
.placeshop-wrap-pj-hol-2015 .productLarge {width: 163px;}
}

/****** Americana Shop Summer 2015 ******/

@media screen and (min-width: 1400px) {
  .amer-placeshop-wrap .productLarge {width: 228px !important; height: 365px !important;}
  .amer-summer-2015-menu {bottom: 0px; right: 9px; font-size: 1em;}
  .amer-summer-2015-menu span.text {padding: 15px 0px;}
  .amer-summer-2015-menu span.empty {padding: 8px 68px; margin-top: 25px;}
}

@media screen and (max-width: 1399px) {
  .amer-placeshop-wrap .productLarge {width: 190.8px !important; height: 335px !important;}
  .amer-summer-2015-menu {bottom: 0px; right: 9px; font-size: 0.85em;}
  .amer-summer-2015-menu span.text {padding: 5px 0px;}
  .amer-summer-2015-menu span.empty {padding: 7px 47px; margin-top: 25px;}
}

/****** Baby BTS 2015 ******/

@media screen and (min-width: 1400px) {
#outerContainer-baby-lp-bts-2015 h2 {font-size: 1.3em; line-height: 1.4em;}
.baby-bts-menu-top {top: 77%; right: 9.5%;}
.baby-lp-bts-2015-menu a {font-size: 1.2em;}
.baby-tables-outer {height: 290px;}
.baby-tables-outer li.checklist {padding: 0 17px;}
.baby-tables-outer li.sizechart {padding: 30px 30px; margin: 0px 34px;}
.baby-bts-menu-bottom {left: 37%;}
.baby-girl-bts-menu, .baby-boy-bts-menu {top: 84%; right: 43.5%;}
.baby-neutral-bts-menu {top: 84%; right: 45%;}
}

@media screen and (max-width: 1399px) {
#outerContainer-baby-lp-bts-2015 h2 {font-size: 0.9em; line-height: 1.4em;}
.baby-bts-menu-top {top: 78%; right: 8%; font-size: 0.8em;}
.baby-lp-bts-2015-menu a {font-size: 1.2em;}
.baby-tables-outer {height: 520px;}
.baby-tables-outer .clearfix {clear: both;}
.baby-tables-outer li.checklist {padding: 0 60px;}
.baby-tables-outer li.sizechart {padding: 22px 30px; margin: 0px 55px;}
.baby-tables-outer li.sixnine, .baby-tables-outer li.ninetwelve {padding: 22px 30px; margin-top: 22px; margin-bottom: 22px;}
.baby-tables-outer li.sixnine {margin-left: 212px;}
.baby-tables-outer li.ninetwelve {margin-left: 50px;}
.baby-bts-menu-bottom {left: 31%;}
.baby-girl-bts-menu, .baby-boy-bts-menu {top: 84%; right: 42.1%;}
.baby-neutral-bts-menu {top: 84%; right: 43.7%;}
}

/****** Beat FALL 2015 ******/

.placeshop-wrap-beat-2015 .beat-fall-2015-header {margin-left: 178px;}

@media screen and (min-width: 1400px) {
.beat-lp-fall-2015-menu {font-size: 1.15em;}
.beat-lp-fall-2015-menu {top: 14.5%;right:54%;}
.beat-fall-2015-menu {top: 508px;}
.beat-fall-2015-menu a {font-size: 1.5em; padding: 5px 16px;}
#beat-inventory .productLarge {width: 207px;}
}

@media screen and (max-width: 1399px) {
.beat-lp-fall-2015-menu {font-size: 0.8em;}
.beat-lp-fall-2015-menu {top: 14.25%; right: 53%;}
.beat-fall-2015-menu {top: 359px;}
.beat-fall-2015-menu a {font-size: 1.3em; padding: 5px 8px;}
#beat-inventory .productLarge {width: 163px;}
}

/****** Baby HOL 2015 ******/
@media screen and (min-width: 1400px) {
#outerContainer-baby-lp-hol-2015 h2 {font-size: 1.3em; line-height: 1.4em;}
.baby-hol-menu-top {top: 77%; right: 28%;}
.baby-lp-hol-2015-menu a {font-size: 1.2em;}
.baby-tables-outer {height: 290px;}
.baby-tables-outer li.checklist {padding: 0 17px;}
.baby-tables-outer li.sizechart {padding: 30px 30px; margin: 0px 34px;}
.baby-hol-menu-bottom {left: 37%;}
.baby-girl-hol-menu, .baby-boy-hol-menu {top: 84%; right: 43.5%;}
.baby-neutral-hol-menu {top: 84%; right: 42%;}
}

@media screen and (max-width: 1399px) {
#outerContainer-baby-lp-hol-2015 h2 {font-size: 0.9em; line-height: 1.4em;}
.baby-hol-menu-top {top: 77%; right: 26.5%; font-size: 0.8em;}
.baby-lp-hol-2015-menu a {font-size: 1.2em;}
.baby-tables-outer {height: 520px;}
.baby-tables-outer .clearfix {clear: both;}
.baby-tables-outer li.checklist {padding: 0 60px;}
.baby-tables-outer li.sizechart {padding: 22px 30px; margin: 0px 55px;}
.baby-tables-outer li.sixnine, .baby-tables-outer li.ninetwelve {padding: 22px 30px; margin-top: 22px; margin-bottom: 22px;}
.baby-tables-outer li.sixnine {margin-left: 212px;}
.baby-tables-outer li.ninetwelve {margin-left: 50px;}
.baby-hol-menu-bottom {left: 31%;}
.baby-girl-hol-menu, .baby-boy-hol-menu {top: 84%; right: 42.5%;}
.baby-neutral-hol-menu {top: 84%; right: 40.75%;}
}


@media screen and (max-width: 769px) {
.baby-hol-menu-top {top: 77%; right: 24%; font-size: 0.8em;}
.baby-lp-hol-2015-menu a {font-size: 1.2em;}
.baby-girl-hol-menu, .baby-boy-hol-menu {top: 85%; right: 43%;}
.baby-neutral-hol-menu {top: 85%; right: 41%;}
}


/****** Paris Collection BTS 2015 ******/

@media screen and (min-width: 1400px) {
.paris-bts-2015-container .cycle-slideshow{height: 638px;}
.paris-bts-2015-container .shop-all {top: 93%;}
}

@media screen and (max-width: 1399px) {
.paris-bts-2015-container .cycle-slideshow{height: 445px;}
.paris-bts-2015-container .shop-all {top: 90%;}
}

/****** Enchanted Forest Collection BTS 2015 ******/

@media screen and (min-width: 1400px) {
.forest-bts-2015-container .cycle-slideshow{height: 638px;}
.forest-bts-2015-container .shop-all {top: 93%;}
}

@media screen and (max-width: 1399px) {
.forest-bts-2015-container .cycle-slideshow{height: 445px;}
.forest-bts-2015-container .shop-all {top: 90%;}
}

/****** Birthday Shop Summer 2015 ******/

@media screen and (min-width: 1400px) {
.bday-lp-summer-2015-menu {font-size: 1em;}
.bday-menu {bottom: 65px; right: 3px;}
.bday-menu a {font-size: 1em; padding: 66px 18px; margin: 0 3px 0 -8px;}
#bday-inventory .productLarge {height: 390px; width: 228px;}
}

@media screen and (max-width: 1399px) {
.bday-lp-summer-2015-menu {font-size: 0.75em;}
.bday-menu {bottom: 44px; right: 2px;}
.bday-menu a {font-size: 0.7em; padding: 46px 15px; margin: 0 1px 0 -6px;}
#bday-inventory .productLarge {width: 190.5px; height: 345px;}
}

/****** Candy Crush shop  holiday 2015 ******/
@media screen and (max-width: 1399px) {
.candy-crush .col-left-top {width:432px;}
.candy-crush .col-right-top {width:522px;}
.placeshop-wrap-candy-hol-2015 .productLarge {width: 163px;}
}

@media screen and (min-width: 1400px) {
.candy-crush .col-left-top {width:619px;}
.candy-crush .col-right-top  {width:748px;}	
.placeshop-wrap-candy-hol-2015 .productLarge {width: 207px;}
}

@media screen and (max-width: 768px) {
.candy-crush .col-left-top {width:331px;}
.candy-crush .col-right-top {width:400px;}	
.placeshop-wrap-candy-hol-2015 .productLarge {width: 160px;}
}

/****** Uniforms Spring 2016 ******/
@media screen and (min-width: 1400px) {
.uniform-lp-spr-2016-menu {font-size: 18px}
.uniform-lp-spr-2016-menu .uniform-top-text {font-size:16px;}
.uniform-lp-spr-2016-menu ul {bottom: 90px; left: 415px;}
.uniform-lp-spr-2016-menu.ca ul {bottom: 90px; left: 510px;}
.uniform-spr-2016-menu {top: 508px;}
}

@media screen and (max-width: 1399px) {
.uniform-lp-spr-2016-menu {font-size: 16px;}
.uniform-lp-spr-2016-menu .uniform-top-text {font-size:14px;}
.uniform-lp-spr-2016-menu ul {bottom: 47px; left: 234px;}
.uniform-lp-spr-2016-menu.ca ul {bottom: 47px; left: 319px;}
.uniform-spr-2016-menu {top: 359px;}
#place-shops-uniform-spr-2016 .uniform-spr-2016-content {width: 81.5% !important;}
#place-shops-uniform-spr-2016 .leftNav {font-size:14px;}
}

@media screen and (max-width: 768px) {
.uniform-lp-spr-2016-menu {font-size: 14px;}
.uniform-lp-spr-2016-menu .uniform-top-text {font-size:12px;}
.uniform-lp-spr-2016-menu ul {bottom: 24px; left: 150px;}
.uniform-lp-spr-2016-menu.ca ul {bottom: 24px; left: 227px;}
.uniform-spr-2016-menu {font-size:12px;}
#place-shops-uniform-spr-2016 .uniform-spr-2016-content {width: 76% !important;}
#place-shops-uniform-spr-2016 .leftNav {font-size:14px;}
#place-shops-uniform-spr-2016 .productLarge {width: 166px;}
}

/****** Uniforms Fall 2016 ******/
@media screen and (min-width: 1400px) {
.uniform-lp-fall-2016-menu {font-size: 16px}
.uniform-lp-fall-2016-menu .uniform-top-text {font-size:14px;}
.uniform-lp-fall-2016-menu ul {bottom: 43px; left: 478px;}

}

@media screen and (max-width: 1399px) {
.uniform-lp-fall-2016-menu {font-size: 12px;}
.uniform-lp-fall-2016-menu .uniform-top-text {font-size:13px;}
.uniform-lp-fall-2016-menu ul {bottom: 21px; left: 315px;}

}

@media screen and (max-width: 768px) {
.uniform-lp-fall-2016-menu {font-size: 11px;}
.uniform-lp-fall-2016-menu .uniform-top-text {font-size:13px;}
.uniform-lp-fall-2016-menu ul {bottom: -9px; left: 245px; width: 206px;}

}

/****** Family Shop spring 2016 ******/
@media screen and (max-width: 1399px) {
.family-lp-menu-spr-2016 {top: 42%; right: 8.5%; font-size: 16px;}
.family-menu-spr-2016 li a {font-size:16px;}
#family-inventory .productLarge {width: 163px;}
}

@media screen and (min-width: 1400px) {
.family-lp-menu-spr-2016 {top: 45%; right: 11.5%; font-size:18px;}
.family-menu-spr-2016 li a {font-size:18px;}
#family-inventory .productLarge {width: 200px;}
}

@media screen and (max-width: 768px) {
.family-lp-menu-spr-2016 {top: 38%; right: 8%; font-size: 13px;}
.family-menu-spr-2016 li a {font-size:14px;}
.family-menu-spr-2016 li img {width:250px;}
#family-inventory .productLarge {width: 160px;}
}

/****** Color Pop Collection SPR 2016 ******/
@media screen and (max-width: 1399px) {
.colorpop-spr-2016-container .cycle-slideshow{height: 433px;}
.colorpop-spr-2016-container .shop-all {top: 89%;}
}

@media screen and (min-width: 1400px) {
.colorpop-spr-2016-container .cycle-slideshow{height: 620px;}
.colorpop-spr-2016-container .shop-all {top: 92%;}
}

@media screen and (max-width: 768px) {
.colorpop-spr-2016-container .cycle-slideshow{height: 337px;}
.colorpop-spr-2016-container .shop-all {top: 86%;}
}

/****** MVP Shop Spring 2016 ******/
@media screen and (max-width: 1399px) {
.mvp-spr-2016-landing-menu {top: 54%; right: 32%;  font-size:16px;}

#mvp-spr-2016-inventory .productLarge {width: 171px !important;}
.mvp-placeshop-wrap .leftNav {font-size: 1.3em;}
.mvp-spr-2016-menu {top: 16px; right: 20px;}
.mvp-spr-2016-menu a {margin: 0 4px; padding: 12px 0; height: 105px; box-sizing: border-box;}
.mvp-spr-2016-menu img {width:60%;}
.mvp-spr-2016-menu span {margin: 9px 0 0; padding: 4px; font-size: 0.8em;}
}

@media screen and (min-width: 1400px) {
.mvp-spr-2016-landing-menu {top: 50%; right: 34%; font-size: 18px;}


.mvp-placeshop-wrap .leftNav {font-size: 1.5em;}
  .mvp-spr-2016-menu {top: 16px; right: 50px;}
  .mvp-spr-2016-menu a {margin: 0 15px; padding: 7px 0;}
.mvp-spr-2016-menu img {width:100%;}
.mvp-spr-2016-menu span {margin: 11px 0 0; padding: 8px; font-size: 1em;}

#mvp-spr-2016-inventory .productLarge {width: 207px !important;}

}

@media screen and (max-width: 768px) {
.mvp-spr-2016-landing-menu {top: 55%; right: 30.5%; font-size: 14px;}
.mvp-spr-2016-menu span { margin: 0; padding: 4px; font-size: 0.8em;
}
.mvp-spr-2016-menu a {margin: 0 15px; padding: 12px 0; height: 80px; box-sizing: border-box; width:40px;}
.mvp-spr-2016-menu img {width:100%;}

#mvp-spr-2016-inventory .productLarge {width: 160px !important;}
} 

/****** Licensed Character Shop Spring 2016 ******/
@media screen and (min-width: 1400px) {
.lc-img-menu img {width: 182px;}
#lc-inventory-character-spr-2016 .productLarge,#lc-inventory .productLarge {width: 207px;}
}
@media screen and (max-width: 1399px) {
.lc-img-menu img {width: 125px;}
#lc-inventory-character-spr-2016 .productLarge,#lc-inventory .productLarge {width: 163px;}
}
@media screen and (max-width: 768px) {
.lc-img-menu img {width: 110px;}
#lc-inventory-character-spr-2016 .productLarge,#lc-inventory .productLarge {width: 160px;}
}



/****** Spring Dressy 2016 ******/
@media screen and (max-width: 1399px) {
.dressy-lp-spring-2016-menu span {font-size: 0.8em; margin-bottom: 7px;}
.dressy-lp-spring-2016-menu a  {font-size: 0.8em;}
.dressy-lp-spring-2016-menu {left:74%; top:35%;}
.dressy-spr-2016-menu {top: 359px;}
.dressy-spr-2016-menu a {font-size: 1.3em; padding: 5px 8px;}
#dressy-inventory .productLarge {width: 163px;}
.dressy-lp-spring-2016-menu-ca {bottom: 45%;left: 77%; font-size: 14px;}
}

@media screen and (min-width: 1400px) {
.dressy-lp-spring-2016-menu span {font-size: 1em; margin-bottom: 7px;}
.dressy-lp-spring-2016-menu a  {font-size: 1em;}
.dressy-lp-spring-2016-menu {left:77%; top: 35%;}
.dressy-spr-2016-menu {top: 508px;}
.dressy-spr-2016-menu a {font-size: 1.5em; padding: 5px 16px;}
#dressy-inventory .productLarge {width: 207px;}
.dressy-lp-spring-2016-menu-ca {bottom:50%; left:77%;}
}

@media screen and (max-width: 768px) {
.dressy-lp-spring-2016-menu a  {font-size: 0.6em;}
.dressy-lp-spring-2016-menu {left:73%; top: 35%;}
.dressy-lp-hide {display: none;}
.dressy-spr-2016-menu {top: 210px;}
.dressy-spr-2016-menu a {font-size: 1em; padding: 5px 4px;}
#dressy-inventory .productLarge {width: 131px;}
.dressy-lp-spring-2016-menu-ca {bottom: 45%; left: 75%; font-size: 11px;}
}

/****** Look Book 2016 ******/
@media screen and (min-width: 1400px) {
  .lkbook-container {width:900px;
margin: 25px auto;
overflow: visible;
  }

}
@media screen and (max-width: 1399px) {
  .lkbook-container {width:800px;
  margin: 20px auto;
  overflow: visible;
  }
}
@media screen and (max-width: 768px) {
  .lkbook-container {width:600px;
  margin: 15px auto;
  overflow: visible;
  }
}

/****** Active Shop Spring 2016 ******/
@media screen and (max-width: 1399px) {
.active-lp-spr-2016-menu span {font-size: 0.8em; margin-bottom: 7px;}
.active-lp-spr-2016-menu a  {font-size: 0.9em;}
.active-spr-menu-top {right: 165px; top: 370px;}
/*#active-inventory .productLarge {width: 163px;}*/
}

@media screen and (min-width: 1400px) {
.active-lp-spr-2016-menu span {font-size: 1em; margin-bottom: 7px;}
.active-lp-spr-2016-menu a  {font-size: 1.2em;}
.active-spr-menu-top {right: 245px; top: 525px;}
/*#active-inventory .productLarge {width: 207px;}*/
}

@media screen and (max-width: 768px) {
.active-lp-spr-2016-menu span {font-size: 0.8em; margin-bottom: 7px;}
.active-lp-spr-2016-menu a  {font-size: 0.9em;}
.active-spr-menu-top {right: 110px; top: 280px;}
/*#active-inventory .productLarge {width: 163px;}*/
}


/****** PLCC Spring 2016 Landing Page ******/
@media screen and (max-width: 1399px) {
  header.mobile {display:none;}
  #plcc-lp-spr2016 header .dot-copy {left: 16.75%; top: 64%;}
  #plcc-lp-spr2016 header .dot-copy p.code {font-size: 13px; margin: 0; padding: 0;}
  #plcc-lp-spr2016 header .dot-copy p.limited {font-size: 11px; margin-top:5px; padding: 0;}
  #plcc-lp-spr2016 section.content {margin: 8em 0 0 0;}
  #plcc-lp-spr2016 section.content .cols .col-today, #plcc-lp-spr2016 section.content .cols .col-every {display:inline-block; vertical-align:top;}
  #plcc-lp-spr2016 section.content .cols .col-today{width: 40%;} 
  #plcc-lp-spr2016 section.content .cols .col-every{width: 50%;}
  #plcc-lp-spr2016 header span.code {bottom:250px; right:82px;} 
  #plcc-lp-spr2016 header span.code p:last-child {font-size:16px;}
  #plcc-lp-spr2016 header img.midbanner {margin:0 80px; width: 70%;}
  #plcc-lp-spr2016 header .buttons{margin:25px 0 0 80px;}
  #plcc-lp-spr2016 section.content {margin: 50px 0 0 20px;}
  #plcc-lp-spr2016 section.content .cols {margin: 0 60px;}
  #plcc-lp-spr2016 footer{margin:15px 75px; width: 80%;}
}

@media screen and (min-width: 1400px) {
header.mobile {display:none;}
#plcc-lp-spr2016 header .dot-copy {left: 17%; top: 66%;}
#plcc-lp-spr2016 header .dot-copy p.code {margin:0; padding: 0;}
#plcc-lp-spr2016 section.content .cols .col-today, #plcc-lp-spr2016 section.content .cols .col-every {display:inline-block; vertical-align:top;}
#plcc-lp-spr2016 section.content .cols .col-today{width: 45%;} 
#plcc-lp-spr2016 section.content .cols .col-every{width: 40%;}
#plcc-lp-spr2016 header span.code {bottom:340px; right:125px;} 
#plcc-lp-spr2016 header span.code p:last-child {font-size:22px;}
#plcc-lp-spr2016 header img.midbanner {margin:0 120px; width: 70%;}
#plcc-lp-spr2016 header .buttons{margin:25px 0 0 120px;}
#plcc-lp-spr2016 section.content {margin: 50px;}
#plcc-lp-spr2016 section.content .cols {margin: 0 80px;}
#plcc-lp-spr2016 footer{margin:15px 120px; width: 80%;}
}

@media screen and (max-width: 768px){
  header.mobile {display:none;}
  #plcc-lp-spr2016 header .dot-copy {top: 63%; left: 15.5%;}
  #plcc-lp-spr2016 header .dot-copy p.code {font-size: 11px; margin: 0; padding: 0;}
  #plcc-lp-spr2016 header .dot-copy p.limited {font-size: 10px; margin: 0; padding: 0;}
  #plcc-lp-spr2016 header .buttons a {margin-bottom: 1em;}
  #plcc-lp-spr2016 section.content {margin: 10em 0 0 0;}
  #plcc-lp-spr2016 section.content .cols .col-today, #plcc-lp-spr2016 section.content .cols .col-every {display:inline-block; vertical-align:top;}
  #plcc-lp-spr2016 section.content .cols .col-today{width: 40%;} 
  #plcc-lp-spr2016 section.content .cols .col-every{width: 50%;}
  #plcc-lp-spr2016 header span.code {bottom:197px; right:62px;} 
  #plcc-lp-spr2016 header span.code p:last-child {font-size:12px;}
  #plcc-lp-spr2016 header img.midbanner {margin:0 80px; width: 70%;}
  #plcc-lp-spr2016 header .buttons{margin:25px 0 0 80px;}
  #plcc-lp-spr2016 section.content {margin: 50px 0 0 20px;}
  #plcc-lp-spr2016 section.content .cols {margin: 0 60px;}
  #plcc-lp-spr2016 footer{margin:15px 60px; width: 80%;}
}

@media screen and (max-device-width: 480px){
  header.desktop{display:none;}
  header.mobile{display:block;}
  #plcc-lp-spr2016 header .dot-copy {top: 72%; left: 19%;}
  #plcc-lp-spr2016 header .dot-copy p.code {font-size: .55em; margin: 0; padding: 0;}
  #plcc-lp-spr2016 header .dot-copy p.limited {font-size: .55em; margin: 0; padding: 0;}
  #plcc-lp-spr2016 header .buttons a {font-size:14px; padding:8px;}
  #plcc-lp-spr2016 section.content .cols .col-today,  #plcc-lp-spr2016 section.content .cols .col-every {width: 100%; display:block;}
  #plcc-lp-spr2016 header span.code {bottom:214px; right:66px;} 
  #plcc-lp-spr2016 header img.midbanner {margin:0; width: 100%;}
  #plcc-lp-spr2016 header .buttons{margin:25px 0 0 50px;}
  #plcc-lp-spr2016 section.content {margin: 50px 0 0 20px;}
  #plcc-lp-spr2016 section.content .cols {margin: 0 5px;}
  #plcc-lp-spr2016 footer{margin:25px 50px; width: 80%;} 
}

/****** Spring Wildflower 2016 ******/
@media screen and (max-width: 1399px) {
#wildflower-inventory .productLarge {width: 163px;}
}

@media screen and (min-width: 1400px) {
#wildflower-inventory .productLarge {width: 207px;}
}

@media screen and (max-width: 768px) {
#wildflower-inventory .productLarge {width: 131px;}
}


/****** PLCC Summer 2016 Landing Page ******/
@media screen and (max-width: 1399px) {
  header.mobile {display:none;}
  #plcc-lp-sum2016 header .dot-copy {left: 16.75%; top: 64%;}
  #plcc-lp-sum2016 header .dot-copy p.code {font-size: 13px; margin: 0; padding: 0;}
  #plcc-lp-sum2016 header .dot-copy p.limited {font-size: 11px; margin-top:5px; padding: 0;}
  #plcc-lp-sum2016 section.content {margin: 8em 0 0 0;}
  #plcc-lp-sum2016 section.content .cols .col-today, #plcc-lp-sum2016 section.content .cols .col-every {display:inline-block; vertical-align:top;}
  #plcc-lp-sum2016 section.content .cols .col-today{width: 40%;} 
  #plcc-lp-sum2016 section.content .cols .col-every{width: 50%;}
  #plcc-lp-sum2016 header span.code {bottom:250px; right:82px;} 
  #plcc-lp-sum2016 header span.code p:last-child {font-size:16px;}
  #plcc-lp-sum2016 header img.midbanner {margin:0 80px; width: 70%;}
  #plcc-lp-sum2016 header .buttons{margin:0; left:33px; bottom: 145px; font-size: 1.5em;}
  #plcc-lp-sum2016 section.content {margin: 50px 0 0 20px;}
  #plcc-lp-sum2016 section.content .cols {margin: 60px 0 0 20px;}
  #plcc-lp-sum2016 footer{margin:15px 0 15px 35px; width: 90%;}
}

@media screen and (min-width: 1400px) {
header.mobile {display:none;}
#plcc-lp-sum2016 header .dot-copy {left: 17%; top: 66%;}
#plcc-lp-sum2016 header .dot-copy p.code {margin:0; padding: 0;}
#plcc-lp-sum2016 section.content .cols .col-today, #plcc-lp-sum2016 section.content .cols .col-every {display:inline-block; vertical-align:top;}
#plcc-lp-sum2016 section.content .cols .col-today{width: 30%;} 
#plcc-lp-sum2016 section.content .cols .col-every{width: 50%;}
#plcc-lp-sum2016 section.content .inner-cols .col-1, #plcc-lp-sum2016 section.content .inner-cols .col-2 {display:inline-block; vertical-align:top;}
#plcc-lp-sum2016 section.content .inner-cols .col-1 {width:45%;}
#plcc-lp-sum2016 section.content .inner-cols .col-2{width: 40%;}
#plcc-lp-sum2016 header span.code {bottom:340px; right:125px;} 
#plcc-lp-sum2016 header span.code p:last-child {font-size:22px;}
#plcc-lp-sum2016 header img.midbanner {margin:0 120px; width: 70%;}
#plcc-lp-sum2016 header .buttons{margin:0; left:50px; bottom: 210px; font-size: 1.5em;}
#plcc-lp-sum2016 section.content {margin: 50px 0 0 20px;}
#plcc-lp-sum2016 section.content .cols {margin: 50px 0 0 27px;}
#plcc-lp-sum2016 footer{margin:20px 0 20px 40px; width: 80%;}
}

@media screen and (max-width: 768px){
  header.mobile {display:none;}
  #plcc-lp-sum2016 header .dot-copy {top: 63%; left: 15.5%;}
  #plcc-lp-sum2016 header .dot-copy p.code {font-size: 11px; margin: 0; padding: 0;}
  #plcc-lp-sum2016 header .dot-copy p.limited {font-size: 10px; margin: 0; padding: 0;}
  #plcc-lp-sum2016 header .buttons a {margin-bottom: 1em;}
  #plcc-lp-sum2016 section.content {margin: 10em 0 0 0;}
  #plcc-lp-sum2016 section.content .cols .col-today, #plcc-lp-sum2016 section.content .cols .col-every {display:inline-block; vertical-align:top;}
  #plcc-lp-sum2016 section.content .cols .col-today{width: 40%;} 
  #plcc-lp-sum2016 section.content .cols .col-every{width: 50%;}
  #plcc-lp-sum2016 header span.code {bottom:197px; right:62px;} 
  #plcc-lp-sum2016 header span.code p:last-child {font-size:12px;}
  #plcc-lp-sum2016 header img.midbanner {margin:0 80px; width: 70%;}
  #plcc-lp-sum2016 header .buttons{margin:0; left:25px; bottom: 110px; font-size: 1em;}
  #plcc-lp-sum2016 section.content {margin: 50px 0 0 20px;}
  #plcc-lp-sum2016 section.content .cols {margin: 60px 0 0 8px;}
  #plcc-lp-sum2016 footer{margin:15px 0 15px 30px; width: 90%;}
}

@media screen and (max-width: 480px){ 
  header.desktop{display:none;}
  header.mobile{display:block;}
  #plcc-lp-sum2016 header.mobile .buttons {display:block; margin-top:10px;}
  #plcc-lp-sum2016 header.mobile .buttons a {display:inline-block;}
  #plcc-lp-sum2016 header .dot-copy {top: 72%; left: 19%;}
  #plcc-lp-sum2016 header .dot-copy p.code {font-size: .55em; margin: 0; padding: 0;}
  #plcc-lp-sum2016 header .dot-copy p.limited {font-size: .55em; margin: 0; padding: 0;}
  #plcc-lp-sum2016 header .buttons a {font-size:10px; padding:8px;}
  #plcc-lp-sum2016 section.content .cols .col-today,  #plcc-lp-sum2016 section.content .cols .col-every {width: 100%; display:block;}
  #plcc-lp-sum2016 header span.code {bottom:214px; right:66px;} 
  #plcc-lp-sum2016 header img.midbanner {margin:0; width: 100%;}
  #plcc-lp-sum2016 header .buttons{margin:0; left:15px; bottom: 10px; font-size: 1em;}
  #plcc-lp-sum2016 section.content {margin: 50px 0;}
  #plcc-lp-sum2016 section.content .cols {margin: 0 5px;}
  #plcc-lp-sum2016 footer{margin:25px 0; width: 80%;} 
}


/****** Summer Paint Box 2016 ******/
@media screen and (max-width: 1399px) {
.paintbox-lp-sum-2016-menu a  {font-size: 0.9em;}
.paintbox-sum-menu-top {left:320px; top:220px;}
#paintbox-inventory .productLarge {width: 163px;}
.slash{font-size: 16px;}
}

@media screen and (min-width: 1400px) {
.paintbox-lp-sum-2016-menu a  {font-size: 1.2em;}
.paintbox-sum-menu-top {left:475px; top:315px;}
#paintbox-inventory .productLarge {width: 207px;}
.slash{font-size: 18px;}
}

@media screen and (max-width: 768px) {
.paintbox-lp-sum-2016-menu a  {font-size: 0.9em;}
.paintbox-sum-menu-top {left:215px; top:165px;}
#paintbox-inventory .productLarge {width: 163px;}
.slash{font-size: 14px;}
}


/****** Active Shop Summer 2016 ******/
@media screen and (max-width: 1399px) {
.active-lp-sum-2016-menu span {font-size: 0.8em; margin-bottom: 7px;}
.active-lp-sum-2016-menu a  {font-size: 0.9em;}
.active-sum-menu-top {left: 230px; top: 355px;}
#active-inventory .productLarge {width: 163px;}
}

@media screen and (min-width: 1400px) {
.active-lp-sum-2016-menu span {font-size: 1em; margin-bottom: 7px;}
.active-lp-sum-2016-menu a  {font-size: 1.2em;}
.active-sum-menu-top {left: 345px; top: 505px;}
#active-inventory .productLarge {width: 207px;}
}

@media screen and (max-width: 768px) {
.active-lp-sum-2016-menu span {font-size: 0.8em; margin-bottom: 7px;}
.active-lp-sum-2016-menu a  {font-size: 0.9em;}
.active-sum-menu-top {left: 155px; top: 275px;}
#active-inventory .productLarge {width: 163px;}
}


/****** Americana Shop Summer 2016 ******/
@media screen and (max-width: 1399px) {
#americana-inventory .productLarge {width: 163px;}
}

@media screen and (min-width: 1400px) {
#americana-inventory .productLarge {width: 207px;}
}

@media screen and (max-width: 768px) {
#americana-inventory .productLarge {width: 163px;}
}



/****** Corporate Gift Card LP 2016 ******/
@media screen and (max-width: 1399px) {
#corporate-card .container {width: 860px; margin:15px auto;}
#corporate-card section.top aside {margin: 20px 0 0 40px;}
#corporate-card section.top img {width: 20%;}
#corporate-card h2.title-one {position: absolute; top:233px; left: 80px;}
#corporate-card section.bottom h2 {font-size: 17px;}
#corporate-card section.bottom p {top:250px; left: 80px; width: 510px; font-size: 14px;}
#corporate-card h2.title-two{top:390px; left: 80px;}
#corporate-card section.bottom ul{top:400px; left: 76px; font-size: 14px;}
#corporate-card section.bottom ul li {margin: 5px 0;}
}

@media screen and (min-width: 1400px) {
#corporate-card .container {width: 960px; margin:15px auto;}  
#corporate-card section.top aside {margin: 20px 0 0 40px;}
#corporate-card section.top h1 {font-size: 32px; }
#corporate-card h2.title-one {top:252px; left: 231px;}
#corporate-card section.bottom h2 {font-size: 20px;}
#corporate-card section.bottom p {top:270px; left: 231px; width: 510px; font-size: 16px;}
#corporate-card h2.title-two{top:420px; left: 231px;}
#corporate-card section.bottom ul{font-size: 16px; top:440px; left: 226px;}
#corporate-card section.bottom ul li {margin: 5px 0;}
}

@media screen and (max-width: 768px){
#corporate-card .container {width: 700px; margin:5px auto;} 
#corporate-card section.top aside {margin: 10px 0 0 40px;}
#corporate-card section.top h1 {font-size: 24px; }
#corporate-card h2.title-one {top:202px; left: 40px;}
#corporate-card section.bottom h2 {font-size: 14px;}
#corporate-card section.bottom p {top:218px; left: 40px; width: 410px; font-size: 12px;}
#corporate-card section.bottom ul{font-size: 12px; top:340px; left: 32px; width: 100%;} 
#corporate-card h2.title-two {top:330px; left: 40px;}
#corporate-card section.bottom ul li {margin: 3px 0;}
}


/****** Summer Wild Child 2016 ******/
@media screen and (max-width: 1399px) {
#wildchild-inventory .productLarge {width: 163px;}
}

@media screen and (min-width: 1400px) {
#wildchild-inventory .productLarge {width: 207px;}
}

@media screen and (max-width: 768px) {
#wildchild-inventory .productLarge {width: 131px;}
}


/****** PLCC BTS 2016 Landing Page ******/
@media screen and (max-width: 1399px) {
  #plcc-lp-bts2016 header.mobile {display:none;}
  #plcc-lp-bts2016 header .dot-copy {left: 14%; top: 69%;}
  #plcc-lp-bts2016 header .dot-copy p.code {font-size: 13px; margin: 0; padding: 0;}
  #plcc-lp-bts2016 header .dot-copy p.limited {font-size: 11px; margin-top:5px; padding: 0;}
  #plcc-lp-bts2016 section.content {margin: 8em 0 0 0;}
  #plcc-lp-bts2016 section.content .cols .col-today, #plcc-lp-bts2016 section.content .cols .col-every {display:inline-block; vertical-align:top;}
  #plcc-lp-bts2016 section.content .cols .col-today{width: 35%; margin-right:10%;} 
  #plcc-lp-bts2016 section.content .cols .col-every{width: 38%;}
  #plcc-lp-bts2016 header span.code {bottom:250px; right:82px;} 
  #plcc-lp-bts2016 header span.code p:last-child {font-size:16px;}
  #plcc-lp-bts2016 header img.midbanner {margin:0 80px; width: 70%;}
  #plcc-lp-bts2016 header .buttons{margin:15px 0 15px 80px; font-size: 1.5em;}
  #plcc-lp-bts2016 section.content {margin: 50px 0 0 60px;}
  #plcc-lp-bts2016 section.content .cols {margin: 40px 0 0 20px;}
  #plcc-lp-bts2016 footer{margin:15px 0 15px 65px; width: 90%;}
}

@media screen and (min-width: 1400px) {
#plcc-lp-bts2016 header.mobile {display:none;}
#plcc-lp-bts2016 header .dot-copy {left: 13%; top: 70%;}
#plcc-lp-bts2016 header .dot-copy p.code {margin:0; padding: 0;}
#plcc-lp-bts2016 section.content .cols .col-today, #plcc-lp-bts2016 section.content .cols .col-every {display:inline-block; vertical-align:top;}
#plcc-lp-bts2016 section.content .cols .col-today{width: 30%; margin-right:15%;} 
#plcc-lp-bts2016 section.content .cols .col-every{width: 30%;}
#plcc-lp-bts2016 section.content .inner-cols .col-1, #plcc-lp-bts2016 section.content .inner-cols .col-2 {vertical-align:top; width: 100%;}
#plcc-lp-bts2016 header span.code {bottom:340px; right:125px;} 
#plcc-lp-bts2016 header span.code p:last-child {font-size:22px;}
#plcc-lp-bts2016 header img.midbanner {margin:0 120px; width: 70%;}
#plcc-lp-bts2016 header .buttons{margin:15px 0 15px 120px; font-size: 1.5em;}
#plcc-lp-bts2016 section.content {margin: 50px 0 0 90px;}
#plcc-lp-bts2016 section.content .cols {margin: 50px 0 0 27px;}
#plcc-lp-bts2016 footer{margin:20px 0 20px 100px; width: 80%;}
}

@media screen and (max-width: 768px){
  #plcc-lp-bts2016 header.mobile {display:none;}
  #plcc-lp-bts2016 header .dot-copy {top: 68%; left: 13%;}
  #plcc-lp-bts2016 header .dot-copy p.code {font-size: 11px; margin: 0; padding: 0;}
  #plcc-lp-bts2016 header .dot-copy p.limited {font-size: 10px; margin: 0; padding: 0;}
  #plcc-lp-bts2016 header .buttons a {margin-bottom: 1em;}
  #plcc-lp-bts2016 section.content {margin: 10em 0 0 0;}
  #plcc-lp-bts2016 section.content .cols .col-today, #plcc-lp-bts2016 section.content .cols .col-every {display:inline-block; vertical-align:top;}
  #plcc-lp-bts2016 section.content .cols .col-today{width: 50%; margin-right:10%;} 
  #plcc-lp-bts2016 section.content .cols .col-every{width: 50%;}
  #plcc-lp-bts2016 header span.code {bottom:197px; right:62px;} 
  #plcc-lp-bts2016 header span.code p:last-child {font-size:12px;}
  #plcc-lp-bts2016 header img.midbanner {margin:0 80px; width: 70%;}
  #plcc-lp-bts2016 header .buttons{margin:15px 0 15px 80px; font-size: 1em;}
  #plcc-lp-bts2016 section.content {margin: 50px 0 0 40px;}
  #plcc-lp-bts2016 section.content .cols {margin: 40px 0 0 8px;}
  #plcc-lp-bts2016 footer{margin:15px 0 15px 45px; width: 90%;}
}

@media screen and (max-width: 480px){ 
  #plcc-lp-bts2016 header.desktop{display:none;}
  #plcc-lp-bts2016 header.mobile{display:block;}
  #plcc-lp-bts2016 header.mobile .buttons {display:block; margin-top:10px;}
  #plcc-lp-bts2016 header.mobile .buttons a {display:inline-block;}
  #plcc-lp-bts2016 header .dot-copy {top: 65%; left: 13%; font-size: 22px;}
  #plcc-lp-bts2016 header .dot-copy p.code {font-size: .55em; margin: 0; padding: 0;}
  #plcc-lp-bts2016 header .dot-copy p.limited {font-size: .55em; margin: 0; padding: 0;}
  #plcc-lp-bts2016 header .buttons a {font-size:10px; padding:8px;}
  #plcc-lp-bts2016 section.content .cols .col-today,  #plcc-lp-bts2016 section.content .cols .col-every {width: 100%; display:block;}
  #plcc-lp-bts2016 header span.code {bottom:214px; right:66px;} 
  #plcc-lp-bts2016 header img.midbanner {margin:0; width: 100%;}
  #plcc-lp-bts2016 header .buttons{margin:15px 0 15px 80px; font-size: 1em;}
  #plcc-lp-bts2016 section.content {margin: 50px 0;}
  #plcc-lp-bts2016 section.content .cols {margin: 0 5px;}
  #plcc-lp-bts2016 footer{margin:25px 0; width: 80%;} 
}


/*** PayPal BTS 2016 ***/
@media screen and (max-width: 1399px) {
.paypal-bts-2016-menu {bottom: 2%; right: 37%;}
.paypal-bts-2016-menu a {font-size: 14px;}
.paypal-bts-2016-menu span {font-size:14px;}
}

@media screen and (min-width: 1400px) {
.paypal-bts-2016-menu {bottom: 3%; right: 39%;}
.paypal-bts-2016-menu a {font-size: 18px;}
.paypal-bts-2016-menu span {font-size:14px;}
}

@media screen and (max-width: 768px) {
.paypal-bts-2016-menu {bottom: 0; right: 36%;}
.paypal-bts-2016-menu a {font-size: 12px;}
.paypal-bts-2016-menu span {font-size:11px;}
}



/*************  Content Inventory Area Styles  *************/
#inventory-header {margin-bottom:10px;}

#inventory-content{
display:none;
float: left;
position:relative;
}

@media screen and (max-width: 1399px) {
#inventory-content {width:82.5%;}
}

@media screen and (min-width: 1400px) {
#inventory-content {width:87.5%;}
}

/*************  Help Center Home Page  *************/
@media screen and (max-width: 1399px) {
.help-questions {width:70%;}
}

@media screen and (min-width: 1400px) {
.help-questions {width:50%;}
}

 /*** MyPlace Rewards ***/
.mpr-wrapper {width: 100%;}
.mpr-top, .mpr-bottom {width: 904px;margin: 0 auto;}
@media screen and (max-width: 1399px) {.mpr-top, .mpr-bottom {margin-left: -20px;}}

/*** Styles for International Stores Landing Page ***/
.INScontainer {font-family: "AvenirBook";}
.INSheader {width: 100%; clear: both; margin:1em 0 2em;}
.INSheader select {margin: 7px 0 0 20px;}
.INScontainer h1  {
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 20px;
    color: #333;
    display: inline-block;
}
.INScontainer-inner {display: table; width: 100%;}
.INScountry {background:#f0f0f0; padding: .75em 0; text-align: left;}
.INScountry h2 {font-size: 1.3em; margin: 1px 0 0 30px; font-weight: normal;}
.INScol {border-bottom: 1px solid #ccc; padding: 10px 30px 30px; text-align: left; font-size: 1.3em;}
.INScol h3 {font-size: 1.2em; font-weight: normal; line-height: 1.05em; margin: 3px 0;}
.INScolLast01, .INScolLast02 {border-bottom: none;}
@media screen and (min-width: 1400px) {.INScol {display: table-cell; width: 46.7%;}}
@media screen and (max-width: 1399px) {.INScol {width: 45%; display: table-cell;}}

/* Denim Shop BTS 2015 */
@media screen and (max-width: 1399px) and (min-width: 769px) {
#GirlSkinny .copy, #BabyGirlSkinny .copy {width: 85%; position: relative; top: -5px;}
}

@media screen and (max-width: 1399px) {
#choose-denim li {margin-right:.5em;}
#choose-denim li img {width:230px;}
#choose-denim img.fit-name {height: 30px;width: auto;}
#denim-2015-menu ul li {font-size:1em;}
.fit-copy span {font-size: .85em;}
.denim-row .productLarge {width: 190.5px; height: auto;}
.denim-2015-landing-menu {bottom: 14%; right: 40.8%; font-size: 0.8em;}
}

@media screen and (min-width: 1400px) {
#choose-denim li {margin-right:.4em;}
#denim-2015-menu ul li {font-size:1.25em;}
.fit-copy span {font-size: 1em;}
.denim-row .productLarge {height: auto; width: 228px;}
.denim-2015-landing-menu {bottom: 14%; right: 40.8%; font-size: 1.3em;}
}

@media screen and (max-width: 768px) {
.denim-2015-landing-menu {bottom: 14%; right: 37.8%; font-size: 0.8em;}
#choose-denim li img {width:173px;}
  }

/* Halloween Fall 2015 */
@media screen and (min-width: 1400px) {
.halloween-lp-fall-2015-menu {bottom: 100px; right: 485px; font-size: 18px;}
.halloween-2015-menu {top: 14px; right: 3px;}
.halloween-2015-menu a {font-size: 18px; padding: 63.5px 22px; height:150px;}
.halloween-2015-menu a.Toddlerlink {padding: 63.5px 22px 39px;}
#place-shop-halloween-2015 .productLarge {width: 207px !important;}
}

@media screen and (max-width: 1399px) {
.halloween-lp-fall-2015-menu {bottom: 70px; right: 315px; font-size: 14px;}
.halloween-2015-menu {top: 10px; right: 1px;}
.halloween-2015-menu a {font-size: 16px; padding: 44.5px 16px; height:105px;}
.halloween-2015-menu a.Toddlerlink {padding: 44px 16px 28.5px;}
#place-shop-halloween-2015 .productLarge {width: 171px !important;}
}

@media screen and (max-width: 768px) {
.halloween-lp-fall-2015-menu {bottom: 45px; right: 220px; font-size: 12px;}
.halloween-2015-menu {top: 7px; right: 1px;}
.halloween-2015-menu a {font-size: 12px; padding: 33px 16px; height:80px;}
.halloween-2015-menu a.Toddlerlink {padding: 33px 16px 28.5px;}
#place-shop-halloween-2015 .productLarge {width: 163px !important;}
#place-shop-halloween-2015 .inventory-header img {height:25px;}
}

/* Holiday Dressy 2015 */
@media screen and (max-width: 1399px) {
.dressy-lp-hol-2015-menu span {font-size: 0.8em; margin-bottom: 7px;}
.dressy-lp-hol-2015-menu a  {font-size: 0.9em;}
.dressy-hol-menu-top {top: 12.8%; right: 40%;}
.dressy-hol-2015-menu {top: 359px;}
.dressy-hol-2015-menu a {font-size: 1.3em; padding: 5px 8px;}
#dressy-inventory .productLarge {width: 163px;}
}

@media screen and (min-width: 1400px) {
.dressy-lp-hol-2015-menu span {font-size: 1em; margin-bottom: 7px;}
.dressy-lp-hol-2015-menu a  {font-size: 1.2em;}
.dressy-hol-menu-top {top: 12.8%; right: 42%;}
.dressy-hol-2015-menu {top: 508px;}
.dressy-hol-2015-menu a {font-size: 1.5em; padding: 5px 16px;}
#dressy-inventory .productLarge {width: 207px;}
}

/* Star Wars Fall 2015 */
@media screen and (max-width: 1399px) {
.sw-lp-menu {top: 9%; right: 16%; font-size: .8em;}
.sw-lp-menu-v2 {bottom: 20%; right: 16%; font-size: .8em;}
.sw-fall-menu-top {top: 12.8%; right: 40%;}
.sw-fall-2015-menu {top: 475px;}
.sw-fall-2015-menu a {font-size: 1.3em; padding: 5px 8px;}
#sw-inventory .productLarge {width: 163px;}
}

@media screen and (min-width: 1400px) {
.sw-lp-menu {top: 12%; right: 15%; font-size:1.2em;}
.sw-lp-menu-v2 {bottom: 20%; right: 15.5%; font-size:1.2em;}
.sw-fall-menu-top {top: 12.8%; right: 42%;}
.sw-fall-2015-menu {top: 674px;}
.sw-fall-2015-menu a {font-size: 1.5em; padding: 5px 16px;}
#sw-inventory .productLarge {width: 207px;}
}

@media screen and (max-width: 768px) {
.sw-lp-menu {top: 6.5%; right: 12.5%; font-size:.8em;}
.sw-lp-menu-v2 {bottom: 18%; right: 11%; font-size:.8em;}
.sw-fall-2015-menu {top: 370px;}
.sw-fall-2015-menu a {font-size: 16px; padding: 5px 8px;}
#sw-inventory .productLarge {width: 163px;}
}

/* Outerwear Shop Holiday 2015 */
@media screen and (min-width: 1400px) {
  .outerwear-lp-hol-2015-menu {top: 588px; left: 466px;}
  .outerwear-lp-hol-2015-menu a {font-size: 16px;}
  #outerwear-hol-2015-inventory .productLarge {width: 207px !important;}
  .outerwear-hol-2015-menu {top: 520px;}
  .outerwear-hol-2015-menu a {font-size: 20px;  padding: 0 0 0 25px;}
}

@media screen and (max-width: 1399px) {
  .outerwear-lp-hol-2015-menu {top: 400px; left: 355px; width: 250px;}
  .outerwear-lp-hol-2015-menu a {font-size: 16px;}
  #outerwear-hol-2015-inventory .productLarge {width: 171px !important;}
   .outerwear-hol-2015-menu {top: 375px;}
  .outerwear-hol-2015-menu a {font-size: 16px; padding: 0 0 0 20px;}
  .outerwear-hol-2015-title img {width:200px;}
}

@media screen and (max-width: 768px) {
  .outerwear-lp-hol-2015-menu {top: 307px; left: 269px; width: 200px;}
  .outerwear-lp-hol-2015-menu a {font-size: 12px;}
   #outerwear-hol-2015-inventory .productLarge {width: 163px !important;}
   .outerwear-hol-2015-menu {top: 285px;}
  .outerwear-hol-2015-menu a {font-size: 14px; padding: 0 0 0 20px;}
  .outerwear-hol-2015-title img {width:150px;}
}


/****** Royals Holiday 2015 ******/

@media screen and (min-width: 1400px) {
.royals-hol-2015-container .cycle-slideshow{height: 622px;}
.royals-hol-2015-container .shop-all {top: 93%;}
}

@media screen and (max-width: 1399px) {
.royals-hol-2015-container .cycle-slideshow{height: 434px;}
.royals-hol-2015-container .shop-all {top: 90%;}
}

@media screen and (max-width: 768px) {
.royals-hol-2015-container .cycle-slideshow{height: 332px;}
.royals-hol-2015-container .shop-all {top: 90%;}
}

/****** Matchables Outfit Builder, original launched late 2015 ******/
@media screen and (max-width:1399px) {
#matchables-wrapper {width:960px;}
#header p {font-size:30px;}
#matchables-nav {font-size:1em;}
.boy #large-viewer .tops img, .t-boy #large-viewer .tops img, .girl #large-viewer .tops img, .t-girl #large-viewer .tops img {width:250px; height:250px;}
.boy #large-viewer .bottoms img {width:225px; height:225px;}
.t-boy #large-viewer .bottoms img {width:200px; height:200px;}
.girl #large-viewer .bottoms img, .t-girl #large-viewer .bottoms img {width:200px; height:200px;}
#large-viewer .accessories img {width:150px; height:150px;}
#matchables-display .chooser > div {font-size: 18px;}

#matchables-display.boy .chooser.shirts, #matchables-display.t-boy .chooser.shirts, #matchables-display.girl .chooser.shirts, #matchables-display.t-girl .chooser.shirts {padding-top: 10px;}
#matchables-display.boy .chooser.pants {padding-top: 70px;}
 #matchables-display.t-boy .chooser.pants {padding-top: 40px;}
#matchables-display.girl .chooser.pants, #matchables-display.t-girl .chooser.pants   {padding-top: 40px;}
#matchables-display.boy .chooser.access-thumb {padding-top: 60px;}
#matchables-display.t-boy .chooser.access-thumb {padding-top: 10px;}
#matchables-display.girl .chooser.access-thumb, #matchables-display.t-girl .chooser.access-thumb {padding-top: 20px;}
}

@media screen and (min-width: 1400px) {
#matchables-wrapper {width:1375px;}
#header p {font-size:36px;}
#matchables-nav {font-size: 1.25em;}
#matchables-display.boy .chooser.shirts, #matchables-display.t-boy .chooser.shirts, #matchables-display.girl .chooser.shirts, .chooser.shirts, #matchables-display.t-girl .chooser.shirts {padding-top: 20px;}
#matchables-display.boy .chooser.pants {padding-top: 100px;}
#matchables-display.girl .chooser.pants, #matchables-display.t-boy .chooser.pants, #matchables-display.t-girl .chooser.pants  {padding-top: 80px;}
#matchables-display.girl .chooser.access-thumb, #matchables-display.t-girl .chooser.access-thumb  {padding-top: 100px;}
#matchables-display.t-boy .chooser.access-thumb {padding-top: 120px;}
#matchables-display.boy .chooser.access-thumb {padding-top: 170px;}
#matchables-display .chooser > div {font-size: 22px;}
#matchables-display .chooser.access-thumb img {width:150px; height:150px; margin:0 auto; text-align:center;}

.boy #large-viewer .tops img {width:375px; height:375px;}
.boy #large-viewer .bottoms img {width:375px; height:375px;}
.girl #large-viewer .tops img {width:375px; height:375px;}
.girl #large-viewer .bottoms img, .t-girl #large-viewer .bottoms img {width:275px; height:275px;}
.t-boy #large-viewer .tops img , .t-girl #large-viewer .tops img {width:375px; height:375px;}
.t-boy #large-viewer .bottoms img {width:300px; height:300px;}

#large-viewer .accessories img {width:200px; height:200px;}
}

@media screen and (max-width: 768px) {
#matchables-wrapper {width:760px;}
#large-viewer .tops img {width:250px; height:250px;}
#matchables-display .chooser.shirts {
    padding-top: 20px;
}

#matchables-display.boy .chooser.shirts {padding-top: 50px;}
#matchables-display.t-boy .chooser.shirts {padding-top: 40px;}
#matchables-display.boy .chooser.pants, #matchables-display.t-boy .chooser.pants {padding-top: 100px;}
#matchables-display.boy .chooser.access-thumb {padding-top: 80px;}
#matchables-display.t-boy .chooser.access-thumb {padding-top: 60px;}
#matchables-display.girl .chooser.shirts, #matchables-display.t-girl .chooser.shirts {padding-top: 20px;}
#matchables-display.girl .chooser.pants, #matchables-display.t-girl .chooser.pants {padding-top: 120px;}
#matchables-display.girl .chooser.access-thumb, #matchables-display.t-girl .chooser.access-thumb {padding-top: 80px;}
}

/*** Videos Landing Page Summer 2014 ***/
@media screen and (max-width:1399px) {
.large-iframe {width:902px; max-width:100%;}
.video-stills li {width: 290px; margin: 0 1em 1em 0;}
.video-caption {height:190px;}
.video-caption a, .video-caption a:hover {top: 15%;}
}

@media screen and (min-width: 1400px) {
.large-iframe {width:1293px; max-width:100%;}
.video-stills li {width: 416px; margin: 0 1.5em 1.6em 0;}
.video-caption {height:273px;}
.video-caption a, .video-caption a:hover {top: 25%;}
}

/*** Email Subscribe Landing Page ***/
@media screen and (max-width: 1399px) {
#subscribe-right-col {bottom: 18%; right: 5%;}
#subscribe-wrapper.spring2016 #subscribe-right-col {top:50%; left: 56%; width:39%;}
#subscribe-wrapper.spring2016 #subscribe-right-col h2 {font-size: 16px; line-height: 24px; padding-left: 15px;}
#subscribe-wrapper.spring2016 #subscribe-right-col .consent {margin:0.18em 0 0 0}
#subscribe-wrapper.spring2016 .new-only {bottom: 0; left: 53%; width: 45%; font-size: 12px; line-height: 18px;}
}
@media screen and (min-width: 1400px) {
#subscribe-right-col {bottom: 27%;right: 5%;}
#subscribe-wrapper.spring2016 #subscribe-right-col {top:53%; left: 56%; width: 39%;}
#subscribe-right-col h1, #subscribe-right-col h2  {font-size: 18px; line-height: 24px;}
#subscribe-wrapper.spring2016 #subscribe-right-col .consent {margin:1em 0 0 0}
#subscribe-wrapper.spring2016 .new-only {bottom: 1%; left: 58%; width: 35%; font-size: 12px; line-height: 18px;}
}
@media screen and (max-width: 768px) {
#subscribe-right-col {bottom: -1%; right: 5%;}
#subscribe-wrapper.spring2016 #subscribe-right-col {top:53%; left: 56%; width: 42%;}
#subscribe-wrapper.spring2016 #subscribe-right-col h2 {font-size:12px; line-height:16px; padding-bottom:0;}
#subscribe-wrapper.spring2016 #subscribe-right-col .consent {margin: 2px 0 5px 0;}
#subscribe-wrapper.spring2016 .new-only {width: 38%; left: 57%; font-size: 11px; line-height: 14px;}
}

/*** Email Subscribe Thank You Page ***/
@media screen and (max-width: 1399px) {#thanks-right-col h1 {margin-top:2em;} #thanks-right-col h2 {font-size: 1.15em; line-height: 1.5em;}}
@media screen and (min-width: 1400px) {#thanks-right-col h1 {margin-top:8em;} #thanks-right-col h2 {font-size: 1.25em; line-height: 1.5em;}}
@media screen and (max-width: 768px) {
#thanks-right-col h1 {margin-top:1em;}
#thanks-right-col h2 {font-size: 1em; line-height: 1.25em;}
#thanks-right-col p {font-size: 16px;}
}

/*** Styles for PLCC Landing Page ***/
@media screen and (min-width: 1400px) {
.limitedTime {font-size: 1.7em !important; margin: 7px 0 -8px !important;}
.limitedTimePurch {font-size: 1.6em !important; margin-bottom: 15px !important;}
.limitedTimeApr {font-size: 1.2em !important;}
}

@media screen and (max-width: 1399px) {
.limitedTime {font-size: 1em !important; margin: 3px 0 -4px !important;}
.limitedTimePurch {font-size: 0.9em !important; margin: -10px 0 4px !important;}
.limitedTimeApr {font-size: 0.68em !important;}
}

/*** Place Shops Home Landing Page ***/
@media screen and (max-width: 1399px) {
  .ps-home-section {width: 47.7%;}
  #ps-home-subtitle {font-size: 1.4em;}
}
@media screen and (min-width: 1400px) {
  #ps-home-subtitle {font-size: 1.4em;}
}

/*** Gifting Options LP ***/
@media screen and (max-width: 1399px) {
  .go-col {width: 292px; display: table-cell; vertical-align: top;}
  #go-click-container {margin: 5% auto;}
  #go-squirrel {top: -17%; left: 1%; width: 21%;}
}
@media screen and (min-width: 1400px) {
  .go-col {width: 313px; display: table-cell; vertical-align: top;}
  #go-click-container {margin: 5% auto;}
  #go-squirrel {top: -28%; left: 13.5%;}
}

@media screen and (max-width: 1399px) {
    .plcc-offer-code-20150309 {right: 23%; top: 30%; font-size: 0.7em;}
}
@media screen and (min-width: 1400px) {
    .plcc-offer-code-20150309 {right: 23%; top: 36%; font-size: 1.1em;}
}

/*** Baby Center ***/
@media screen and (max-width: 1399px) {
    .baby-center-code {bottom: 26%; right: 13%; font-size: 1.3em;}
    .baby-center-sorry {font-size: 2em;}
}
@media screen and (min-width: 1400px) {
    .baby-center-code {bottom: 28%; right: 17%; font-size: 1.5em;}
    .baby-center-sorry {font-size: 3em;}
}

/*** Mobile App Landing Page ***/

@media screen and (max-width: 1399px) {
.tcp-iphone {top: 11%; left: 8%; width:250px;}
.top img {width:600px;}
#mobile-app-container .top {padding: 10px 0 0; }
.apple-button {width: 35.4%; padding: 3% 0 0 0;}
.google-button {width: 32.2%; padding: 3.3% 0 0;}
}

@media screen and (min-width: 1400px) {
.tcp-iphone {top: 5%; left: 13%;}
#mobile-app-container .top {padding: 100px 0 0; }
.apple-button {width: 42.4%; padding: 3% 0;}
.google-button {width: 38.2%; padding: 3% 0;}
}


@media screen and (max-width: 768px) {
.tcp-iphone {width:220px;}
.top img {width:450px;}
#mobile-app-container .left {width:220px;}
#mobile-app-container .right {width:500px;}
#mobile-app-container .top {padding:20px 0 0 0;}
}

/*** kids-baby-halloween-costumes 2015 ***/
@media screen and (min-width: 1400px) {
.halloween-2015-copy {font-size: 1.2em;}
.halloween-2015-copy p.link {margin-top: 25px;}
}

@media screen and (max-width: 1399px) {
.halloween-2015-copy {font-size: 0.8em;}
.halloween-2015-copy p.link {margin-top: 18px;}
}

/*** Back to School 2015 ***/
@media screen and (min-width: 1400px) {
#place-shop-school-2015 img.place-rules {top: 5%; width: 13.45%; right: 12.75%;}
.school-2015-copy {font-size: 1.4em; top: 59%;}
.school-2015-links {font-size: 0.9em; right: 4.8%; bottom: 7px; width: 295px;}
.school-2015-links span {float: left; width: 100%; margin-bottom: 6px;}
.school-2015-links ul {padding: 0px 0 38px; margin: 8px 0;}
.school-2015-links li.slash {padding: 0 10px;}
.school-2015-links li.s2 {display: none;}
.school-2015-links li.blink {clear: both;}
.school-2015-links li.blink, .school-2015-links li.s3, .school-2015-links li.bblink {margin: 5px 0 17px;}
}

@media screen and (max-width: 1399px) {
#place-shop-school-2015 img.place-rules {top: 5%; width: 10.45%; right: 15.75%;}
.school-2015-copy {font-size: 0.95em; top: 49%;}
.school-2015-links {font-size: 14px; right: 6.7%; bottom: 1%; width: 187px;}
.school-2015-links span {float: left; width: 100%; margin-bottom: 3px;}
.school-2015-links ul {padding: 0px 0 29px; margin: 5px 0;}
.school-2015-links li.slash {padding: 0 8px;}
.school-2015-links li.s2 {display: none;}
.school-2015-links li.blink {clear: both;}
.school-2015-links li.blink, .school-2015-links li.s3, .school-2015-links li.bblink {margin: 5px 0 17px;}
}

/*** Email Sign Up Lego ***/
@media screen and (max-width: 1399px) {
.subscribe-wrapper-lego {height:503px;}
.subscribe-right-col-lego {width: 42%; padding: 7% 2% 0;}
.subscribe-wrapper-lego .shop-today {font-size: 24px;line-height:30px;}
}

@media screen and (min-width: 1400px) {
.subscribe-wrapper-lego {height:720px;}
.subscribe-right-col-lego {width: 35%; padding: 10% 2% 0;}
.subscribe-wrapper-lego .shop-today {font-size: 24px;line-height:30px;}
}

@media screen and (min-width: 769px) {
.subscribe-wrapper-lego .consent {margin:2em 0 0 0;}
}

/*** PayPal Hol 2015 ***/
@media screen and (max-width: 1399px) {
.paypal-hol-2015-menu {bottom: 2%; right: 37%;}
.paypal-hol-2015-menu a {font-size: 14px;}
.paypal-hol-2015-menu span {font-size:14px;}
}

@media screen and (min-width: 1400px) {
.paypal-hol-2015-menu {bottom: 3%; right: 39%;}
.paypal-hol-2015-menu a {font-size: 18px;}
.paypal-hol-2015-menu span {font-size:14px;}
}

@media screen and (max-width: 768px) {
.paypal-hol-2015-menu {bottom: 0; right: 36%;}
.paypal-hol-2015-menu a {font-size: 12px;}
.paypal-hol-2015-menu span {font-size:11px;}
}

/*** Black Friday - Cyber Monday 2015 ***/
@media screen and (min-width: 1400px) {
.black-cyber-2015 {height: 642px;}
#subscribe-wrapper .black-cyber-2015-right-col {left: 25%;}
#subscribe-wrapper .black-cyber-2015-right-colh2 {font-size: 2em;}
}

@media screen and (max-width: 1399px) {
.black-cyber-2015 {height: 448px;}
#subscribe-wrapper .black-cyber-2015-right-col {left: 25%;}
#subscribe-wrapper .black-cyber-2015-right-col h2 {font-size: 1.3em;}
}

@media screen and (max-width: 769px) {
.black-cyber-2015 {height: 341px;}
.black-cyber-2015 .consent {position:absolute; bottom:18%; left:10%; margin:10% 0 0.5% 0;}
}

/*** Size Chart from Footer ***/

 @media screen and (max-width: 1399px) {
  .sizechart-footer-lp .top-table-copy {width: 75%; margin-top: 13px;}
  .sizechart-footer-lp table.size-chart, .sizechart-footer-lp table.big-kids {width: 75%;}
  .sizechart-footer-lp .leftnav {margin-top: 5px;}
  .sizechart-footer-lp .chart-note {margin-left: 25%;}
  .sizechart-footer-lp .shoe-chart {width: 85%; margin: 2% 0 0 20%;}
}

@media screen and (min-width: 1400px) {
  .sizechart-footer-lp .top-table-copy {width: 80%; margin-top: 13px;}
  .sizechart-footer-lp table.size-chart, .sizechart-footer-lp table.big-kids {width: 80%;}
  .sizechart-footer-lp .leftnav {margin-top: 5px;}
  .sizechart-footer-lp .chart-note {margin-left: 20%;}
  .shoe-chart {width: 89%; margin: 2% 0 0 16%;}
}

@media screen and (max-width: 768px) {
  .sizechart-footer-lp .pageTitle {margin-top: 15px !important;}
  .sizechart-footer-lp .top-table-copy {width: 68%; margin-top: 21px;}
  .sizechart-footer-lp table.size-chart, .sizechart-footer-lp table.big-kids {width: 68%; margin-top: 20px;}
  .sizechart-footer-lp .leftnav {margin-top: 13px;}
  .sizechart-footer-lp .chart-note {margin-left: 30%;}
  .sizechart-footer-lp .shoe-chart {width: 80%; margin: 2% 0 0 25%;}
}

/*** SEO Copy ***/
.inventory-copy {float: left; padding: 20px 3px;}
.inventory-copy h1 {font-size: 0.675em; padding-bottom: 5px;}
.inventory-copy p {padding: 7px 0; font-size: 0.65em; line-height: 1.5em;}

/*** 404 Landing Page ***/
#error-container {color: #333;}
#error-container h1, #error-container h2, .error-options a {color: #ed008e !important;}
.error-col ul, .error-options ul .error-row a {color: #666 !important;}

@media screen and (min-width: 1400px) {
#error-container {background: url('/wcsstore/GlobalSAS/images/tcp/common/404-1400-v2.jpg') bottom right no-repeat;}
#error-container-inner {padding: 2% 45% 0 0;}
}

@media screen and (max-width: 1399px) {
#error-container {background: url('/wcsstore/GlobalSAS/images/tcp/common/404-1399-v2.jpg') top right no-repeat;}
#error-container-inner {padding: 2% 45% 0 0;}
}

@media screen and (min-width: 769px) {
.error-col {width: 48%;}
}

.shops-wrapper .leftNav {background:none;}

/*affiliate landing page */
.affiliates {text-align:center; margin: 10px auto; width:62%; font-size:16px; font-family:"AvenirMedium", Arial, Helvetica, sans-serif;}
.affiliates img {width:100%;}
.affiliates h1 {margin:15px 0 0; font-size:16px; font-weight:normal;}
.affiliates p {margin:15px 0; line-height:26px; padding:0;}
.affiliates li {text-align:left; margin-bottom:8px; line-height:26px;}
.affiliates p.affiliate-title {color:#ec0089; text-transform:uppercase; margin:40px 0 10px 0; font-size:22px; font-family:"AvenirHeavy", Arial, Helvetica, sans-serif;}
.affiliate-apply a {
	color: #FFFFFF;
    background-color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    width: 150px;
    line-height: 42px;
    outline: thin dotted;
    /* padding: 0 10px; */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    box-sizing: border-box;
}

.affiliate-apply a:hover {background-color:#666;}

/*resuable place shop menu class*/
@media screen and (max-width: 1399px) {
.place-shop-internal-menu li a {font-size:16px;}
/*.inventory-content .productLarge {width: 207px !important;}*/
}

@media screen and (min-width: 1400px) {
.place-shop-internal-menu li a {font-size:18px;}
/*.inventory-content .productLarge {width: 171px !important;}*/
}

@media screen and (max-width: 768px) {
.place-shop-internal-menu li a {font-size:14px;}
.place-shop-internal-menu li img {width:150px;}
/*.inventory-content .productLarge {width: 163px !important;}*/
}