<!-- BEGIN TCPShippingAddressDisplay.jsp -->
	<script type="text/javascript">
		dojo.addOnLoad(function() {
			console.debug("addressId= " + "11355262");
			console.debug("mode= " + "");
		});
	</script>

	
	<span id="nickNameUnion" style="display:none">#46 Oakhaven Dr.#</span>
		
		<!-- BEGIN TCPShippingAddressDisplay.jspf --><!-- Set the country and state display name to the country and state codes respectively. This is in case the display name is not found. --><!-- Retrieve the country display name from the country code --><!-- Retrieve the state display name from the state code -->
<form id='shopcartAddressForm' name='shopcartAddressForm'>
	<input type="hidden" name="storeId" value="10152" id="WC_ShopcartAddressFormDisplay_inputs_1"/>
	<input type="hidden" name="catalogId" value="10552" id="WC_ShopcartAddressFormDisplay_inputs_2"/>
	<input type="hidden" name="langId" value="-1" id="WC_ShopcartAddressFormDisplay_inputs_3"/>
	<input type="hidden" name="authToken" value="230106090%2cvYa78M3xG4tEPX0INANjQyd9y%2bc%3d" id="WC_ShopcartAddressFormDisplay_inputs_authToken" />
	
			<input type="hidden" name="email1" value="TCPPERF_CA2_4511.59588864@CHILDRENSPLACE.COM" id="email1" />
		<!-- we need to pass addressType only when we are creating..otherwise its not needed -->
		<input type="hidden" name="addressType" value="SB" id="TCPaddressType"/>
		<input type="hidden" name="originalAddressType" value="SB" id="TCPoriginalAddressType"/>
		
			<input type="hidden" name="addressId" value="11355262" id="TCPaddressId"/>
			<input type="hidden" id="nickName" name="nickName" value='46 Oakhaven Dr.'/>
	


	<input type="hidden" id="AddressForm_FieldsOrderByLocale" value="NICK_NAME,first_name,LAST_NAME,ADDRESS,CITY,COUNTRY/REGION,STATE/PROVINCE,ZIP,phone1,EMAIL1"/>    
		<!-- BEGIN TCPShippingAddress.jspf -->
                   
					<div class="row">
				<div class="fieldset-twoCol">
						
						<input type="hidden" name="avsAddressId" value="11355262" />
						<div style="display:none" id="addressJson-11355262">{
						"firstName":"Joe",
						"lastName":"User",
						"address1":"46 Oakhaven Dr.",
						"address2":"Suite 7",
						"city":"Scarborough",
						"state":"ON",
						"zipCode":"M1V 1X9",
						"country":"CA",
						"errorMessage":"The new address infomation you entered is the same as the previous one.Please check them or click the button &#039;CANCEL&#039; below to  go back.",
						"phone1":"7324521220"
						}</div>  
                        <label class="field">First Name <span class="required">*</span></label>
                  		<input id="firstName" name="firstName" type="text" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'firstName');" onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'firstName');AddressHelper.handleShipAddressChangeEvent(this.form);" value="Joe">
                  		<input id="ofirstName" name="ofirstName" type="hidden" value="Joe">
                        <label class="label-error"></label>
                        </div>
                        		<div class="fieldset-twoCol">
                        		<label class="field">Last Name <span class="required">*</span></label>
                                  <input id="lastName" name="lastName"  onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'lastName');"  onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'lastName');AddressHelper.handleShipAddressChangeEvent(this.form);" type="text" value="User">
                                  <input id="olastName" name="olastName"  type="hidden" value="User">
                                  <label class="label-error"></label>
                                  </div>
                                  </div>
                             
                                  <div class="row">
                                  	<div class="fieldset-twoCol">
                        		<label class="field">Address Line 1 <span class="required">*</span></label>
                                 
										<input id="address1" name="address1" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'address1');" onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'address1'); AddressHelper.handleShipAddressChangeEvent(this.form);" type="text" value="46 Oakhaven Dr." />
									
                                  <input id="oaddress1" name="oaddress1" type="hidden" value="46 Oakhaven Dr.">
                                  <label class="label-error"></label>
                                  </div>
     
                                  	<div class="fieldset-twoCol">
                        		<label class="field">Address Line 2</label>
                                  <input id="address2" name="address2" type="text" value="Suite 7" onchange='JavaScript:AddressHelper.handleShipAddressChangeEvent(this.form); 
									
								  '>
                                  <input id="oaddress2" name="oaddress2" type="hidden" value="Suite 7">
                                  <label class="label-error"></label>
                                  </div>
                                  </div>
                                  
                                  <div class="row">
                                  <div class="fieldset-twoCol">
                        		<label class="field">City <span class="required">*</span></label>
                              <input id="city" name="city" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'city');" onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'city');AddressHelper.handleShipAddressChangeEvent(this.form);" type="text" value="Scarborough">
                              <input id="ocity" name="ocity" type="hidden" value="Scarborough">
                              <label class="label-error"></label>
                                  </div>
							<div  id="stateDiv" class="fieldset-twoCol challenge-select">
								<label class="field" id="stateLabel">State / Province <span class="required">*</span></label>
																	
											<select class="drop_down_country" id="WC_TCPShippingAddress_FormInput_state" name="state" onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'WC_TCPShippingAddress_FormInput_state');AddressHelper.handleShipAddressChangeEvent(this.form); 
											
											">
												<option value="">Select a State / Province</option>
												
													<option value="AB" 
														
													>
														Alberta
													</option>
												
													<option value="BC" 
														
													>
														British Columbia
													</option>
												
													<option value="MB" 
														
													>
														Manitoba
													</option>
												
													<option value="NB" 
														
													>
														New Brunswick
													</option>
												
													<option value="NL" 
														
													>
														Newfoundland
													</option>
												
													<option value="NT" 
														
													>
														Northwest Territory
													</option>
												
													<option value="NS" 
														
													>
														Nova Scotia
													</option>
												
													<option value="NU" 
														
													>
														Nunavut
													</option>
												
													<option value="ON" 
														
															selected="selected"
														
													>
														Ontario
													</option>
												
													<option value="PE" 
														
													>
														Prince Edward Island
													</option>
												
													<option value="QC" 
														
													>
														Quebec
													</option>
												
													<option value="SK" 
														
													>
														Saskatchewan
													</option>
												
													<option value="YT" 
														
													>
														Yukon
													</option>
												
											</select>
										
									
								<label id="label-error" class="label-error"></label>
	                            <input id="ostate" name="ostate" type="hidden" value="ON">
							</div>

                                  </div>
                                  
                             			<div class="row">
                                        <div class="fieldset-twoCol">
		
<span id="usefulCodes" style="display:none">[PGND, PEXP]</span>
<span id="usefulFullCodes" style="display:none">[PGND_8, PEXP_15]</span>
                                        
                        		<label class="field">ZIP / Postal Code <span class="required">*</span></label>
                               <input id="ozipCode" name="ozipCode" type="hidden"  value="M1V 1X9">
                               
								
                               			<input id="addressField3" name="addressField3" type="text"  onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'addressField3');" value="M1V 1X9" onchange="JavaScript:setCurrentId('addressField3');if (AddressHelper.performZipValidation(this.form,true)){JavaScript:document.getElementById('zipCode').value=this.value;AddressHelper.checkZipCodeJurist(this.value)};AddressHelper.handleShipAddressChangeEvent(this.form);">
                               		
								
                               <input id="oaddressField3" name="oaddressField3" type="hidden"  value="M1V 1X9">
                               <input type="hidden" id="IsZipMandatory" name="IsZipMandatory" value="true"/> 
                               <input type="hidden" id="zipCode" name="zipCode" value="M1V 1X9"/> 
                               <label class="label-error"></label>
                                  </div>
                                 
        
                             
                                        <div class="fieldset-twoCol  challenge-select">
                        		<label class="field">Country <span class="required">*</span></label>
                            			  <select class="drop_down_checkout" id="WC_TCPShippingAddress_FormInput_country" name="country"  onchange="javascript:AddressHelper.loadStatesUI('shopcartAddressForm','','stateDiv','WC_TCPShippingAddress_FormInput_state');InternationalShippingJS.updateShipTo();AddressHelper.handleShipAddressChangeEvent(this.form);">											  	  
													
																	<option selected="selected"  value="CA">
																		Canada
																	</option>
																
											</select>
											<div>
											</div>
											Not Shipping to <span id = "conValue" name = "conValue" value="">Canada</span>
											<a class="openModalIShipping" id="shipTool" onclick="javascript:InternationalShippingJS.loadShipPopUp('https://tcp-perf.childrensplace.com/shop/TCPIShippingView?catalogId=10552&amp;fromPage=shipping&amp;langId=-1&amp;storeId=10152');">
											Click Here</a>
										
											<label class="label-error"></label>
											
												   
													  <input type="hidden"  name="ocountry" id="ocountry" value="CA">  
												    
                                  </div>
                    				</div>
                                    
  
	                              
                             			<div class="row">
                                        
                                              <div class="fieldset-twoCol">
                        		<label class="field">Phone Number<span class="required">*</span></label>
                                 <input id="phone1" name="phone1" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'phone1'); AddressHelper.handleShipAddressChangeEvent(this.form);" type="text" value="7324521220">
                                 <input id="ophone1" name="ophone1" type="hidden" value="7324521220">
                                 <label>Used to look up your account in store. Mobile number preferred.</label>
                                 <label class="label-error"></label>
                                  </div>
                                  
	                                  <div class="fieldset-twoCol" style="display:none">
	                                        <a class="button-grey shippingPage" href="JavaScript:setCurrentId('WC_ShopcartAddressFormDisplay_links_1');AddressHelper.saveShippingAddress('AjaxUpdateAddressForPerson', 'shopcartAddressForm', 'address1');"  id="WC_ShopcartAddressFormDisplay_links_1">+ Add to Address Book</a>
	                                        <label class="label-error"></label>
	                                  </div>
                                  
                    				</div>
                    			<input type="hidden" value="0" id="shippingOnLoad" />	
                                 <input id="address3" name="address3" type="hidden" value="">
											<script type="text/javascript">
											if(isUniformScriptSupported()){
												$("#stateDiv select").uniform();
												$("#WC_TCPShippingAddress_FormInput_country").uniform();
											}
											
												
											</script>
											
<!-- END TCPShippingAddress.jspf -->
</form>		
<!-- END TCPShippingAddressDisplay.jspf --><!-- END TCPShippingAddressDisplay.jsp -->