<!-- BEGIN TCPSingleShipmentOrderTotalsSummary.jsp -->

<script type="text/javascript">
	dojo.addOnLoad(initDiscountDetails);
	
	function initDiscountDetails(){	
		
		if(document.getElementById("discountDetailsSection")!=null )  {
			document.getElementById("discountDetailsSection").style.display = "block";
		}
	}
</script>


	<div id="promotions" class="coupon-code">
		<!-- BEGIN TCPPromotionCodeDisplay.jsp -->

<script type="text/javascript">
       dojo.addOnLoad(function() {
              
              MessageHelper.setMessage("PROMOTION_CODE_EMPTY", "Please enter the promotional code");
              MessageHelper.setMessage("PROMOTION_UNAPPLICABLE_MESSAGE", "This code is not applicable"); 
		ServicesDeclarationJS.setCommonParameters('-1','10152','10552');
       });
</script>

 

<script type="text/javascript">
       dojo.addOnLoad(initPromotionAssets); 
       
       function initPromotionAssets(){
                     
       }

</script>

 <form name="PromotionCodeForm" id="PromotionCodeForm" method="post" action="https://tcp-perf.childrensplace.com/shop/PromotionCodeManage?catalogId=10552&amp;langId=-1&amp;storeId=10152" onsubmit="javascript: return false;">
        

       <input type="hidden" name="orderId" value="634267769" id="WC_PromotionCodeDisplay_FormInput_orderId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="taskType" value="A" id="WC_PromotionCodeDisplay_FormInput_page_In_PromotionCodeForm_1"/>
       <input type="hidden" name="URL" value="" id="WC_PromotionCodeDisplay_FormInput_URL_In_PromotionCodeForm_1"/>
       <input type="hidden" name="storeId" value="10152" id="WC_PromotionCodeDisplay_FormInput_storeId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="catalogId" value="10552" id="WC_PromotionCodeDisplay_FormInput_catalogId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="langId" value="-1" id="WC_PromotionCodeDisplay_FormInput_langId_In_PromotionCodeForm_1"/>
       <input type="hidden" name="finalView" value="AjaxOrderItemDisplayView" id="WC_PromotionCodeDisplay_FormInput_finalView_In_PromotionCodeForm_1"/>
       <input type="hidden" name="fromPage" value="shippingPage"/>
       
       
		       <div class="coupon-code">
		         <span class="bag-title">have a coupon code?</span> 
		         <span>
		         	<!-- BEGIN ContentAreaESpot.jsp --><!-- ###############  Espot name: Coupon_Help_Espot ######################-->

<span class="genericESpot" id="WC_ContentAreaESpot_div_1_20651">

            <span class="ad" id="ad_20651">
          <a title="coupon help" class="openModal" href="/wcsstore/GlobalSAS/images/tcp/html/shopping_bag_couponHelp.html">need help?</a> 

            </span>
        


</span>

<!-- END ContentAreaESpot.jsp -->
				</span>
		         
		         <div class="coupon-input" id="WC_PromotionCodeDisplay_div_2">
		         <input type="text" class="input" size="6" name="promoCode" id="promoCode" onkeypress="if(event.keyCode==13) JavaScript:CheckoutHelperJS.applyPromotionCode('PromotionCodeForm','')"/>
		          <a class="button-orange" href="#" onclick="JavaScript:setCurrentId('WC_PromotionCodeDisplay_links_1'); CheckoutHelperJS.applyPromotionCode('PromotionCodeForm','');return false;" class="button_text" id="WC_PromotionCodeDisplay_links_1">
		                   <font color='#FFFFFF'>Apply Code</font>
		           </a>	
		         </div>
		         			<div class="clear"></div>
		                              <label for="promoCodeErrorLabel" id="promoCodeErrorLabel" class="label-error" style="display:none"></label>
		        
		        </div>
       		
       
       <br clear="left" />

</form>
<!-- END TCPPromotionCodeDisplay.jsp -->
	</div>



<div id="total_breakdown" class="order-summary">
	
        	<span class="bag-title order-summary-title">order summary</span>
		
	<div class="bag-total" id="order_total" cellpadding="0" cellspacing="0" border="0" summary="This table contains order summary information about your order. It contains order subtotal, total discount applied to the order, tax, shipping, shipping tax, and order total information of your order.">
		
		
		
		
		<div class="total-row"> 
			<span class="label-left" id="WC_SingleShipmentOrderTotalsSummary_td_1">subtotal:</span>
			<span class="label-right" id="WC_SingleShipmentOrderTotalsSummary_td_2">$43.69</span>
			<div class="clear"></div>
		</div>
		
	
			<div class="total-row">
				
						<span class="label-left" id="WC_SingleShipmentOrderTotalsSummary_td_7">estimated shipping:</span>
					
				<span class="label-right" id="WC_SingleShipmentOrderTotalsSummary_td_8">$0.00</span>
				<div class="clear"></div>
			</div>	
		
			<div class="total-row">
				<span class="label-left">shipping tax: </span> <span class="label-right">$0.00</span> <div class="clear"></div>  
				  
			</div>
			
							
							<div class="total-row">
								<span class="label-left">HST: </span> <span class="label-right">$2.18</span> <div class="clear"></div> 
							</div>
					
		<div class="total-row estimate">
			
					<span class="label-left" id="WC_SingleShipmentOrderTotalsSummary_td_9">estimated total:</span>
				
					<span class="label-right-estimate" id="WC_SingleShipmentOrderTotalsSummary_td_10">$45.87</span>
				
			<div class="clear"></div>
		</div>
		
 			<div class="tax-message">(Actual tax will be calculated when your order is processed)</div>
		
	</div>
	<!-- start reward points display--><!--BEGIN TCPTotalRewardPoints.jspf--><!--END TCPTotalRewardPoints.jspf--><!-- end reward points display-->
</div>

<input type="hidden" value="" id="tealiumPromoCode"/>


<script>
(function(){
		try {
			var theURL        = document.location.href;
			
			var omniturePage = '';
			if (theURL.indexOf("TCPOrderShippingView") > 0) {
				utag_data.page_department = "shipping";
				
				if(omniturePage != null && '' != omniturePage){
					utag_data.event_name = 'user_login';
				}
			} else {
				if (theURL.indexOf("OrderBillingView") > 0) {
					utag_data.page_department = "payment";		
				} else {
					if (theURL.indexOf("TCPSingleShipmentOrderSummaryView") > 0) {
						utag_data.page_department = "review";			
					}
				}
			}
			
			utag_data.page_type = 'checkout';
			utag_data.sc_page_type = 'checkout';
			
		} catch (err) {
			console.error(err.message);
		}	
})();
</script><!-- END TCPSingleShipmentOrderTotalsSummary.jsp -->