/* =============================================================================
HTML5 Boilerplate CSS: h5bp.com/css
========================================================================== */

* {
    margin: 0px;
    padding: 0px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #222;
}
html,
body {
    /* height: 100%; */
    min-height: 100%;
    width: 100%;
}
body {
    margin: 0;
    font-size: 1em;
    font-family: "AvenirBook", Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}
a,
a:visited {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #333;
    text-decoration: underline;
}
a:hover,
a:active {
    outline: 0;
}
:focus {
    outline: 1px dotted #333;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before,
q:after {
    content: "";
    content: none;
}
small {
    font-size: 85%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 20px;
}
dd {
    margin: 0 0 0 40px;
}
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
img {
    border: 0 none;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
label {
    cursor: default;
}
legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button,
input {
    line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
}
input:valid,
textarea:valid {} input:invalid,
textarea:invalid {
    background-color: #f0dddd;
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td {
    vertical-align: top;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
}
/* =============================================================================
Generic reusable classes
========================================================================== */

.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.clear_both {
    line-height: 1px;
    font-size: 1px;
    clear: both;
}
.on {
    display: block;
}
.off {
    display: none;
}
/* =============================================================================
Skip Navigation
========================================================================== */

#skip-link a {
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
}
#skip-link a:active,
#skip-link a:focus {
    background-color: #444444;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: auto;
    overflow: visible;
    padding: 3px 5px 5px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: auto;
    z-index: 5;
}
/* =============================================================================
Site  Breadcrumbs
========================================================================== */

.site-breadcrumbs {
    display: inline-block;
    line-height: 45px;
    font-size: .8125em;
}
.site-breadcrumbs ul {
    margin: 0;
    padding: 0;
}
.site-breadcrumbs ul li {
    list-style-type: none;
    display: inline;
}
.site-breadcrumbs ul li a {
    text-decoration: none;
    text-transform: capitalize;
}
.site-breadcrumbs ul li a:hover {
    text-decoration: underline;
}
.site-breadcrumbs ul li a:after {
    content: "\00a0>";
    display: inline-block;
}
.site-breadcrumbs ul li:last-child a:after {
    content: "";
}
.current-crumb {
    color: #cd0089;
    font-weight: bold;
    text-transform: capitalize;
}
/* =============================================================================
Site buttons
========================================================================== */

.button-orange,
.button-blue,
.button-grey,
.button-dark-grey {
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    outline: thin dotted;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    box-sizing: border-box;
}
.button-orange {
    background-color: #F39319;
    background-image: -moz-linear-gradient(center top, #F39319, #E67601);
}
.button-blue {
    background-color: #01A1D2;
    background-image: -moz-linear-gradient(center top, #19BAEB, #01A1D2);
}
.button-grey {
    background-color: #767676;
    background-image: -moz-linear-gradient(center top, #767676, #B3B3B3);
}
.check-balance .button-grey, .check-balance .button-blue{
    padding-top: 1px;
}
.button-dark-grey {
    background-color: #333;
    background-image: -moz-linear-gradient(center top, #666, #333);
}
.button-orange:link,
.button-blue:link,
.button-grey:link,
.button-dark-grey:link,
.button-orange a:link,
.button-blue a:link,
.button-grey a:link,
.button-dark-grey a:link {
    color: #ffffff;
    text-decoration: none;
}
.button-orange:visited,
.button-blue:visited,
.button-grey:visited,
.button-dark-grey:visited,
.button-orange a:visited,
.button-blue a:visited,
.button-grey a:visited,
.button-dark-grey a:visited {
    color: #ffffff;
    text-decoration: none;
}
.button-orange:hover,
.button-orange a:hover {
    background-color: #E67601;
    background-image: -moz-linear-gradient(center top, #E67601, #F39319);
    text-decoration: none;
    color: #fff;
}
.button-blue:hover,
.button-blue a:hover {
    background-color: #19BAEB;
    background-image: -moz-linear-gradient(center top, #01A1D2, #19BAEB);
    text-decoration: none;
    color: #fff;
}
.button-grey:hover,
.button-grey a:hover {
    background-color: #B3B3B3;
    background-image: -moz-linear-gradient(center top, #B3B3B3, #C6C6C6);
    text-decoration: none;
    color: #fff;
}
.button-orange a:active,
.button-blue a:active,
.button-grey a:active,
.button-dark-grey a:active {
    color: #ffffff;
    text-decoration: none;
}
/* =============================================================================
Non-Semantic Helper Classes
========================================================================== */

.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    *line-height: 0;
}
.ir br {
    display: none;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.off-screen {
    position: absolute;
    left: -5000px;
    top: 0;
    overflow: hidden;
}
/* =============================================================================
Background image that goes behind each page template
========================================================================== */

.template-bg {
    clear: both;
    display: block;
    margin: 0 auto;
    position: relative;
    background-size: 100%;
    background-color: #fff;
    overflow: hidden;
    min-height: 300px;
    /*border-left:1px solid #e4e3e3;
border-right:1px solid #e4e3e3;
border-bottom:1px solid #e4e3e3;*/
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* =============================================================================
Page level errors
========================================================================== */

.page-error {
    background-color: #FFFFFF;
    border: 3px solid #CC0000;
    color: #CC0000;
    font-size: 1em;
    margin: .75em auto;
    padding: 5px 0;
    text-align: center;
    vertical-align: middle;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
}
/*promotion errors in cart and checkout*/

.label-error-promo {
    color: #C00;
    padding: 2px 0;
    display: block;
}
#error_outofstock,
.product-selection-error {
    color: #CC0000;
}
/* =============================================================================
Nav Styles
========================================================================== */

.nav-content img {
    border: solid thin #ccc;
}
/* Product recommendations */

.product-recommendations {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 90%;
}
#recommendations-slider li p {
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;
}
#recommendations-slider li p a{
    color: #333;
    font-size: 13px;
    font-family: "AvenirMedium";
    font-weight: normal;
}

#recommendations-slider li p span.former-price-rec{
    color: #666;
    font-size: .75em;
}
.product-name a {
    font-weight: normal;
    color: #666;
    font-size: 13px;
}
.product-image img {
    margin: 0 auto;
}
.product-image a {
    display: block;
}
/* Homepage, my account recommendations container */

#WC_CQ_Container_HomePage,
#WC_CQ_Container_MyAccount {
    margin: 1em 0 0 0;
}
/* Product reviews and recommendations */

.section-title {
    font-size: 1.25em;
        font-family: "AvenirMedium";
    text-transform: uppercase;
}
.quick-view a {
    color: #333;
    font-size: .75em;
}
.regular-price-rec {
    color: #333;
}
.sale-price-rec,
.bogo-price-rec {
    color: #990000;
   }
.former-price-rec {
    font-weight: 400;
    font-size: .75em;
    color: #666;
    font-style: normal;
}
/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    *zoom: 1;
}
@media screen and (max-width: 1399px) {
    .bx-wrapper {
        width: 98%;
    }
}
@media screen and (min-width: 1400px) {
    .bx-wrapper {
        width: 100%;
    }
}
.bx-wrapper img {
    max-width: 100%;
    display: block;
}
/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    background: #fff;
    /*fix other elements on the page moving (on Chrome)*/
    
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}
/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(http://www.childrensplace.com/wcsstore/GlobalSAS/images/tcp/place_shops/2014-fall-denim/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}
/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}
/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 0;
    background: url(http://www.childrensplace.com/wcsstore/GlobalSAS/images/tcp/homepage/US/place-shops-slider/controls.png) no-repeat 0 0;
}
.bx-wrapper .bx-next {
    right: 0;
    background: url(http://www.childrensplace.com/wcsstore/GlobalSAS/images/tcp/homepage/US/place-shops-slider/controls.png) no-repeat -31px 0;
}
.bx-wrapper .bx-prev:hover {
    background-position: 0 -31px;
}
.bx-wrapper .bx-next:hover {
    background-position: -31px -31px;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -31px;
    outline: 0;
    width: 31px;
    height: 31px;
    text-indent: -9999px;
    z-index: 51;
}
.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}
/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(/wcsstore/GlobalSAS/images/tcp/place_shops/2014-fall-denim/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(/wcsstore/GlobalSAS/images/tcp/place_shops/2014-fall-denim/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}
/* =============================================================================
Print Styles
========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    /* Black prints faster: h5bp.com/s */
    
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    /* Don't show links for images, or javascript/internal links */
    
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    /* h5bp.com/t */
    
    tr,
    img {
        page-break-inside: avoid;
    }
    /*img { max-width: 100% !important; }*/
    
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    div {
        display: block;
        margin: 15px 0;
    }
}
#print-logo {
    display: none;
}
#toolbar-lang-wrapper {
    float: left;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    position: relative;
    right: 15px;
}
#toolbar-lang-wrapper ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#toolbar-lang-wrapper ul li {
    display: inline;
}
.ui-dialog .ui-resizable-se {
    display: none !important
}
.ui-dialog .ui-dialog-titlebar {
    padding: 5px !important;
    margin-bottom:15px;
}
.ESpotInfo_popup {
    display: none !important
}
#tool-tip {
    position: absolute;
    border: 1px solid #333;
    background: #f7f5d1;
    padding: 2px 5px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}
.web-only {
    margin: 1em 0;
}
/* =============================================================================
SEO H1/Body Contents
========================================================================== */

.body-copy {
    color: #666;
    margin: .5em 0;
    display:inline-block;
}
.body-copy h1,
.body-copy h2 {
    font-size: 13px;
    padding-bottom: 5px;
    text-transform: capitalize;
}
.body-copy p {
    padding: 7px 0;
    font-size: 11px;
    line-height: 16px;
}
.body-copy ul li {
    font-size: 11px;
    line-height: 16px;
}
.hp-body {
    margin-top: 15px;
}
.hp-body,
.dp-body {
    color: #666;
}
.dp-body {
    border-top: 1px solid #ccc;
    margin: 10px 0;
    padding-top: 15px;
}
.hp-body h1,
.dp-body h1 {
    font-size: 0.675em;
    padding-bottom: 5px;
}
.hp-body p,
.dp-body p {
    padding: 7px 0;
    font-size: 0.65em;
    line-height: 1.5em;
}
/*Online-only badge styling*/

#online-only-icon {
    margin: 5px 0 20px 0;
}
#online-only-icon span {
    font-weight: bold;
    margin-left: .25em;
}
@font-face {
    font-family: "font-icons";
    src: url("/wcsstore/GlobalSAS/css/tcp/icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.svg");
    src: url("/wcsstore/GlobalSAS/css/tcp/icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.eot?#iefix") format("embedded-opentype"), url("/wcsstore/GlobalSAS/css/tcp/icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.woff") format("woff"), url("/wcsstore/GlobalSAS/css/tcp/icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.ttf") format("truetype"), url("/wcsstore/GlobalSAS/css/tcp/icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.svg#fontcustom") format("svg");
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "font-icons";
        src: url("/wcsstore/GlobalSAS/css/tcp/icons/fontcustom_782646ec7465a6b751c61aa5f0cb47e1.svg#fontcustom") format("svg");
    }
}
#toolbar-wishlist, #ropis-wrapper-popover, #toolbar-rewards, #toolbar-reward-points {
    float: left;
}
#toolbar-rewards {
    position: relative;
}
a.wishlist-cta, a#ropis-popover, a.rewards-popover, a.rewards-points {
    font-family: 'AvenirBook';
    float: left;
    line-height: 20px;
    margin: 12px 10px 0 0;
    padding: 0 10px 0 0px;
    text-transform: uppercase;
    font-weight: bold;
    border-right: 1px solid #ccc;
}
a.wishlist-cta:before {
    content: "\f108";
    font-family: font-icons;
    display: inline-block;
    margin-right: 5px;
    font-size: 15px;
    position: relative;
    top: 1px;
    color: #ca0088;
}
a.wishlist-cta:before {
    display: none;
}
#shopping-bag #amt {
    display: none;
}
#bvseo-aggregateRatingSection {
    display: none;
}
#bvseo-paginationSection {
    display: none;
}

#rewards-popover-details{
    display: none;
    position: absolute;
    top: 40px;
    left: -197px;
    width: 390px;
    height: 107px;
    z-index: 1000;
    padding: 10px;
    background: #fff;
    border: solid 1px #666;
}

#rewards-popover-details:before{
    position: absolute;
    top: -40px;
    height: 40px;
    width: 90px;
    background: transparent;
    opacity: 0;
    content: "";
    left: 175px;
}

#rewards-popover-details>.content:after{
    top: -6px;
    left: 50%;
    content: " ";
    border-width: 10px;
    border-top-width: 0;
    display: inline-block;
    position: absolute;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    background: #fff;
}

#rewards-popover-details.visible {
    display: block;
}


@font-face {
  font-family: 'AvenirBook';
  src: url("fonts/AvenirLTStd-Book.eot");
  src: url("fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Book.woff") format("woff"), url("fonts/AvenirLTStd-Book.ttf") format("truetype"), url("fonts/AvenirLTStd-Book.svg#AvenirBook") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirMedium';
  src: url("fonts/AvenirLTStd-Medium.eot");
  src: url("fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Medium.woff") format("woff"), url("fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("fonts/AvenirLTStd-Medium.svg#AvenirMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* CQ recommendations styles */
/* #WC_CQ_Container_PDP .quick-view a { display: none; } */
/*#recommendations-slider li p.product-price, .mm_recommend p.product-price {display:none;}*/

/* hide MPR points calculator*/
.points-could-earn, .bonuspoints {display:none!important;}
/*
*GENERIC ESPOT PARAGRAPH SIGNUP
*/
.signup-optin #ad_67657 p {
    margin-top: -26px;
}

#myPlace_Rewards {
    text-align: center;
}

#global-marketing-banner {
    display: inline-block;
    position: relative;
	margin:0 0 10px 0;
}

#global-marketing-banner #myPlace-rewards-close {
    position: absolute;
    background: #000;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    font-size: 0;
    padding: 5px;
    border: #000 1px solid;
}

#global-marketing-banner #myPlace-rewards-close:before {
    font-family: icons;
    font-size: 8px;
    content: "\f10e";
    color: #FFF;
    border-radius: 50%;
}

#global-marketing-banner img {
    width: 1375px;
}

@media screen and (max-width: 1399px) {
    #global-marketing-banner img {
        width: 960px;
    }
    
    #global-marketing-banner #myPlace-rewards-close {
        top: 9px;
        right: 9px;
        padding: 3px;
    }
    
    #global-marketing-banner #myPlace-rewards-close:before {
        font-size: 8px;
    }
}