/* =============================================================================
   MessageArea
   ========================================================================== */
 
#MessageArea {
    display: none;
    left: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999;
}
#MessageArea {
    display: none;
    padding: 0 0 0 10px;
}
div.msgpopup1 {
    
}
/* -----------------------------------------------------------------------------*/
/* 31.QUICK INFO POPUP
/* -----------------------------------------------------------------------------*/
 /*-- SECOND LEVEL CATEGORY POPUP START --*/
#second_level_category_popup_main_div, #requisition_list_popup_main_div, .multiple_wishlist_popups_div .cancel_subscription_popups_div {
	display:none;
}

#second_level_category_popup, #requisition_list_popup, .multiple_wishlist_popup .cancel_subscription_popup{
	width: 498px;
	position: absolute;
	display:block;
	z-index: 9999;
	background-image: url('../images/colors/color1/transparent.gif');
	background-repeat:no-repeat;
	overflow: hidden;
}

#second_level_category_popup iframe{
	display:none;
	display: block;
	position: absolute;
	filter:mask();
	width: 498px;
	height: 498px;
	top: 0px;
	z-index: -1;
}

#requisition_list_popup .top_left{
	background-image: url('../../images/colors/color1/popup_topleft.png');
	background-repeat:no-repeat;
	height:10px;
	width:8px;
	float:left;
}

#second_level_category_popup .top_left, .multiple_wishlist_popup .top_left, .invitationDialog .top_left, .coshopHelp .top_left, .cancel_subscription_popup .top_left{
	background-image: url('../../images/colors/color1/popup_topleft.png');
	background-repeat:no-repeat;
	height:10px;
	width:8px;
	float:left;
}

#requisition_list_popup .top_right{
	background-image: url('../../images/colors/color1/popup_topright.png');
	background-repeat:no-repeat;
	background-position:right;
	height:10px;
	width:490px;
	float:left;
}

#second_level_category_popup .top_right, .multiple_wishlist_popup .top_right, .invitationDialog .top_right, .coshopHelp .top_right, .cancel_subscription_popup .top_right{
	background-image: url('../../images/colors/color1/popup_topright.png');
	background-repeat:no-repeat;
	background-position:right;
	height:10px;
	width:490px;
	float:left;
}

#second_level_category_popup .button_margin {
	margin: 7px 0 0 2px;
}

#requisition_list_popup .header, .invitationDialog .header, .coshopHelp .header {
	background-image: url('../../images/colors/color1/popup_center_tile.png');
	background-repeat:repeat-y;
	text-align: right;
	height: 23px;
	clear:left;
}

#second_level_category_popup .header{
	background-image: url('../../images/colors/color1/popup_center_tile.png');
	background-repeat:repeat-y;
	text-align: right;
	height: 23px;
	clear:left;
}
#second_level_category_popup .close, #requisition_list_popup .close ,.multiple_wishlist_popup .close, .cancel_subscription_popup .close {
	padding: 5px 15px 2px 0px;
	color: #666666;
}
#second_level_category_popup .close .icon, #requisition_list_popup .close .icon , .multiple_wishlist_popup .close .icon, .cancel_subscription_popup .close .icon{
	padding-top: 2px;
	padding-left: 4px;
	float: right;
}
#second_level_category_popup .bodycontent, #requisition_list_popup .bodycontent, .invitationDialog .bodycontent, .coshopHelp .bodycontent{
	background-image: url('../../images/colors/color1/popup_center_tile.png');
	background-repeat:repeat-y;
	margin: 0;
	padding: 0 0 15px 0;
}
#second_level_category_popup .bodycontent div.clear_float, #requisition_list_popup .bodycontent div.clear_float, .multiple_wishlist_popup .bodycontent div.clear_float, .cancel_subscription_popup .bodycontent div.clear_float{
	clear: both;
}
#second_level_category_popup .bodycontent .title ,#requisition_list_popup .bodycontent .title {
	padding: 0 17px 0 15px;

}
#second_level_category_popup .bodycontent h2, #requisition_list_popup .bodycontent h2 {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
#second_level_category_popup .bodycontent h1 ,#requisition_list_popup .bodycontent h1 {
	font-size: 10px;
}
#second_level_category_popup .bodycontent .purchase_details, #requisition_list_popup .bodycontent .purchase_details {
	background-image: url('../../images/colors/color1/popup_stripe.png');
	background-repeat:repeat-y;
	margin-top: 5px;
	padding: 0 0 0 18px;
		width:475px;
}
#second_level_category_popup .bodycontent .purchase_details .purchase_price {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 190px;
	padding-top: 9px;
}
#second_level_category_popup .bodycontent .purchase_details .purchase_price span {
	font-size: 13px;
	font-weight: normal;
	text-decoration: line-through;
}
#second_level_category_popup .bodycontent .purchase_details .purchase_quanitity {
	padding-top: 3px;
	padding-bottom: 6px;
	width: 285px;
	float: right;
}
#second_level_category_popup .bodycontent .purchase_details .purchase_quanitity .order_button{
	vertical-align: middle;
	
}
#second_level_category_popup .bodycontent .purchase_details .purchase_quanitity label {
	font-weight: bold;
	vertical-align: middle;
}
#second_level_category_popup .bodycontent .purchase_details .purchase_quanitity .quantity {
	background-color: #ffffff;
	font-size: 10px;
	margin-right: 4px;
	margin-top: 8px;
	vertical-align: middle;
	width: 35px;
}
#second_level_category_popup .bodycontent .purchase_details .purchase_quanitity span.primary_button {
	color: #fff;
	vertical-align: middle;
	--margin-top: 8px;
}
#second_level_category_popup .bodycontent .product_details {
	padding: 15px 24px 0 18px;
}
#second_level_category_popup .bodycontent .product_details a {
	color: #0055ad;
}
#second_level_category_popup .bodycontent .product_details .product_visual {
	float: left;
	width: 190px;
	text-align: center;
}
#second_level_category_popup .bodycontent .product_details .product_visual img.product_image {
	padding: 0 0 15px 0;
}
div>img.product_image {
	height:160px;
    width:160px;	
}
#second_level_category_popup .bodycontent .product_details .product_visual p {
	text-align: left;
}
#second_level_category_popup .bodycontent .product_details .product_information{
	width:265px;
	float:right;
}
#second_level_category_popup .bodycontent .product_details .product_information p {
	font-weight: bold;
}
#second_level_category_popup .bodycontent .product_details .product_information select {
	background-color: #ffffff;
	font-size: 10px;
	width: 99%;
}
#second_level_category_popup .bodycontent .product_details .product_information p.product_description {
	font-weight: normal;
	margin-top: 10px;
}
#second_level_category_popup .bodycontent .product_details .product_information ul.product_actions {
	list-style: none;
	margin: 15px 0 0 0;
}
#second_level_category_popup .bodycontent .product_details .product_information ul.product_actions li a{
	margin: 0 0 5px 0;
	display: block;
}
#second_level_category_popup .bodycontent_short {
	padding: 12px 17px 12px 15px;
	margin: 0px 1px 0px 1px;
}
#second_level_category_popup .footer, #requisition_list_popup .footer, .multiple_wishlist_popup .footer, .invitationDialog .footer{
	text-align: right;
	height: 14px;
	width: 498px;
}
.cancel_subscription_popup .footer{
	text-align: right;
	height: 14px;
	width: 325px;
}
#second_level_category_popup .footer .bot_left, #requisition_list_popup .footer .bot_left, .multiple_wishlist_popup .footer .bot_left,.invitationDialog .bot_left, .cancel_subscription_popup .footer .bot_left,
.coshopHelp .bot_left
{
	background-image: url('../../images/colors/color1/popup_botleft.png');
	background-repeat:no-repeat;
	height:14px;
	width:8px;
	float:left;
}
#second_level_category_popup .footer .bot_right, #requisition_list_popup .footer .bot_right, .multiple_wishlist_popup .footer .bot_right, .invitationDialog .bot_right, .cancel_subscription_popup .footer .bot_right,
.coshopHelp .bot_right
{
	background-image: url('../../images/colors/color1/popup_botright.png');
	background-repeat:no-repeat;
	background-position:right;
	height:14px;
	width:490px;
	float:left;
}
#productActions{
	padding-bottom:10px;
}
/*-- SECOND LEVEL CATEGORY POPUP END --*/

/* -----------------------------------------------------------------------------*/
/* 32.FREE GIFTS POPUP
/* -----------------------------------------------------------------------------*/
/*-- FREE GIFTS POPUP START --*/
div.free_gifts_block {
	float:left;
	/*width:759px;*/	
}
#free_gifts_popup_main_div {
	display:none;
}
#free_gifts_popup {
	width: 498px;
	position: absolute;
	display:block;
	z-index: 9999;
	background-image: url('../../images/colors/color1/transparent.gif');
	background-repeat:no-repeat;
	overflow: hidden;
}
#free_gifts_popup .top_left{
	background-image: url('../../images/colors/color1/popup_topleft.png');
	background-repeat:no-repeat;
	height:10px;
	width:8px;
	float:left;
}
#free_gifts_popup .top_right{
	background-image: url('../../images/colors/color1/popup_topright.png');
	background-repeat:no-repeat;
	background-position:right;
	height:10px;
	width:490px;
	float:left;
}
#free_gifts_popup .header {
	background-image: url('../../images/colors/color1/popup_center_tile.png');
	background-repeat:repeat-y;
	text-align: right;
	height: 23px;
	clear:left;
}
#free_gifts_popup .close {
	padding: 5px 15px 2px 0px;
	color: #666666;
}
#free_gifts_popup .close .icon{
	padding-top: 2px;
	padding-left: 4px;
	float: right;
}

#free_gifts_popup .bodycontent {
	background-image: url('../../images/colors/color1/popup_center_tile.png');
	background-repeat:repeat-y;
	margin: 0;
	padding: 0 0 15px 0;
}
#free_gifts_popup .bodycontent div.clear_float {
	clear: both;
}
#free_gifts_popup .bodycontent .title {
	padding: 0 17px 0 15px;
}
#free_gifts_popup .bodycontent h2 {
	font-size: 14px;
	font-weight: bold;
	margin: 0 10px;
	padding: 0;
}
#free_gifts_popup .bodycontent input {
	background: none;
	border: none;
	float: left;
	margin-right: 10px;
}
#free_gifts_popup .bodycontent div#radio_choices {
	padding: 8px 17px 0 15px;
}
	div#radio_choices div {
		margin-bottom: 6px;
	}
	
		div#radio_choices div input {
			margin: 0;
			vertical-align: top;
		}

#free_gifts_popup .bodycontent div#free_gifts_table {
	padding: 0 0 0 15px;
	height: 260px;
	width: 466px;
	overflow-y: auto;
	overflow-x: hidden;
}

	/*div#free_gifts_table div.gifts_wrapper {
		padding-bottom:10px;
		text-align:center;
		border-top: 1px solid #c6d0dc;
	}*/
	
		div.gifts_wrapper div.gift_item_container {
			display:inline-block;
			float:left;
			width:50%;
		}

			/*div.gift_item_container div.selection {
				float: left;
				padding: 34px 5px 6px 5px;
				width: 25px;
			}
			
			div.gift_item_container div.image {
				float: left;
				padding: 6px 5px;
				width: 80px;
			}*/
			
			div.gift_item_container div.product_info { 
				/*float: left;*/
				padding: 6px 10px;
				/*width: 50%;
				text-align: left;*/
 			} 
 			div.gift_item_container div.product_info label{
	 			font-weight: bold;
				font-size: 14px;
				line-height: 2;
 			}
 			
 			div.gift_item_container div.product_info h2 { 
		        font-size: 10px !important; 
            } 
			
			div.gift_item_container div.price { 
				float: left; 
				padding: 6px 50px; 
				text-align: left; 
				width: 50px; 
			}
			
#free_gifts_popup .bodycontent div.strip_bar {
	/*background-color: #d8e8f8;*/
	text-align:center;
	height: 30px;
	margin-top: 5px;
	margin-left: 1px;
	padding: 8px 0 0 15px; 
    width:477px; 
}
#free_gifts_popup .bodycontent p.status_message,
#free_gifts_popup .bodycontent p.error { 
	padding: 0 16px; 
}
#free_gifts_popup .bodycontent .error { 
color: #e70000; 
}
#free_gifts_popup .footer {
	text-align: right;
	height: 14px;
	width: 498px;
}
#free_gifts_popup .footer .bot_left{
	background-image: url('../../images/colors/color1/popup_botleft.png');
	background-repeat:no-repeat;
	height:14px;
	width:8px;
	float:left;
}
#free_gifts_popup .footer .bot_right{
	background-image: url('../../images/colors/color1/popup_botright.png');
	background-repeat:no-repeat;
	background-position:right;
	height:14px;
	width:490px;
	float:left;
}
/*-- FREE GIFTS POPUP END --*/





/* -----------------------------------------------------------------------------*/
/* 27.PROGRESS BAR
/* -----------------------------------------------------------------------------*/
/* For the element containing the actual progress bar */
#progress_bar {
	position: absolute;
	z-index: 9999;
	display: none;
}
/* For the dialog containing the progress bar element */
#progress_bar_dialog {
	position: absolute;
	z-index: 9999;
	display:none;
}
/* Progress bar dialog background */
.dijitDialogUnderlay {
	display: none;
}

#loading_popup {
	width:59px;
	
}
#loading_popup .top_left{}

#loading_popup .top_right{}

#loading_popup .header {
	background-image: url('../../images/colors/color1/popup_center_tile_mini.png');
	background-repeat:repeat-y;
	text-align: right;
	clear:left;
}
#loading_popup .close {
	padding: 5px 15px 2px 0px;
	color: #666666;
}
#loading_popup .close .icon{
	padding-top:2px;
	padding-left:4px;
	float:right;
}
/*#loading_popup .bodycontent {
	background-color: transparent;
	background-image: url('../../images/colors/color1/popup_center_tile_mini.png');
	background-repeat:repeat-y;
	background-position: right;
	padding:0 5px 0 5px;
	margin:0;
}*/
#loading_popup .bodycontent {
left: 45%;
    margin: 50px 0 0;
    position: absolute;
}
#loading_popup .bodycontent h2 {
	font-size: 14px;
	font-weight: bold;
}
#loading_popup .bodycontent p {
	margin: 3px 0 10px 2px;
}
#loading_popup .bodycontent div.form_2column {
	padding: 0;
}
#loading_popup .bodycontent_short {
	padding:12px 17px 12px 15px;
	margin:0px 1px 0px 1px;
}
#loading_popup .footer {
	text-align:right;
	height:20px;
	width:59px;
}
#loading_popup .footer .bot_left{}
#loading_popup .footer .bot_right{}


/* -----------------------------------------------------------------------------*/
/* check out process
/* -----------------------------------------------------------------------------*/
.no-stock {
    border: 2px solid red;
}


/* -----------------------------------------------------------------------------*/
/* email signup modal
/* -----------------------------------------------------------------------------*/

#email-signup-modal {
	border:2px solid #00acec;
	width:450px;
	position:relative;
	text-align:center;
	margin:0 auto;
}

#email-signup-modal form {
	width:100%;
	margin-top:1em;
}

#email-signup-modal form input {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	color: #666666;
	height: 32px;
	margin: 0 5px 0 0;
	outline: 0 none;
	padding: 0 5px;
	width: 50%;
}

#email-signup-modal .button-submit{
	border-radius: 0.25em 0.25em 0.25em 0.25em;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font: 1.1em BPreplayRegular,Arial,Helvetica,sans-serif;
	letter-spacing: 0.05em;
	background-color: #01A1D2;
	background-image: -moz-linear-gradient(center top , #19BAEB, #01A1D2);
	outline: medium none;
	padding: 0.2em 1.5em;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
}

.button-submit:link {color:#ffffff; text-decoration: none;}

.button-submit:visited {color:#ffffff; text-decoration: none;}

.button-submit:hover, .button-submit a:hover {
	background-color: #19BAEB;
	background-image: -moz-linear-gradient(center top , #01A1D2, #19BAEB);
	text-decoration: none;
	color:#fff;
}

.new-emails {
	color: #999;
	margin: 1.5em auto;
	width: 85%;
	font: .65em/1.25em Arial, Helvetica, sans-serif;
} 


.ui-dialog .ui-resizable-se{
display:none !important;
}

.autoSuggestContainer {
  width: 282px;
  margin-left: -11px;
  border: 1px solid #CCCCCC;
  border-bottom-left-radius: 10px;
  font-size: 1.4em;
  color: #0066a4;
  float: right;
  border-bottom-right-radius: 10px;
  z-index:1001;
  position:absolute;
  display:block;
  background:#fff;
}

.autoSuggestContainer ul li a:hover{
	text-decoration: underline;
	color: #c60a84;
}

.autoSuggestContainer .heading {
  font-size: 0.9em;
  background: #0080b2;
  color: #fff;
  padding: 5px;
}

.autoSuggestContainer .heading span{
	color:#fff;
}

.autoSuggestContainer .list_section > ul li .highlight, #suggestedKeywordResults > ul li strong{
	font-size: 1em;
	font-weight: bold;
	color: #c60a84;
	margin: 0;
}

.autoSuggestContainer .list_section > ul li, div#suggestedKeywordResults > ul li {
  font-size: 0.9em;
  padding: 3px;
}

.displayNone{
display: none;
}

#WC_TCPCachedHeaderDisplay_search_Div ul li{
	list-style: none;
}
	