@font-face {
  font-family: 'AvenirHeavy';
  src: url("fonts/AvenirLTStd-Heavy.eot");
  src: url("fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Heavy.woff") format("woff"), url("fonts/AvenirLTStd-Heavy.ttf") format("truetype"), url("fonts/AvenirLTStd-Heavy.svg#AvenirHeavy") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Header
================================================== */
#site-wrapper {margin: 0 auto;overflow: hidden;}
#header-wrapper {margin: 0 auto;}

/* Header - Toolbar
================================================== */
nav ul {list-style: none outside none;}
nav ul, nav li {margin: 0;}

#toolbar-wrapper {height: 44px; background-color:#f8f8f8;}

#toolbar {
text-align:center;
font-size:0.75em;
margin: 0 auto;
position: relative;}

.toolbar-links
{height: 44px;
line-height: 44px;
vertical-align: middle;
float:left;}
.toolbar-links .mpr{
	display: none;
}

nav.toolbar-links ul li {float:left; display:inline;}
nav.toolbar-links ul li {margin: 0 2.25em 0 0;}
nav.toolbar-links ul li#customer-name {margin:0 0.5em 0 0; font-weight: bold}
nav.toolbar-links ul li#customer-name:after {content: "/"; margin-left: 0.25em;}
nav.toolbar-links ul li.mpr {position:relative; margin:0 .3125em 0 0;}
nav.toolbar-links ul li.country-specific {margin:0 1em 0 0;}
nav.toolbar-links ul li.registry {display:none;}

.greeting{
	display: none
}

#tab-link{
	font-weight: bold;
}

.flag {margin: -.125em 0 0 .3125em; width:20px;}

.mpr img, img.flag{
display: inline;
}

.mpr-info {
border-right: 3px solid #f1f1f1;
border-left: 3px solid #f1f1f1;
border-bottom: 3px solid #f1f1f1;
display: none;
left: 0;
position: absolute;
top: 35px;
z-index: 1000;}	

li.mpr:hover .mpr-info {display:block;} /*show hidden popup about MPR program - future */

#toolbar-right {
    float:right !important;
    position: relative;
}

.toolbar-myplace-logo {
float:left;
background:url(../../images/tcp/header/myPlace_logo_small.png) no-repeat left center;
line-height:28px;
height:28px;
vertical-align:middle;
width:77px;
margin-right:1.875em;}

#toolbar-points {
float: left;
height: 44px;
line-height: 44px;
margin: 0 1em 0 0;
padding: 0;
vertical-align: middle;
}

#toolbar-points li {
list-style-type:none;
display: inline;
text-transform: uppercase;
font-weight: bold;
}

#toolbar-points li img{
display: none;
}

.points-total{
margin:0 0 0 .25em;
border-right: 1px solid #ccc;
padding: .25em .75em .25em 0;
}

.points-total:before{
	content: "My ";
}

#toolbar-points:hover .points-total, #toolbar-points:hover .points-total:before {
    text-decoration: underline;
}

.points-border {
border-right: 1px solid #ccc;
width:15px;
margin:10px 15px 6px 0;
float:left;}

.current-language {font-weight:bold;}

 /* Header - Toolbar - Shopping Bag
================================================== */
#shopping-bag {
float:left;
padding: 0;
margin-right:1em;}

#shopping-bag-count
{background:url(../../images/tcp/header/toolbar_shopping_bag_blue.png) no-repeat left center;
height:27px;
width:27px;
float:left;
padding-top: .5em;
margin-top:5px;}

#shopping-bag-count a:link, #shopping-bag-count a:visited {color:#ffffff;}

/*Make whole bag clickable */
.shopping-bag-counter {float: left; padding-top: 0.125em;}

.shopping-bag-counter span {
display: block;
position: relative;
top: 7px;
height:100%;}

.shopping-bag-counter a:link, .shopping-bag-counter a:visited {color: #FFFFFF;}
	
.shopping-bag-checkout {
float:left;
vertical-align:middle;}

.checkout {
    margin: 5px 0 5px 10px;
    background-color: #333;
    background-image: none;
    float: right;
}

.checkout:hover {background-color:#666; background-image:none;}

 /* Header - Logo
================================================== */
header #tcp-logo-header {float: left; padding:0;}

 /* Center Row, with logo, promo banners and search
================================================== */
#middle-row {
display: block;
margin: 0 auto;
padding: 0.75em 0; /* 12px / 16px */}
	
/*Promo Banners */
.promo-banner-top {float:left;}
	
/* Site Search */
.search
{width: 282px;
border: 1px solid #CCCCCC;
background-color:#fff;
color:#0066a4;
font-size:0.75em;  /* 12px / 16px */
float:right;}
		
.search > div:first-child {
padding:1px 25px 0 10px;
display:block;
width:100%;
height:30px;}
	
.search span {margin: 0 5px 0 0; color:#0072CE;}
	
input.searchBox {
background-color: transparent;
border: 0 solid #cbcbcb;
color: #666666;
max-width: 100%;
outline: 0 none;
padding: 0 5px 0 10px;
text-transform: capitalize;
width: 82%;
height: 30px;
vertical-align: middle;
line-height: 30px;
}
	
.btn-search {
background: url(../../images/tcp/header/search_icon_grey.gif) no-repeat;
height: 19px;
margin: 0;
width: 19px;
border:0;
vertical-align: middle;
}

.lt-ie9 .btn-search {position:relative;}
/* Nav Row
================================================== */
#nav-row {
position:relative;
z-index:940;
margin:10px auto 0;
border-bottom:1px solid #ccc;
box-sizing:border-box;}

.lt-ie8 #nav-row {
position:relative;
z-index:999;
margin:0 auto;
height:auto;}

#primary-nav > ul > li {
display: inline-block;
height: 45px;
line-height: 39px;
vertical-align: middle;
position: relative;
background:#fff;}

#primary-nav > ul > li > a {color:#666;}

#primary-nav > ul > li:hover > a, #primary-nav > ul > li.nav-item-focus > a{
color:#ca0088;
text-decoration:none;
}

.lt-ie8  #primary-nav > ul > li:hover > a, #primary-nav > ul > li.nav-item-focus > a  {
text-decoration:none;
color:#ca0088;
background:#fff;}


#primary-nav > ul > li> a > span.nav-sizes {
color: #333;
display: none;
cursor: pointer;
font-size: 11px;
line-height: 20px;
position: relative;
top: -14px;
}

#primary-nav > ul > li:hover > a > span.nav-sizes, #primary-nav > ul > li.nav-item-focus > a > span.nav-sizes {
	display: block; margin:0; padding:0;
}

#primary-nav > ul > li.placeShops {
position:absolute;
right:0;
margin: 0;
height:45px;
background-position: left top;
background-repeat: no-repeat;
background-size: cover;
bottom:1px;
}

#primary-nav > ul > li.placeShops:hover {background-position:left bottom;}

#primary-nav > ul > li.placeShops > a {
display:block;
color:#fff;
margin-left:-9999px;}

 /* Nav Drop Downs
================================================== */
.nav-content, .nav-content-placeShops, .nav-content-singleCol {	
position:absolute;
left:0;
margin:0;
background-color:#fff;
display:none;
float:left;
-webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.75);
box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.75);}

.nav-content {	
width:320px;
top:45px;
height:auto;
border-top:3px solid #ca0088;}

.lt-ie8 .nav-content {	
width:320px;
top:45px;
height:auto;
padding:5px 0}

.placeShops-menu {
left:auto; /* reset left:0; value */
right:0; /* Set right value instead */
width:300px;
}

.nav-content, .nav-content-singleCol, .nav-content-placeShops {font-size:12px;}

.nav-content-singleCol {
position:absolute;
left:0;
margin:0;
padding:10px 10px 10px 15px;
display:none;
float:left;
width:125px;
top:45px;
z-index:10;
border-top:3px solid #ca0088;}

.nav-content-placeShops {
position:absolute;
left:0;
margin:0;
padding:10px 10px 10px 15px;
background:#ffffff;
display:none;
width:auto;
height:200px;
float:right;}

.nav-content-left , .nav-content-right {width:150px; box-sizing:border-box;}

.nav-content-left {
	float: left;
    font-weight: bold;
    padding: 15px 10px 10px 20px;
    box-sizing: border-box;
	border-right: 1px solid #ccc;
}

.nav-row {clear:both; width:100%;}

nav#primary-nav .nav-content ul.menus, nav#primary-nav .nav-content-singleCol ul.menus {
float:left;
/*width: 100px;*/
padding:0;
color:#652d91;}

#primary-nav .nav-content ul.menus li, #primary-nav .nav-content-singleCol ul.menus li {
display:block;
float:left;
width:100%;
line-height:1.5em;
text-align:left;
color:#003065;
margin-bottom:.75em;
font-weight:normal;}

#primary-nav .nav-content ul.menus li a, #primary-nav .nav-content-singleCol ul.menus li a {color:#333; text-decoration:none;}

#primary-nav .nav-content ul.menus li a:hover, #primary-nav .nav-content-singleCol ul.menus li a:hover {text-decoration:underline; color:#c60a84;}

.shops {float:left; margin-right:10px;}

.clearance {color:#d70216;}

.nav-promo-banner {display:block;}

.nav-bold {font-weight:bold; margin-left:-5px;}

/* Prevents long links in the PlaceShop nav to wrap */
#primary-nav .placeShops .nav-content-left {padding: 10px 12px 10px 10px;}
#primary-nav .placeShops .nav-content ul.menus li {line-height:1.3em;}
nav#primary-nav .placeShops .nav-content ul.menus {width: 120px;}


/* Footer summer 2015 refresh
================================================== */
footer {margin:0 auto;}

.footer-wrap {
width:100%;
font-size:0.6875em;
font-family: Arial, Helvetica, sans-serif;
display:block;
position:relative;
padding-top: 2em;
color: #303030;}

.footer-row  {
width:100%;
border: -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box; 
overflow:hidden;
margin:0 auto 1em auto;
text-align:center;}

.footer-row-top {border-bottom: none; border-right: none; border-top: 1px solid #ccc; padding: 2em 0 1em;}
.footer-row-top-col, .footer-row-top-col-CA {float: left;}
.footer-row-top-col {width: 19.8%;}
.footer-row-top-col-CA {width: 33.2%;}
.footer-mpr {border-left: none;}
.footer-row-top a {color: #303030; display: block;}
.footer-row-top a:hover {text-decoration: none;}
.footer-row-top span {font-weight: bold;}
.banner-links a {margin-top:5px; font-size:12px;}
.banner-links a:hover {text-decoration: underline;}

.footer-row-mid {border: none; background: #f8f8f8; margin-bottom: 0;}
.footer-row-mid-col {width: 33%; float: left; position: relative;}
.footer-row-mid span {font-weight: bold;}
.footer-row-mid a.pink-button {color: #fff; background: #ca0088; padding: 10px; background-clip: padding-box;}
.footer-row-mid a.pink-button:hover {text-decoration: none;}
.footer-social-inner {margin: 0 auto; display: inline-block;}
.footer-social ul {list-style: none;}
.footer-social li {float: left; margin: 0 7px;}
.footer-social a {float: left; width: 100%; height: 100%;}
.footer-links {width: 100%; background: #f0f0f0; padding: 30px 0 15px;}
.footer-links-inner {margin: 0 auto;}
.links-column-first {margin: 0 0.5%;}
.links-column-last {margin: 0 0.5%;}

.links-column, .links-column-CA, .links-column-intl{float: left;}
.links-column ul, .links-column-CA ul, .links-column-intl ul  {padding:0; margin:0;}
.links-column ul li, .links-column-CA ul li, .links-column-intl ul li {display:block; margin:.5em 0;}
.links-column ul li a, .links-column-CA ul li a, .links-column-intl ul li a {color:#333; text-decoration:none; line-height: 1.5em;}
.links-column ul li a:hover, .links-column-CA ul li a:hover, .links-column-intl ul li a:hover {text-decoration: underline;}

.footer-title {
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:110%;}

#copyright {
clear: both;
text-align: center;
float: none;
padding-top: 15px;
top: 0;
width: 100%;
background: #f0f0f0;
position: relative;}	

#copyright span {margin-left:.625em;}

.footer-links, .footer-row-top, .footer-row-mid, #copyright {display: table;}


 /* Home page specific styles 
 ================================================== */
 img[usemap] {
border: none;
height: auto;
width: auto;}

#hp-wrapper-container .code-details {font-family: Arial, Helvetica, sans-serif;}
	
 /* Home page slider with right hand side banners
================================================== */	
#hp-wrapper-container {background:#fff; padding: .5em 0 0;}



.promo-banner-top .header-message-slide .slide01{font-family: Arial, Helvetica, sans-serif;}


 /* ================================================== MAX Width 768px ==================================================
========================================================================================================================== */
@media screen and (max-width: 768px) {
.promo-banner-top .header-message-slide .slide01 .copy {font-size: 16px; line-height: 20px;}
.promo-banner-top .header-message-slide .slide01 .code {font-size: 14px;}
.promo-banner-top .header-message-slide .slide01 .details {font-size: 11px;}

}

 /* ======================================== MIN Width 768px and MAX Width 1399px ========================================
 ========================================================================================================================= */
@media screen and (min-width: 768px) and (max-width: 1399px) {

/* Header - Toolbar */
#toolbar {max-width:960px; width:960px;}
.promo-banner-top .header-message-slide .slide01 .copy {font-size: 18px; line-height: 23px;}
.promo-banner-top .header-message-slide .slide01 .code {font-size: 14px;}
.promo-banner-top .header-message-slide .slide01 .details {font-size: 11px;}

}


 /* ================================================== MAX Width 1399px ==================================================
========================================================================================================================== */
@media screen and (max-width: 1399px) {

/* Header */
#site-wrapper, #header-wrapper {width:960px;}

/* Header - Toolbar */
#toolbar-right {float: left;}

/* Header - Toolbar - Shopping Bag */
#shopping-bag {float: right;}

.promo-banner-top {margin-top: .25em; width: 275px;}

 /* Header - Logo */
header #tcp-logo-header {width:10%; margin: 0 0 0 12%;}
header #tcp-logo-header a {background:url(../../images/tcp/header/tcp_logo.gif) no-repeat;display: block;overflow: hidden;position: relative;text-indent: -2000px;width:145px;height:92px;}

#middle-row {min-height: 90px;}

/* Site Search */
.search{margin:25px 0 0 0;}

/* Nav Row */
#primary-nav > ul > li {font-size: 13px;}
#primary-nav > ul > li.short {width:81px;}
#primary-nav > ul > li.long {width:115px;}
#primary-nav > ul > li.special:hover > a {text-decoration:none;color:#c60a84;background-color:#fff;width:75%;position:relative;}
#primary-nav > ul > li.placeShops {
background-image:url(../../images/tcp/header/btn_placeShops_dog_960.png);
width:140px;
}

/* Nav Drop Downs */
.placeShops-menu {width:272px;} /* Prevents long links in the PlaceShop nav to wrap */
.nav-content-left-singleCol {float:left;width: 125px;}
.nav-content-right {float:left;padding:15px 10px 10px 10px;}
.nav-content-right-shops {float:left; padding:0.625em 0 0.625em 1em;}
.nav-promo-banner img {margin-right:10px;}

/* Footer */
footer {width:960px;}
.footer-row {padding:1.5em 0;}
.footer-row-top {margin: 0;}
.footer-row-top-col, .footer-row-top-col-CA {font-size: 1.15em; padding: 0 0 1.3em;}
.footer-links-inner {width: 960px;}
.footer-social ul {padding: 0;}
.footer-row-mid span {font-size: 1.4em;}
.footer-row-mid a.pink-button {display: block; width: 110px; margin: 7px auto 0; font-size: 1.1em;}
.links-column {width: 17%; margin: 0 1%;}
.footer-links-inner .links-column-first {margin: 0 0 0 6%;}
.footer-links-inner .links-column-last {margin: 0 0 0 2%;}
.links-column-CA, .links-column-intl {width: 24%; margin: 0 0 0 9%;}


#site-wrapper {overflow: inherit;}
#hp-wrapper-container {width:960px;}
.code-details {font-size:0.75em;}
.col-mid {margin-left:403px;}
.links-overlay-alt ul {width: 39%;}
.code-details { left: 37%; top: 41%; font-size:12px;}
.code-details a {margin:0; font-size:10px;}
.code-details-us {font-size:11px; right: 67.5%; top: 47%;}
.code-details-ca {font-size: 0.65em;}
.store-coup {right: 16.3%; top: 60%;}
.outlet-coup {right: 3.3%; top: 60%;}


 /* US HP Main Center Hover Links 
 .hp-wrapper-container-us .coupon-links {font-size: 0.92em;}
.hp-wrapper-container-us .top-image .cycle-slideshow ul {font-size: 1.2em;} */

 /* US HP Main Center Webcode and DP Links - No Slider */
.hp-wrapper-container-us .coupon-links {font-size: 0.85em;}
.hp-wrapper-container-us .top-image .cycle-slideshow ul {font-size: 0.77em;}
/* .hp-wrapper-container-us .top-image .cycle-slideshow div {width: 56%; height: 489px;}     Strictly for animating girl 100115 */
/* .hp-wrapper-container-us .replay-button {font-size: 0.8em;}     Strictly for animating girl 100115 */

 /* CA HP Main Center Hover Links */
.hp-wrapper-container-ca .coupon-links {font-size: 0.85em;}
.hp-wrapper-container-ca .top-image .cycle-slideshow ul {font-size: 0.8em;}

} 

 /* ================================================== MIN Width 1400px ==================================================
========================================================================================================================== */
@media screen and (min-width: 1400px) {

/* Header */
#site-wrapper, #header-wrapper {width:1375px;}

/* Header - Toolbar */
#toolbar {max-width:1375px; width:100%;}

.promo-banner-top {margin-top: 1em; width: 303px;}
.promo-banner-top .header-message-slide .slide01 .copy {font-size: 18px; line-height: 23px;}
.promo-banner-top .header-message-slide .slide01 .code {font-size: 16px;}
.promo-banner-top .header-message-slide .slide01 .details {font-size: 11px;}

 /* Header - Logo */
header #tcp-logo-header {width: 13.085106%; margin: 0 0 0 21%;}
header #tcp-logo-header a {background:url(../../images/tcp/header/tcp_logo.png) no-repeat;display: block;overflow: hidden;position: relative;text-indent: -2000px;width:178px;height:113px;}

#middle-row {min-height: 113px;}

/* Site Search */
.search{margin:35px 0 0 0;}

/* Nav Row */
#primary-nav > ul > li {font-size: 18px;}
#primary-nav > ul > li.short {width:120px;}
#primary-nav > ul > li.long {width:180px;}
#primary-nav > ul > li:hover > a, #primary-nav > ul > li.nav-item-focus > a {width:75%;}
#primary-nav > ul > li:hover > a, #primary-nav > ul > li.nav-item-focus > a {width:80%;}
#primary-nav > ul > li.special:hover > a {text-decoration:none;color:#c60a84;background-color:#fff;width:70%;}	
#primary-nav > ul > li.placeShops {background-image:url(../../images/tcp/header/btn_placeShops_dog_1375.png); width:164px;}

/* Nav Drop Downs */
.placeShops-menu {top:46px;} /* Prevents long links in the PlaceShop nav to wrap */
.nav-content-left-singleCol {float:left; width: 125px;}
.nav-content-right {float:left; padding:15px 10px 10px 10px;}
.nav-content-right-shops {float:left; padding:10px 0 10px 16px;}
.nav-promo-banner img {margin-left:-5px;}

/* Footer */
footer {width: 1375px;}
.footer-row-top-col, .footer-row-top-col-CA {font-size: 1.5em; padding: 0 0 2%;}
.footer-row-mid {padding-bottom: 43px;}
.footer-row-mid-col {top: 27px;}
.footer-row-mid span {font-size: 1.7em;}
.footer-links-inner {width: 1375px;}
.footer-social-inner {width: 365px;}
.footer-social span, .footer-social ul {float: left;}
.footer-social ul {margin: -4px 0 0;}
.footer-row-mid a.pink-button {margin: 0 0 0 10px; font-size: 1.3em;}
.links-column {width: 17%;}
.footer-links-inner .links-column-first {margin: 0 0 0 10.85%;}
/*.footer-links-inner .links-column-last {margin: 0 3% 0 0;}*/
.links-column-CA, .links-column-intl {width: 23%; margin: 0 0 0 10%;}

#site-wrapper {overflow: inherit;}
#hp-wrapper-container {width:1375px;}
.col-mid {margin-left:577px;}
.links-overlay-alt ul {width: 47%;}
.links-overlay-alt {font-size:1.25em;}
.code-details {left: 37%; top: 44%;}
.code-details a {font-size:14px; margin-left:5px;}
.code-details-us {font-size:14px; right: 68%; top: 49%;}
.code-details-ca {font-size:0.9em;}
.store-coup {right: 16.9%; top: 60%;}
.outlet-coup {right: 3.8%; top: 60%;}

 /* US HP Main Center Hover Links 
.hp-wrapper-container-us .coupon-links {font-size: 1.3em;}
.hp-wrapper-container-us .top-image .cycle-slideshow ul {font-size: 1.3em;} */

 /* US HP Main Center Webcode and DP Links - No Slider */
.hp-wrapper-container-us .coupon-links {font-size: 1.3em;}
.hp-wrapper-container-us .top-image .cycle-slideshow ul {font-size: 1.1em;} 
/* .hp-wrapper-container-us .top-image .cycle-slideshow div {width: auto; height: 700px;}    Strictly for animating girl 100115 */
/* .hp-wrapper-container-us .replay-button {font-size: 1em;}    Strictly for animating girl 100115 */

/* CA HP Main Center Hover Links */
.hp-wrapper-container-ca .coupon-links {font-size: 1.3em;}
.hp-wrapper-container-ca .top-image .cycle-slideshow ul {font-size: 1.1em;}

}

@media screen and (max-width: 768px) {
.code-details {font-size: 12px; left: 38%; top: 0;}
.code-details a {font-size:9px; display:block;}
}


/*** Homepage Place Shops gallery ***/
@media screen and (max-width: 1399px) {
.place-shops-gallery {padding:.5em 2em 1em 2em;}
.place-shops-gallery .gallery-headline {width:375px;}
.place-shop-ribbon img {width:125px;}
#hp-slider .cycle-slideshow ul  {font-size: .875em;}
#hp-slider .cycle-slideshow ul.main-links-01 {bottom: 8% !important; left: 16% !important;}
}

@media screen and (min-width: 1400px) {
#hp-slider .cycle-slideshow ul  {font-size: 1.2em;}
}

@media screen and (max-width: 768px) {
.place-shops-gallery .gallery-headline {width:300px;}
.place-shops-gallery .gallery-see-all {width:100px;}
#hp-slider .cycle-slideshow ul  {font-size: .75em;}
#hp-slider .cycle-slideshow ul.main-links-01 {bottom: 7% !important;left: 15% !important;}
.show-coupon-details .code-details {font-size:.75em;}

#primary-nav > ul > li.placeShops {
background-image:url(../../images/tcp/header/btn_placeShops_dog_735.png);
}

}

/*** Homepage Arrows ***/
.cycle-prev, .cycle-prev:hover {left: 1px !important;}
.cycle-next, .cycle-next:hover {right: 1px !important;}

/**Page Overlay**/
#pageOverlay{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    z-index: 10000;
}

/**September 30 2016
.links-column-last li:nth-child(4), .footer-plcc {
    display: none;
}

.footer-row-top-col {
    width: 25%;
} **/