<!-- BEGIN TCPShippingAddressDisplay.jsp -->
	<script type="text/javascript">
		dojo.addOnLoad(function() {
			console.debug("addressId= " + "{addressIds_2}");
			console.debug("mode= " + "");
		});
	</script>

	
	<span id="nickNameUnion" style="display:none">#500 Plaza Drive#1244 FULTON ST#30 MALL DRIVE WEST#</span>
		
		<!-- BEGIN TCPShippingAddressDisplay.jspf --><!-- Set the country and state display name to the country and state codes respectively. This is in case the display name is not found. --><!-- Retrieve the state display name from the state code -->
<form id='shopcartAddressForm' name='shopcartAddressForm'>
	<input type="hidden" name="storeId" value="10151" id="WC_ShopcartAddressFormDisplay_inputs_1"/>
	<input type="hidden" name="catalogId" value="10551" id="WC_ShopcartAddressFormDisplay_inputs_2"/>
	<input type="hidden" name="langId" value="-1" id="WC_ShopcartAddressFormDisplay_inputs_3"/>
	<input type="hidden" name="authToken" value="230095596%2C9OWCfWxShX48z02hCK4rewqJhXw%3D" id="WC_ShopcartAddressFormDisplay_inputs_authToken" />
	
			<input type="hidden" name="email1" value="TCPPERF_US2_1949276161@CHILDRENSPLACE.COM" id="email1" />
		<!-- we need to pass addressType only when we are creating..otherwise its not needed -->
		<input type="hidden" name="addressType" value="SB" id="TCPaddressType"/>
		<input type="hidden" name="originalAddressType" value="SB" id="TCPoriginalAddressType"/>
		
			<input type="hidden" name="addressId" value="{addressIds_2}" id="TCPaddressId"/>
			<input type="hidden" id="nickName" name="nickName" value=''/>
	


	<input type="hidden" id="AddressForm_FieldsOrderByLocale" value="NICK_NAME,first_name,LAST_NAME,ADDRESS,CITY,COUNTRY/REGION,STATE/PROVINCE,ZIP,phone1,EMAIL1"/>    
		<!-- BEGIN TCPShippingAddress.jspf -->
                   
					<div class="row">
				<div class="fieldset-twoCol">
						
						<input type="hidden" name="avsAddressId" value="1485033041300" />
						<div style="display:none" id="addressJson-1485033041300">{
						"firstName":"",
						"lastName":"",
						"address1":"",
						"address2":"",
						"city":"",
						"state":"",
						"zipCode":"",
						"country":"",
						"errorMessage":"The new address infomation you entered is the same as the previous one.Please check them or click the button &#039;CANCEL&#039; below to  go back.",
						"phone1":""
						}</div>  
                        <label class="field">First Name <span class="required">*</span></label>
                  		<input id="firstName" name="firstName" type="text" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'firstName');" onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'firstName');AddressHelper.handleShipAddressChangeEvent(this.form);" value="">
                  		<input id="ofirstName" name="ofirstName" type="hidden" value="">
                        <label class="label-error"></label>
                        </div>
                        		<div class="fieldset-twoCol">
                        		<label class="field">Last Name <span class="required">*</span></label>
                                  <input id="lastName" name="lastName"  onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'lastName');"  onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'lastName');AddressHelper.handleShipAddressChangeEvent(this.form);" type="text" value="">
                                  <input id="olastName" name="olastName"  type="hidden" value="">
                                  <label class="label-error"></label>
                                  </div>
                                  </div>
                             
                                  <div class="row">
                                  	<div class="fieldset-twoCol">
                        		<label class="field">Address Line 1 <span class="required">*</span></label>
                                 
										<input id="address1" name="address1" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'address1');" onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'address1'), CheckoutHelperJS.displayShipMethods(this.value, document.getElementById('address1').value, document.getElementById('WC_TCPShippingAddress_FormInput_state').value); AddressHelper.handleShipAddressChangeEvent(this.form);" type="text" value="" />	
									
                                  <input id="oaddress1" name="oaddress1" type="hidden" value="">
                                  <label class="label-error"></label>
                                  </div>
     
                                  	<div class="fieldset-twoCol">
                        		<label class="field">Address Line 2</label>
                                  <input id="address2" name="address2" type="text" value="" onchange='JavaScript:AddressHelper.handleShipAddressChangeEvent(this.form); 
									
										CheckoutHelperJS.displayShipMethods(document.getElementById("address1").value, this.value, document.getElementById("WC_TCPShippingAddress_FormInput_state").value);
									
								  '>
                                  <input id="oaddress2" name="oaddress2" type="hidden" value="">
                                  <label class="label-error"></label>
                                  </div>
                                  </div>
                                  
                                  <div class="row">
                                  <div class="fieldset-twoCol">
                        		<label class="field">City <span class="required">*</span></label>
                              <input id="city" name="city" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'city');" onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'city');AddressHelper.handleShipAddressChangeEvent(this.form);" type="text" value="">
                              <input id="ocity" name="ocity" type="hidden" value="">
                              <label class="label-error"></label>
                                  </div>
							<div  id="stateDiv" class="fieldset-twoCol challenge-select">
								<label class="field" id="stateLabel">State / Province <span class="required">*</span></label>
																	
											<select class="drop_down_country" id="WC_TCPShippingAddress_FormInput_state" name="state" onchange="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'WC_TCPShippingAddress_FormInput_state');AddressHelper.handleShipAddressChangeEvent(this.form); 
											
												CheckoutHelperJS.displayShipMethods('', '', this.value);
											
											">
												<option value="">Select a State / Province</option>
												
													<option value="AL" 
														
													>
														Alabama
													</option>
												
													<option value="AK" 
														
													>
														Alaska
													</option>
												
													<option value="AS" 
														
													>
														American Samoa
													</option>
												
													<option value="AZ" 
														
													>
														Arizona
													</option>
												
													<option value="AR" 
														
													>
														Arkansas
													</option>
												
													<option value="AA" 
														
													>
														Armed Forces Americas
													</option>
												
													<option value="AE" 
														
													>
														Armed Forces Europe
													</option>
												
													<option value="AP" 
														
													>
														Armed Forces Pacific
													</option>
												
													<option value="CA" 
														
													>
														California
													</option>
												
													<option value="CO" 
														
													>
														Colorado
													</option>
												
													<option value="CT" 
														
													>
														Connecticut
													</option>
												
													<option value="DE" 
														
													>
														Delaware
													</option>
												
													<option value="DC" 
														
													>
														District of Columbia
													</option>
												
													<option value="FM" 
														
													>
														Federated States of Micronesia
													</option>
												
													<option value="FL" 
														
													>
														Florida
													</option>
												
													<option value="GA" 
														
													>
														Georgia
													</option>
												
													<option value="GU" 
														
													>
														Guam
													</option>
												
													<option value="HI" 
														
													>
														Hawaii
													</option>
												
													<option value="ID" 
														
													>
														Idaho
													</option>
												
													<option value="IL" 
														
													>
														Illinois
													</option>
												
													<option value="IN" 
														
													>
														Indiana
													</option>
												
													<option value="IA" 
														
													>
														Iowa
													</option>
												
													<option value="KS" 
														
													>
														Kansas
													</option>
												
													<option value="KY" 
														
													>
														Kentucky
													</option>
												
													<option value="LA" 
														
													>
														Louisiana
													</option>
												
													<option value="ME" 
														
													>
														Maine
													</option>
												
													<option value="MD" 
														
													>
														Maryland
													</option>
												
													<option value="MA" 
														
													>
														Massachusetts
													</option>
												
													<option value="MI" 
														
													>
														Michigan
													</option>
												
													<option value="MN" 
														
													>
														Minnesota
													</option>
												
													<option value="MS" 
														
													>
														Mississippi
													</option>
												
													<option value="MO" 
														
													>
														Missouri
													</option>
												
													<option value="MT" 
														
													>
														Montana
													</option>
												
													<option value="NE" 
														
													>
														Nebraska
													</option>
												
													<option value="NV" 
														
													>
														Nevada
													</option>
												
													<option value="NH" 
														
													>
														New Hampshire
													</option>
												
													<option value="NJ" 
														
													>
														New Jersey
													</option>
												
													<option value="NM" 
														
													>
														New Mexico
													</option>
												
													<option value="NY" 
														
													>
														New York
													</option>
												
													<option value="NC" 
														
													>
														North Carolina
													</option>
												
													<option value="ND" 
														
													>
														North Dakota
													</option>
												
													<option value="MP" 
														
													>
														Northern Mariana Islands
													</option>
												
													<option value="OH" 
														
													>
														Ohio
													</option>
												
													<option value="OK" 
														
													>
														Oklahoma
													</option>
												
													<option value="OR" 
														
													>
														Oregon
													</option>
												
													<option value="PW" 
														
													>
														Palau
													</option>
												
													<option value="PA" 
														
													>
														Pennsylvania
													</option>
												
													<option value="PR" 
														
													>
														Puerto Rico
													</option>
												
													<option value="RI" 
														
													>
														Rhode Island
													</option>
												
													<option value="SC" 
														
													>
														South Carolina
													</option>
												
													<option value="SD" 
														
													>
														South Dakota
													</option>
												
													<option value="TN" 
														
													>
														Tennessee
													</option>
												
													<option value="TX" 
														
													>
														Texas
													</option>
												
													<option value="VI" 
														
													>
														U.S. Virgin Islands
													</option>
												
													<option value="UT" 
														
													>
														Utah
													</option>
												
													<option value="VT" 
														
													>
														Vermont
													</option>
												
													<option value="VA" 
														
													>
														Virginia
													</option>
												
													<option value="WA" 
														
													>
														Washington
													</option>
												
													<option value="WV" 
														
													>
														West Virginia
													</option>
												
													<option value="WI" 
														
													>
														Wisconsin
													</option>
												
													<option value="WY" 
														
													>
														Wyoming
													</option>
												
											</select>
										
									
								<label id="label-error" class="label-error"></label>
	                            <input id="ostate" name="ostate" type="hidden" value="">
							</div>

                                  </div>
                                  
                             			<div class="row">
                                        <div class="fieldset-twoCol">
		
<span id="usefulCodes" style="display:none"></span>
<span id="usefulFullCodes" style="display:none"></span>
                                        
                        		<label class="field">ZIP / Postal Code <span class="required">*</span></label>
                               <input id="ozipCode" name="ozipCode" type="hidden"  value="">
                               
								
                               			<input id="addressField3" name="addressField3" type="text"  onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'addressField3');" value="" onchange="JavaScript:document.getElementById('zipCode').value=this.value;AddressHelper.handleShipAddressChangeEvent(this.form);">
                               		
								
                               <input id="oaddressField3" name="oaddressField3" type="hidden"  value="">
                               <input type="hidden" id="IsZipMandatory" name="IsZipMandatory" value="true"/> 
                               <input type="hidden" id="zipCode" name="zipCode" value=""/> 
                               <label class="label-error"></label>
                                  </div>
                                 
        
                             
                                        <div class="fieldset-twoCol  challenge-select">
                        		<label class="field">Country <span class="required">*</span></label>
                            			  <select class="drop_down_checkout" id="WC_TCPShippingAddress_FormInput_country" name="country"  onchange="javascript:AddressHelper.loadStatesUI('shopcartAddressForm','','stateDiv','WC_TCPShippingAddress_FormInput_state');InternationalShippingJS.updateShipTo();AddressHelper.handleShipAddressChangeEvent(this.form);">											  	  
													
																	<option selected="selected"  value="US">
																		United States
																	</option>
																
											</select>
											<div>
											</div>
											Not Shipping to <span id = "conValue" name = "conValue" value="">United States</span>
											<a class="openModalIShipping" id="shipTool" onclick="javascript:InternationalShippingJS.loadShipPopUp('https://tcp-perf.childrensplace.com/shop/TCPIShippingView?catalogId=10551&amp;fromPage=shipping&amp;langId=-1&amp;storeId=10151');">
											Click Here</a>
										
											<label class="label-error"></label>
											
												   
													  <input type="hidden"  name="ocountry" id="ocountry" value="US">  
												    
                                  </div>
                    				</div>
                                    
  
	                              
                             			<div class="row">
                                        
                                              <div class="fieldset-twoCol">
                        		<label class="field">Phone Number<span class="required">*</span></label>
                                 <input id="phone1" name="phone1" onkeydown="javascript:MessageHelper.tcpHideErrorHandleClientSpan(event,'phone1'); AddressHelper.handleShipAddressChangeEvent(this.form);" type="text" value="">
                                 <input id="ophone1" name="ophone1" type="hidden" value="">
                                 <label>Used to look up your account in store. Mobile number preferred.</label>
                                 <label class="label-error"></label>
                                  </div>
                                  
	                                  <div class="fieldset-twoCol" style="display:none">
	                                        <a class="button-grey shippingPage" href="JavaScript:setCurrentId('WC_ShopcartAddressFormDisplay_links_1');AddressHelper.saveShippingAddress('AjaxUpdateAddressForPerson', 'shopcartAddressForm', 'address1');"  id="WC_ShopcartAddressFormDisplay_links_1">+ Add to Address Book</a>
	                                        <label class="label-error"></label>
	                                  </div>
                                  
                    				</div>
                    			<input type="hidden" value="0" id="shippingOnLoad" />	
                                 <input id="address3" name="address3" type="hidden" value="">
											<script type="text/javascript">
											if(isUniformScriptSupported()){
												$("#stateDiv select").uniform();
												$("#WC_TCPShippingAddress_FormInput_country").uniform();
											}
											
												
											</script>
											
				
<script type="text/javascript">
	dojo.addOnLoad(function() { 
		$('#shippingOnLoad').attr('value',1);
		CheckoutHelperJS.displayShipMethods("", "", "");
	});          
</script>  
<!-- END TCPShippingAddress.jspf -->
</form>		
<!-- END TCPShippingAddressDisplay.jspf --><!-- END TCPShippingAddressDisplay.jsp -->