a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.block {
  display: block;
  float: left;
  position: relative; }

.hidden {
  display: none; }

@media screen and (max-width: 1399px) {
  .fullWidth {
    width: 960px; } }
@media screen and (min-width: 1400px) {
  .fullWidth {
    width: 1370px; } }

.right {
  float: right; }

.oneHundred {
  width: 100%;
  float: left; }

.leftAlign {
  text-align: left; }

.centerAlign {
  text-align: center; }

.imageSprite {
  background-position: 0 0;
  width: 100%;
  height: 100%;
  float: left; }
  .imageSprite:hover {
    background-position: 0 0; }

.borderTop {
  border-top: 1px solid #cccccc; }

.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

/*END CLASSES*/
/*SKINS*/
/*END SKINS*/
.content {
  margin: 0 auto;
  padding-bottom: 20px;
  float: none; }

.swatches {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 24px;
  width: 100%;
  overflow: hidden; }
  .swatches.overflowed {
    width: 90%;
    padding-right: 10%; }
  .swatches.open {
    width: 85%;
    padding: 5%;
    padding-right: 10%;
    margin-left: -1px;
    height: 48px;
    background-color: white;
    border: 1px solid #cccccc; }
    .swatches.open .swatchReveal {
      border: none;
      background-position: -1px -24px; }
  .swatches .swatch {
    width: 18px;
    height: 18px;
    padding: 2px;
    margin:0 .25em .5em 0;
    cursor: pointer;
    border: 1px solid #cccccc;
    border-color: #f9f4f1; }
    .swatches .swatch:hover {
      border-color: #b1b1b1; }
    .swatches .swatch.selected {
      border-color: #b1b1b1; }
    .swatches .swatch img {
      width: 100%;
      height: 100%;
      border: none; }
  .swatches .swatchReveal {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0 0 2px;
    border: 1px solid #cccccc;
    background-color: white;
    background-image: url("../../images/tcp/sub-category/plusminus.gif");
    background-position: -1px -1px;
    background-repeat: no-repeat; }
