.modal-content {font-size:0.75em; font-family:"AvenirBook", Arial, sans-serif;}

/* login modal
================================================== */
.loyalty-login {margin-left: 5%; width: 90%;}

.loyalty-login input {
max-width: 100%;
outline: 0 none;
width: 95%;
background-color: #FFFFFF;
border: 1px solid #CCCCCC;
height: 18px;
margin: 5px 0; 
padding: 5px 3px;
color: #999;}	
	
input.error-message {border:1px solid #cc0000;}
	
.fieldset {display:block; width:100%;}	

.fieldset,.login-noaccount {
margin: 0 0 2% 0;
clear: both;
float:left;}

.login-noaccount {
margin-top: 10px;
text-align: center;
width: 100%;}

.login-submit {float:right;}

.field-header {  
font-weight: bold;
height: 15px;
line-height: 15px;
margin: 0;
display:inline;}

.label-error {
color:#C00;
padding:2px 0;
display:block;}

.label-right-side {
display: inline;
float: right;
font-weight: normal;
height: 15px;
line-height: 15px;
text-align: right;
margin-right:3%;}

.label-right-side a, .login-noaccount a {text-decoration:underline; color:#008DDA;}

.required {color:#008DDA;}

.required-field {float:right; font-size:.6875em;}

.password-info {font-size: 90%;}

/* country selection modal
================================================== */
.country-selection {float:left; width:100%;}
 
.country-field {
display: block;
height: 15px;
line-height: 15px;
margin: 0;
font-size:1em;}
	
.country-field img {height: 10px;}	
	
.country-selection select {
background-color: #FFFFFF; 
border: 1px solid #CCCCCC;
clear: both;
color: #999999;
float: left;
font: 0.875em/1.5em Arial,Helvetica,sans-serif;
margin: 5px 0;
max-width: 100%;
outline: 0 none;
padding: 5px 2px 5px 1px;
width: 95%;
height:30px;
line-height:30px;}

.secondary-link {
display: table-cell;
float: left;
height: 35px;
line-height: 35px;
text-decoration: underline;
vertical-align: middle;
margin-left:.625em;}

.row {
clear: both;
margin: 5px 0 .625em 0;
overflow: hidden;}
	
.row .button-blue {font-size:1em; /*override modal-content font-size*/ float:left; padding-top:1px;}

#checkGiftCardBalance.button-blue {
    padding-top: 9px; 
} 

.info-title {
color:#00a4e4;
font-size:1.25em;
margin-bottom:.625em;}

.catalog-info {
border-top:1px solid #ccc;
margin-top:1em;
padding-top: 1em;}
.catalog-info-title {
color:#00a4e4;
font-size:1.25em;
display:block;}
.catalog-info ul li {margin-bottom:.5em;}

.color-title:after {
    content: " ";
}