/*******************************************************************************************
my place landing page
********************************************************************************************/

select {
    border: 1px solid #CCCCCC;
    clear: none;
    display: block;
    float: left;
    height: 30px;
    margin: 5px 10px 5px 0;
    padding: 5px;
    border-radius: 5px;
}
button {
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    /* ie6 doesn't always display the correct cursor */
    
    width: auto;
    /* ie6 width fix */
    
    overflow: visible;
    /* ie6 width fix */
}
/*coupon wallet*/

.wallet {
    float: left;
    margin: 0.75em 0 1.25em 0;
    width: 98%;
}
.check-wallet
/*button*/

{
    background-color: #7FBF4D;
    background-image: -moz-linear-gradient(center top, #7FBF4D, #63A62F);
}
.check-wallet:hover
/*button*/

{
    background-color: #63A62F;
    background-image: -moz-linear-gradient(center top, #63A62F, #7FBF4D);
}
#CouponWallet {
    width: 83%;
    float: left;
    font: 0.75em/1.5em Arial, Helvetica, sans-serif;
}
.MyPlaceDealWallet {
    background-color: #ffffff;
    padding: 0.625em;
    margin: 0 auto;
    float: left;
    height: 225px;
    position: relative;
    width: 100%;
    min-width: 700px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.dealWallet {
    float: left;
    min-width: 700px;
    position: relative;
    width: auto;
    height: 200px;
    user-select: none;
}
.dealWallet a {
    text-decoration: underline !important;
    color: #fff !important;
}
.dealWalletCounterContainer {
    display: none;
    margin-top: 160px;
    width: 100%;
    height: 20px;
    border: none;
    text-align: center;
}
.dealWalletCounter {
    display: inline-block;
    height: 20px;
}
.dealWalletCountIndicator {
    float: left;
    width: 10px;
    height: 10px;
    margin: 2px;
    -webkit-border-radius: 50px;
    background: #ccc;
}
.dealWalletCountIndicator.selected {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
}
#DealWalletDetails {
    float: right;
    width: 260px;
    height: 150px;
    border: 1px solid #000;
}
#Slides {
    display: block;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
}
#SlidesContainer {
    position: absolute;
    top: 10px;
    left: 0;
    width: 500px;
    height: 150px;
}
.slide {
    cursor: pointer;
    display: block;
    float: left;
    height: 130px;
    margin-right: 35px;
    padding: 5px 0 15px 0;
    text-align: center;
    width: 250px;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    border: 1px solid #ccc;
}
.slide:last-child{
    margin-right: 0;
}
.slide h1 {
    font-size: 40px;
    font-family: 'AvenirHeavy';
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
}
.slide h1 sup {
    font-size: 60%;
}
.slide p {
    font-family: "AvenirMedium";
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 18px;
}
.slide p:nth-child(2) {
    display: none;
}
.slide p:nth-child(5) {
    margin-top: 10px;
}
.slide h1 {
    font-size: 30px;
}
.slide a {
    text-decoration: underline;
    color: #fff;
    font-size: 11px;
}
.slide p a{
    color: black;
    text-transform: uppercase;
    font-size: 12px;
}
.slide .details-links {
    font-size: 0.75em;
}
.slide .details-links a {
    color: #fff;
    text-decoration: underline;
}
.prev,
.next {
    position: absolute;
    top: calc(50% - 25px);
    width: 23px;
    height: 30px;
    background: black;
    border-radius: 50%;
    -moz-border-radius: 50%;
    color: white;
    text-align: left;
    padding-left: 7px;
    line-height: 30px;
    vertical-align: middle;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
}
.prev {
    left: 7px;
}
.next {
    right: 7px;
    text-align: right;
    padding: 0; 
    padding-right: 7px;
    width: 23px;
}

.MyPlaceDealWallet .slide {
    width: 289px;
}

.MyPlaceDealWallet .slide p {
    font-size: 14px;
}

.MyPlaceDealWallet .slide p a {
    font-family: "AvenirBook", Arial, sans-serif;
    font-weight: normal;
}

.wallet-title {
    text-align: left;
    padding: 2px 5px 0 0;
    font-size: 18px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: normal;
    font-family: "AvenirHeavy", Arial, sans-serif;
}

.wallet-title > #Slides {
    color: #333;
}

.wallet-title > span {
    color: #333;
}

.wallet-title img{
    display: none;
}
.wallet-apply {
    color: #fff;
}
.empty {
    background-image: url(http://content.childrensplace.com/www/b/TCP/images/media/loyalty_empty_wallet.jpg);
}
/* My Place - Recommendation Styles
================================================== */

.recommend {
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 15%;
    float: right;
    text-align: center;
    margin: 0.75em 0 0 0;
    clear: both;
}
.recommend h6 {
    
    font-size: 1.1em;
    font-weight: normal;
    margin: 0.625em 0;
}
.recommend-product {
    max-width: 100%;
    margin: 5px;
}
.recommend-product img {
    width: 100%;
    display: block;
    height: auto;
}
/* #Tabs (activate in tabs.js) - MyPlace landing page
================================================== */

ul {
    list-style-type: none;
}
.myPlace-tabs {
    float: left;
    width: 99%;
    margin: 1.25em 0 0 0;
}
ul.tabs {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #ddd;
}
ul.tabs li {
    display: block;
    width: auto;
    height: 40px;
    padding: 0;
    float: left;
    margin-bottom: 0;
}
ul.tabs li a {
    display: block;
    text-decoration: none;
    width: auto;
    height: 39px;
    line-height: 40px;
    border: solid 1px #ddd;
    border-width: 1px 1px 0 0;
    margin: 0;
    background: #f1f1f1;
    font-size: 1.25em;
}
@media screen and (max-width: 1399px) {
    ul.tabs li a {
        padding: 0px 15px;
    }
}
@media screen and (min-width: 1400px) {
    ul.tabs li a {
        padding: 0px 25px;
    }
}
.lt-ie9 ul.tabs li a {
    padding: 0px 15px;
}
ul.tabs li a.active {
    background: #fff;
    width: auto;
    height: 45px;
    position: relative;
    top: -9px;
    padding: 4px 25px 0;
    border-left-width: 1px;
    margin: 0 0 0 -1px;
 	font-size:18px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
.lt-ie9 ul.tabs li a.active {
    background: #fff;
    width: auto;
    height: 45px;
    position: relative;
    top: -9px;
    padding: 4px 20px 0;
    border-left-width: 1px;
    margin: 0 0 0 -1px;
	font-size:18px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
ul.tabs li:first-child a.active {
    margin-left: 0;
}
ul.tabs li:first-child a {
    border-width: 1px 1px 0 1px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}
ul.tabs li:last-child a {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
ul.tabs-content {
    margin: 0;
    display: block;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    background-color: #fff;
}
ul.tabs-content > li {
    display: none;
    padding: 10px 5px 15px;
}

ul.tabs-content > li.active {
    display: block;
}
.openModalMyPlaceEdit.button-blue, 
.openModalMyPaymentInfo.button-blue,
#TCPMyAddressBook_shipping_method {
	background-color:#333;}
.openModalMyPlaceEdit.button-blue:hover,
.openModalMyPaymentInfo.button-blue:hover,
#TCPMyAddressBook_shipping_method:hover {
	background-color:#666;}

/* Clearfixing tabs for beautiful stacking */

ul.tabs:before,
ul.tabs:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
ul.tabs:after {
    clear: both;
}
ul.tabs {
    zoom: 1;
}
.tabs-content > a:link,
.tabs-content > a:visited,
.tabs-content > a:active {
    text-decoration: underline;
    
}
.tabs-content > a:hover {
    text-decoration: underline;
}
/*******************************************************************************************
MyPlace Tab Forms
********************************************************************************************/

.personal-info-form {
    background-color: #FFFFFF;
    float: left;
    padding: 25px 0 15px 15px;
    width: 75%;
    margin: 0;
}
a.edit-link {
    color: #008DDA;
    text-decoration: underline;
    margin-left: 6px;
    cursor: pointer;
}
.form-completion {
    float: right;
    width: 20%;
    padding-top: 25px;
    text-align: center;
    margin-right: 2%;
}
.add-address {
    width: 100%;
    overflow: hidden;
}
.add-address select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 5px 0;
    max-width: 100%;
    outline: 0 none;
    padding: 5px 2px 5px 1px;
    width: 95%;
    font: 0.875em/1.5em Arial, Helvetica, sans-serif;
    clear: both;
    float: left;
    border-radius: 5px;
}
.associateInput {
    width: 85% !important;
}
.add-address h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
    float: left;
}
.add-credit {
    width: 45%;
    margin-right: 2%;
    display: inline;
}
.email-note {
    font-weight: bold;
    line-height: 30px;
}
.input-singleCol {
    width: 56%;
    clear: left;
    border-radius: 5px;
}
.input-doubleCol {
    width: 100%;
    float: left;
    clear: both;
    border-radius: 5px;
}
.user-id {
    width: 100%;
    clear: left;
}
.user-id-set {
    margin-left: 5px;
    font-size: 0.75em;
}
.fix-selects {
    float: left;
}
.fix-selects select {
    margin-right: 10px;
    width: auto;
    padding: 5px;
    border-radius: 5px;
}
.cvn-whats-this {
    cursor: help;
    display: block;
    float: right;
}
.more-orders {
    margin-top: 10px;
    float: right;
}
.fieldset-threeCol a:link,
.fieldset-threeCol a:visited,
.fieldset-threeCol a:active {
    text-decoration: underline;
    
}
.fieldset-threeCol a:hover {
    text-decoration: underline;
}
.fieldset-fourCol {
    display: block;
    float: left;
    margin: 0 3% 2% 0;
    width: 22%;
}
#online p,
#stores p {
    margin: 5px 0 10px 0;
}
textarea {
    border: 1px solid #ccc;
    padding: 5px;
    color: #666;
}
.remove {
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    vertical-align: middle;
}
#tcpEmail1,
#WC_TCPEditPersonalEmail_FormInput_email_In_Register_1,
#WC_TCPEditPersonalEmail_FormInput_emailVerify_In_Register_1 {
    text-transform: lowercase;
}
/*make email address display in lowercase*/
/*******************************************************************************************
Address and Phone Book
********************************************************************************************/

#address-summary,
#phone-summary,
#credit-summary,
#email-summary {
    float: left;
    width: 100%;
}
#phone-summary {
    border-top: 1px solid #ccc;
    padding-top: 15px;
}
@media screen and (max-width: 1399px) {
    .summary-col {
        float: left;
        margin-right: 5%;
    }
    .address-col {
        margin-right: 5%;
    }
    .address-col span {
        word-wrap: break-word;
    }
}
@media screen and (min-width: 1400px) {
    .summary-col {
        float: left;
        margin-right: 10%;
    }
    .address-col {
        margin-right: 10%;
    }
    .address-col span {
        word-wrap: break-word;
    }
}
.lt-ie9 .summary-col {
    float: left;
    margin-right: 5%;
}
.lt-ie9 .address-col {
    margin-right: 5%
}
.lt-ie9 .address-col span {
    word-wrap: break-word;
}
.summary-field,
.address-field {
    margin: 8px 0;
}
.field-title {
    font-weight: bold;
    font-size: 1.2em;
}
.address-nickname {
    font-weight: bold;
}
.add-new-info {
    height: 25px;
    margin-top: 5px;
    padding: 0;
    text-align: right;
    width: 100%;
    clear: both;
}
.add-new-info span.summary-title {
    float: left;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 15px;
    vertical-align: middle;
	text-transform: lowercase;
}
.add-new-info span.add-info-icon {
    line-height: 15px;
    vertical-align: middle;
    float: right;
    margin: 0 10px;
    font-size: 13px;
    font-family: "AvenirMedium";    
}
.add-new-info img {
    float: right;
}
.credit-card {
    background-color: #F1F1F1;
    display: inline;
    float: left;
    margin: 1%;
    min-height: 100px;
    padding: 15px 25px;
    width: 150px;
}
.email-ID {
    float: left;
    background-color: #f1f1f1;
    padding: 15px;
    display: inline;
    margin: 1%;
    min-height: 100px;
    width: 450px;
}
.billing-address,
.shipping-address,
.misc-address,
.shipping-method {
    float: left;
    background-color: #f1f1f1;
    padding: 15px 25px 0;
    display: inline;
    margin: 1%;
    min-height: 195px;
    width: 190px;
}
.shipping-method {
    width: 150px;
}
.misc-address {
    background-color: #fff;
    margin-left: 1%;
    padding-left: 0;
    padding-right: 0;
    width: 23%;
    min-height: 150px;
}
.phone-num {
    float: left;
    background-color: #fff;
    margin-left: 1%;
    padding: 5px 5px 15px 0;
    width: 23%;
}
.misc-credit,
.misc-email {
    background-color: #fff;
    margin-left: 1%;
    padding-left: 0;
    padding-right: 0;
    width: 20%;
    min-height: 150px;
    float: left;
}
.misc-email {
    margin-left: 2%;
}
.billing-address h2,
.shipping-address h2,
.credit-card h2,
.email-ID h2,
.shipping-method h2 {
    font-size: 1.25em;
    font-weight: bold;
    height: 25px;
    
}
.email-use {
    border-left: 1px solid #CCCCCC;
    margin-right: 2%;
    padding-left: 15px;
    width: 250px;
}
.email-use ul li {
    list-style-type: disc;
    list-style-position: inside;
}
.ship-method {
    width: 100%;
    overflow: hidden;
}
.ship-method p {
    margin: 0 0 20px;
}
.ship-method select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 5px 0;
    max-width: 100%;
    outline: 0 none;
    padding: 5px 2px 5px 1px;
    width: 95%;
    font: 0.875em/1.5em Arial, Helvetica, sans-serif;
    clear: both;
    float: left;
    border-radius: 5px;
}
.ship-method h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
    float: left;
}
.method input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
.method label {
    margin-left: 5px;
    font-weight: bold;
}
table.method {
    width: 100%;
    margin-bottom: 25px;
}
.method th {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #D8D8D8;
    font-weight: bold;
    padding: 7px 14px;
}
.method td {
    width: 30%;
    border: 1px solid #D8D8D8;
    padding: 10px;
    vertical-align: middle;
}
/* Order and Points History Tables
================================================== */

td {
    vertical-align: top;
}
.points-history-table {
    width: 98%;
    margin-top: 1%;
    border: 1px solid #ccc;
}
.points-columns-header {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: left;
}
.points-reflect-header {
    width: 100%;
    text-align: left;
    background-
}
.points-reflect-table {
    border: 1px solid #ccc;
    width: 70%;
}
.points-reflect-table th {
    color: #fff;
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: 1em;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.points-reflect-table td {
    border-bottom: 1px solid #ccc;
    padding: 20px 10px;
    font-size: 1.25em;
    line-height: 1.5em;
    border-spacing: 1em;
    vertical-align: middle;
}
.points-reflect-table td.left-col {
    width: 35%;
    border-right: 1px solid #1fa5e2;
}
.dark-red {
    color: #e31f2b;
    display: block;
    font-weight: bold;
    font-size: 1.15em;
}
.dark-grey {
    color: #535353;
    font-weight: bold;
}
.history-title {
    margin-bottom: .625em;
    color: #e31f2b;
    font-size: 1.5em;
    
}
.points-history-table th {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.5em;
    width: 33%;
}
.points-history-table td {
    border-bottom: 1px solid #ccc;
    padding: 20px 10px;
    width: 33%;
}
.points-history-table td a:link,
.points-history-table td a:visited,
.points-history-table td a:active {
    text-decoration: underline;
}
.points-history-table td a:hover {
    text-decoration: underline;
}
.points-breakdown {
    width: 100%;
    margin: 0;
}
.points-breakdown td {
    border-bottom: 1px solid #D0D0D0;
    text-align: left;
    padding: 5px 0;
}
.points-breakdown td.last {
    border-bottom: 0px;
}
.points-promo-message {
    margin-left: 10px;
    font-weight: bold;
}
.history-intro,
.points-intro {
    line-height: 1.5em;
    margin: 1em 0 4em 0;
}
.points-intro p {
    margin-bottom: .625em;
    color: #e31f2b;
    font-size: 1.5em;
}
.points-intro ul {
    margin-top: 2em;
    width: 70%;
}
.points-intro ul li {
    list-style-type: disc;
    font-size: 1.15em;
    margin-bottom: .75em;
}
.points-intro ul li a {
    color: #e31f2b;
    text-decoration: none;
    font-weight: bold;
}
.points-intro ul li a:hover {
    text-decoration: underline;
}
.total-column {
    color: #2BA3E1;
    font-weight: bold;
    font-size: 1.25em;
}
.expiring {
    color: #e31f2b;
    font-size: 1.15em;
    font-weight: bold;
}
.center-me {
    text-align: center;
}
.find-orders {
    display: block;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: right;
    margin-bottom: 20px;
}
.find-orders label {
    font-size: 14px;
    font-weight: bold;
}
#findOrders {
    float: right;
    margin: 0 2% 0 1%;
}
.international-orders {
    text-align: right;
    margin: 0 2% 2% 0;
}
/* Form Styles
================================================== */

.login input,
.create-account input,
.add-address input,
.add-credit input,
.id-num input {
    max-width: 100%;
    outline: 0 none;
    width: 95%;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 18px;
    margin: 5px 0;
    padding: 5px 3px;
}
input.error-message {
    border: 1px solid #cc0000;
}
@media screen and (max-width: 1399px) {
    .myplace-program-banner {
        width: 400px;
        height: 346px;
        background: url(../../images/tcp/myPlace/rewards_banners/REWARDSBANNER_400px.png) 0 0 no-repeat;
    }
}
@media screen and (min-width: 1400px) {
    .myplace-program-banner {
        width: 600px;
        height: 390px;
        background: url(../../images/tcp/myPlace/rewards_banners/REWARDSBANNER_600px.png) 0 0 no-repeat;
    }
}
.fieldset {
    display: block;
    width: 100%;
}
.fieldset,
.login-page-noaccount,
.activate-account {
    margin: 0 3% 2% 0;
    clear: both;
    float: left;
}
.login-submit {
    margin: 0 0 2% 0;
    clear: both;
    float: left;
}
.signup-optin {
    margin: 0 0 .9375em 0;
    line-height: 1.5em;
    width: 100%;
    float: left;
}
.row {
    overflow: hidden;
    width: 100%;
    clear: both;
}
.top {
    margin-top: 15px;
}
.fieldset-twoCol {
    display: block;
    width: 45%;
    float: left;
    margin: 0 3% 0 0;
}
.fieldset-threeCol {
    display: block;
    width: 30%;
    float: left;
    margin: 0 3% 2% 0;
}
.field {
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    margin: 0;
    display: block;
    float: left;
    width: 100%;
}
.label-error {
    color: #C00;
    padding: 2px 0;
    display: block;
    margin-top: 10px;
}
.label-right {
    display: inline;
    float: right;
    font-weight: normal;
    height: 15px;
    line-height: 15px;
    text-align: right;
    margin-right: 3%;
}
.label-right a,
.login-noaccount a {
    text-decoration: underline;
    color: #008DDA;
}
.secondary-link {
    float: left;
    height: 25px;
    line-height: 25px;
    text-decoration: underline;
    vertical-align: middle;
    display: table-cell;
}
.login-page-noaccount {
    text-align: center;
}
.myPlace-retail-signup {
    background-color: #FFF;
    margin-right: 10%;
    padding: 25px 15px 15px 0px;
}
.activate-account {
    float: left;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    width: 90%;
}
.challenge-select select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-size: 1.09em;
    height: 29px;
    margin: 5px 0;
    max-width: 100%;
    outline: 0 none;
    padding: 5px 2px 5px 1px;
    width: 95%;
    border-radius: 5px;
}
select.selectError {
    border: 1px solid #cc0000;
}
.signup-optin p {
    float: left;
    width: 95%;
    clear: both;
}
.signup-optin input,
.activate-account input {
    border: 0 none;
    outline: 0 none;
    width: 15px;
    height: 15px;
    background-color: #ecebe9;
    padding: 0;
    margin: 0 5px 0 0;
    border-radius: 5px;
}
/* Birthday Club
================================================== */

.birthday-Field {
    width: 100%;
    float: left;
}
select.error-message {
    border: 1px solid #CC0000;
}
.birthday-Field select.error-message {
    border: 1px solid #CC0000;
}
.birthday-Field select {
    border: 1px solid #CCCCCC;
    clear: none;
    display: block;
    float: left;
    height: 30px;
    margin: 5px 10px 5px 0;
    padding: 5px;
    border-radius: 5px;
}
select.month {
    width: 100px;
}
select.year {
    width: 100px;
}
select.gender {
    width: 110px;
}
input.name {
    clear: none;
    display: block;
    float: left;
    font: 0.875em/1.5em Arial, Helvetica, sans-serif;
    height: 18px;
    margin: 5px 10px 5px 0;
    padding: 5px;
    width: 125px;
}
.child-birthday {
    border-top: 1px dashed #ccc;
    padding-top: 15px;
    clear: both;
}
.child-birthday-edit {
    display: block;
    clear: both;
    padding-top: 10px;
}
.child-birthday-remove {
    margin-left: 10px;
}
.child-birthday-remove a:link,
.child-birthday-remove a:visited,
.child-birthday-remove a:active {
    
    text-decoration: underline;
}
/* MAke progress bar blue
================================================== */

.required-info {
    float: right;
    font-size: 0.6875em;
    margin-bottom: 10px;
    margin-right: 45px;
}
.level a,
.program-details a,
.pointsNextLevel a {
    text-decoration: underline;
}
/* Print coupon
================================================== */

#print-coupon,
#print-coupon-3 {
    font-family: Arial, sans-serif;
    font-size: 14px;
    
    text-align: center;
    width: 500px;
    border: 2px solid #0080c0;
    padding: 10px;
    margin: 10px auto 0 auto;
}
#print-coupon-3 {
    width: 670px;
}
#print-coupon-wide {
    font-family: Arial, sans-serif;
    font-size: 14px;
    
    text-align: center;
    width: 600px;
    border: 2px solid #0080c0;
    padding: 10px;
    margin: 10px auto 0 auto;
}
.coupon-left,
.coupon-value,
.coupon-right {
    float: left;
}
.coupon-value {
    
    font-weight: bold;
    margin: 0 0 0 30%;
    text-align: center;
}
.coupon-value-myplace {
    
    font-weight: bold;
    margin: 0 0 0 30%;
    text-align: center;
    padding-bottom: 10px;
    overflow: hidden;
}
.coupon-value-tiered {
    
    font-weight: bold;
    text-align: center;
}
.coupon-sup {
    bottom: 15px;
    font-size: 100px;
    font-weight: normal;
    position: relative;
}
.coupon-sup-myplace {
    top: 10px;
    font-size: 50px;
    font-weight: normal;
    float: left;
    position: relative;
}
.percent-off {
    display: block;
}
.coupon-denom {
    font-size: 125px;
    letter-spacing: -3px;
    line-height: 125px;
    position: relative;
    float: left;
}
.coupon-denom-myplace {
    font-size: 125px;
    letter-spacing: -3px;
    line-height: 125px;
    float: left;
    padding: 0 5px;
}
.coupon-denom-triple {
    font-size: 100px;
    letter-spacing: -3px;
    line-height: 100px;
    position: relative;
    float: left;
}
.coupon-threshold {
    font-size: 24px;
    margin: 10px 0;
}
.coupon-copy {
    clear: both;
    display: block;
    text-align: center;
    font-size: 21px;
    position: relative;
    top: -25px;
}
.coupon-copy-tiered {
    clear: both;
    display: block;
    text-align: center;
    font-size: 18px;
    position: relative;
    top: -25px;
}
.coupon-copy-tiered-wide {
    clear: both;
    display: block;
    text-align: center;
    font-size: 18px;
    position: relative;
    top: -45px;
}
.coupon-code {
    color: #000000;
    float: left;
    font-size: 16px;
    margin: -10px auto 10px;
    text-align: center;
    width: 100%;
}
.coupon-code-wide {
    color: #000000;
    float: left;
    font-size: 16px;
    margin: -30px auto 10px;
    text-align: center;
    width: 100%;
}
.expiration {
    margin-left: 10px;
}
.coupon-barcode {
    margin: 15px auto;
}
.coupon-disclaimer {
    border: 1px solid #ccc;
    padding: 10px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-align: left;
    clear: both;
}
.coupon-button {
    margin-top: 15px;
}
.offer {
    float: left;
}
.parent,
.parent-wide {
    float: left;
    height: 140px;
    margin-left: 5px;
    position: relative;
}
.parent span {
    font-size: 70px;
    position: absolute;
    top: 1%;
    z-index: 1;
}
.parent p {
    font-size: 30px;
    font-weight: bold;
    height: 20px;
    margin-top: -10px;
    position: absolute;
    top: 55%;
    z-index: 2;
}
.parent-wide span {
    font-size: 60px;
    position: absolute;
    top: 1%;
    z-index: 1;
}
.parent-wide p {
    font-size: 30px;
    font-weight: bold;
    height: 20px;
    margin-top: -10px;
    position: absolute;
    top: 48%;
    z-index: 2;
}
.btdayLbl {
    display: inline-block;
    width: 108px;
    font-weight: bold;
    margin-top: 10px;
}
div#tcpCompleteAddressLink {
    font-weight: bold;
    margin: 1em 0;
    text-decoration: underline;
}
#terms {
    width: auto;
    position: relative;
    top: 4px;
    padding: 0px;
    border: none;
}
@media print {
    #print-coupon {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
}

.openModalMyPlaceEdit img {
    width: 16px;
    height: 16px;
}

.login-submit a {
    background-color: #333;
}

.login-submit a:hover {
    background-color: #666;
}

.redeem-button a {
    background-color: #333;
}

.redeem-button a:hover {
    background-color: #666;
}

#reset-password-left-col{
    float: left;
    width: 45%;
    border-right: 1px solid #ccc;
    padding-right: 2%;
    color: #333;
}

.modal-contentEditMyaccount #reset-password-right-col {
	float: left;
    width: 35%;
}




