/*Store Locator CSS */
/* Avenir */
@font-face {
  font-family: 'AvenirBook';
  src: url("fonts/AvenirLTStd-Book.eot");
  src: url("fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Book.woff") format("woff"), url("fonts/AvenirLTStd-Book.ttf") format("truetype"), url("fonts/AvenirLTStd-Book.svg#AvenirBook") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirMedium';
  src: url("fonts/AvenirLTStd-Medium.eot");
  src: url("fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Medium.woff") format("woff"), url("fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("fonts/AvenirLTStd-Medium.svg#AvenirMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

.search-state {font: 1.15em/1.25em 'BPreplayRegular',Arial,sans-serif; float:left; margin-bottom:.5em;}
.byState {display:block;}

.eachRow input, .eachRow select { 
background-color: #FFFFFF;
border: 1px solid #CCCCCC;
color: #999999;
font-size: .75em;
outline: 0 none;
padding: .3125em;
display:inline-block;
overflow:hidden;}

.eachRow select {line-height:1em;}

.eachRow input.label-error {
background-color: #FFFFFF;
border: 1px solid #FF0000;
color: #FF0000;
font-weight:bold;}

.legend {
height:1.125em; 
vertical-align:middle; 
font: .75em/1.125em Arial, Helvetica, sans-serif;}

.legend img {margin-right:.2em;}	

.store-button {font-size:.75em;}

#storeMapContainer {float:left;}
.storeMapContainer-no-results, .storeMapContainer-results {background-color:#ccc; height:565px; overflow:hidden;}
#storeSearchResults {height:565px; overflow-y:auto; margin: .75em 0 1em .75em;}
#storeSearchResults ul {list-style-type:none; font: .75em/1.5em Arial, Helvetica, sans-serif; margin:0; padding:0;}
#storeSearchResults ul li {border-bottom:1px solid #ccc; padding: 1em .5em; margin-right: .75em; color:#999;}
#storeSearchResults ul li a, .store-hours-wrapper a {color:#00a4e4; text-decoration:underline;}
#storeSearchResults ul span {display:block;}
#storeSearchResults ul span.store-name {display:inline-block;}
.store-name {font-size:1.25em; text-transform:capitalize;}
.store-count-retail {background:url(../../images/tcp/store_locator/retail-legend-bg.gif) 0 0 no-repeat;}
.store-count-outlet {background:url(../../images/tcp/store_locator/outlet-legend-bg.gif) 0 0 no-repeat;}
.store-count-retail, #storeSearchResults ul .store-count-outlet {height:42px; width:24px; color:#fff; float:left; margin-right:.5em;}
.store-count-retail span, #storeSearchResults ul .store-count-outlet span {padding: 1px 0; text-align: center;}
.marker {height:40px; width:30px; float:left;}
.marker a {text-decoration:none; border:0;}
.distance, .phone {margin-bottom:.5em;}

/* Map overlay - store hours */
#map_canvas {line-height:normal;}
.store-hours-wrapper {background-color:#fff; font: .85em/1.75em Arial, Helvetica, sans-serif;color:#666; padding:25px 0px; margin:0; width:100%; float:left; overflow:hidden; min-width:350px;}
.store-hours-wrapper a {font-size:.85em;}
.store-hours-left {float:left; margin-right:15px;}
.store-hours-right {border-left: 1px solid #CCCCCC; padding: 0 0 0 10px; float:left; }
.store-hours-right > div {float:left; clear:both;}
.store-name-window {color:#00a4e4; font-size:1.25em; line-height:1.5em; width:150px; word-wrap:break-word; text-transform:capitalize;}
.street, .city-state {text-transform:capitalize; width:150px; word-wrap:break-word;}
.holiday-hours {color:#ff0000;}
.normal-hours {color:#00A4E4;}
.day {float: left; text-align: left; width: 70px;}
.hours {float:left; text-align:right;}

.map-search-error {width:400px; background-color:#fff; overflow:auto; color:#ff0000; padding:25px 15px;}
.sorry {font-size:1.5em ; color:#ff0000; margin-bottom: .5em;  text-align:center;}
.sorry-copy {width: 70%; margin: 0 auto;}
.sorry-copy ul {color:#666;}
.sorry-copy ul li {margin-bottom:.5em;}
.sorry-copy ul li a {color:#666; text-decoration:underline;}
.sorry-copy ul li a:hover {color:#333;}

/* international stores */
.international-stores {
margin: 35px 0;
border-top: 1px solid #ccc;
font-size: 13px;
padding: 20px 0;
line-height: 18px;
display: inline-block;
}
.international-stores > div {margin-bottom:15px;}
.international-stores > div a {font-weight:bold;}

/* store listing by state */
#all-us-stores {margin:2em 0;}
#all-us-stores-top {
	display:block; 
	width:100%;}

#all-us-stores .search-title {
	font-family: "AvenirBook";
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 20px;
    color: #333;
	display:inline-block;}

select#choose-state {
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
	border-radius:0;
    color: #999999;
    font-size: .75em;
    outline: 0 none;
    padding: .3125em;
	margin-left:1em; 
	display:inline-block; 
	width:200px; 
	height:30px;
	border-radius: 0;
	}
	
.each-state {
	margin: 25px auto;
	width:100%;
	overflow:hidden;
	content: "";
	display: table;
	clear: both;
	font: 12px/24px "AvenirBook", sans-serif;}

.state-name {
	width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    font: 15px "AvenirMedium", sans-serif;
    margin: 0 0 15px 0;}

.each-state .store {
	width: 18%;
    display: inline-block;
    vertical-align: top;
    margin: 25px 5px;}
	
.each-state .store span {display:block; }
.each-state .store-name  {font: 13px  "AvenirMedium", sans-serif;}

.backtotop {width: 38px; height: 61px; position: fixed; right: 0; text-indent: -9999px; background: url('http://www.childrensplace.com/wcsstore/GlobalSAS/images/tcp/sub-category/backtotop_sprite.png') no-repeat; bottom: 300px; z-index: 1000;}
.backtotop:hover {background-position: 0 -61px;}

/* media queries */
@media screen and (max-width:1399px) {
#storeLocatorFields {padding: .75em .75em; width:20%;}
#storeLocatorFields h1 {font: 1.5em 'BPreplayRegular',Arial,sans-serif;  margin:.75em 0 .5em 0;}
#storeLocatorFields .eachRow {display:block; width: 100%; margin: 0 0 1.25em;}
.eachRow input {height:20px; width: 97%;}
.eachRow select {height:30px; width: 100%;}
.legend {margin:3em 1.75em 0 0;}
.storeMapContainer-no-results {width:75%; margin:.75em .5em;}	
.storeMapContainer-results {width:53%; margin-top:1em;}
#storeSearchResults {width:23%;}
#storeSearchResults ul li a, .store-hours-wrapper a {margin-right:.75em;}
#storeSearchResults ul li a.directions {margin-left:.75em;}
#storeSearchResults ul span.store-name {width:150px;}
.international-click {display:inline;}
}

@media screen and (min-width: 1400px) {
#storeLocatorFields {padding: 0 .75em; width:20%;}
#storeLocatorFields h1 {font: 1.5em 'BPreplayRegular',Arial,sans-serif;  margin:.75em 0 .5em 0;}
#storeLocatorFields .eachRow {display:block; width: 100%; margin: 0 0 1.25em;}
.eachRow input {height:20px; width: 97%;}
.eachRow select {height:30px; width: 100%;}
.legend {margin:3em 1.75em 0 0;}
.storeMapContainer-no-results{width: 77.25%; margin: 1em 0 1em 0;}
.storeMapContainer-results {width:58%; margin-top:1em;}
#storeSearchResults {width:19%;}
#storeSearchResults ul li a, .store-hours-wrapper a {margin-right:.75em;}
#storeSearchResults ul li a.directions {margin-left:.75em;}
#storeSearchResults ul span.store-name {width:150px;}
.international-click {display:block;}
}

@media screen and (max-width: 768px) {
#storeLocatorFields {width:98%;}
#storeLocatorFields h1 {font: 1.25em 'BPreplayRegular',Arial,sans-serif;  margin:.25em 0 .5em 0;}
#storeLocatorFields .eachRow {float: left; width: 40%; margin: 0 .5em 0 0;}
.eachRow input {height:22px;}
.eachRow select {height:32px;}
.store-button {float:right; margin-right:.25em;}
#storeLocatorFields .eachRow.last {margin:0; width: 18%;}
#storeLocatorFields .eachRow.byState {display:inline; margin:0 3em 0 1em; width: 18%;}
.legend {margin:.75em 0 0 1.5em;}
.storeMapContainer-no-results{width:98%; margin:.25em .5em 1em .5em;}
.storeMapContainer-results {width: 69%; margin: .25em 0 0 .75em;}
#storeSearchResults {width:27%; margin: .25em 0 1em .75em;}
#storeSearchResults ul li a, .store-hours-wrapper a {margin-right:.2em;}
#storeSearchResults ul li a.directions {margin-left:.2em;}
#storeSearchResults ul span.store-name {width:130px;}
.international-stores{border-top: 0; margin-top:0; height:2em; line-height: 2em;}
.international-click {display:inline;}
.each-state .store {width:23%;}
}