@media screen and (max-width:1399px) {
.LooksWeLove { width: 768px; min-height:655px;}
.looks {min-height:270px;}
.lt-ie8 .LooksWeLove, .lt-ie9 .LooksWeLove {width:81%;}
.column1 {width: 69%;}
.column2 {width: 30%; margin-left:1%;}
}

@media screen and (min-width: 1400px) {
.LooksWeLove {width: 1130px; min-height:1015px;}
.looks {min-height:400px;}
.lt-ie8 .LooksWeLove, .lt-ie9 .LooksWeLove {width:1130px; margin-right:1%; float:right;}
.column1 {width: 69%;}
.column2 {width: 30%; margin-left:1%;}
} 

.LooksWeLove {
position: relative;
float:right;
margin: .75em .5em .5em 0;}

.LooksWeLove > div {margin-right:2px;}

.LooksWeLove #department-cols {
width:100%;
position: relative;
display: block;}

.LooksWeLove #department-cols .dp-cols {float:left;}
.LooksWeLove #department-cols .dp-cols img {width:100%;}
.LooksWeLove > div >img {border: 1px solid #2aa3e1; width: 99.25%;}

#LooksBanner {
/*background: url("../../images/tcp/department/lookswelove.png") no-repeat scroll 0 center transparent;*/
height: 30px;
margin: 25px auto 0;
text-align: center;
width: 297px;}

#LooksBanner img {margin-top:-28px;}

.looks {background:url(../../images/tcp/department/bg-looks-1.jpg) no-repeat; background-size: 99%;}

#bottom-slider ul li {
margin:0!important;
padding:1px!important;}

#bottom-slider ul {margin-left:-10px!important;}

/**********************************************************/
#top-slider {
position:relative;
top:0;
left:0;
width:100%;
margin:8px 0 0 0;
z-index:5;}

/*********************  image fader ***********************/
.placeholder {/* Making it invisible lets the parent container adjust its size */visibility : hidden;}

.dept-image-fader {position:relative; z-index:5;}

.dept-image-fader div {position:relative;}

.rotator img {display: none;}
.rotator img.first-slide { display: block; }

.dept-image-fader, a.dept-image-fader a {display:block;}

img[usemap], .dept-image-fader img[usemap] {
border: none;
height: auto;
max-width: 100%;
width: auto;}

.look .productImage:hover .quickView {display: block; }
  
.nav-overlay, .nav-overlay-alt {
position: relative;
left: 4px;
bottom: 30px;
background-color: #8d0a9f;
padding: 10px 15px;
color: #fff;
font-size: .75em;}	

.nav-overlay a, .nav-overlay-alt a {color:#fff;}  
.nav-overlay a:hover, .nav-overlay-alt a:hover {text-decoration:underline;} 
  
@media screen and (max-width: 1399px) {
.dept-image-fader, .dept-image-fader img {
width:795px;
margin:0 auto;}

.dept-image-fader-shoes, .dept-image-fader-shoes img {
width:795px;
height:360px;
margin:0 auto;}

.dept-image-fader-shoes img.dp-bottom-banner, .dept-image-fader-shoes img.dp-bottom-banner[usemap] {
width:795px;
height:237px;
margin:0 auto;}

.dept-image-fader-alt{
width:795px;
height:319px;
margin:0 auto;}

.dept-image-fader-alt div.img-left img{
width:507px;
height:319px;
float:left;}

.dept-image-fader-alt div.img-right img{
width:281px;
height:319px;
margin:0 0 0 7px;
float:left;}

.look .productImage .quickView {
background-image: url("../../images/tcp/common/quick-view.png");
cursor: pointer;
display: none;
height: 29px;
left:50%;
position: relative;
top: -120px;
width: 96px;
margin-left:-38px;}
}

@media screen and (min-width: 1400px) { 
.dept-image-fader, .dept-image-fader img {width:1150px;margin:0 auto;}

.dept-image-fader-shoes, .dept-image-fader-shoes img {
width:1150px;
height:521px;
margin:0 auto;}

.dept-image-fader-shoes img.dp-bottom-banner, .dept-image-fader-shoes img.dp-bottom-banner[usemap] {
width:1150px;
height:343px;
margin:0 auto;}

.dept-image-fader-alt{
width:1150px;
height:462px;
margin:0 auto;}

.dept-image-fader-alt div.img-left{
width:735px;
height:462px;
float:left;}

.dept-image-fader-alt div.img-right{
width:408px;
height:462px;
margin:0 0 0 7px;
float:left;}

.look .productImage .quickView {
background-image: url("../../images/tcp/common/quick-view.png");
cursor: pointer;
display: none;
height: 29px;
left: 50%;
position: relative;
top: -170px;
width: 96px;
margin-left:-38px;}
}

/**********************************************************/
#dpHeroContainer {
width:100%;
height: auto;
position: relative;}

#dp-float-img-wrapper {width:100%; position:absolute;}

.dpFloatImg {
width:100%;
position: absolute;
opacity:0;
filter:alpha(opacity=0);}

.dpFloatImg img {width:100%; height:auto;}

/*buttons*/
#dp-float-button-wrapper{
height: 100%;
position: absolute;
right:0;}

.floatBtn {cursor:pointer;}
.floatBtn img {width:auto;}

#contentBelow{width:100%; height:200px;}

@media screen and (max-width: 1399px) {
.coupon-links {font-size: 0.8em;}
}

@media screen and (max-width: 768px) {
.coupon-links {font-size: 0.6em;}
}

/*** Styles for Shoes and Access DP 20140122 ***/
@media screen and (max-width: 1399px) {
	ul.shoe-menu {bottom: 0.4em !important; right: -3.25em !important;}	
	ul.shoe-menu li {width: 33%;}
	ul.shoe-menu li img {height: auto !important;}
	.column2_shoe_acc .img2 {margin-top: 0.8em;}
}

@media screen and (min-width: 1400px) {
#accessories ul {padding: 10px; font-size: 1.3em;}
#accessories li {padding: 0 10px;}
}

@media screen and (max-width: 1399px) {
#accessories ul {padding: 7px; font-size: 0.9em;}
#accessories li {padding: 0 7px;}
}

/* Bazaarvoice Spotlights*/
.bv-cleanslate .bv-spotlights {
	font:14px/20px Arial, Helvetica, sans-serif !important;
	font-weight:normal!important;}
	
.bv-cleanslate .bv-spotlights .bv-header .bv-category-text {
	font-size:16px!important;
}

.bv-cleanslate .bv-spotlights .bv-header {
    height: 20px!important;
    line-height: 20px!important;
    vertical-align: middle!important;
}

.bv-cleanslate .bv-spotlights .bv-header .bv-category-rating-count, .bv-cleanslate .bv-spotlights .bv-header .bv-category-rating-ratio {
	font-size:12px!important;}
	
.bv-cleanslate .bv-spotlights .bv-reviews-list-wrapper {
    background: #f1f1f1!important;
}

.bv-learnmore a {font-size:12px!important; font-weight:bold !important;}

#BVSpotlightsContainer .bv-recommended-product {width:200px!important;}