/* =============================================================================
* Outfit slider component
========================================================================== */

.outfit-slider {
    width: 100%;
    float: none; 
    border: none; 
}

.outfit-slider .pdp-recommendations-head h2{
	font-size: 18px;
    font-family: "AvenirMedium";
    text-transform: uppercase;
    font-weight: normal;
}
.outfit-slider .pdp-recommendations-head::before { 
    color: red;
    font-weight: bold;
    background: #ccc; 
}
.outfit-slider ul {
    border: none; 
    overflow: hidden; 
}
.outfit-slider ul li {
    padding: 5px;
    float: left;
    list-style-type: none;
    font-size: 11px; 
    width: 18%; 
    text-align: center; 
	line-height: 2em;
}
.outfit-slider ul li img {
	width: 100%;
}
.outfit-slider ul li h2 {
	margin-top: 10px;  
	margin-bottom: 10px; 
	font-size: 12px; 

}
.outfit-slider ul li strong {
    color: #900;
    font-size: 1.3em;
}

.outfit-slider ul li span {
    color: #999;
    font-size: 12px;
    margin-bottom: 10px;
}

.outfit-slider a {
    color: #333;
    font-size: 13px;
    font-family: "AvenirMedium";
    font-weight: normal;
}