@media screen and (max-width: 1399px) {
.fullWidth {width: 960px;}}

@media screen and (min-width: 1400px) {
.fullWidth {width: 1375px;}}

@media screen and (max-width: 768px) {
.fullWidth {width: 748px;}}

.content {padding-bottom: 2em;}

#filters {background-color:#fff; padding:5px 5px 10px 5px; overflow:hidden;}
#filters, #sub-cats {width:100%; box-sizing: border-box; -moz-box-sizing: border-box;}

.leftNav {
	width:170px;
	padding: 10px 8px 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;}

.category-page .leftNav {background-color: #eee;}

.leftNav ul.filter-selection {overflow: hidden;}
.leftNav ul.filter-selection li {border-top:1px solid #999; padding-top:16px;}

.leftNav ul.selections li, .leftNav ul.choices li {border:none; width:100%; font-size:.875em; display: block;}
.leftNav ul.choices li {margin:.5em  0; padding:0;}

.leftNav ul li ul.selections {
  width: 135px;
  padding-bottom: 1em;
  margin: 0;
  overflow: hidden;
}
.leftNav ul li ul.selections li {
  background: #fff;
  padding: 0 .25em;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  margin:.75em 0 0 0;
}

.title {margin-top:5px;}
.title p, .choice-title p {display:inline-block; font-size:14px; font-weight:bold;}
.title p a, .choice-title p a {font-size:.85em;}

.choices, .selections {font-size: 14px;}

.filter-selection ul li ul {
width:100%;
float: left;
margin: 0 .5em .5em;}

.choices {display:none;}
.choices, .choices label {margin-left:5px;}

.choice-title {position:relative;}
.choice-title p a {text-decoration:none; text-transform:uppercase;margin-left:5px; }



.leftNav ul li span.toggle-filter {
background-image:url(../../images/tcp/category/show_more_less.png);
  background-position: 0 0;
  height: 11px;
  width: 11px;
  float:none;
  display:inline-block;
   margin-left: .25em;}


  
.leftNav ul li span.toggle-filter.open{ background-position: 0 11px;}

.clear-link {
  float: right;
  font-size: 11px;
  padding-top: 4px;
  text-decoration:underline;}
  
 .clear-selections {
float: right;
padding-right: .5em;}


.show-hide-controls {font-size: .75em;
  margin: .5em;
  float: left;
  clear: both;
}

.show-less-link {
  display: none;
}
 
.leftNav ul li {
clear: both;
display: block;
float: left;
padding: 0;
margin:.75em 0 0;
word-wrap: break-word;
width:100%;}

.leftNav ul.sub-categories li ul {
display: none;
width:100%;
float: left;
margin: 0 .5em .5em;}

.leftNav ul li a.hasClicked {color: #ca0088; font-weight: bold;}
.leftNav ul li a.selected {color: #ca0088;}

.leftNav ul li span {
width:100%;
float:left;
}

.leftNav ul li span a {
  width: 100%;
  position: relative;
}

.leftNav ul li span a:hover {color: #ca0088;}

.leftNav ul li ul li  {line-height:16px;}

.leftNav ul li ul li a:hover {color: #ca0088; }
.selected span:a {color: #ca0088;}

.leftNavLevel0Title {font-size: 13px;}
.leftNav ul li ul .leftNavLevel1 {font-size: 12px;}

.block {
display: block;
float: left;
position: relative;}

.hidden {display: none;}

.right {float: right;}

.shop-category {
	margin: 1.5em 0 0;
	font-weight: bold;
	font-size: 14px;
  }
 
ul.sub-categories {text-transform:capitalize; margin: 0 5px;}

/* size selectors */
ul#choice-Size, ul#choice-Color {margin:10px 0 0 0;}

ul#choice-Size li {
	clear: none;
    float: none;
    width: auto;
	display: inline-block;
	border: 1px solid #666;
	padding:5px 8px;
    margin:0 5px 10px 0;
    cursor: pointer;
    text-align: center;
	font-size:12px;
}

ul#choice-TCPFitUSStore li ,ul#choice-TCPFitCanadaStore li{
	clear: none;
    float: none;
    width: auto;
	display: inline-block;
	border: 1px solid #666;
	padding:5px 8px;
    margin:0 5px 10px 0;
    cursor: pointer;
    text-align: center;
	font-size:12px;
}

.size-label-margin, #fit-label, .regular_label, .other_size_label, .facet-label-margin{
	margin-top: 7px;
    margin-bottom: 4px;
    font-size: 13px;
    text-transform: capitalize;
}

ul#choice-Size li.selected, ul#choice-TCPFitUSStore li.selected, ul#choice-TCPFitCanadaStore li.selected {border: 2px solid #61a1de;}

ul#choice-Size li.checked, ul#choice-TCPFitUSStore li.checked, ul#choice-TCPFitCanadaStore li.checked {border: 2px solid #61a1de;}

ul#choice-Size li a, ul#choice-Size li a:hover {text-decoration:none; color:#333; display:block;}

/*color swatches */
ul#choice-Color li {
	clear: none;
    float: none;
    width: auto;
	padding: 0;
	margin:0 0 10px 0;
	display:inline-block;}

ul#choice-Color li {border: 1px solid #fff; padding:2px;}
ul#choice-Color li:hover, ul#choice-Color li.selected {border: 2px solid #61a1de; padding:1px;}
ul#choice-Color li img {border:1px solid #ccc;}
ul#choice-Color li img {width:25px; height:25px;}
/*
@media screen and (min-width: 769px) {ul#choice-Color li img {width:25px; height:25px;}}
@media screen and (max-width: 768px) {ul#choice-Color li img {width:44px; height:44px;} ul#choice-Size li {padding:10px;}}*/

/* Place Shops Specific Left Nav Styles*/
.shops-wrapper .leftNav ul li span {
	color: #333333;
	position:relative;
	width:100%;
}
.shops-wrapper .leftNav ul li span.hasClicked {color: #ca0088;font-weight: bold;}
.shops-wrapper .leftNav ul li span:hover {
	color: #ca0088;
	cursor:pointer;
	text-decoration: underline;
}
.shops-wrapper .leftNav ul li ul li.subMenuItem{
	color:#666;
}
.shops-wrapper .leftNav ul li ul li.subMenuItem:hover{
	color:#ca0088;
	cursor: pointer;
	text-decoration: underline;
}
.shops-wrapper .place-shops-uniform-boy-menu-us{
	padding: 1.25em .625em;
}

.department-name-position {margin:1em 0 0 0;}

.department-name-title {
   color: #c60a84;
  font-size: 1.25em;
  text-transform: capitalize;
}	

#current_size_label {
	text-transform: capitalize;
}


