<!-- BEGIN TCPAdd2CartQuickView.jsp -->

<script type="text/javascript">
	var baseHREF = '???constant.baseHREF???';
	var stylesHREF = '???constant.stylesHREF???';
	var homeHREF  = '???constant.hostName???';
	var PATH_TO_ENVOY = '???E4X_ENVOY_URL???';
	var isIntlShipping = 'false';
	var curCode = 'USD';
	var margin = '1.0';
	var exRate = '1.0';
	var roundMethod = '2';
	

</script>

<!--  check protocol -->

 
 <span class="off-screen">Beginning of dialog content</span>
 


  
   <table class="top-row">
        <thead class="bag-columns-header">
		  <tr>
		     <th class="item-descript" scope="col">item name</th>
		     <th class="item-size" scope="col">size</th>
		     <th class="item-quantity" scope="col">quantity</th>
		     <th class="item-price" scope="col">price</th>
		  </tr>
  		</thead>
  </table>
 	

	 
  <div class="table-scroller">
          <table class="add-bag-data">
  <tbody>
					
<tr>
	
    <td class="item-descript">
    		
			<div class="item-pic">
				<a href="http://tcp-perf.childrensplace.com/shop/ca/p/b-f-f--graphic-tee-2032008-10">
    				<img src="/wcsstore/GlobalSAS/images/tcp/products/125/2032008_10.jpg" class="sku-image" alt="b.f.f. graphic tee" title="b.f.f. graphic tee"  onerror="this.src='/wcsstore/GlobalSAS/images/tcp/common/noimage_200.jpg';"  />
    			</a>
			</div>
			<div class="item-desc">
			    <h1><a href="http://tcp-perf.childrensplace.com/shop/ca/p/b-f-f--graphic-tee-2032008-10">b.f.f. graphic tee</a></h1>
				<h2>color:&nbsp;WHITE</h2>
				<h3>UPC&nbsp; - 00429330622360</h3>
				
				<!-- BEGIN TCPWebOnlyIndicatorPageDisplay.jspf-->



		<input type="hidden" name="webonly_debug1" value="TCPWebOnlyFlag=||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>

					
		
		<input type="hidden" name="webonly_debug2" value="TCPWebOnlyFlag=0||displayHiddenWebOnlyIndicator=no||storeId=10152}"/>
		
		                             
		
			<input type="hidden" name="webonly_debug3" value="do not generate DIV with web-only indicator message."/>
			<!-- END TCPWebOnlyIndicatorPageDisplay.jspf-->	
				
				
			</div>
			<!--		begin Deals&Bogo--><!--			End Deals&Bogo-->


</td>
	
	<td class="item-size">
	XS (4)		
	</td>
    <td class="item-quantity">1</td>
			<td id="WC_OrderItemDetailsf_td_4_1" class="item-price"
				headers="shoppingCart_tableCell_total shoppingCart_rowHeader_product1">
				

						<span  
							class='price '>



						$6.25 </span>
						<br>
					
						

						</span>


						</td>
  </tr>
	<!-- red Eye Tag --><!-- End of redEye Tag -->
	<input type="hidden" value="https://tcp-perf.childrensplace.com/webapp/wcs/stores/GlobalSAS/Snippets/Catalog/CatalogEntryDisplay/TCPAdd2CartQuickView.jsp" id="langg"/>
	
  </tbody>
</table>
</div>
 
 <div class="clear">&nbsp;</div>


   <div class="bottom-buttons">  
   <a class="button-grey" href="javascript:closeAdd2CartQuickView();">Continue Shopping</a>   
   	<a class="button-grey" href="https://tcp-perf.childrensplace.com/shop/OrderCalculate?calculationUsageId=-1&updatePrices=1&catalogId=10552&errorViewName=AjaxOrderItemDisplayView&orderId=.&langId=-1&storeId=10152&URL=AjaxOrderItemDisplayView">Edit Shopping Bag</a> 
   				<!-- BEGIN TCPCheckoutLogonForQuickView.jsp. -->

<script type="text/javascript">
	var baseHREF = '???constant.baseHREF???';
	var stylesHREF = '???constant.stylesHREF???';
	var homeHREF  = '???constant.hostName???';
	var PATH_TO_ENVOY = '???E4X_ENVOY_URL???';
	var isIntlShipping = 'false';
	var curCode = 'USD';
	var margin = '1.0';
	var exRate = '1.0';
	var roundMethod = '2';
	

</script>


<input type="hidden" value="OrderQuickView|PROCEED_TO_CHECKOUT|shopcartCheckout2|true" id="ttt"/>


<!-- Start - JSP File Name:  CheckoutLogon.jsp -->
<input type ="hidden" id="checkoutUrl" name = "checkouturl" value =""/>
<script>
document.getElementById("checkoutUrl").value = "TCPCheckoutCmd?langId=-1&storeId=10152&catalogId=10552&orderId=634267724&URL=LogonForm";



function PayPalCheckout()
{

	try {
		var newURL = "https://tcp-perf.childrensplace.com/webapp/wcs/stores/servlet/TCPPayPalCCLookUpCmd?storeId=10152&catalogId=10552&langId=-1&orderId=634267724&callingPage=AjaxOrderItemDisplayView";
		document.location.href = newURL;
	} catch(error) {
		alert("error detected while redirecting to PayPal : " + error.message);
	}
}

	
	
</script>
	

	<form method="post" name="AjaxLogon" id="AjaxLogon" action="Logon" style="display:none">
	<input type="hidden" name="storeId" value="10152" id="WC_RememberMeLogonForm_FormInput_storeId_In_AjaxLogon_1"/>
	<input type="hidden" name="catalogId" value="10552" id="WC_RememberMeLogonForm_FormInput_catalogId_In_AjaxLogon_1"/>
	<input type="hidden" name="URL" value="" id="WC_AccountDisplay_FormInput_URL_In_Logon_1" />
	<input type="hidden" name="reLogonURL" value="AjaxOrderItemDisplayView" id="WC_RememberMeLogonForm_FormInput_reLogonURL_In_AjaxLogon_1"/>
	<input type="hidden" name="errorViewName" value="AjaxOrderItemDisplayView" id="WC_RememberMeLogonForm_FormInput_errorViewName_In_AjaxLogon_1"/>	
	</form>
<!-- Start of section for guest users --><!-- Determine URL Guest user will be redirected, when checkout button is clicked. --><!-- If shopping cart is not empty and Guest user clicked on checkout button,
						we need to redirect user to Logon page where user can select to checkout as guest or Log In.-->
					<div style="float:right;">
												
								<div class="button float_left" style="">
									<a href="javascript:PayPalCheckout()"><img title="Check out with PayPal" alt="Check out with PayPal" src="/wcsstore/GlobalSAS/images/tcp/checkout/btn_xo_142x27.gif"/></a>
								</div>						
													
							<a href="https://tcp-perf.childrensplace.com/shop/LogonForm?catalogId=10552&amp;myAcctMain=1&amp;langId=-1&amp;storeId=10152&amp;URL=https%3A%2F%2Ftcp-perf.childrensplace.com%2Fshop%2FTCPOrderShippingView%3FshipmentType%3Dsingle%26catalogId%3D10552%26langId%3D-1%26storeId%3D10152"
								onclick="javascript:if(CheckoutHelperJS.canCheckoutContinue('G') ){return true;}return false;"
								id="guestShopperContinue1" class="button-blue" value="Proceed to Checkout" name="checkout">Proceed To Checkout </a>
						
					</div>
				<!-- End of section for guest users --><!-- Start of section for registered users --><!-- End of section for registered users --><!-- END TCPCheckoutLogonForQuickView.jsp --> 
   	</div>
   	
	<script type="text/javascript">
		CQuotientJS.enableQuickView = false;
	</script>

	<script type="text/javascript">
		CQuotientJS.modalURL = "http://tcp-perf.childrensplace.com/shop/TCPProductQuickView?catalogId=10552&parent_category_rn=&top_category=&categoryId=&langId=-1&productId=productIdValue&storeId=10152";
  		CQuotientJS.serverName = "tcp-perf.childrensplace.com";
  		CQuotientJS.assetsDir = "/wcsstore/GlobalSAS/";
  		CQuotientJS.clientId = "tcp";
  		CQuotientJS.usstoreId = "10151";
		CQuotientJS.castoreId = "10152";
	</script>
	
	 
	<section class="product-recommendations" id="WC_CQ_Container_ShoppingBagModal">
		
	</section>
	
		<script>CQuotientJS.fetchshoppingBagRecommendations(',2032008_10',',6.25000','WC_CQ_Container_ShoppingBagModal','4','4');</script>
	
       
<script type="text/javascript">
function closeAdd2CartQuickView(){
$('#add2bag-quickview').dialog('close');

} 	
$(document).ready(InternationalShippingJS.buildModalLink)
</script>
   
    <span class="off-screen">End of dialog content</span>
    <!-- END TCPAdd2CartQuickView.jsp  -->